fieldset {
 border: 0px;
}
div#admintabs {
	display:inline;
}
div#admintabs ul {
 margin: 0px;
 padding: 0px;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 font-weight: bold;
 color: #000;
 line-height: 30px;
 white-space: nowrap;
}
div#admintabs li {
 margin: 2px;
 padding: 2px;
 list-style-type: none;
 display: inline;
 border: 1px solid #777;
 background-color: #fff;
}
div#admintabs li a {
 text-decoration: none;
 padding: 2px 10px;
 color: #000;
}
div#admintabs li a:link {
 color: #000:
}
div#admintabs li a:visited {
 color: #000;
}
div#admintabs li a:hover {
 color: #777;
}
div#admintabs li.activetab {
 border: 1px solid #777;
 background-color: #ddd;
}
div#admintabs li.activetab a, div#tabs li.activetab a:link, div#tabs li.activetab a:visited, div#tabs li.activetab a:hover  {
 color: #777;
}