<select
    {{ form.block(form_data, 'widget_attributes', array(
        'required' => required && (null !== empty_value || empty_value_in_choices)
    )) }}
    <!-- IF multiple --> multiple="multiple"<!-- ENDIF -->
>
    <!-- IF null !== empty_value --><option value=""<!-- IF required and !value and "0" !== value --> selected="selected"<!-- ENDIF -->>{empty_value}</option><!-- ENDIF -->
    <!-- IF preferred_choices|length > 0 -->
        {{ form.block(form_data, 'choice_widget_options', {'choices': preferred_choices}) ?>
        <!-- IF choices|length > 0 and null !== separator -->
            <option disabled="disabled">{separator}</option>
        <!-- ENDIF -->
    <!-- ENDIF -->
    {{ form.block(form_data, 'choice_widget_options', {'choices': choice}) }}
</select>
