/* Dropdown menu */

.chromestyle {
	width: 100%;
	font: 11px verdana;
	font-weight: bold;
}

.chromestyle ul {
	border: 1px solid #bbbbbb;
	height: 14px;
	width: 100%;
	background: url('cms/images/bg_menu.gif') center repeat-x;
	padding: 4px 0px;
	margin: 0px;
	text-align: left;
}

.chromestyle ul li {
	display: inline;
	margin: 0px;
	padding: 0px;
}

.chromestyle ul li a {
	color: #000000;
	padding: 4px;
	text-decoration: none;
	border: solid 1px transparent;
}

.chromestyle ul li a:hover {
	text-decoration: none;
	background: url('cms/images/bg_menu_hover.gif') center center repeat-x;
	border: solid 1px #cc3333;
}

.chromestyle ul li a:visited {
	text-decoration: none;
	border: solid 1px transparent;
}

.chromestyle ul li a[rel]:after {
	/*content: " v";
	content: " " url('cms/images/downimage.gif'); */
	border: solid 1px transparent;
}

.dropmenudiv {
	position: absolute;
	top: 0;
	border: 1px solid #cccccc;
	font: normal 11px Verdana;
	line-height: 16px;
	z-index: 100;
	background-color: #eafadc;
	filter: alpha(opacity=90);
	opacity: 0.90;
	width: 200px;
	visibility: hidden;
}

.dropmenudiv a {
	width: 100%;
	display: block;
	text-indent: 3px;
	padding: 2px 0;
	text-decoration: none;
	color: black;
}

.dropmenudiv a:hover {
	text-decoration: none;
	background-color: white;
}

.dropmenudiv a:visited {
	text-decoration: none;
	color: black;
}

.dropmenudiv hr {
	margin: 2px;
	border: none;
	border-top: 1px solid #cccccc;
}

.dropmenudiv img {
	vertical-align: middle;
	height: 16px;
	width: 16px;
}
