.dynamic-slider-control {
	position: relative;
	background-color: #FFFFFF;
	-moz-user-focus: normal;
	-moz-user-select: none;
	cursor: default;
}

.horizontal {
	width: 200px;
	height: 27px;
}

.vertical {
	width: 29px;
	height: 200px;
}

.dynamic-slider-control input {
	display: none;
}

.dynamic-slider-control .handle {
	position: absolute;
	font-size: 1px;
	overflow: hidden;
	-moz-user-select: none;
	cursor: default;
}

.dynamic-slider-control.horizontal .handle {
	width: 11px;
	height: 21px;
	background-image: url("slider.gif");
}

.dynamic-slider-control.horizontal .handle div {}
.dynamic-slider-control.horizontal .handle.hover {
	background-image: url("slider_h.gif");
}

/*
.dynamic-slider-control.vertical .handle {
	width: 25px;
	height: 13px;
	background-image: url("handle.vertical.png");
}

.dynamic-slider-control.vertical .handle.hover {
	background-image: url("handle.vertical.hover.png");
}
*/

.dynamic-slider-control .line {
	position: absolute;
	font-size: 0.01mm;
	overflow: hidden;
	background: url("slider_bg.gif") center center no-repeat;
	behavior: url("templates/all/js/slider/boxsizing.htc"); /* ie path bug */
	box-sizing: content-box;
	-moz-box-sizing: content-box;
}

/*
.dynamic-slider-control.vertical .line {
	width: 2px;
}
*/

.dynamic-slider-control.horizontal .line {
	height: 7px;
}

.dynamic-slider-control .line div {
	display: none;
}