
					</div>
				</div>
			<span class="corners-bottom"><span></span></span>
		</div>
		</div>
	</div>

	<div id="page-footer">
		Powered by <a href="http://www.phpbb.com/mods/umil/">UMIL</a> &copy; 2009 <a href="http://www.phpbb.com/">phpBB Group</a><br />
		Powered by phpBB &copy; 2000, 2002, 2005, 2007 <a href="http://www.phpbb.com/">phpBB Group</a><br />
		<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->

		<!-- IF DEBUG_OUTPUT -->
			<br />{DEBUG_OUTPUT}
		<!-- ENDIF -->
	</div>
</div>

</body>
</html>