<!-- BEGIN ulist_open --><ul style="list-style-type: {LIST_TYPE}"><!-- END ulist_open -->
<!-- BEGIN ulist_close --></ul><!-- END ulist_close -->

<!-- BEGIN olist_open --><ol style="list-style-type: {LIST_TYPE}"><!-- END olist_open -->
<!-- BEGIN olist_close --></ol><!-- END olist_close -->

<!-- BEGIN listitem --><li></li><!-- END listitem -->

<!-- BEGIN quote_username_open -->
<blockquote><div><cite>{USERNAME} {L_WROTE}:</cite>
<!-- END quote_username_open -->
<!-- BEGIN quote_open -->
<blockquote class="uncited"><div>
<!-- END quote_open -->
<!-- BEGIN quote_close -->
</div></blockquote>
<!-- END quote_close -->

<!-- BEGIN code_open -->
<dl class="codebox"><dt>{L_CODE}: </dt><dd><code>
<!-- END code_open -->
<!-- BEGIN code_close -->
</code></dd></dl>
<!-- END code_close -->


<!-- BEGIN b_open --><strong><!-- END b_open -->
<!-- BEGIN b_close --></strong><!-- END b_close -->

<!-- BEGIN u_open --><span style="text-decoration: underline"><!-- END u_open -->
<!-- BEGIN u_close --></span><!-- END u_close -->

<!-- BEGIN i_open --><em><!-- END i_open -->
<!-- BEGIN i_close --></em><!-- END i_close -->

<!-- BEGIN color_open --><span style="color: {COLOR}"><!-- END color_open -->
<!-- BEGIN color_close --></span><!-- END color_close -->

<!-- BEGIN img_num_open --><span style="color: {IMG_NUM}"><!-- END img_num_open -->
<!-- BEGIN img_num_close --></span><!-- END img_num_close -->

<!-- BEGIN album_showpage_open --><span style="color: {ALBUM_SHOWPAGE}"><!-- END album_showpage_open -->
<!-- BEGIN album_showpage_close --></span><!-- END album_showpage_close -->

<!-- BEGIN album_picm_open --><span style="color: {ALBUM_PICM}"><!-- END album_picm_open -->
<!-- BEGIN album_picm_close --></span><!-- END album_picm_close -->

<!-- BEGIN album_thumbnail_open --><span style="color: {ALBUM_THUMBNAIL}"><!-- END album_thumbnail_open -->
<!-- BEGIN album_thumbnail_close --></span><!-- END album_thumbnail_close -->

<!-- BEGIN size_open --><span style="font-size: {SIZE}px; line-height: 116%;"><!-- END size_open -->
<!-- BEGIN size_close --></span><!-- END size_close -->

<!-- BEGIN img --><img src="{URL}" alt="" /><!-- END img -->

<!-- BEGIN url --><a href="{URL}" class="postlink">{DESCRIPTION}</a><!-- END url -->

<!-- BEGIN email --><a href="mailto:{EMAIL}">{EMAIL}</a><!-- END email -->
