<div class="navbar">
			<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="linklist navlinks">
				<li><a class="icon-home" href="{U_INDEX}">{L_INDEX}</a></li>
				<li class="rightside"></li>
			</ul>
			<ul class="linklist">
				<!-- BEGIN switch_user_logged_in -->
					<li>
						<a href="{U_PROFILE}" title="{L_PROFILE}" class="icon-ucp">{L_PROFILE}</a>
							 (<a href="{U_PRIVATEMSGS}">{PRIVATE_MESSAGE_INFO}</a>) &bull; 
						<a href="{U_SEARCH_SELF}">{L_SEARCH_SELF}</a>
					</li>
				<!-- END switch_user_logged_in -->
				<li class="rightside">
					<a href="{U_FAQ}" title="{L_FAQ_EXPLAIN}" class="icon-faq">{L_FAQ}</a>&nbsp; 
					<a href="{U_SEARCH}" title="{L_SEARCH}" class="icon-search">{L_SEARCH}</a>&nbsp; 
					<a href="{U_MEMBERLIST}" title="{L_MEMBERLIST_EXPLAIN}" class="icon-members">{L_MEMBERLIST}</a>&nbsp; 
						<!-- BEGIN switch_user_logged_out -->
					<a href="{U_REGISTER}" class="icon-register">{L_REGISTER}</a>&nbsp; 
					<!-- END switch_user_logged_out -->
					<a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" class="icon-logout">{L_LOGIN_LOGOUT}</a>
				</li>
			</ul>
			<span class="corners-bottom"><span></span></span></div>
</div>
<p></p>
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	<h2>{MESSAGE_TITLE}</h2>
	<p>{MESSAGE_TEXT}</p>
	<span class="corners-bottom"><span></span></span></div>
</div>
</form>
<div class="navbar">
		<div class="inner"><span class="corners-top"><span></span></span>
		<ul class="linklist">
			<li>
				<a class="icon-home" href="{U_INDEX}">{L_INDEX}</a>  
			</li>
			<li class="rightside"><a href="{U_GROUP_CP}">{L_USERGROUPS}</a> &bull; {S_TIMEZONE}</li>
		</ul>
		<span class="corners-bottom"><span></span></span></div>
</div>