<div class="navbar">
			<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="linklist navlinks">
				<li><a class="icon-home" href="{U_INDEX}">{L_INDEX}</a> <strong>&#8249;</strong> <a href="{U_VIEW_FORUM}">{FORUM_NAME}</a></li>
				<li class="rightside"></li>
			</ul>
			<ul class="linklist">
				<!-- BEGIN switch_user_logged_in -->
					<li>
						<a href="{U_PROFILE}" title="{L_PROFILE}" class="icon-ucp">{L_PROFILE}</a>
							 (<a href="{U_PRIVATEMSGS}">{PRIVATE_MESSAGE_INFO}</a>) &bull; 
						<a href="{U_SEARCH_SELF}">{L_SEARCH_SELF}</a>
					</li>
				<!-- END switch_user_logged_in -->
				<li class="rightside">
					<a href="{U_FAQ}" title="{L_FAQ_EXPLAIN}" class="icon-faq">{L_FAQ}</a>&nbsp; 
					<a href="{U_SEARCH}" title="{L_SEARCH}" class="icon-search">{L_SEARCH}</a>&nbsp; 
					<a href="{U_MEMBERLIST}" title="{L_MEMBERLIST_EXPLAIN}" class="icon-members">{L_MEMBERLIST}</a>&nbsp; 
					<!-- BEGIN switch_user_logged_out -->
					<a href="{U_REGISTER}" class="icon-register">{L_REGISTER}</a>&nbsp; 
					<!-- END switch_user_logged_out -->
					<a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" class="icon-logout">{L_LOGIN_LOGOUT}</a>
				</li>
			</ul>
			<span class="corners-bottom"><span></span></span></div>
</div>
<form method="post" action="{S_MODCP_ACTION}">
<h2>{L_MOD_CP}</h2>
<p>
	{L_MOD_CP_EXPLAIN}
</p>
<div class="topic-actions" >
	<div class="pagination">
	{PAGE_NUMBER}<span>{PAGINATION}</span>
	</div>
</div>
<div class="forumbg">
		<div class="inner"><span class="corners-top"><span></span></span>
		<ul class="topiclist topics">
			<li class="header">
				<dl class="icon">
					<dt>{L_TOPICS}</dt>
					<dd class="posts">{L_REPLIES}</dd>
					<dd class="lastpost"><span>{L_LASTPOST}</span></dd>
					<dd class="views">{L_SELECT}</dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist topics">
		<!-- BEGIN topicrow -->
		<li class="row bg1">
			<dl class="icon" style="background-image: url({topicrow.TOPIC_FOLDER_IMG});">
				<dt><a href="{topicrow.U_VIEW_TOPIC}" class="topictitle">{topicrow.TOPIC_TITLE}</a></dt>
				<dd class="posts">{topicrow.REPLIES}</dd>
				<dd class="lastpost">{topicrow.LAST_POST_TIME}</dd>
				<dd class="views"><input type="checkbox" name="topic_id_list[]" value="{topicrow.TOPIC_ID}" /></dd>
			</dl>
		</li>
<!-- END topicrow -->
		</ul>
	<span class="corners-bottom"><span></span></span></div>
</div>
<fieldset class="display-options">
	<label>{S_HIDDEN_FIELDS}<input type="submit" name="delete" class="button2" value="{L_DELETE}" />&nbsp; <input type="submit" name="move" class="button2" value="{L_MOVE}" />&nbsp; <input type="submit" name="lock" class="button2" value="{L_LOCK}" />&nbsp; <input type="submit" name="unlock" class="button2" value="{L_UNLOCK}" /></label>
</fieldset>
<hr />
<div class="topic-actions" >
	<div class="pagination">
	{PAGE_NUMBER}<span>{PAGINATION}</span>
	</div>
</div>
</form>
{JUMPBOX}
<div class="navbar">
		<div class="inner"><span class="corners-top"><span></span></span>
		<ul class="linklist">
			<li>
				<a class="icon-home" href="{U_INDEX}">{L_INDEX}</a>  
			</li>
			<li class="rightside"><a href="{U_GROUP_CP}">{L_USERGROUPS}</a> &bull; {S_TIMEZONE}</li>
		</ul>
		<span class="corners-bottom"><span></span></span></div>
</div>