<script language="javascript" type="text/javascript">
<!--
function emoticon(text) {
	text = ' ' + text + ' ';
	if (opener.document.forms['post'].message.createTextRange && opener.document.forms['post'].message.caretPos) {
		var caretPos = opener.document.forms['post'].message.caretPos;
		caretPos.text = caretPos.text.charAt(caretPos.text.length - 1) == ' ' ? text + ' ' : text;
		opener.document.forms['post'].message.focus();
	} else {
	opener.document.forms['post'].message.value  += text;
	opener.document.forms['post'].message.focus();
	}
}
//-->
</script>
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<h3>{L_EMOTICONS}</h3>
		<!-- BEGIN smilies_row -->
		<!-- BEGIN smilies_col -->
		<a href="javascript:emoticon('{smilies_row.smilies_col.SMILEY_CODE}')"><img src="{smilies_row.smilies_col.SMILEY_IMG}" alt="{smilies_row.smilies_col.SMILEY_DESC}" title="{smilies_row.smilies_col.SMILEY_DESC}" /></a>
		<!-- END smilies_col -->
		<!-- END smilies_row -->
	<span class="corners-bottom"><span></span></span></div>
</div>
<fieldset class="submit-buttons">
	<a href="#" onclick="window.close(); return false;">{L_CLOSE_WINDOW}</a>
</fieldset>