<div class="navbar">
			<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="linklist navlinks">
				<li><a class="icon-home" href="{U_INDEX}">{L_INDEX}</a></li>
				<li class="rightside"></li>
			</ul>
			<ul class="linklist">
				<!-- BEGIN switch_user_logged_in -->
					<li>
						<a href="{U_PROFILE}" title="{L_PROFILE}" class="icon-ucp">{L_PROFILE}</a>
							 (<a href="{U_PRIVATEMSGS}">{PRIVATE_MESSAGE_INFO}</a>) &bull; 
						<a href="{U_SEARCH_SELF}">{L_SEARCH_SELF}</a>
					</li>
				<!-- END switch_user_logged_in -->
				<li class="rightside">
					<a href="{U_FAQ}" title="{L_FAQ_EXPLAIN}" class="icon-faq">{L_FAQ}</a>&nbsp; 
					<a href="{U_SEARCH}" title="{L_SEARCH}" class="icon-search">{L_SEARCH}</a>&nbsp; 
					<a href="{U_MEMBERLIST}" title="{L_MEMBERLIST_EXPLAIN}" class="icon-members">{L_MEMBERLIST}</a>&nbsp; 
						<!-- BEGIN switch_user_logged_out -->
					<a href="{U_REGISTER}" class="icon-register">{L_REGISTER}</a>&nbsp; 
					<!-- END switch_user_logged_out -->
					<a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" class="icon-logout">{L_LOGIN_LOGOUT}</a>
				</li>
			</ul>
			<span class="corners-bottom"><span></span></span></div>
</div>
<p></p>
<form method="post" name="privmsg_list" action="{S_PRIVMSGS_ACTION}">
<div id="tabs">
	<ul>
		<li><a href="{U_PROFILE}"><span>{L_PROFILE}</span></a></li>
		<li class="activetab"><a href="{U_PRIVATEMSGS}"><span>{L_PRIVATEMSGS}</span></a></li>
	</ul>
</div>
<div class="panel bg3">
	<div class="inner"><span class="corners-top"><span></span></span>
	<div style="width: 100%;">
	<div id="cp-menu">
		<div id="navigation">
			<ul>
				{INBOX}
				{SENTBOX}
				{OUTBOX}
				{SAVEBOX}
			</ul>
		</div>
	</div>
	<div id="cp-main" class="ucp-main">
<h2>{L_PRIVATEMSGS}</h2>
<form id="viewfolder" method="post" action="{S_PM_ACTION}">
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	<ul class="linklist">
		<li class="buttons">
			{REPLY_PM}
		</li>
	</ul>
		<span class="corners-bottom"><span></span></span></div>
</div>
<div class="post pm">
	<div class="inner"><span class="corners-top"><span></span></span>
	<div class="postbody">
		<ul class="profile-icons">
			{EDIT_PM}
			{QUOTE_PM}
		</ul>
		<h3 class="first">{POST_SUBJECT}</h3>
		<p class="author">
			<strong>{L_POSTED}:</strong> {POST_DATE}
			<br /><strong>{L_FROM}:</strong> {MESSAGE_FROM}
			<br /><strong>{L_TO}:</strong> {MESSAGE_TO}
		</p>
		<div class="content">{MESSAGE}</div>
	</div>
	<dl class="postprofile">
		{POSTER_AVATAR}
		<dd>
			<ul class="profile-icons">
			{EMAIL}
			{WWW}
			{MSN}
			{ICQ}
			{YIM}
			{AIM}
			</ul>
		</dd>
	</dl>
	<span class="corners-bottom"><span></span></span></div>
</div>
	<fieldset class="display-actions">
		{S_HIDDEN_FIELDS}
		<input type="submit" name="save" value="{L_SAVE_MSG}" class="button2" />&nbsp; 
		<input type="submit" name="delete" value="{L_DELETE_MSG}" class="button2" /></div>
	</fieldset>
		</div>
	<div class="clear"></div>
	</div>
	<span class="corners-bottom"><span></span></span></div>
</div>
</form>
<div class="navbar">
		<div class="inner"><span class="corners-top"><span></span></span>
		<ul class="linklist">
			<li>
				<a class="icon-home" href="{U_INDEX}">{L_INDEX}</a>  
			</li>
			<li class="rightside"><a href="{U_GROUP_CP}">{L_USERGROUPS}</a> &bull; {S_TIMEZONE}</li>
		</ul>
		<span class="corners-bottom"><span></span></span></div>
</div>