# Mysql
MYSQL_DATABASE=phpbb
MYSQL_USER=phpbb
MYSQL_PASSWORD=phpbb
MYSQL_ROOT_PASSWORD=phpbb@docker

# Postgres
POSTGRES_USER=phpbb
POSTGRES_PASSWORD=phpbb
PGDATA=/db/pgsql

# Blackfire
BLACKFIRE_SERVER_ID=
BLACKFIRE_SERVER_TOKEN=

