<table>
<!-- BEGIN latest_news -->
    <!-- IF latest_news.S_FIRST_ROW -->
	<table class="tablebg" width="100%" cellspacing="1">
		<tr>
			<td class="cat" colspan="2"><span class="cattitle">{L_RECENT_NEWS_HEAGING}</span></td>
		</tr>
	<!-- ENDIF -->			
		<tr>
			<td class="row2">
				<span class="cattitle">
					{latest_news.NEWEST_POST_IMG}
				</span>
			</td>
			<td class="row1" align="left" valign="top" width="100%">
			<span class="genmed" style="font-weight: bold;"><a title="{L_LAST_REPLY}: {latest_news.LAST_POST_TIME}" href="{latest_news.U_VIEW_TOPIC}" class="genmed">{latest_news.TOPIC_TITLE}</a></span>
			<br />
				<p style="float:right">
					<span class="gensmall" nowrap="nowrap">{latest_news.TOPIC_TIME}</span>
				</p>
			</td>
		</tr>

    <!-- IF latest_news.S_LAST_ROW -->
	</table>	
	<!-- ENDIF -->	
<!-- END latest_news -->

<!-- BEGIN latest_topics -->
     <!-- IF latest_topics.S_FIRST_ROW -->
	<table class="tablebg" width="100%" cellspacing="1">	 
    <tr>
		<td class="cat" colspan="2"><span class="cattitle">{L_RECENT_POSTS_HEAGING}</span></td>
    </tr>
	<!-- ENDIF -->

	<tr>
		<td class="row2" align="center">
			<span class="cattitle">
				{latest_topics.NEWEST_POST_IMG}
			</span>
		</td>
		<td class="row1" align="left">
			<span class="genmed">
				<span class="genmed" style="font-weight: bold;"><a href="{latest_topics.U_VIEW_TOPIC}" title="{L_POSTED}: {latest_topics.TOPIC_TIME}" class="genmed">{latest_topics.TOPIC_TITLE}</a></span>
			</span><br />
			<span class="gensmall">
				<a href="{latest_topics.U_VIEW_FORUM}" title="{latest_topics.FORUM_TITLE}" class="gensmall">{latest_topics.FORUM_TITLE}</a>
			</span>
			<div align="right">
				<span class="gensmall" nowrap="nowrap">
					{latest_topics.LAST_POST_TIME}
				</span><br />
				<span class="gensmall" nowrap="nowrap"> 
					{latest_topics.TOPIC_AUTHOR_FULL} {latest_topics.LAST_POSTER_FULL}
				</span>
			</div>
			<div valign="top" align="right">
				<span class="gensmall" nowrap="nowrap">
					({latest_topics.TOPIC_REPLIES}) {L_COMMENTS}
				</span>
			</div>
		</td>
	</tr>

    <!-- IF latest_.S_LAST_ROW -->
		<tr valign="middle">
			<td align="right" valign="top" nowrap="nowrap" height="28" class="cat"><span class="gensmall">{switch_glance_recent.PREV_URL}&nbsp;&nbsp;{switch_glance_recent.NEXT_URL}&nbsp;&nbsp;</span></td>
		</tr>
	</table>
    <!-- ENDIF -->
<!-- END latest_topics -->
</table>
<br clear="all" />