<!-- INCLUDE mcp_header.html -->

<table width="100%"><tr><td nowrap="nowrap"><form method="post" action="{U_POST_ACTION}"><span class="genmed">{L_SEARCH_KEYWORDS}{L_COLON}</span> <input type="text" name="keywords" value="{S_KEYWORDS}" />&nbsp;<input type="submit" class="btnlite" name="filter" value="{L_SEARCH}" /></form></td><td align="{S_CONTENT_FLOW_END}" class="gensmall" width="100%">&nbsp;[ {TOTAL} ]&nbsp;<!-- INCLUDE pagination.html --></td></tr></table>

<form method="post" id="mcp" name="mcp" action="{U_POST_ACTION}">

<table width="100%" cellpadding="3" cellspacing="1" border="0" class="tablebg">

<tr>
	<th>{L_USERNAME}</th>
	<th>{L_IP}</th>
	<th>{L_TIME}</th>
	<th>{L_ACTION}</th>
	<!-- IF S_CLEAR_ALLOWED --><th>{L_MARK}</th><!-- ENDIF -->
</tr>
<!-- IF S_LOGS -->

	<!-- BEGIN log -->
		<!-- IF log.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
			<td class="genmed">{log.USERNAME}</td>
			<td class="genmed" style="text-align: center;">{log.IP}</td>
			<td class="genmed" style="text-align: center;">{log.DATE}</td>
			<td class="genmed">{log.ACTION}<br />{log.DATA}</td>
			<!-- IF S_CLEAR_ALLOWED --><td width="5%" align="center"><input type="checkbox" class="radio" name="mark[]" value="{log.ID}" /></td><!-- ENDIF -->
		</tr>
	<!-- END log -->
	<tr>
		<td class="cat" colspan="<!-- IF S_CLEAR_ALLOWED -->5<!-- ELSE -->4<!-- ENDIF -->"><!-- INCLUDE display_options.html --></td>
	</tr>
	<!-- IF S_CLEAR_ALLOWED -->
		<tr align="{S_CONTENT_FLOW_END}">
			<td class="cat" colspan="5"><input class="btnlite" type="submit" name="action[del_all]" value="{L_DELETE_ALL}" /> <input class="btnlite" type="submit" name="action[del_marked]" value="{L_DELETE_MARKED}" /></td>
		</tr>
	<!-- ENDIF -->
<!-- ELSE -->
	<tr>
		<td class="row1" colspan="<!-- IF S_CLEAR_ALLOWED -->5<!-- ELSE -->4<!-- ENDIF -->" align="center"><span class="gen">{L_NO_ENTRIES}</span></td>
	</tr>
<!-- ENDIF -->
</table>
{S_FORM_TOKEN}
</form>

<!-- IF S_CLEAR_ALLOWED -->
	<div class="gensmall" style="padding-top:4px; text-align: {S_CONTENT_FLOW_END}"><b><a href="#" onclick="marklist('mcp', '', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('mcp', '', false); return false;">{L_UNMARK_ALL}</a></b></div>
<!-- ENDIF -->

<!-- INCLUDE mcp_footer.html -->