<!-- INCLUDE mcp_header.html -->

<form method="post" name="mcp" action="{U_POST_ACTION}">
<table width="100%" cellspacing="0" cellpadding="0">
<tr>
	<td class="gensmall">{PAGE_NUMBER} [ {TOTAL_USERS} ]</td>
	<td align="{S_CONTENT_FLOW_END}" class="gensmall"><!-- INCLUDE pagination.html --></td>
</tr>
</table>

<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<td class="cat" colspan="4"><!-- INCLUDE display_options.html --></td>
</tr><tr>
	<th>&nbsp;{L_USERNAME}&nbsp;</th>
	<th>&nbsp;{L_WARNINGS}&nbsp;</th>
	<th>&nbsp;{L_LATEST_WARNING_TIME}&nbsp;</th>
	<th>&nbsp;</th>
</tr>
<!-- BEGIN user -->
	<tr>
		<td class="row1" width="15%" valign="top"><span class="gen">{user.USERNAME_FULL}</span></td>
		<td class="row2" width="15%" valign="top"><span class="gen">{user.WARNINGS}</span></td>
		<td class="row1" width="15%" valign="top"><span class="gen">{user.WARNING_TIME}</span></td>
		<td class="row2" width="15%" valign="top"><span class="gen"><a href="{user.U_NOTES}">{L_VIEW_NOTES}</a></span></td>
	</tr>
<!-- BEGINELSE -->
	<tr>
		<td class="row1" colspan="4" align="center"><span class="gen">{L_NO_WARNINGS}</span></td>
	</tr>
<!-- END user -->
</table>

{S_FORM_TOKEN}
</form>

<br clear="all" /><br />

<!-- DEFINE $MCPWARNLIST = 1 -->
<!-- INCLUDE mcp_footer.html -->