<!-- INCLUDE mcp_header.html -->

<form method="post" id="mcp" name="mcp" action="{U_POST_ACTION}">

<table width="100%" cellpadding="3" cellspacing="1" border="0" class="tablebg">
<tr>
	<th colspan="2" align="center">{USERNAME}</th>
</tr>
<tr>
	<td class="row1" align="center">
		<table cellspacing="1" cellpadding="2" border="0">
		<tr>
			<td class="gen" align="center"><b>{USERNAME_FULL}</b></td>
		</tr>
		<tr>
			<td align="center" class="genmed"><!-- IF AVATAR_IMG -->{AVATAR_IMG}<!-- ELSE --><img src="{T_THEME_PATH}/images/no_avatar.gif" width="100" height="100" alt="" /><!-- ENDIF --></td>
		</tr>
		</table>
	</td>
	<td class="row1">
		<table width="100%" cellspacing="1" cellpadding="2" border="0">
		<tr> 
			<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_JOINED}{L_COLON} </td>
			<td width="100%"><b class="gen">{JOINED}</b></td>
		</tr>
		<tr> 
			<td class="gen" align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap">{L_TOTAL_POSTS}{L_COLON} </td>
			<td><b class="gen">{POSTS}</b></td>
		</tr>
		<tr> 
			<td class="gen" align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap">{L_WARNINGS}{L_COLON} </td>
			<td><b class="gen">{WARNINGS}</b></td>
		</tr>
		</table>
	</td>
</tr>
</table>

<br clear="all" />

<table width="100%" cellpadding="3" cellspacing="1" border="0" class="tablebg">
<tr>
	<th colspan="2" align="center">{L_ADD_FEEDBACK}</th>
</tr>
<tr>
	<td class="row3" align="center" colspan="2"><span class="genmed">{L_ADD_FEEDBACK_EXPLAIN}</span></td>
</tr>
<tr>
	<td colspan="2" class="row1" align="center"><textarea name="usernote" rows="3" cols="76"></textarea></td>
</tr>
<tr>
	<td class="cat" colspan="2" align="center"><input class="btnlite" type="reset" value="{L_RESET}" />&nbsp; <input class="btnmain" type="submit" name="action[add_feedback]" value="{L_SUBMIT}" /></td>
</tr>
</table>

<!-- IF .pagination --><table width="100%" cellspacing="0" cellpadding="0">
<tr>
	<td class="gensmall">{PAGE_NUMBER} [ {TOTAL_REPORTS} ]</td>
	<td align="{S_CONTENT_FLOW_END}" class="gensmall"><!-- INCLUDE pagination.html --></td>
</tr>
</table><!-- ELSE --><br /><!-- ENDIF -->

<table width="100%" cellpadding="3" cellspacing="1" border="0" class="tablebg">
<tr>
	<th colspan="5" align="center">{L_FEEDBACK}</th>
</tr>
<!-- IF S_USER_NOTES -->

	<tr>
		<td colspan="5" class="cat" style="line-height:125%"><span class="genmed">{L_SEARCH_KEYWORDS}{L_COLON}</span> <input type="text" name="keywords" value="{S_KEYWORDS}" /> <input type="submit" class="btnlite" name="filter" value="{L_SEARCH}" /><br><!-- INCLUDE display_options.html --></td>
	</tr>
	<tr>
		<th>{L_REPORT_BY}</th>
		<th>{L_IP}</th>
		<th>{L_TIME}</th>
		<th>{L_ACTION}</th>
		<!-- IF S_CLEAR_ALLOWED --><th>{L_MARK}</th><!-- ENDIF -->
	</tr>

	<!-- BEGIN usernotes -->
		<!-- IF usernotes.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
			<td class="gen">{usernotes.REPORT_BY}</td>
			<td align="center" class="genmed">{usernotes.IP}</td>
			<td align="center" class="genmed">{usernotes.REPORT_AT}</td>
			<td class="gen">
				{usernotes.ACTION}
				<!-- IF usernotes.DATA --><br />&#187; <span class="genmed">[ {usernotes.DATA} ]</span><!-- ENDIF -->
			</td>
			<!-- IF S_CLEAR_ALLOWED --><td style="text-align: center;"><input type="checkbox" class="radio" name="marknote[]" value="{usernotes.ID}" /></td><!-- ENDIF -->
		</tr>
	<!-- END usernotes -->

	<!-- IF S_CLEAR_ALLOWED -->
		<tr align="{S_CONTENT_FLOW_END}">
			<td class="cat" colspan="5"><input class="btnlite" type="submit" name="action[del_all]" value="{L_DELETE_ALL}" />&nbsp; <input class="btnlite" type="submit" name="action[del_marked]" value="{L_DELETE_MARKED}" /></td>
		</tr>
	<!-- ENDIF -->

<!-- ELSE -->
	<tr>
		<td class="row1" colspan="2" align="center"><span class="gen">{L_NO_FEEDBACK}</span></td>
	</tr>
<!-- ENDIF -->
</table>

<!-- IF S_CLEAR_ALLOWED -->
<table width="100%" cellspacing="0" cellpadding="0">
<tr>
	<td align="{S_CONTENT_FLOW_END}" class="gensmall"><b><a href="#" onclick="marklist('mcp', '', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('mcp', '', false); return false;">{L_UNMARK_ALL}</a></b></td>
</tr>
</table>
<!-- ENDIF -->

{S_FORM_TOKEN}
</form>

<br clear="all" /><br />
<!-- DEFINE $MCPNOTEUSER = 1 -->
<!-- INCLUDE mcp_footer.html -->