<!-- INCLUDE overall_header.html -->

<form method="post" action="{S_MODE_ACTION}">

<table class="tablebg" width="100%" cellspacing="1">
<!-- BEGIN group -->
<tr>
	<th align="{S_CONTENT_FLOW_BEGIN}" nowrap="nowrap"><!-- IF group.U_GROUP --><a href="{group.U_GROUP}">{group.GROUP_NAME}</a><!-- ELSE -->{group.GROUP_NAME}<!-- ENDIF --></th>
	<th nowrap="nowrap" width="20%">{L_RANK}</th>
	<th style="white-space:normal !important" width="20%">{L_PRIMARY_GROUP}</th>
	<!-- IF S_DISPLAY_MODERATOR_FORUMS --><th style="white-space:normal !important" width="20%">{L_MODERATOR}</th><!-- ENDIF -->
	<th style="white-space:normal !important" width="5%">{L_CONTACT}</th>
</tr>
<!-- BEGIN user -->
	<!-- IF group.user.S_ROW_COUNT is even --><tr class="row2"><!-- ELSE --><tr class="row1"><!-- ENDIF -->
	<td class="gen"><!-- EVENT memberlist_team_username_prepend --><strong>{group.user.USERNAME_FULL}</strong><!-- IF group.user.S_INACTIVE --> <em>({L_INACTIVE})</em><!-- ENDIF --><!-- EVENT memberlist_team_username_append --></td>
	<td class="gen" nowrap="nowrap" align="center"><!-- IF group.user.RANK_IMG -->{group.user.RANK_IMG}<!-- ELSE -->{group.user.RANK_TITLE}<!-- ENDIF --></td>
	<td class="genmed" align="center"><!-- IF group.user.U_GROUP --><a<!-- IF group.user.GROUP_COLOR --> class="username-coloured" style="color:#{group.user.GROUP_COLOR}"<!-- ENDIF --> href="{group.user.U_GROUP}">{group.user.GROUP_NAME}</a><!-- ELSE -->{group.user.GROUP_NAME}<!-- ENDIF --></td>
	<!-- IF S_DISPLAY_MODERATOR_FORUMS --><td class="genmed" align="center"><!-- IF group.user.FORUM_OPTIONS --><select style="width: 100%;">{group.user.FORUMS}</select><!-- ELSEIF group.user.FORUMS -->{group.user.FORUMS}<!-- ELSE -->-<!-- ENDIF --></td><!-- ENDIF -->
	<td class="gen" align="center"><!-- IF group.user.U_PM --><a title="{L_SEND_PRIVATE_MESSAGE}" href="{group.user.U_PM}"><img src="{T_THEME_PATH}/{T_THEME_LANG_NAME}/icon_contact_pm.gif" width="72" height="20" alt="[{L_BUTTON_PM}]" title="{L_SEND_PRIVATE_MESSAGE}"></a><!-- ELSE -->&nbsp;<!-- ENDIF --></td>
</tr>
<!-- BEGINELSE -->
	<tr>
		<td class="row1" colspan="5" align="center"><span class="gen">{L_NO_MEMBERS}</span></td>
	</tr>
<!-- END user -->
<!-- END group -->
</table>

</form>

<br clear="all" />

<!-- INCLUDE breadcrumbs.html -->

<br clear="all" />

<div align="{S_CONTENT_FLOW_END}"><!-- INCLUDE jumpbox.html --></div>

<!-- INCLUDE overall_footer.html -->
