<!-- IF S_IN_SEARCH_POPUP -->
	<script type="text/javascript">
	// <![CDATA[
		function insert_user(user)
		{
			opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.value = ( opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.value.length && opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.type == "textarea" ) ? opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.value + "\n" + user : user;
		}

		function insert_marked(users)
		{
			if (typeof(users.length) == "undefined")
			{
				if (users.checked)
				{
					insert_user(users.value);
				}
			}
			else if (users.length > 0)
			{
				for (i = 0; i < users.length; i++)
				{
					if (users[i].checked)
					{
						insert_user(users[i].value);
					}
				}
			}

			self.close();
		}

		function insert_single(user)
		{
			opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.value = user;
			self.close();
		}
	// ]]>
	</script>
<!-- ENDIF -->

<form method="post" action="{S_MODE_ACTION}" name="search">


<!-- EVENT memberlist_search_fields_before -->
<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<th colspan="4">{L_FIND_USERNAME}</th>
</tr>
<tr>
	<td class="row3" colspan="4"><span class="genmed">{L_FIND_USERNAME_EXPLAIN}</span></td>
</tr>
<tr>
	<td class="row1"><b class="genmed">{L_USERNAME}{L_COLON}</b></td>
	<td class="row2"><input class="post" type="text" name="username" value="{USERNAME}" /></td>
	<!-- IF S_EMAIL_SEARCH_ALLOWED -->
		<td class="row1"><b class="genmed">{L_EMAIL}{L_COLON}</b></td>
		<td class="row2"><input class="post" type="email" name="email" value="{EMAIL}" /></td>
	<!-- ELSE -->
		<td colspan="2" class="row1">&nbsp;</td>
	<!-- ENDIF -->
</tr>
<tr>
	<td class="row1"><b class="genmed">{L_JOINED}{L_COLON}</b></td>
	<td class="row2"><select name="joined_select">{S_JOINED_TIME_OPTIONS}</select> <input class="post" type="text" name="joined" value="{JOINED}" /></td>
	<td class="row1"><b class="genmed">{L_POSTS}{L_COLON}</b></td>
	<td class="row2"><select name="count_select">{S_COUNT_OPTIONS}</select> <input class="post" type="number" min="0" name="count" value="{COUNT}" /></td>
</tr>
<!-- IF S_VIEWONLINE -->
<tr>
	<td class="row1"><b class="genmed">{L_LAST_ACTIVE}{L_COLON}</b></td>
	<td class="row2"><select name="active_select">{S_ACTIVE_TIME_OPTIONS}</select> <input class="post" type="text" name="active" value="{ACTIVE}" /></td>
	<!-- IF S_IP_SEARCH_ALLOWED -->
		<td class="row1"><b class="genmed">{L_POST_IP}{L_COLON}</b></td>
		<td class="row2"><input class="post" type="text" name="ip" value="{IP}" /></td>
	<!-- ELSE -->
		<td colspan="2" class="row1">&nbsp;</td>
	<!-- ENDIF -->
</tr>
<!-- ENDIF -->
<tr>
	<td class="row1"><b class="genmed">{L_GROUP}{L_COLON}</b></td>
	<td class="row2" nowrap="nowrap"><select name="search_group_id">{S_GROUP_SELECT}</select></td>
	<!-- IF S_JABBER_ENABLED -->
		<td class="row1"><b class="genmed">{L_JABBER}{L_COLON}</b></td>
		<td class="row2"><input class="post" type="text" name="jabber" value="{JABBER}" /></td>
	<!-- ELSE -->
		<td colspan="2" class="row1">&nbsp;</td>
	<!-- ENDIF -->
</tr>
<!-- EVENT memberlist_search_sorting_options_before -->
<tr>
	<td class="row1"><b class="genmed">{L_SORT_BY}{L_COLON}</b></td>
	<td class="row2" nowrap="nowrap"><select id="sk1" name="sk">{S_SORT_OPTIONS}</select> <select id="sd1" name="sd">{S_ORDER_SELECT}</select>&nbsp;</td>
	<td colspan="2" class="row1">&nbsp;</td>
</tr>
<tr>
	<td class="cat" colspan="4" align="center"><input class="btnlite" type="reset" value="{L_RESET}" />&nbsp; <input class="btnmain" type="submit" name="submit" value="{L_SEARCH}" /></td>
</tr>
</table>
<!-- EVENT memberlist_search_fields_after -->
{S_FORM_TOKEN}
</form>

<br clear="all" />
