 
<table class="tablebg" width="100%" cellspacing="1">
<tr> 
	<th colspan="3">{L_GROUP_INFORMATION}</th>
</tr>
<tr> 
	<td class="row1" width="20%"><b class="genmed">{L_GROUP_NAME}{L_COLON}</b></td>
	<td class="row2"><b class="gen"<!-- IF GROUP_COLOR --> style="color:#{GROUP_COLOR}"<!-- ENDIF -->>{GROUP_NAME}</b> <!-- IF U_MANAGE --><a href="{U_MANAGE}" class="genmed">{L_MANAGE_GROUP}</a><!-- ENDIF --></td>
<!-- IF AVATAR_IMG or RANK_IMG or GROUP_RANK or U_PM -->
	<td class="row1" width="33%" rowspan="2" align="center"><!-- IF AVATAR_IMG --><span class="genmed">{AVATAR_IMG}</span><!-- ENDIF --><!-- IF RANK_IMG --><br><img src="{RANK_IMG_SRC}" alt=""><!-- ENDIF --><!-- IF GROUP_RANK --><br><span class="genmed">{GROUP_RANK}</span><!-- ENDIF --><!-- IF U_PM --><p><a title="{L_SEND_PRIVATE_MESSAGE}" href="{U_PM}"><img src="{T_THEME_PATH}/{T_THEME_LANG_NAME}/icon_contact_pm.gif" width="72" height="20" alt="[{L_BUTTON_PM}]" title="{L_SEND_PRIVATE_MESSAGE}"></a></p><!-- ENDIF --></td>
<!-- ENDIF -->
</tr>
<tr> 
	<td class="row1" width="20%"><b class="genmed">{L_GROUP_DESC}{L_COLON}</b></td>
	<td class="row2"><span class="gen">{GROUP_DESC}</span><p class="forumdesc">{GROUP_TYPE}</p></td>
</tr>
</table>
