<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="row1" width="35%"><b class="genmed">{L_GRAVATAR_AVATAR_EMAIL}{L_COLON}</b><br /><span class="genmed">{L_GRAVATAR_AVATAR_EMAIL_EXPLAIN}</span></td>
		<td class="row2"><input type="text" name="avatar_gravatar_email" id="avatar_gravatar_email" value="{AVATAR_GRAVATAR_EMAIL}" class="inputbox" /></td>
	</tr>
	<tr>
		<td class="row1" width="35%"><b class="genmed">{L_GRAVATAR_AVATAR_SIZE}{L_COLON}</b><br /><span class="genmed">{L_GRAVATAR_AVATAR_SIZE_EXPLAIN}</span></td>
		<td class="row2">
			<input type="number" name="avatar_gravatar_width" id="avatar_gravatar_width" min="{AVATAR_MIN_WIDTH}" max="{AVATAR_MAX_WIDTH}" value="<!-- IF AVATAR_GRAVATAR_WIDTH gt AVATAR_MIN_WIDTH -->{AVATAR_GRAVATAR_WIDTH}<!-- ELSE -->{AVATAR_MIN_WIDTH}<!-- ENDIF -->" class="inputbox" style="width:auto" /> <span class="gen">{L_PIXEL} &times;&nbsp; </span>			<input type="number" name="avatar_gravatar_height" id="avatar_gravatar_height" min="{AVATAR_MIN_HEIGHT}" max="{AVATAR_MAX_HEIGHT}" value="<!-- IF AVATAR_GRAVATAR_HEIGHT gt AVATAR_MIN_HEIGHT -->{AVATAR_GRAVATAR_HEIGHT}<!-- ELSE -->{AVATAR_MIN_HEIGHT}<!-- ENDIF -->" class="inputbox" style="width:auto" /> <span class="gen">{L_PIXEL}</span></td>
	</tr>
</table>
