<!-- EVENT ucp_pm_history_review_before -->
<script type="text/javascript">
// <![CDATA[
	bbcodeEnabled = {S_BBCODE_ALLOWED};
// ]]>
</script>

<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<th style="padding: 7px 14px; text-align: {S_CONTENT_FLOW_BEGIN}">{L_MESSAGE_HISTORY}</th>
</tr>
<tr>
	<td class="row1"><div style="overflow: auto; width: 100%; height: 300px;">

		<table class="tablebg" width="100%" cellspacing="1">
		<tr>
			<th width="22%">{L_AUTHOR}</th>
			<th>{L_MESSAGE}</th>
		</tr>
	<!-- BEGIN history_row -->
			<!-- IF history_row.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
			<td rowspan="2" align="{S_CONTENT_FLOW_BEGIN}" valign="top"><a name="{history_row.MSG_ID}" class="anchor"></a>
				<table width="150" cellspacing="0">
				<tr>
					<td align="center" colspan="2"><b class="postauthor">{history_row.MESSAGE_AUTHOR_FULL}</b></td>
				</tr>
				</table>
			</td>
			<td>
				<table width="100%" cellspacing="0">
				<tr>
					<td align="{S_CONTENT_FLOW_BEGIN}" class="genmed"><b>{L_PM_SUBJECT}{L_COLON}</b>&nbsp;{history_row.SUBJECT}</td>
					<td align="{S_CONTENT_FLOW_END}" class="genmed">
						<!-- EVENT ucp_pm_history_post_buttons_before -->
						<!-- IF history_row.U_QUOTE or history_row.MESSAGE_AUTHOR_QUOTE -->	<a title="{L_QUOTE} {history_row.MESSAGE_AUTHOR}" <!-- IF history_row.U_QUOTE -->href="{history_row.U_QUOTE}"<!-- ELSE -->href="#" onclick="addquote({history_row.MSG_ID}, '{history_row.MESSAGE_AUTHOR_QUOTE}', '{LA_WROTE}', {time:{history_row.MESSAGE_TIME},user_id:{history_row.USER_ID}}); return false;"<!-- ENDIF -->><img src="{T_THEME_PATH}/{T_THEME_LANG_NAME}/icon_post_quote.gif" width="90" height="20" alt="[{L_BUTTON_QUOTE}]" title="{L_QUOTE} {history_row.MESSAGE_AUTHOR}"></a> <!-- ENDIF --> 
						<!-- IF history_row.U_POST_REPLY_PM --><a title="{L_POST_REPLY_PM}" href="{history_row.U_POST_REPLY_PM}"><img src="{T_THEME_PATH}/{T_THEME_LANG_NAME}/button_pm_reply.gif" width="90" height="20" alt="[{L_BUTTON_PM_REPLY}]" title="{L_POST_REPLY_PM}"></a><!-- ENDIF -->&nbsp;
						<!-- EVENT ucp_pm_history_post_buttons_after -->
					</td>
				</tr>
				</table>
			</td>
		</tr>

		<!-- IF history_row.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
			<td valign="top">
				<table width="100%" cellspacing="0">
				<tr>
					<td valign="top">
						<table width="100%" cellspacing="0" cellpadding="2">
						<tr>
							<td><div class="postbody"><!-- IF history_row.MESSAGE -->{history_row.MESSAGE}<!-- ELSE --><span class="error">{L_MESSAGE_REMOVED_FROM_OUTBOX}</span><!-- ENDIF --></div><div id="message_{history_row.MSG_ID}" style="display: none;">{history_row.DECODED_MESSAGE}</div></td>
						</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table width="100%" cellspacing="0">
						<tr valign="middle">
							<td width="100%" align="{S_CONTENT_FLOW_BEGIN}" class="genmed">[ <a href="{history_row.U_VIEW_MESSAGE}">{L_VIEW_PM}</a> ]</td>
							<td class="genmed" nowrap="nowrap"><b>{L_SENT_AT}{L_COLON}</b> {history_row.SENT_DATE}</td>
						</tr>
						</table>
					</td>
				</tr>
				</table>
			</td>
		</tr>

		<tr>
			<td class="row3" colspan="2"></td>
		</tr>
	<!-- END history_row -->
		</table>
	</div></td>
</tr>
</table>
<!-- EVENT ucp_pm_history_review_after -->

<br clear="all" />
