<!-- INCLUDE ucp_header.html -->

<div id="pagecontent">

<!-- IF not PROMPT -->
	<!-- INCLUDE ucp_pm_message_header.html -->
<!-- ENDIF -->

<div style="padding: 2px;"></div>

<!-- IF S_PM_ICONS -->
	<!-- DEFINE $COLSPAN = 6 -->
<!-- ELSE -->
	<!-- DEFINE $COLSPAN = 5 -->
<!-- ENDIF -->

<form name="viewfolder" method="post" action="{S_PM_ACTION}" style="margin:0px">

<!-- IF PROMPT -->
	<table class="tablebg" width="100%" cellspacing="1" cellpadding="0" border="0">
	<tr>
		<th colspan="2" valign="middle">{L_OPTIONS}</th>
	</tr>
	<tr>
		<td class="row1" width="35%">{L_DELIMITER}{L_COLON} </td>
		<td class="row2"><input class="post" type="text" name="delimiter" value="," /></td>
	</tr>
	<tr>
		<td class="row1" width="35%">{L_ENCLOSURE}{L_COLON} </td>
		<td class="row2"><input class="post" type="text" name="enclosure" value="&#034;" /></td>
	</tr>
	<tr>
		<td class="cat" colspan="2" align="center"><input type="hidden" name="export_option" value="CSV" /><input class="btnmain" type="submit" name="submit_export" value="{L_EXPORT_FOLDER}" />&nbsp; <input class="btnlite" type="reset" value="{L_RESET}" name="reset" /></td>
	</tr>
	</table>
	{S_FORM_TOKEN}

</form>
<!-- ELSE -->

	<table class="tablebg" width="100%" cellspacing="1" cellpadding="0" border="0">
	<!-- IF NUM_NOT_MOVED or NUM_REMOVED -->
		<tr>
			<td class="row3" colspan="{$COLSPAN}" align="center"><span class="gen">
				<!-- IF NUM_REMOVED -->
				{RULE_REMOVED_MESSAGES}
					<!-- IF NUM_NOT_MOVED --><br /><!-- ENDIF -->
				<!-- ENDIF -->
				<!-- IF NUM_NOT_MOVED -->
				{NOT_MOVED_MESSAGES}<br />{RELEASE_MESSAGE_INFO}
				<!-- ENDIF -->
			</span></td>
		</tr>
	<!-- ENDIF -->
	<tr>
		<th colspan="<!-- IF S_PM_ICONS -->3<!-- ELSE -->2<!-- ENDIF -->">&nbsp;{L_SUBJECT}&nbsp;</th>
		<th nowrap="nowrap">&nbsp;<!-- IF S_SHOW_RECIPIENTS -->{L_RECIPIENTS}<!-- ELSE -->{L_AUTHOR}<!-- ENDIF -->&nbsp;</th>
		<th nowrap="nowrap">&nbsp;{L_SENT_AT}&nbsp;</th>
		<th width="20">&nbsp;{L_MARK}&nbsp;</th>
	</tr>

	<!-- BEGIN messagerow -->
		<tr>
			<td align="center" class="row1" style="<!-- IF messagerow.PM_CLASS eq "pm_marked_colour" -->border-{S_CONTENT_FLOW_BEGIN}: 3px solid #FF0000; padding-{S_CONTENT_FLOW_BEGIN}: 0<!-- ELSEIF messagerow.PM_CLASS eq "pm_replied_colour" -->border-{S_CONTENT_FLOW_BEGIN}: 3px solid #C0C0C0; padding-{S_CONTENT_FLOW_BEGIN}: 0<!-- ELSEIF messagerow.PM_CLASS eq "pm_friend_colour" -->border-{S_CONTENT_FLOW_BEGIN}: 3px solid #0000FF; padding-{S_CONTENT_FLOW_BEGIN}: 0<!-- ELSEIF messagerow.PM_CLASS eq "pm_foe_colour" -->border-{S_CONTENT_FLOW_BEGIN}: 3px solid #000000; padding-{S_CONTENT_FLOW_BEGIN}: 0<!-- ELSE -->padding-{S_CONTENT_FLOW_BEGIN}: 3px<!-- ENDIF -->; padding-{S_CONTENT_FLOW_END}: 3px" width="25">
				<!-- IF messagerow.S_PM_UNREAD and not messagerow.S_PM_DELETED --><a title="{L_UNREAD_POST}" href="{messagerow.U_VIEW_PM}"><!-- ENDIF --><img src="{T_THEME_PATH}/images/<!-- IF messagerow.S_PM_DELETED -->icon_topic_deleted<!-- ELSE -->topic_<!-- IF messagerow.S_PM_UNREAD -->un<!-- ENDIF -->read<!-- ENDIF -->.gif" width="19" height="18" alt="<!-- IF messagerow.S_PM_UNREAD and not messagerow.S_PM_DELETED -->+<!-- ENDIF -->" class="normal"><!-- IF messagerow.S_PM_UNREAD and not messagerow.S_PM_DELETED --></a><!-- ENDIF -->
			</td>
		<!-- IF S_PM_ICONS -->
			<td class="row1" width="25" align="center">{messagerow.PM_ICON_IMG}</td>
		<!-- ENDIF -->

		<!-- IF messagerow.S_PM_DELETED --><td class="row3"><!-- ELSE --><td class="row1"><!-- ENDIF -->
			<span class="topictitle">
				<!-- IF messagerow.ATTACH_ICON_IMG --><img src="{T_THEME_PATH}/images/icon_topic_attach.gif" width="14" height="18" alt="(*)" title="{L_TOTAL_ATTACHMENTS}" class="normal"><!-- ENDIF -->
				<!-- IF messagerow.S_PM_DELETED -->
					{L_MESSAGE_REMOVED_FROM_OUTBOX}<br />
					<a href="{messagerow.U_REMOVE_PM}" style="text-align: {S_CONTENT_FLOW_END};">{L_DELETE_MESSAGE}</a>
				<!-- ELSE -->
					<a href="{messagerow.U_VIEW_PM}">{messagerow.SUBJECT}</a>
				<!-- ENDIF -->
				<!-- IF messagerow.S_PM_REPORTED -->
					<a title="{L_PM_REPORTED}" href="{messagerow.U_MCP_REPORT}"><img src="{T_THEME_PATH}/images/icon_topic_reported.gif" width="19" height="18" alt="(!)" title="{L_PM_REPORTED}"></a>&nbsp;
				<!-- ENDIF -->
				<!-- IF messagerow.S_AUTHOR_DELETED -->
					<br /><em>{L_PM_FROM_REMOVED_AUTHOR}</em>
				<!-- ENDIF -->
			</span></td>

			<td class="row1" width="100" align="center"><p class="topicauthor"><!-- IF S_SHOW_RECIPIENTS -->{messagerow.RECIPIENTS}<!-- ELSE -->{messagerow.MESSAGE_AUTHOR_FULL}<!-- ENDIF --></p></td>
			<td class="row1" width="120" align="center"><p class="topicdetails">{messagerow.SENT_TIME}</p></td>
			<td align="center" class="row1" style="<!-- IF messagerow.PM_CLASS eq "pm_marked_colour" -->border-{S_CONTENT_FLOW_END}: 3px solid #FF0000; padding-{S_CONTENT_FLOW_END}: 0<!-- ELSEIF messagerow.PM_CLASS eq "pm_replied_colour" -->border-{S_CONTENT_FLOW_END}: 3px solid #C0C0C0; padding-{S_CONTENT_FLOW_END}: 0<!-- ELSEIF messagerow.PM_CLASS eq "pm_friend_colour" -->border-{S_CONTENT_FLOW_END}: 3px solid #0000FF; padding-{S_CONTENT_FLOW_END}: 0<!-- ELSEIF messagerow.PM_CLASS eq "pm_foe_colour" -->border-{S_CONTENT_FLOW_END}: 3px solid #000000; padding-{S_CONTENT_FLOW_END}: 0<!-- ELSE -->padding-{S_CONTENT_FLOW_END}: 3px<!-- ENDIF -->; padding-{S_CONTENT_FLOW_BEGIN}: 3px">
				<input type="checkbox" class="radio" name="marked_msg_id[]" value="{messagerow.MESSAGE_ID}" />
			</td>
		</tr>
	<!-- BEGINELSE -->
		<tr>
			<td class="row1" colspan="{$COLSPAN}" height="30" align="center" valign="middle"><span class="gen">
			<!-- IF S_COMPOSE_PM_VIEW and S_NO_AUTH_SEND_MESSAGE -->
				<!-- IF S_USER_NEW -->{L_USER_NEW_PERMISSION_DISALLOWED}<!-- ELSE -->{L_NO_AUTH_SEND_MESSAGE}<!-- ENDIF -->
			<!-- ELSE -->
				{L_NO_MESSAGES}
			<!-- ENDIF -->
			</span></td>
		</tr>
	<!-- END messagerow -->
</table>

<input type="hidden" name="cur_folder_id" value="{CUR_FOLDER_ID}" />

<!-- IF .messagerow -->

<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
	<td class="cat">	<table width="100%" cellspacing="0"><tr><td style="text-align: {S_CONTENT_FLOW_BEGIN}"><select name="export_option"><option value="CSV">{L_EXPORT_AS_CSV}</option><option value="CSV_EXCEL">{L_EXPORT_AS_CSV_EXCEL}</option><option value="XML">{L_EXPORT_AS_XML}</option></select><input class="btnlite" type="submit" name="submit_export" value="{L_GO}" /></td><td align="{S_CONTENT_FLOW_END}"><select name="mark_option">{S_MARK_OPTIONS}{S_MOVE_MARKED_OPTIONS}</select><input class="btnlite" type="submit" name="submit_mark" value="{L_GO}" /></td></tr></table>	</td>
</tr>
</table>

<!-- ENDIF -->

<div style="padding: 2px;"></div>
<!-- INCLUDE ucp_pm_message_footer.html -->

<!-- ENDIF -->

<br clear="all" />

</div>

<!-- INCLUDE ucp_footer.html -->
