
<!-- IF not S_VIEW_MESSAGE -->
	{S_FORM_TOKEN}
	</form>
<!-- ENDIF -->

<!-- IF S_VIEW_MESSAGE or .messagerow --><table class="tablebg" width="100%" cellspacing="1" cellpadding="0">
<tr>
	<td class="row1">
		<table border="0" cellspacing="0" cellpadding="0" width="100%">
		<tr>
			<td>
				<!-- IF S_VIEW_MESSAGE -->
					<span class="genmed">
						<!-- IF U_PRINT_PM --><a href="{U_PRINT_PM}">{L_PRINT_PM}</a><!-- IF U_FORWARD_PM --> | <!-- ENDIF --><!-- ENDIF -->
						<!-- IF U_FORWARD_PM --><a href="{U_FORWARD_PM}">{L_FORWARD_PM}</a><!-- ENDIF -->
						<!-- IF U_POST_REPLY_PM and S_PM_RECIPIENTS gt 1 --><!-- IF U_PRINT_PM or U_FORWARD_PM --> | <!-- ENDIF --><a href="{U_POST_REPLY_ALL}">{L_REPLY_TO_ALL}</a><!-- ENDIF -->
					</span>
				<!-- ELSE -->
					<form name="sortmsg" method="post" action="{S_PM_ACTION}" style="margin:0px">
						<!-- INCLUDE display_options.html -->
					{S_FORM_TOKEN}
					</form>
				<!-- ENDIF -->
			</td>
		<!-- IF S_VIEW_MESSAGE -->
			<td align="{S_CONTENT_FLOW_END}" nowrap="nowrap">
				<!-- IF not S_SPECIAL_FOLDER -->
					<form name="movepm" method="post" action="{S_PM_ACTION}" style="margin:0px">
						<input type="hidden" name="marked_msg_id[]" value="{MSG_ID}" />
						<input type="hidden" name="cur_folder_id" value="{CUR_FOLDER_ID}" />
						<input type="hidden" name="p" value="{MSG_ID}" />
						<span class="genmed">{L_MOVE_TO_FOLDER}{L_COLON} </span><select name="dest_folder">{S_TO_FOLDER_OPTIONS}</select>&nbsp;<input class="btnlite" type="submit" name="move_pm" value="{L_GO}" />
					{S_FORM_TOKEN}
					</form>
				<!-- ENDIF -->
			</td>
		<!-- ENDIF -->
		</tr>
		</table>
	</td>
</tr>
</table><!-- ENDIF -->

<!-- IF not S_VIEW_MESSAGE --><!-- IF .messagerow -->
	<div style="padding-top:2px; text-align: {S_CONTENT_FLOW_END}"><b class="gensmall"><a href="#" onclick="marklist('viewfolder', 'marked_msg_id', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('viewfolder', 'marked_msg_id', false); return false;">{L_UNMARK_ALL}</a></b></div>
<!-- ENDIF --><!-- IF FOLDER_CUR_MESSAGES neq 0 and .pagination -->
	<div class="gensmall" style="padding-top:4px; text-align: {S_CONTENT_FLOW_END}"><!-- INCLUDE pagination.html --></div>
<!-- ENDIF --><!-- ENDIF -->
