<table class="tablebg" width="100%" cellspacing="1">
	<tr> 
		<td class="row1" width="35%"><b class="genmed">{L_UPLOAD_AVATAR_FILE}{L_COLON} </b></td>
		<td class="row2"><input type="hidden" name="MAX_FILE_SIZE" value="{AVATAR_SIZE}" /><input class="post" type="file" name="avatar_upload_file" /></td>
	</tr>
<!-- IF S_UPLOAD_AVATAR_URL -->
	<tr> 
		<td class="row1" width="35%"><b class="genmed">{L_UPLOAD_AVATAR_URL}{L_COLON} </b><br /><span class="genmed">{L_UPLOAD_AVATAR_URL_EXPLAIN}</span></td>
		<td class="row2"><input class="post" type="text" name="avatar_upload_url" size="40" value="" /></td>
	</tr>
<!-- ENDIF -->
</table>
