<!-- INCLUDE ucp_header.html -->

<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<th colspan="4">{L_TITLE}</th>
</tr>

<!-- IF ERROR -->
	<tr>
		<td class="row2" colspan="4" align="center"><span class="genmed" style="color: #FF0000">{ERROR}</span></td>
	</tr>
<!-- ENDIF -->

<tr>
	<td colspan="4" class="row1"><span class="genmed">{L_PROFILE_AUTOLOGIN_KEYS}</span></td>
</tr>
<tr>
	<th>{L_LOGIN_KEY}</th>
	<th class="center">{L_IP}</th>
	<th class="center">{L_LOGIN_TIME}</th>
	<th class="center">{L_MARK}</th>
</tr>
<!-- BEGIN sessions -->
	<!-- IF sessions.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
		<td class="genmed"><label for="{sessions.KEY}">{sessions.KEY}</label></td>
		<td class="genmed" style="text-align: center">{sessions.IP}</td>
		<td class="genmed" style="text-align: center">{sessions.LOGIN_TIME}</td>
		<td class="genmed" style="text-align: center"><input type="checkbox" name="keys[]" value="{sessions.KEY}" id="{sessions.KEY}"/></td>
	</tr>
<!-- BEGINELSE -->
	<tr>
		<td colspan="4" class="row1" style="text-align: center"><span class="genmed">{L_PROFILE_NO_AUTOLOGIN_KEYS}</span></td>
	</tr>
<!-- END sessions -->

<!-- IF .sessions -->
	<tr>
		<td class="cat" colspan="4" align="{S_CONTENT_FLOW_END}">
			{S_HIDDEN_FIELDS}<input class="btnlite" type="submit" name="submit" value="{L_DELETE_MARKED}" />
			{S_FORM_TOKEN}
		</td>
	</tr>
<!-- ENDIF -->
</table>

<!-- IF .sessions -->
	<div class="gensmall" style="text-align: {S_CONTENT_FLOW_END}; padding-top: 2px;"><b><a href="#" onclick="marklist('ucp', 'keys', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('ucp', 'keys', false); return false;">{L_UNMARK_ALL}</a></b></div>
<!-- ENDIF -->

<!-- INCLUDE ucp_footer.html -->
