<!-- INCLUDE ucp_header.html -->

<!-- IF S_EDIT -->

	<!-- IF S_ERROR -->
		<div class="errorbox">
			<h3>{L_WARNING}</h3>
			<p>{ERROR_MSG}</p>
		</div>
	<!-- ENDIF -->

	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th colspan="2">{L_USERGROUPS}</th>
	</tr>
	<tr>
		<td class="row1" colspan="2"><span class="genmed">{L_GROUPS_EXPLAIN}</span></td>
	</tr>

	<tr>
		<th colspan="2">{L_GROUP_DETAILS}</th>
	</tr>
	<tr>
		<td class="row1" width="35%"><b class="normal"><label<!-- IF not S_SPECIAL_GROUP --> for="group_name"<!-- ENDIF -->>{L_GROUP_NAME}{L_COLON}</label></b></td>
		<td class="row2"><!-- IF S_SPECIAL_GROUP --><b class="normal"<!-- IF GROUP_COLOUR --> style="color: #{GROUP_COLOUR};"<!-- ENDIF -->>{GROUP_NAME}</b><!-- ENDIF --><input name="group_name" type="<!-- IF S_SPECIAL_GROUP -->hidden<!-- ELSE -->text<!-- ENDIF -->" id="group_name" value="{GROUP_INTERNAL_NAME}" /></td>
	</tr>
	<tr>
		<td class="row1" width="35%"><b class="normal"><label for="group_desc">{L_GROUP_DESC}{L_COLON}</label></b></td>
		<td class="row2"><textarea id="group_desc" name="group_desc" rows="5" cols="45">{GROUP_DESC}</textarea>
			<br /><span class="normal"><input type="checkbox" class="radio" name="desc_parse_bbcode"<!-- IF S_DESC_BBCODE_CHECKED --> checked="checked"<!-- ENDIF --> /> {L_PARSE_BBCODE} &nbsp;<input type="checkbox" class="radio" name="desc_parse_smilies"<!-- IF S_DESC_SMILIES_CHECKED --> checked="checked"<!-- ENDIF --> /> {L_PARSE_SMILIES} &nbsp;<input type="checkbox" class="radio" name="desc_parse_urls"<!-- IF S_DESC_URLS_CHECKED --> checked="checked"<!-- ENDIF --> /> {L_PARSE_URLS}
</span></td>
	</tr>
	<!-- IF not S_SPECIAL_GROUP -->
		<tr class="normal">
			<td class="row1" width="35%"><b><label for="group_type">{L_GROUP_TYPE}{L_COLON}</label></b><br />{L_GROUP_TYPE_EXPLAIN}</td>
			<td class="row2">
				<input name="group_type" type="radio" class="radio" id="group_type" value="{GROUP_TYPE_FREE}"{GROUP_FREE} /> {L_GROUP_OPEN} &nbsp;
				<input name="group_type" type="radio" class="radio" value="{GROUP_TYPE_OPEN}"{GROUP_OPEN} /> {L_GROUP_REQUEST} &nbsp;
				<input name="group_type" type="radio" class="radio" value="{GROUP_TYPE_CLOSED}"{GROUP_CLOSED} /> {L_GROUP_CLOSED} &nbsp;
				<input name="group_type" type="radio" class="radio" value="{GROUP_TYPE_HIDDEN}"{GROUP_HIDDEN} /> {L_GROUP_HIDDEN}
			</td>
		</tr>
	<!-- ELSE -->
		<tr style="display:none"><td><input name="group_type" type="hidden" value="{GROUP_TYPE_SPECIAL}" /></td></tr>
	<!-- ENDIF -->

	<tr>
		<th colspan="2">{L_GROUP_SETTINGS_SAVE}</th>
	</tr>
	<tr>
		<td class="row1" width="35%"><b class="normal"><label for="group_colour">{L_GROUP_COLOR}{L_COLON}</label></b><br /><span class="normal">{L_GROUP_COLOR_EXPLAIN}</span></td>
		<td class="row2">
			<input name="group_colour" type="text" id="group_colour" value="{GROUP_COLOUR}" size="6" maxlength="6" /></td>
	</tr>
	<tr>
		<td class="row1" width="35%"><b class="normal"><label for="group_rank">{L_GROUP_RANK}{L_COLON}</label></b></td>
		<td class="row2"><select name="group_rank" id="group_rank">{S_RANK_OPTIONS}</select></td>
	</tr>

	<tr>
	<th colspan="2">{L_GROUP_AVATAR}</th>
</tr>
<!-- IF ERROR -->
	<tr>
		<td class="row2" colspan="2" align="center"><span class="genmed" style="color: #FF0000">{ERROR}</span></td>
	</tr>
<!-- ENDIF -->
<tr>
	<td class="row1" width="35%"><b class="genmed">{L_CURRENT_IMAGE}{L_COLON} </b><br /><span class="genmed">{L_AVATAR_EXPLAIN}</span></td>	<td class="row2"><span class="genmed">{AVATAR}</span><br /><br /><input type="checkbox" class="radio" name="avatar_delete" />&nbsp;<span class="genmed">{L_DELETE_AVATAR}</span></td>
</tr>
<!-- IF not S_AVATARS_ENABLED -->
	<tr>
		<td class="row3" colspan="2" align="center"><span class="genmed">{L_AVATAR_FEATURES_DISABLED}</span></td>
	</tr>
<!-- ENDIF -->
	<tr>
		<th colspan="2">{L_AVATAR_SELECT}</th>
	</tr>
	<tr>
		<td class="row1" width="35%"><b class="genmed">{L_AVATAR_TYPE}{L_COLON}</b></td>
		<td class="row2">
			<select name="avatar_driver" id="avatar_driver" onchange="avatarfunction()">
				<!-- BEGIN avatar_drivers -->
				<option value="{avatar_drivers.DRIVER}"<!-- IF avatar_drivers.SELECTED --> selected="selected"<!-- ENDIF -->>{avatar_drivers.L_TITLE}</option>
				<!-- END avatar_drivers -->
			</select></td>
	</tr>
<!-- BEGIN avatar_drivers -->
	<tr class="avatar_option_{avatar_drivers.DRIVER}" id="{avatar_drivers.DRIVER}_1">
		<td class="row1" width="35%" colspan="2"><noscript><b class="genmed">{avatar_drivers.L_TITLE} </b><br /></noscript><span class="genmed">{avatar_drivers.L_EXPLAIN}</span></td>
	</tr>
	<tr class="avatar_option_{avatar_drivers.DRIVER}" id="{avatar_drivers.DRIVER}_2">
		<td colspan="2" style="padding: 0">{avatar_drivers.OUTPUT}</td>
	</tr>
<!-- END avatar_drivers -->

	<script>function avatarfunction() {if (document.getElementById)	{ <!-- BEGIN avatar_drivers -->document.getElementById("{avatar_drivers.DRIVER}_1").style.display="none";document.getElementById("{avatar_drivers.DRIVER}_2").style.display="none";<!-- END avatar_drivers --> var typeselected = document.getElementById("avatar_driver").value;	document.getElementById(typeselected+"_1").style.display = "";	document.getElementById(typeselected+"_2").style.display = "";}	else if (document.all)	{ <!-- BEGIN avatar_drivers -->document.all("{avatar_drivers.DRIVER}_1").style.display="none";document.all("{avatar_drivers.DRIVER}_2").style.display="none";<!-- END avatar_drivers --> var typeselected = document.all("avatar_driver").value;	document.all(typeselected+"_1").style.display = "";	document.all(typeselected+"_2").style.display = "";}}	if (document.all && !document.getElementById) {document.all("avatar_driver").selectedIndex = "0";}	avatarfunction();</script>	<tr>
		<td class="cat" colspan="2" align="center">{S_HIDDEN_FIELDS}<input class="btnlite" type="reset" id="reset" name="reset" value="{L_RESET}" onclick="window.location.reload();" />&nbsp;
		<input class="btnmain" type="submit" id="submit" name="update" value="{L_SUBMIT}" /></td>
	</tr>
	</table>

<!-- ELSEIF S_LIST -->

	<h1>{L_GROUP_MEMBERS}</h1>

	<p>{L_GROUP_MEMBERS_EXPLAIN}</p>

	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th>{L_USERNAME}</th>
		<th>{L_GROUP_DEFAULT}</th>
		<th>{L_JOINED}</th>
		<th>{L_POSTS}</th>
		<th>{L_MARK}</th>
	</tr>

	<tr class="normal">
		<td class="row3" colspan="5"><b>{L_GROUP_LEAD}</b></td>
	</tr>
	<!-- BEGIN leader -->
		<!-- IF leader.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
			<td class="bigger">{leader.USERNAME_FULL}</td>
			<td class="bigger" style="text-align: center;"><!-- IF leader.S_GROUP_DEFAULT -->{L_YES}<!-- ELSE -->{L_NO}<!-- ENDIF --></td>
			<td class="bigger" style="text-align: center;">{leader.JOINED}</td>
			<td class="bigger" style="text-align: center;">{leader.USER_POSTS}</td>
			<td class="bigger" style="text-align: center;"></td>
		</tr>
	<!-- END leader -->

	<!-- BEGIN member -->
		<!-- IF member.S_PENDING -->
			<tr class="normal">
				<td class="row3" colspan="5"><b>{L_GROUP_PENDING}</b></td>
			</tr>
		<!-- ELSEIF member.S_APPROVED -->
			<tr class="normal">
				<td class="row3" colspan="5"><b>{L_GROUP_APPROVED}</b></td>
			</tr>
		<!-- ELSE -->
			<!-- IF member.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
				<td class="bigger">{member.USERNAME_FULL}</td>
				<td class="bigger" style="text-align: center;"><!-- IF member.S_GROUP_DEFAULT -->{L_YES}<!-- ELSE -->{L_NO}<!-- ENDIF --></td>
				<td class="bigger" style="text-align: center;">{member.JOINED}</td>
				<td class="bigger" style="text-align: center;">{member.USER_POSTS}</td>
				<td class="bigger" style="text-align: center;"><input type="checkbox" class="radio" name="mark[]" value="{member.USER_ID}" /></td>
			</tr>
		<!-- ENDIF -->
	<!-- BEGINELSE -->
		<tr class="bigger">
			<td class="row1" colspan="5" style="text-align: center;">{L_GROUPS_NO_MEMBERS}</td>
		</tr>
	<!-- END member -->
	<tr>
		<td align="{S_CONTENT_FLOW_END}" class="cat" colspan="5"><select name="action"><option class="sep" value="">{L_SELECT_OPTION}</option>{S_ACTION_OPTIONS}</select> <input class="btnmain" type="submit" name="update" value="{L_SUBMIT}" />&nbsp;</td>
	</tr>
	</table>

	<div class="gensmall" style="text-align: {S_CONTENT_FLOW_END};">
		<!-- IF .pagination -->
			<!-- INCLUDE pagination.html -->
		<!-- ELSE -->
			{PAGE_NUMBER}
		<!-- ENDIF -->
	</div>

	<div style="<!-- IF .pagination -->padding-top:4px; <!-- ENDIF -->text-align: {S_CONTENT_FLOW_END}">
		<b class="gensmall"><a href="#" onclick="marklist('ucp', 'mark', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('ucp', 'mark', false); return false;">{L_UNMARK_ALL}</a></b>
	</div>

	<h1>{L_ADD_USERS}</h1>

	<p>{L_ADD_USERS_UCP_EXPLAIN}</p>

	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th colspan="2">{L_ADD_USERS}</th>
	</tr>
	<tr class="normal">
		<td class="row1"><b><label for="default">{L_USER_GROUP_DEFAULT}{L_COLON}</label></b><br />{L_USER_GROUP_DEFAULT_EXPLAIN}</td>
		<td class="row2"><input name="default" type="radio" class="radio" value="1" /> {L_YES} &nbsp;<input name="default" type="radio" class="radio" id="default" value="0" checked="checked" /> {L_NO}</td>
	</tr>
	<tr>
		<td class="row1"><b class="normal"><label for="usernames">{L_USERNAME}{L_COLON}</label></b><br /><span class="normal">{L_USERNAMES_EXPLAIN}</span></td>
		<td class="row2"><textarea id="usernames" name="usernames" cols="40" rows="5"></textarea><br /><span class="normal">[ <a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a> ]</span></td>
	</tr>
	<tr>
		<td class="cat" colspan="2" align="center"><input class="btnmain" type="submit" name="addusers" value="{L_SUBMIT}" /></td>
	</tr>
	</table>

<!-- ELSE -->

	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th colspan="3">{L_USERGROUPS}</th>
	</tr>
	<tr>
		<td class="row1" colspan="3"><span class="genmed">{L_GROUPS_EXPLAIN}</span></td>
	</tr>

	<tr>
		<th>{L_GROUP_DETAILS}</th>
		<th colspan="2">{L_OPTIONS}</th>
	</tr>
	<tr>
		<td class="row3" colspan="3"><b class="genmed">{L_GROUP_LEADER}</b></td>
	</tr>
	<!-- BEGIN leader -->
		<!-- IF leader.S_ROW_COUNT is odd --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->

		<td><b class="genmed"<!-- IF leader.GROUP_COLOUR --> style="color: #{leader.GROUP_COLOUR};"<!-- ENDIF -->>{leader.GROUP_NAME}</b><!-- IF leader.GROUP_DESC --><p class="forumdesc">{leader.GROUP_DESC}</p><!-- ENDIF --></td>
		<td style="text-align: center;"><a href="{leader.U_EDIT}" class="normal">{L_EDIT}</a></td>
		<td style="text-align: center;"><a href="{leader.U_LIST}" class="normal">{L_GROUP_LIST}</a></td>

	</tr>
	<!-- BEGINELSE -->
		<tr>
			<td class="row2" align="center" colspan="3"><b class="genmed">{L_NO_LEADERS}</b></td>
		</tr>
	<!-- END leader -->

	<tr>
		<td class="cat" align="{S_CONTENT_FLOW_END}" colspan="3">&nbsp;</td>
	</tr>
	</table>

<!-- ENDIF -->

<!-- INCLUDE ucp_footer.html -->
