<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<h2>{L_TITLE} <span class="small">[ <a href="{U_USER_PROFILE}" title="{L_VIEW_PROFILE}">{L_VIEW_PROFILE}</a> ]</span></h2>

<div class="panel">
	<table class="tablebg" width="100%" cellspacing="1">
	<thead>	
	<p>{L_PROFILE_INFO_NOTICE}</p>
	<!-- IF ERROR -->
		<tr>
			<td class="row2" colspan="2" align="center"><span class="genmed" style="color: #FF0000">{ERROR}</span></td>
		</tr>
		<tr>
			<td class="row1" colspan="2"><span class="genmed">{L_PROFILE_INFO_NOTICE}</span></td>
		</tr>	
	<!-- ENDIF -->
	<!-- EVENT ucp_profile_profile_info_before -->
	</thead>
	<tbody>		
	<fieldset>
	<!-- IF S_BIRTHDAYS_ENABLED -->
		<tr>
			<td class="row1" width="35%"><label for="bday_day">{L_BIRTHDAY}{L_COLON}</label><br /><span>{L_BIRTHDAY_EXPLAIN}</span></td>
			<td class="row2">
				<label for="bday_day">{L_DAY}{L_COLON} <select name="bday_day" id="bday_day">{S_BIRTHDAY_DAY_OPTIONS}</select></label>
				<label for="bday_month">{L_MONTH}{L_COLON} <select name="bday_month" id="bday_month">{S_BIRTHDAY_MONTH_OPTIONS}</select></label>
				<label for="bday_year">{L_YEAR}{L_COLON} <select name="bday_year" id="bday_year">{S_BIRTHDAY_YEAR_OPTIONS}</select></label>
			</td>
		</tr>
	<!-- ENDIF -->
	<!-- IF S_JABBER_ENABLED -->
		<tr>
			<td class="row1" width="35%"><label for="jabber">{L_UCP_JABBER}{L_COLON}</label></td>
			<td class="row2"><input type="email" name="jabber" id="jabber" maxlength="255" value="{JABBER}" class="inputbox" /></td>
		</tr>
	<!-- ENDIF -->
	<!-- BEGIN profile_fields -->
		<tr>
			<td class="row1" width="35%"><label<!-- IF profile_fields.FIELD_ID --> for="{profile_fields.FIELD_ID}"<!-- ENDIF -->>{profile_fields.LANG_NAME}{L_COLON}<!-- IF profile_fields.S_REQUIRED --> *<!-- ENDIF --></label>
			<!-- IF profile_fields.LANG_EXPLAIN --><br /><span>{profile_fields.LANG_EXPLAIN}</span><!-- ENDIF --></td>
			<!-- IF profile_fields.ERROR --><td class="error" style="color: #FF0000">{profile_fields.ERROR}</td><!-- ENDIF -->
			<td class="row2">{profile_fields.FIELD}</td>
		</tr>
	<!-- END profile_fields -->
	<!-- EVENT ucp_profile_profile_info_after -->
	</fieldset>
	</tbody>	
	</table>
</div>

<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<td class="row2" colspan="2" align="center">
	<fieldset class="submit-buttons">
		{S_HIDDEN_FIELDS}
		<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp;
		<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
		{S_FORM_TOKEN}
	</fieldset>
	</td>
</tr>
</table>

</form>

<!-- INCLUDE ucp_footer.html -->
