<div class="panel">
	<table class="tablebg" width="100%" cellspacing="1">
	<!-- IF not S_AVATARS_ENABLED -->
		<p>{L_AVATAR_FEATURES_DISABLED}</p>
	<!-- ENDIF -->

	<fieldset>
	<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
		<tr>
			<td class="row1"><label>{L_CURRENT_IMAGE}{L_COLON}</label><br /><span>{L_AVATAR_EXPLAIN}</span></td>
			<td class="row2"><!-- IF AVATAR -->{AVATAR}<!-- ELSE --><img src="{T_THEME_PATH}/images/no_avatar.gif" alt="" /><!-- ENDIF --></td>
			<td class="row2"><label for="avatar_delete"><input type="checkbox" name="avatar_delete" id="avatar_delete" /> {L_DELETE_AVATAR}</label></td>
		</tr>
	</fieldset>
	<h3>{L_AVATAR_SELECT}</h3>
	<fieldset>
		<tr>
			<td class="row1"><label>{L_AVATAR_TYPE}{L_COLON}</label></td>
			<td class="row2"><select name="avatar_driver" id="avatar_driver" data-togglable-settings="true">
				<!-- BEGIN avatar_drivers -->
				<option value="{avatar_drivers.DRIVER}"<!-- IF avatar_drivers.SELECTED --> selected="selected"<!-- ENDIF --> data-toggle-setting="#avatar_option_{avatar_drivers.DRIVER}">{avatar_drivers.L_TITLE}</option>
				<!-- END avatar_drivers -->
			</select></td>
		</tr>
	</fieldset>
	<div id="avatar_options">
<!-- BEGIN avatar_drivers -->
	<div id="avatar_option_{avatar_drivers.DRIVER}">
	<noscript>
	<h3 class="avatar_section_header">{avatar_drivers.L_TITLE}</h3>
	</noscript>
	<p>{avatar_drivers.L_EXPLAIN}</p>

	<fieldset>
	{avatar_drivers.OUTPUT}
	</fieldset>
	</div>
<!-- END avatar_drivers -->
	</div>
<!-- IF not S_GROUP_MANAGE -->
<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<td class="row2" colspan="2" align="center">
	<fieldset class="submit-buttons">
		{S_HIDDEN_FIELDS}
		<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp;
		<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
		{S_FORM_TOKEN}
	</fieldset>
	</td>
</tr>
</table>	
<!-- ENDIF -->
	</table>
</div>
