<!-- INCLUDE ucp_header.html -->

<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<th colspan="2" valign="middle">{L_TITLE}</th>
</tr>
<!-- IF ERROR -->
	<tr>
		<td class="row2" colspan="2" align="center"><span class="genmed" style="color: #FF0000">{ERROR}</span></td>
	</tr>
<!-- ENDIF -->
<!-- EVENT ucp_prefs_personal_prepend -->
<tr>
	<td class="row1" width="50%"><b class="genmed">{L_SHOW_EMAIL}{L_COLON}</b></td>
	<td class="row2"><input type="radio" class="radio" name="viewemail" value="1"<!-- IF S_VIEW_EMAIL --> checked="checked"<!-- ENDIF --> /><span class="genmed">{L_YES}</span>&nbsp; <input type="radio" class="radio" name="viewemail" value="0"<!-- IF not S_VIEW_EMAIL --> checked="checked"<!-- ENDIF --> /><span class="genmed">{L_NO}</span></td>
</tr>
<tr>
	<td class="row1" width="50%"><b class="genmed">{L_ADMIN_EMAIL}{L_COLON}</b></td>
	<td class="row2"><input type="radio" class="radio" name="massemail" value="1"<!-- IF S_MASS_EMAIL --> checked="checked"<!-- ENDIF --> /><span class="genmed">{L_YES}</span>&nbsp; <input type="radio" class="radio" name="massemail" value="0"<!-- IF not S_MASS_EMAIL --> checked="checked"<!-- ENDIF --> /><span class="genmed">{L_NO}</span></td>
</tr>
<tr>
	<td class="row1" width="50%"><b class="genmed">{L_ALLOW_PM}{L_COLON}</b><br /><span class="genmed">{L_ALLOW_PM_EXPLAIN}</span></td>
	<td class="row2"><input type="radio" class="radio" name="allowpm" value="1"<!-- IF S_ALLOW_PM --> checked="checked"<!-- ENDIF --> /><span class="genmed">{L_YES}</span>&nbsp; <input type="radio" class="radio" name="allowpm" value="0"<!-- IF not S_ALLOW_PM --> checked="checked"<!-- ENDIF --> /><span class="genmed">{L_NO}</span></td>
</tr>
<!-- IF S_CAN_HIDE_ONLINE -->
	<tr>
		<td class="row1" width="50%"><b class="genmed">{L_HIDE_ONLINE}{L_COLON}</b><br /><span class="genmed">{L_HIDE_ONLINE_EXPLAIN}</span></td>
		<td class="row2"><input type="radio" class="radio" name="hideonline" value="1"<!-- IF S_HIDE_ONLINE --> checked="checked"<!-- ENDIF --> /><span class="genmed">{L_YES}</span>&nbsp; <input type="radio" class="radio" name="hideonline" value="0"<!-- IF not S_HIDE_ONLINE --> checked="checked"<!-- ENDIF --> /><span class="genmed">{L_NO}</span></td>
	</tr>
<!-- ENDIF -->
<!-- IF S_SELECT_NOTIFY -->
	<tr>
		<td class="row1" width="50%"><b class="genmed">{L_NOTIFY_METHOD}{L_COLON}</b><br /><span class="genmed">{L_NOTIFY_METHOD_EXPLAIN}</span></td>
		<td class="row2"><input type="radio" class="radio" name="notifymethod" value="0"<!-- IF S_NOTIFY_EMAIL --> checked="checked"<!-- ENDIF --> /><span class="genmed">{L_NOTIFY_METHOD_EMAIL}</span>&nbsp; <input type="radio" class="radio" name="notifymethod" value="1"<!-- IF S_NOTIFY_IM --> checked="checked"<!-- ENDIF --> /><span class="genmed">{L_NOTIFY_METHOD_IM}</span>&nbsp; <input type="radio" class="radio" name="notifymethod" value="2"<!-- IF S_NOTIFY_BOTH --> checked="checked"<!-- ENDIF --> /><span class="genmed">{L_NOTIFY_METHOD_BOTH}</span></td>
	</tr>
<!-- ENDIF -->
<!-- IF S_MORE_LANGUAGES -->
<tr>
	<td class="row1" width="50%"><b class="genmed">{L_BOARD_LANGUAGE}{L_COLON}</b></td>
	<td class="row2"><select name="lang">{S_LANG_OPTIONS}</select></td>
</tr>
<!-- ENDIF -->
<!-- IF S_STYLE_OPTIONS and S_MORE_STYLES -->
<tr>
	<td class="row1" width="50%"><b class="genmed">{L_BOARD_STYLE}{L_COLON}</b></td>
	<td class="row2"><select name="user_style">{S_STYLE_OPTIONS}</select></td>
</tr>
<!-- ENDIF -->
<!-- INCLUDE timezone_option.html -->
<tr>
	<td class="row1" width="50%"><b class="genmed">{L_BOARD_DATE_FORMAT}{L_COLON}</b><br /><span class="genmed">{L_BOARD_DATE_FORMAT_EXPLAIN}</span></td>
	<td class="row2">
		<select name="dateoptions" id="dateoptions" onchange="if (document.getElementById) { if (this.value=='custom'){document.getElementById('custom_date').style.display='';	document.getElementById('dateformat').value = '<!-- IF S_CUSTOM_DATEFORMAT -->{DATE_FORMAT}<!-- ELSE -->{A_DEFAULT_DATEFORMAT}<!-- ENDIF -->';}else{document.getElementById('custom_date').style.display='none';	document.getElementById('dateformat').value = this.value;}} else if (document.all) { if (this.value=='custom'){document.all('custom_date').style.display='';	document.all('dateformat').value = '<!-- IF S_CUSTOM_DATEFORMAT -->{DATE_FORMAT}<!-- ELSE -->{A_DEFAULT_DATEFORMAT}<!-- ENDIF -->';}else{document.all('custom_date').style.display='none';	document.all('dateformat').value = this.value;}}" style="display:none">
			{S_DATEFORMAT_OPTIONS}
		</select>
		<div id="custom_date"><input type="text" name="dateformat" id="dateformat" value="{DATE_FORMAT}" maxlength="64" class="post" style="margin-top: 3px;" /></div>
  <script>if (document.getElementById) {document.getElementById('dateoptions').style.display=""} else if (document.all) {document.all('dateoptions').style.display=""}<!-- IF not S_CUSTOM_DATEFORMAT --> if (document.getElementById) {document.getElementById('custom_date').style.display="none"} else if (document.all) {document.all('custom_date').style.display="none"}<!-- ENDIF --></script>	</td>
</tr>
<!-- EVENT ucp_prefs_personal_append -->
<tr>
	<td class="cat" colspan="2" align="center">{S_HIDDEN_FIELDS}<input class="btnlite" type="reset" value="{L_RESET}" name="reset" />&nbsp; <input class="btnmain" type="submit" name="submit" value="{L_SUBMIT}" /></td>
</tr>
</table> 

<!-- INCLUDE ucp_footer.html -->