/* -------------------------------------------------------------- /*
	$Buttons
/* -------------------------------------------------------------- */

.button {
	font-family: "Open Sans", "Droid Sans", Verdana, Arial, Helvetica;
	font-size: 13px;
	font-weight: 600;
	line-height: 1.4;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	border: 1px solid transparent;
	border-radius: 4px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	height: 24px;
	padding: 2px 8px;
	cursor: pointer;
	touch-action: manipulation;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button:focus,
.button:hover {
	text-decoration: none;
	outline: none;
}

.button[disabled],
.button[disabled]:hover,
.button.disabled,
.button.disabled:hover {
	background: #eeeeee;
	border-color: #aaaaaa;
	color: #aaaaaa;
	cursor: default;
}

.button.hidden {
	display: none;
}

.caret {
	border-left: 1px solid;
	position: relative;
	right: -6px;
}

.caret i {
	vertical-align: top;
}

/** Button groups */
.button-group {
	display: inline-block;
}

.button-group + .button-group {
	margin-left: 8px;
}

.button-group > .button:first-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.button-group > .button:last-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.button-group > .button:not(:first-child):not(:last-child) {
	border-radius: 0;
}

/* Posting page styles
---------------------------------------- */
.button-form,
.button-form-bold {
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	border-radius: 0;
}

.button-form-bold {
	font-weight: 700;
}

.button-search,
.button-search-end {
	border-radius: 0;
	float: left;
	margin: 0;
	padding: 2px 5px;
}

.button-search-end {
	border-left-width: 0;
	border-radius: 0 4px 4px 0;
}

.search-header .button-search,
.search-header .button-search-end {
	border-top-width: 0;
	border-bottom-width: 0;
	padding: 3px 5px;
}

.search-header .button-search-end {
	border-right-width: 0;
}

.button-icon-only {
	padding-right: 3px;
	padding-left: 3px;
}

/* Poster contact icons
---------------------------------------- */
.contact-icons.dropdown-contents {
	font-size: 0;
	min-width: 0;
	padding: 0;
}

.contact-icons a {
	border-right: 1px dotted;
	border-bottom: 1px dotted;
	display: block;
	float: left;
	padding: 8px;
}

.contact-icons .last-cell {
	border-right: none;
}

.contact-icons div:last-child a {
	border-bottom: none;
}

.contact-icons div {
	clear: left;
}

/* Post control buttons
--------------------------------------------- */
.post-buttons {
	float: right;
	margin-top: 2px;
	list-style: none;
}

.has-profile .post-buttons {
	position: absolute;
	top: 5px;
	right: 0;
	margin: 0;
}

.post-buttons > li {
	float: left;
	margin-right: 3px;
}

.post-buttons .button,
.format-buttons .button {
	padding-right: 3px;
	padding-left: 3px;
}

.hastouch .post-buttons {
	margin-right: 10px;
}

.post-buttons-label,
.post-buttons-responsive-menu {
	display: none;
}

/* Responsive buttons in post body */
.post-buttons .dropdown {
	top: 18px;
}

.post-buttons .dropdown a {
	font-size: 13px;
	text-align: right;
	display: block;
	justify-content: start;
}

.hasjs .postbody .post-buttons {
	max-width: 40%;
}

/* Format buttons
--------------------------------------------- */
.format-buttons .button {
	margin-bottom: 3px;
}

/* Browser-specific tweaks */
button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/* UCP: Avatar cropper */
.avatar-cropper-buttons {
	text-align: center;
	display: none;
}

.avatar-cropper-buttons > .button-group {
	margin: 4px;
}

/* Notification buttons
--------------------------------------------- */
.notification-subscribe-toggle:disabled {
	opacity: 0.7;
}
