/* -------------------------------------------------------------- /*
    $Mentions
/* -------------------------------------------------------------- */

/* stylelint-disable selector-max-compound-selectors */
/* stylelint-disable selector-no-qualifying-type */

/* Mention block
---------------------------------------- */
.mention {
	font-weight: bold;
}

/* Mention dropdown
---------------------------------------- */
.mention-container {
	text-align: left;
	border-radius: 2px;
	position: absolute;
	z-index: 999;
	overflow: auto; /* placed here for list to scroll with arrow key press */
	max-height: 200px;
	transition: all 0.2s ease;
}

.mention-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.mention-media {
	display: inline-flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	margin-right: 8px;
	margin-left: 0;
}

.mention-media-avatar {
	width: 40px;
	height: 40px;
}

.mention-item {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.04em;
	border-bottom: 1px solid transparent;
	position: relative;
	display: flex;
	overflow: hidden;
	justify-content: flex-start;
	align-items: center;
	padding: 8px;
	cursor: pointer;
}

.mention-item:hover {
	text-decoration: none;
}

.mention-name,
.mention-rank {
	display: block;
}

.mention-name {
	line-height: 1.25;
	margin-right: 20px; /* needed to account for scrollbar bug on Firefox for Windows */
}

.mention-rank {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.2871;
	letter-spacing: 0.04em;
}

/* stylelint-enable selector-max-compound-selectors */
/* stylelint-enable selector-no-qualifying-type */
