/* the news box when JavaScript is available */
#news.hasJS
{
	width:100%;
	height:120px;
	overflow:hidden;
	position:relative;
}
/* The nested UL when JavaScript is available */
#news.hasJS ul
{
	width:100%;
	position:absolute;
	top:120px;
	left:0;
	margin:0 .5em 0 .5em;
	padding:0;
}
