<!-- INCLUDE overall_header.html -->

<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
	<tr>
		<td align="left"><span class="nav"><a class="nav" href="{U_INDEX}">{L_INDEX}</a></span></td>
	</tr>
</table>

<table class="forumline" width="100%" cellspacing="1" cellpadding="3" border="0">
	<tr>
		<th class="thHead" height="25" valign="middle"><span class="tableTitle">{SITENAME} - {REGISTRATION}</span></th>
	</tr>
	<tr>
		<td class="row1" align="center"><table width="80%" cellspacing="2" cellpadding="2" border="0" align="center">
			<tr>
				<td><span class="genmed"><br />{AGREEMENT}<br /><br />{REGISTRATION_CONDITIONS}<br />
					<div align="center">
						<form action="{U_UCP_AGREE}" method="POST">
							<!-- IF S_COPPA_ENABLED -->
							<input type="submit" name="coppa_over_13" value="{AGREE_OVER_13}"><br /><br />
							<input type="submit" name="coppa_under_13" value="{AGREE_UNDER_13}"><br /><br />
							<!-- ELSE -->
							<input type="submit" name="agree" value="{AGREE}"><br /><br />
							<!-- ENDIF -->
							<input type="submit" name="do_not_agree" value="{DO_NOT_AGREE}"><input type="hidden" name="mode" value="register">
						</form>
					</div><br /></span></td>
			</tr>
		</table></td>
	</tr>
</table>
<!-- INCLUDE overall_footer.html -->
