<!-- $Id$ -->
<!-- INCLUDE overall_header.html -->

<form action="{S_LOGIN_ACTION}" method="post"><table width="50%" cellspacing="2" cellpadding="2" border="0" align="center">
	<tr> 
		<td align="left"><a class="nav" href="{U_INDEX}">{L_INDEX}</a></td>
	</tr>
</table>

<table class="tablebg" width="50%" cellspacing="1" cellpadding="2" border="0" align="center">
	<tr> 
		<th height="28">{L_LOGIN}</th>
	</tr>
	<tr>
		<td class="row3" align="center"><span class="gensmall">{L_LOGIN_FORUM}</td>
	</tr>
	<tr> 
		<td class="row1" align="center"><table cellspacing="1" cellpadding="2" border="0">
			<!-- IF LOGIN_ERROR neq '' -->
			<tr>
				<td class="gensmall" colspan="2" align="center"><span style="color:red">{LOGIN_ERROR}</span></td>
			</tr>
			<!-- ENDIF -->
			<tr> 
				<td><b class="gensmall">{L_PASSWORD}:</b></td>
				<td><input class="post" type="password" name="password" size="25" maxlength="25" tabindex="2" /></td>
			</tr>
		</table></td>
	</tr>
	<tr> 
		<td class="cat" colspan="2" align="center">{S_HIDDEN_FIELDS}<input type="submit" name="login" class="btnmain" value="{L_LOGIN}" tabindex="3" /></td>
	</tr>
</table></form>

<!-- INCLUDE overall_footer.html -->