<!-- INCLUDE overall_header.html -->

<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
	<!-- IF FORUM_NAME -->
	<tr>
		<td class="titles" colspan="2" align="left" valign="bottom"><a href="{U_VIEW_FORUM}">{FORUM_NAME}</a></td>
	</tr>
	<!-- ENDIF -->
	<!-- IF TOPIC_TITLE -->
	<tr>
		<td align="left" valign="bottom"><a class="maintitle" href="{U_VIEW_TOPIC}">{TOPIC_TITLE}</a></td>
	</tr>
	<!-- ENDIF -->
	<!-- IF PAGINATION -->
	<tr>
		<td valign="bottom" class="gensmall">{MODERATORS}</td>
		<td align="right" valign="bottom" nowrap="nowrap"><b class="gensmall">{PAGINATION}</b></td>
	</tr>
	<!-- ENDIF -->
	<tr>
		<td class="nav" colspan="2" align="left" valign="middle"><!-- IF S_FORUM_NAV --><a href="{U_INDEX}">{L_INDEX}</a><!-- BEGIN navlinks --> -> <a href="{navlinks.U_VIEW_FORUM}">{navlinks.FORUM_NAME}</a><!-- END navlinks --><!-- ENDIF --></td>
	</tr>
</table>

<table class="tablebg" cellspacing="1" cellpadding="4" border="0" align="left">
	<tr>
		<!-- BEGIN tab --><!-- IF tab.S_IS_SELECTED --><td class="row1" nowrap="nowrap">&nbsp;<span class="gen"><b>{tab.NAME}</b><!-- ELSE --><td class="row2" nowrap="nowrap">&nbsp;<a class="nav" href="{tab.U_LINK}">{tab.NAME}</a><!-- ENDIF -->&nbsp;</td>
		<!-- END tab -->
	</tr>
</table>

<br clear="all" />