<!-- $ Id: $ -->
<!-- INCLUDE overall_header.html -->

<form action="{S_MCP_ACTION}" name="main" method="post">{S_HIDDEN_FIELDS}
<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
	<tr> 
		<td align="left" class="nav"><a href="{U_INDEX}" class="nav">{L_INDEX}</a></td>
	</tr>
</table>
<table width="100%" cellpadding="4" cellspacing="1" border="0" class="tablebg">
	<tr> 
		<th height="25"><b>{L_MODE_TITLE}</b></th>
	</tr>
	<tr>
		<td class="row1"><table width="100%" border="0" cellspacing="0" cellpadding="1">
			<tr> 
				<td>&nbsp;</td>
			</tr>
			<tr> 
				<td align="center"><span class="gen"><!-- IF L_MODE_EXPLAIN -->{L_MODE_EXPLAIN}<br /><br /><!-- ENDIF -->{L_SELECT_DESTINATION_FORUM}&nbsp;&nbsp;</span><select name="to_forum_id">{S_FORUM_SELECT}</select><br /><br />
					<input class="mainoption" type="submit" name="confirm" value="{L_CONFIRM}" />
					&nbsp;&nbsp; 
					<input class="liteoption" type="submit" name="cancel" value="{L_CANCEL}" />
				</td>
			</tr>
			<tr> 
				<td>&nbsp;</td>
			</tr>
		</table></td>
	</tr>
</table>
</form>

<!-- INCLUDE overall_footer.html -->