<!-- INCLUDE mcp_header.html -->

<form method="post" name="main" action="{S_FORM_ACTION}">
<table width="100%" cellpadding="3" cellspacing="1" border="0" class="tablebg">
	<tr>
		<th colspan="2" align="center">{L_POST_DETAILS}</th>
	</th>
	<tr>
		<td class="row1"><b class="gen">{L_POSTER}</b></td>
		<td class="row2"><span class="gen">{POSTER_NAME}</span></td>
	</tr>
	<!-- IF S_CAN_VIEWIP -->
	<tr>
		<td class="row1"><b class="gen">{L_THIS_POST_IP}</b></td>
		<td class="row2"><span class="gen">{POST_IP}</span></td>
	</tr>
	<!-- ENDIF -->
	<tr>
		<td class="row1"><b class="gen">{L_POSTED}</b></td>
		<td class="row2"><span class="postdetails">{POST_DATE}</span></td>
	</tr>
	<tr>
		<td class="row1"><b class="gen">{L_POST_SUBJECT}</b></td>
		<td class="row2"><span class="gen">{POST_SUBJECT}</span></td>
	</tr>
	<tr>
		<td class="row1"><b class="gen">{L_MESSAGE_BODY}</b></td>
		<td class="row2"><span class="gen">{MESSAGE}</span></td>
	</tr>
</table>

<!-- IF S_CAN_VIEWIP -->
<br /><a name="ip"></a>

<table width="100%" cellpadding="3" cellspacing="1" border="0" class="tablebg">
	<tr>
		<th colspan="2" align="center">{L_IP_INFO}</th>
	</th>
	<tr>
		<td colspan="2" height="28" class="cat"><span class="gen">{L_OTHER_USERS}</span></td>
	</tr>
	<!-- BEGIN userrow -->
	<!-- IF userrow.S_ROW_COUNT is even -->
	<tr class="row1">
	<!-- ELSE -->
	<tr class="row2">
	<!-- ENDIF -->
		<td><span class="gen"><a href="{userrow.U_PROFILE}">{userrow.USERNAME}</a> [ {userrow.POSTS} ]</span></td>
		<td align="center"><a href="{userrow.U_SEARCHPOSTS}">{SEARCH_IMG}</a></td>
	</tr>
	<!-- END userrow -->
	<tr>
		<td height="28" class="cat"><span class="gen">{L_OTHER_IPS}</span></td>
		<td class="cat" width="10%" nowrap="nowrap"><span class="gen">[ <a href="{U_LOOKUP_ALL}">{L_LOOKUP_ALL}</a> ]</span></td>
	</tr>
	<!-- BEGIN iprow -->
	<!-- IF iprow.S_ROW_COUNT is even -->
	<tr class="row1">
	<!-- ELSE -->
	<tr class="row2">
	<!-- ENDIF -->
		<td><span class="gen">{iprow.IP} [ {iprow.POSTS} ]</span></td>
		<td align="center"><span class="gen">[ <a href="{iprow.U_LOOKUP_IP}">{L_LOOKUP_IP}</a> ]</span></td>
	</tr>
	<!-- END iprow -->
</table>
<!-- ENDIF -->

</form>
<!-- INCLUDE overall_footer.html -->