<!-- INCLUDE mcp_header.html -->

<table width="100%" cellpadding="4" cellspacing="1" border="0" class="forumline">
<form method="post" action="{S_FORM_ACTION}">
<!-- IF S_ENABLE_SPLIT -->
	<tr> 
		<th height="25" class="thHead" colspan="3" nowrap="nowrap">{L_SPLIT_TOPIC}</th>
	</tr>
	<tr> 
		<td class="row2" colspan="3" align="center"><span class="gensmall">{L_SPLIT_TOPIC_EXPLAIN}</span></td>
	</tr>
	<tr> 
		<td class="row1" nowrap="nowrap"><span class="gen">{L_SPLIT_SUBJECT}</span></td>
		<td class="row2" colspan="2"><span class="courier"> 
		<input type="text" size="35" style="width: 350px" maxlength="100" name="subject" class="post" />
		</span></td>
	</tr>
	<tr> 
		<td class="row1" nowrap="nowrap"><span class="gen">{L_SPLIT_FORUM}</span></td>
		<td class="row2" colspan="2"><span class="courier">{S_FORUM_SELECT}</span></td>
	</tr>
<!-- ENDIF -->
<!-- IF S_ENABLE_MERGE -->
	<tr> 
		<th height="25" class="thHead" colspan="3" nowrap="nowrap">{L_MERGE_TOPIC_ID}</th>
	</tr>
	<tr> 
		<td class="row2" colspan="3" align="center"><span class="gensmall">{L_MERGE_TOPIC_EXPLAIN}</span></td>
	</tr>
	<tr> 
		<td class="row1" nowrap="nowrap"><span class="gen">{L_MERGE_TOPIC}</span></td>
		<td class="row2" colspan="2"><span class="courier"><input type="text" size="6" name="to_topic_id" value="{TO_TOPIC_ID}"> <input type="submit" name="select_topic" value="{L_SELECT_TOPIC}"><!-- IF TO_TOPIC_EXPLAIN -->
			<span class="gensmall"><br />{TO_TOPIC_EXPLAIN}</span><!-- ENDIF -->
		</span></td>
	</tr>
<!-- ENDIF -->
	<tr> 
		<td class="catHead" colspan="3" height="28"> 
		<table width="60%" cellspacing="0" cellpadding="0" border="0" align="center">
			<tr>
			<!-- IF S_ENABLE_MERGE -->
			<td align="center"> 
				&nbsp;<input class="liteoption" type="submit" name="merge_posts" value="{L_MERGE_POSTS}" />&nbsp;
			</td>
			<!-- ENDIF -->
			<!-- IF S_ENABLE_DELETE -->
			<td align="center"> 
				&nbsp;<input class="liteoption" type="submit" name="delete_posts" value="{L_DELETE_POSTS}" />&nbsp;
			</td>
			<!-- ENDIF -->
			<!-- IF S_ENABLE_SPLIT -->
			<td align="center"> 
				&nbsp;<input class="liteoption" type="submit" name="split_all" value="{L_SPLIT_POSTS}" />&nbsp;
			</td>
			<td align="center"> 
				&nbsp;<input class="liteoption" type="submit" name="split_beyond" value="{L_SPLIT_AFTER}" />&nbsp;
			</td>
			<!-- ENDIF -->
			</tr>
		</table>
		</td>
	</tr>
	<tr> 
		<th class="thLeft" nowrap="nowrap">{L_AUTHOR}</th>
		<th nowrap="nowrap">{L_MESSAGE}</th>
		<th class="thRight" nowrap="nowrap">{L_SELECT}</th>
	</tr>
	<!-- BEGIN postrow -->
	<tr> 
		<td align="left" valign="top" class="{postrow.ROW_CLASS}"><span class="name"><a name="{postrow.U_POST_ID}"></a>{postrow.POSTER_NAME}</span></td>
		<td width="100%" valign="top" class="{postrow.ROW_CLASS}"> 
		<table width="100%" cellspacing="0" cellpadding="3" border="0">
			<tr> 
			<td valign="middle"><img src="imagesets/subSilver/icon_minipost.gif" alt="{L_POST}"><span class="postdetails">{L_POSTED}: 
				{postrow.POST_DATE}&nbsp;&nbsp;&nbsp;&nbsp;{L_POST_SUBJECT}: {postrow.POST_SUBJECT}</span></td>
			</tr>
			<tr> 
			<td valign="top"> 
				<hr size="1" />
				<span class="postbody">{postrow.MESSAGE}</span></td> 
			</tr>
		</table>
		</td>
		<td width="5%" align="center" class="{postrow.ROW_CLASS}">{postrow.S_CHECKBOX}</td>
	</tr>
	<tr> 
		<td colspan="3" height="1" class="row3"><img src="templates/subSilver/images/spacer.gif" width="1" height="1" alt="."></td>
	</tr>
	<!-- END postrow -->
	<tr> 
		<td class="catBottom" colspan="3" height="28"> 
		<table width="60%" cellspacing="0" cellpadding="0" border="0" align="center">
			<tr> 
			<!-- IF S_ENABLE_MERGE -->
			<td align="center"> 
				&nbsp;<input class="liteoption" type="submit" name="merge_posts" value="{L_MERGE_POSTS}" />&nbsp;
			</td>
			<!-- ENDIF -->
			<!-- IF S_ENABLE_DELETE -->
			<td align="center"> 
				&nbsp;<input class="liteoption" type="submit" name="delete_posts" value="{L_DELETE_POSTS}" />&nbsp;
			</td>
			<!-- ENDIF -->
			<!-- IF S_ENABLE_SPLIT -->
			<td align="center"> 
				&nbsp;<input class="liteoption" type="submit" name="split_type_all" value="{L_SPLIT_POSTS}" />&nbsp;
			</td>
			<td align="center"> 
				&nbsp;<input class="liteoption" type="submit" name="split_type_beyond" value="{L_SPLIT_AFTER}" />&nbsp;
			</td>
			<!-- ENDIF -->
			</tr>
		</table>
		</td>
	</tr>
</form>

</table>
<table width="100%" cellspacing="2" border="0" align="center" cellpadding="2">
	<tr> 
		<td align="right" valign="top"><span class="gensmall">{S_TIMEZONE}</span></td>
	</tr>
</table>

<!-- INCLUDE overall_footer.html -->