<!-- INCLUDE mcp_header.html -->

<table width="100%" cellpadding="3" cellspacing="1" border="0" class="forumline">
<form method="post" action="{S_FORM_ACTION}">
	<tr>
		<td colspan="2" height="1" class="row3"><img src="templates/subSilver/images/spacer.gif" width="1" height="1" alt="."></td>
	</tr>
	<tr> 
		<td align="left" valign="top" class="row1"><span class="name"><a name="{U_POST_ID}"></a>{POSTER_NAME}</span></td>
		<td width="100%" valign="top" class="row1"> 
		<table width="100%" cellspacing="0" cellpadding="3" border="0">
			<tr> 
			<td valign="middle"><img src="imagesets/subSilver/icon_minipost.gif" alt="{L_POST}"><span class="postdetails">{L_POSTED}: 
				{POST_DATE}&nbsp;&nbsp;&nbsp;&nbsp;{L_POST_SUBJECT}: {POST_SUBJECT}</span></td>
			</tr>
			<tr> 
			<td valign="top"> 
				<hr size="1" />
				<span class="postbody">{MESSAGE}</span></td> 
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td colspan="2" height="1" class="row2">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="2" height="1" class="row3"><img src="templates/subSilver/images/spacer.gif" width="1" height="1" alt="."></td>
	</tr>
</form>

</table>
<table width="100%" cellspacing="2" border="0" align="center" cellpadding="2">
	<tr> 
		<td align="right" valign="top"><span class="gensmall">{S_TIMEZONE}</span></td>
	</tr>
</table>

<!-- INCLUDE overall_footer.html -->