<!-- $Id$ -->
<!-- INCLUDE overall_header.html -->

<!-- You should retain this javascript in your own template! -->
<!-- IF S_SEARCH_USER -->
<script language="javascript" type="text/javascript">
<!--
function insert_user(user)
{
	opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.value = ( opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.value.length && opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.type == "textarea" ) ? opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.value + "\n" + user : user;
}

function insert_marked(users)
{
	for(i = 0; i < users.length; i++)
	{
		if ( users[i].checked )
		{
			insert_user(users[i].value);
		}
	}
}

function marklist(status)
{
	for (i = 0; i < document.results.length; i++)
	{
		document.results.elements[i].checked = status;
	}
}
//-->
</script>

<form method="post" action="{S_MODE_ACTION}" name="search"><table class="tablebg" width="100%" cellspacing="1" cellpadding="2" border="0">
	<tr>
		<th colspan="2" height="25">{L_SEARCH_USERNAME}</th>
	</tr>
	<tr>
		<td class="row3" colspan="2"><span class="gensmall">{L_SEARCH_EXPLAIN}</span></td>
	</tr>
	<tr>
		<td class="row1"><span class="gen">{L_USERNAME}:</span></span></td>
		<td class="row2"><input class="post" type="text" name="username" value="{USERNAME}" /></td>
	</tr>
	<tr>
		<td class="row1"><span class="gen">{L_EMAIL}:</span></td>
		<td class="row2"><input class="post" type="text" name="email" value="{EMAIL}" /></td>
	</tr>
	<tr>
		<td class="row1"><span class="gen">{L_ICQ}:</span></td>
		<td class="row2"><input class="post" type="text" name="icq" value="{ICQ}" /></td>
	</tr>
	<tr>
		<td class="row1"><span class="gen">{L_AIM}:</span></td>
		<td class="row2"><input class="post" type="text" name="aim" value="{AIM}" /></td>
	</tr>
	<tr>
		<td class="row1"><span class="gen">{L_YIM}:</span></td>
		<td class="row2"><input class="post" type="text" name="yahoo" value="{YAHOO}" /></td>
	</tr>
	<tr>
		<td class="row1"><span class="gen">{L_MSNM}:</span></td>
		<td class="row2"><input class="post" type="text" name="msn" value="{MSNM}" /></td>
	</tr>
	<tr>
		<td class="row1"><span class="gen">{L_JOINED}:</span></td>
		<td class="row2"><select name="joined_select">{S_JOINED_TIME_OPTIONS}</select> <input class="post" type="text" name="joined" value="{JOINED}" /></td>
	</tr>
	<tr>
		<td class="row1"><span class="gen">{L_ACTIVE}:</span></td>
		<td class="row2"><select name="active_select">{S_ACTIVE_TIME_OPTIONS}</select> <input class="post" type="text" name="active" value="{ACTIVE}" /></td>
	</tr>
	<tr>
		<td class="row1"><span class="gen">{L_POSTS}:</span></td>
		<td class="row2"><select name="count_select">{S_COUNT_OPTIONS}</select> <input class="post" type="text" name="count" value="{COUNT}" /></td>
	</tr>
	<tr>
		<td class="row1"><span class="gen">{L_POST_IP}:</span></td>
		<td class="row2"><input class="post" type="text" name="msn" value="{MSNM}" /></td>
	</tr>
	<tr>
		<td class="row1"><span class="gen">{L_SORT_BY}:&nbsp;</td>
		<td class="row2" valign="middle" nowrap="nowrap">{S_SORT_OPTIONS} {S_ORDER_SELECT}&nbsp;</td>
	</tr>
	<tr>
		<td class="cat" colspan="2" align="center"><input class="liteoption" type="submit" name="submit" value="{L_SEARCH}" />&nbsp;&nbsp;<input class="liteoption" type="reset" value="{L_RESET}" /></td>
	</tr>
</table></form>
<!-- ENDIF -->

<!-- IF S_SEARCH_USER --><form method="post" name="results" action="{S_MODE_ACTION}" onsubmit="insert_marked(this.user);return false"><!-- ELSE --><form method="post" action="{S_MODE_ACTION}"><!-- ENDIF --><table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
	<tr>
		<td class="nav" align="left"><a href="{U_INDEX}">{L_INDEX}</a></td>
	</tr>
</table>

<table class="tablebg" width="100%" cellspacing="1" cellpadding="2" border="0">
	<tr>
		<th height="25" nowrap="nowrap">#</th>
		<th nowrap="nowrap">&nbsp;</th>
		<th nowrap="nowrap">{L_USERNAME}</th>
		<th nowrap="nowrap">{L_EMAIL}</th>
		<th nowrap="nowrap">{L_FROM}</th>
		<th nowrap="nowrap">{L_JOINED}</th>
		<th nowrap="nowrap">{L_POSTS}</th>
		<th nowrap="nowrap">{L_WEBSITE}</th>
		<!-- IF S_SEARCH_USER --><th width="2%" nowrap="nowrap">{L_MARK}</th><!-- ENDIF -->
	</tr>
	<!-- BEGIN memberrow -->
	<!-- IF memberrow.S_ROW_COUNT is even -->
	<tr class="row2">
	<!-- ELSE -->
	<tr class="row1">
	<!-- ENDIF -->
		<td class="gen" align="center">&nbsp;{memberrow.ROW_NUMBER}&nbsp;</td>
		<td class="gen" align="center">&nbsp;{memberrow.PM_IMG}&nbsp;</td>
		<td class="gen" align="center"><a href="{memberrow.U_VIEWPROFILE}">{memberrow.USERNAME}</a></td>
		<td class="gen" align="center" valign="middle">&nbsp;{memberrow.EMAIL_IMG}&nbsp;</td>
		<td class="gen" align="center" valign="middle">{memberrow.FROM}</td>
		<td class="gensmall" align="center" valign="middle" nowrap="nowrap">&nbsp;{memberrow.JOINED}&nbsp;</td>
		<td class="gen" align="center" valign="middle">{memberrow.POSTS}</td>
		<td class="gen" align="center">&nbsp;{memberrow.WWW_IMG}&nbsp;</td>
		<!-- IF S_SEARCH_USER --><td align="center" valign="middle"><input type="checkbox" name="user" value="{memberrow.USERNAME}" /></td><!-- ENDIF -->
	</tr>
	<!-- END memberrow -->
	<tr>
		<td class="cat" colspan="<!-- IF S_SEARCH_USER -->9<!-- ELSE -->8<!-- ENDIF -->" height="28" align="center"><!-- IF S_SEARCH_USER --><input class="liteoption" type="submit" value="{L_SELECT_MARKED}" /><!-- ELSE --><span class="gensmall">{L_SELECT_SORT_METHOD}:</span>&nbsp;{S_MODE_SELECT}&nbsp; <span class="gensmall">{L_ORDER}</span>&nbsp;{S_ORDER_SELECT}&nbsp; <input type="submit" name="submit" value="{L_SUBMIT}" class="liteoption" /><!-- ENDIF --></td>
	</tr>
</table>

<table width="100%" cellspacing="2" cellpadding="0" border="0">
	<tr>
		<td class="nav" valign="top">{PAGE_NUMBER}</td>
		<td align="right"><span class="gensmall"><!-- IF S_SEARCH_USER --><b><a href="javascript:marklist(true);">{L_MARK_ALL}</a> :: <a  href="javascript:marklist(false);">{L_UNMARK_ALL}</a></b><br /><br /><!-- ENDIF -->{S_TIMEZONE}</span><br /><span class="nav">{PAGINATION}</span></td>
	</tr>
</table></form>

<table width="100%" cellspacing="2" border="0" align="center">
	<tr>
		<td valign="top" align="right"><!-- INCLUDE jumpbox.html --></td>
	</tr>
</table>

<!-- INCLUDE overall_footer.html -->