<!-- INCLUDE overall_header.html -->

<script language="JavaScript" src="templates/subSilver/color.js"></script>
<script language="JavaScript" type="text/javascript">
<!--
// bbCode control by subBlue design [ www.subBlue.com ]
// Includes the color bar by mat100 [ see forums ]

// Startup variables
var imageTag = false;
var theSelection = false;

// Check for Browser & Platform for PC & IE specific bits
// More details from: http://www.mozilla.org/docs/web-developer/sniffer/browser_type.html
var clientPC = navigator.userAgent.toLowerCase(); // Get client info
var clientVer = parseInt(navigator.appVersion); // Get browser version

var is_ie = ((clientPC.indexOf("msie") != -1) && (clientPC.indexOf("opera") == -1));
var is_nav  = ((clientPC.indexOf('mozilla')!=-1) && (clientPC.indexOf('spoofer')==-1)
                && (clientPC.indexOf('compatible') == -1) && (clientPC.indexOf('opera')==-1)
                && (clientPC.indexOf('webtv')==-1) && (clientPC.indexOf('hotjava')==-1));

var is_win   = ((clientPC.indexOf("win")!=-1) || (clientPC.indexOf("16bit") != -1));
var is_mac    = (clientPC.indexOf("mac")!=-1);

// This is for the color bar by mat100
var height1 = 10;//define the height of the color bar
var pas = 28;// define the number of color in the color bar
var width1 = Math.floor(-2/15 * pas + 6);//define the width of the color bar here automatic ajust for subsilver template.

// Helpline messages
b_help = "{L_BBCODE_B_HELP}";
i_help = "{L_BBCODE_I_HELP}";
u_help = "{L_BBCODE_U_HELP}";
q_help = "{L_BBCODE_Q_HELP}";
c_help = "{L_BBCODE_C_HELP}";
l_help = "{L_BBCODE_L_HELP}";
o_help = "{L_BBCODE_O_HELP}";
p_help = "{L_BBCODE_P_HELP}";
w_help = "{L_BBCODE_W_HELP}";
a_help = "{L_BBCODE_A_HELP}";
s_help = "{L_BBCODE_S_HELP}";
f_help = "{L_BBCODE_F_HELP}";
text1 = s_help.substring(0,search(s_help,"="));
text2 = s_help.substring(search(s_help,"]"),search(s_help,"/"));

// Define the bbCode tags
bbcode = new Array();
bbtags = new Array('[b]','[/b]','[i]','[/i]','[u]','[/u]','[quote]','[/quote]','[code]','[/code]','[list]','[/list]','[list=]','[/list]','[img]','[/img]','[url]','[/url]');
imageTag = false;

// Shows the help messages in the helpline window
function helpline(help) {
	document.post.helpbox.value = eval(help + "_help");
}


// Replacement for arrayname.length property
function getarraysize(thearray) {
	for (i = 0; i < thearray.length; i++) {
		if ((thearray[i] == "undefined") || (thearray[i] == "") || (thearray[i] == null))
			return i;
		}
	return thearray.length;
}

// Replacement for arrayname.push(value) not implemented in IE until version 5.5
// Appends element to the array
function arraypush(thearray,value) {
	thearray[ getarraysize(thearray) ] = value;
}

// Replacement for arrayname.pop() not implemented in IE until version 5.5
// Removes and returns the last element of an array
function arraypop(thearray) {
	thearraysize = getarraysize(thearray);
	retval = thearray[thearraysize - 1];
	delete thearray[thearraysize - 1];
	return retval;
}


function checkForm() {

	formErrors = false;

	if (document.post.message.value.length < 2) {
		formErrors = "{L_EMPTY_MESSAGE}";
	}

	if (formErrors) {
		alert(formErrors);
		return false;
	} else {
		bbstyle(-1);
		//document.post.preview.disabled = true;
		//document.post.submit.disabled = true;
		//document.post.save.disabled = true;
		//document.post.cancel.disabled = true;
		return true;
	}
}

function emoticon(text) {
	text = ' ' + text + ' ';
	if (document.post.message.createTextRange && document.post.message.caretPos) {
		var caretPos = document.post.message.caretPos;
		caretPos.text = caretPos.text.charAt(caretPos.text.length - 1) == ' ' ? text + ' ' : text;
		document.post.message.focus();
	} else {
	document.post.message.value  += text;
	document.post.message.focus();
	}
}

function bbfontstyle(bbopen, bbclose) {
	if ((clientVer >= 4) && is_ie && is_win) {
		theSelection = document.selection.createRange().text;
		if (!theSelection) {
			document.post.message.value += bbopen + bbclose;
			document.post.message.focus();
			return;
		}
		document.selection.createRange().text = bbopen + theSelection + bbclose;
		document.post.message.focus();
		return;
	} else {
		document.post.message.value += bbopen + bbclose;
		document.post.message.focus();
		return;
	}
	storeCaret(document.post.message);
}


function bbstyle(bbnumber) {

	donotinsert = false;
	theSelection = false;
	bblast = 0;

	if (bbnumber == -1) { // Close all open tags & default button names
		while (bbcode[0]) {
			butnumber = arraypop(bbcode) - 1;
			document.post.message.value += bbtags[butnumber + 1];
			buttext = eval('document.post.addbbcode' + butnumber + '.value');
			eval('document.post.addbbcode' + butnumber + '.value ="' + buttext.substr(0,(buttext.length - 1)) + '"');
		}
		imageTag = false; // All tags are closed including image tags :D
		document.post.message.focus();
		return;
	}

	if ((clientVer >= 4) && is_ie && is_win)
		theSelection = document.selection.createRange().text; // Get text selection

	if (theSelection) {
		// Add tags around selection
		document.selection.createRange().text = bbtags[bbnumber] + theSelection + bbtags[bbnumber+1];
		document.post.message.focus();
		theSelection = '';
		return;
	}

	// Find last occurance of an open tag the same as the one just clicked
	for (i = 0; i < bbcode.length; i++) {
		if (bbcode[i] == bbnumber+1) {
			bblast = i;
			donotinsert = true;
		}
	}

	if (donotinsert) {		// Close all open tags up to the one just clicked & default button names
		while (bbcode[bblast]) {
				butnumber = arraypop(bbcode) - 1;
				document.post.message.value += bbtags[butnumber + 1];
				buttext = eval('document.post.addbbcode' + butnumber + '.value');
				eval('document.post.addbbcode' + butnumber + '.value ="' + buttext.substr(0,(buttext.length - 1)) + '"');
				imageTag = false;
			}
			document.post.message.focus();
			return;
	} else { // Open tags

		if (imageTag && (bbnumber != 14)) {		// Close image tag before adding another
			document.post.message.value += bbtags[15];
			lastValue = arraypop(bbcode) - 1;	// Remove the close image tag from the list
			document.post.addbbcode14.value = "Img";	// Return button back to normal state
			imageTag = false;
		}

		// Open tag
		document.post.message.value += bbtags[bbnumber];
		if ((bbnumber == 14) && (imageTag == false)) imageTag = 1; // Check to stop additional tags after an unclosed image tag
		arraypush(bbcode,bbnumber+1);
		eval('document.post.addbbcode'+bbnumber+'.value += "*"');
		document.post.message.focus();
		return;
	}
	storeCaret(document.post.message);
}

// Insert at Claret position. Code from
// http://www.faqts.com/knowledge_base/view.phtml/aid/1052/fid/130
function storeCaret(textEl) {
	if (textEl.createTextRange) textEl.caretPos = document.selection.createRange().duplicate();
}

//-->
</script>

<form action="{S_POST_ACTION}" method="post" name="post" onsubmit="return checkForm(this)"><table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
	<tr>
		<td colspan="2" align="left" valign="bottom"><a class="maintitle" href="{U_VIEW_FORUM}">{FORUM_NAME}</a><!-- IF TOPIC_TITLE --> :: <a class="maintitle" href="{U_VIEWTOPIC}">{TOPIC_TITLE}</a><!-- ENDIF --><br /><span class="gensmall"> [ <a href="{U_VIEW_MODERATORS}">{L_VIEW_MODERATORS}</a> ]<br /><br /><b>{LOGGED_IN_USER_LIST}</b></span></td>
	</tr>
	<tr>
		<td class="nav" width="100%" align="left" valign="middle"><span class="nav"><a class="nav" href="{U_INDEX}">{L_INDEX}</a>
		<!-- BEGIN navlinks -->
		 -> <a class="nav" href="{navlinks.U_VIEW_FORUM}">{navlinks.FORUM_NAME}</a>
		<!-- END navlinks -->
		</span></td>
		<td class="nav" align="right" valign="bottom" nowrap="nowrap"><span class="gensmall"><a href="{U_MARK_READ}">{L_MARK_TOPICS_READ}</a></span></td>
	</tr>
</table>

{POST_PREVIEW_BOX}

<table class="forumline" width="100%" cellspacing="1" cellpadding="3" border="0">
	<tr>
		<th class="thHead" colspan="2" height="25"><b>{L_POST_A}</b></th>
	</tr>
	<!-- IF ERROR_MESSAGE neq '' -->
	<tr>
		<td class="row2" colspan="2" align="center"><span class="gen" style="color:red">{ERROR_MESSAGE}</span></td>
	</tr>
	<!-- ENDIF -->
	<!-- IF S_DELETE_ALLOWED -->
	<tr>
		<td class="row1"><span class="gen"><b>{L_DELETE_POST}</b></span></td>
		<td class="row2"><input type="checkbox" name="delete" /></td>
	</tr>
	<!-- ENDIF -->
	<!-- IF S_DISPLAY_USERNAME -->
	<tr>
		<td class="row1"><span class="gen"><b>{L_USERNAME}</b></span></td>
		<td class="row2"><input type="text" class="post" tabindex="1" name="username" size="25" maxlength="25" value="{USERNAME}" /></td>
	</tr>
	<!-- ENDIF -->
	<!-- IF S_PRIVMSG_POST -->
	<tr>
		<td class="row1"><span class="gen"><b>{L_USERNAME}</b></span></td>
		<td class="row2"><input type="text"  class="post" name="username" maxlength="25" size="25" tabindex="1" value="{USERNAME}" />&nbsp;<input type="submit" name="usersubmit" value="{L_FIND_USERNAME}" class="liteoption" onclick="window.open('{U_SEARCH_USER}', '_phpbbsearch', 'HEIGHT=250,resizable=yes,WIDTH=400');return false;" /></td>
	</tr>
	<!-- ENDIF -->
	<!-- IF S_SHOW_TOPIC_ICONS -->
	<tr>
		<td class="row1"><span class="gen"><b>{L_TOPIC_ICON}</b></span></td>
		<td class="row2"><table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td valign="middle"><span class="gensmall"><input type="radio" name="icon" value="1" checked="checked" /><span class="genmed">{L_NONE}</span>&nbsp;<!-- BEGIN topic_icon --><input type="radio" name="icon" value="{topic_icon.ICON_ID}"{topic_icon.S_ICON_CHECKED} /><img src="{topic_icon.ICON_IMG}" width="{topic_icon.ICON_WIDTH}" height="{topic_icon.ICON_HEIGHT}" alt="" title="" hspace="2" vspace="2" /> <!-- END topic_icon --></td>
			</tr>
		</table></td>
	</tr>
	<!-- ENDIF -->
	<tr>
		<td class="row1" width="22%"><span class="gen"><b>{L_SUBJECT}</b></span></td>
		<td class="row2" width="78%"><input type="text" name="subject" size="45" maxlength="60" style="width:450px" tabindex="2" class="post" value="{SUBJECT}" /></td>
	</tr>
	<tr>
		<td class="row1" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="1">
			<tr>
				<td><span class="gen"><b>{L_MESSAGE_BODY}</b></span> </td>
			</tr>
			<tr>
				<td valign="middle" align="center"><br /><table width="120" cellspacing="0" cellpadding="5" border="0">
					<tr>
						<td class="gensmall" align="center"><b>{L_EMOTICONS}</b></td>
					</tr>
					<tr>
						<td align="center"><!-- BEGIN emoticon --> <a href="javascript:emoticon('{emoticon.SMILEY_CODE}')"><img src="{emoticon.SMILEY_IMG}" width="{emoticon.SMILEY_WIDTH}" height="{emoticon.SMILEY_HEIGHT}" border="0" alt="{emoticon.SMILEY_DESC}" title="{emoticon.SMILEY_DESC}" onclick="emoticon('{emoticon.SMILEY_CODE}');return false" hspace="2" vspace="2" /></a> <!-- END emoticon --></td>
					</tr>
					<!-- IF S_SHOW_EMOTICON_LINK -->
					<tr>
						<td colspan="{S_SMILIES_COLSPAN}" align="center"><span  class="nav"><a href="{U_MORE_SMILIES}" onclick="window.open('{U_MORE_SMILIES}', '_phpbbsmilies', 'HEIGHT=300,resizable=yes,scrollbars=yes,WIDTH=250');return false;" target="_phpbbsmilies" class="nav">{L_MORE_SMILIES}</a></span></td>
					</tr>
					<!-- ENDIF -->
				</table></td>
			</tr>
		</table></td>
		<td class="row2" valign="top"><span class="gen"><table width="450" border="0" cellspacing="0" cellpadding="2">
			<tr align="center" valign="middle">
				<td><input type="button" class="button" accesskey="b" name="addbbcode0" value=" B " style="font-weight:bold; width: 30px" onClick="bbstyle(0)" onMouseOver="helpline('b')" /></td>
				<td><input type="button" class="button" accesskey="i" name="addbbcode2" value=" i " style="font-style:italic; width: 30px" onClick="bbstyle(2)" onMouseOver="helpline('i')" /></td>
				<td><input type="button" class="button" accesskey="u" name="addbbcode4" value=" u " style="text-decoration: underline; width: 30px" onClick="bbstyle(4)" onMouseOver="helpline('u')" /></td>
				<td><input type="button" class="button" accesskey="q" name="addbbcode6" value="Quote" style="width: 50px" onClick="bbstyle(6)" onMouseOver="helpline('q')" /></td>
				<td><input type="button" class="button" accesskey="c" name="addbbcode8" value="Code" style="width: 40px" onClick="bbstyle(8)" onMouseOver="helpline('c')" /></td>
				<td><input type="button" class="button" accesskey="l" name="addbbcode10" value="List" style="width: 40px" onClick="bbstyle(10)" onMouseOver="helpline('l')" /></td>
				<td><input type="button" class="button" accesskey="o" name="addbbcode12" value="List=" style="width: 40px" onClick="bbstyle(12)" onMouseOver="helpline('o')" /></td>
				<td><input type="button" class="button" accesskey="p" name="addbbcode14" value="Img" style="width: 40px"  onClick="bbstyle(14)" onMouseOver="helpline('p')" /></td>
				<td><input type="button" class="button" accesskey="w" name="addbbcode16" value="URL" style="text-decoration: underline; width: 40px" onClick="bbstyle(16)" onMouseOver="helpline('w')" /></td>
			</tr>
			<tr>
				<td colspan="9"><table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td><span class="genmed"> &nbsp;{L_FONT_SIZE}:<select name="addbbcode20" onChange="bbfontstyle('[size=' + this.form.addbbcode20.options[this.form.addbbcode20.selectedIndex].value + ']', '[/size]');this.form.addbbcode20.selectedIndex = 1;" onMouseOver="helpline('f')">
							<option value="7" class="genmed">{L_FONT_TINY}</option>
							<option value="9" class="genmed">{L_FONT_SMALL}</option>
							<option value="12" selected class="genmed">{L_FONT_NORMAL}</option>
							<option value="18" class="genmed">{L_FONT_LARGE}</option>
							<option  value="24" class="genmed">{L_FONT_HUGE}</option>
						</select></span></td>
						<td nowrap="nowrap" align="right"><span class="gensmall"><a href="javascript:bbstyle(-1)" class="genmed" onMouseOver="helpline('a')">{L_BBCODE_CLOSE_TAGS}</a></span></td>
					</tr>
				</table></td>
			</tr>
			<tr>
				<td colspan="9"><input type="text" name="helpbox" size="45" maxlength="100" style="width:450px; font-size:10px" class="helpline" value="{L_STYLES_TIP}" /></td>
			</tr>
			<tr>
				<td colspan="9"><textarea name="message" rows="15" cols="35" wrap="virtual" style="width:450px" tabindex="3" class="post" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);">{MESSAGE}</textarea></td>
		 	</tr>
		 	<tr>
		 		<td colspan="9"><table id="ColorPanel" cellspacing="0" cellpadding="0" border="0" align="center">
		 			<tr>
						<td style="border:1px" id="ColorUsed" onmouseover="helpline('s')" onclick="if(this.bgColor.length > 0) insertTag(this.bgColor)" valign="center" align="middle"><img src="templates/subSilver/images/spacer.gif" width="10" height="10"border="1"></td>
						<td width="5"><img src="templates/subSilver/images/spacer.gif" width="5" border="0" /></td>
						<td><script language="javascript" type="text/javascript"><!--

						// Note this may take some processing ...
						rgb(pas,width1,height1,text1,text2);

						//--></script></td>

				</table></td>
			</tr>
		</table></td>
	</tr>
	<tr>
		<td class="row1" valign="top"><span class="gen"><b>{L_OPTIONS}</b></span><br /><table cellspacing="2" cellpadding="" border="0">
			<tr>
				<td><span class="gensmall">{HTML_STATUS}</span></td>
			</tr>
			<tr>
				<td><span class="gensmall">{BBCODE_STATUS}</span></td>
			</tr>
			<tr>
				<td><span class="gensmall">{IMG_STATUS}</span></td>
			</tr>
			<tr>
				<td><span class="gensmall">{FLASH_STATUS}</span></td>
			</tr>
			<tr>
				<td><span class="gensmall">{SMILIES_STATUS}</span></td>
			</tr>
		</table></td>
		<td class="row2"><table cellspacing="0" cellpadding="1" border="0">
			<!-- IF S_HTML_ALLOWED -->
			<tr>
				<td><input type="checkbox" name="disable_html" {S_HTML_CHECKED} /></td>
				<td><span class="gen">{L_DISABLE_HTML}</span></td>
			</tr>
			<!-- ENDIF -->
			<!-- IF S_BBCODE_ALLOWED -->
			<tr>
				<td><input type="checkbox" name="disable_bbcode" {S_BBCODE_CHECKED} /></td>
				<td><span class="gen">{L_DISABLE_BBCODE}</span></td>
			</tr>
			<!-- ENDIF -->
			<!-- IF S_SMILIES_ALLOWED -->
			<tr>
				<td><input type="checkbox" name="disable_smilies" {S_SMILIES_CHECKED} /></td>
				<td><span class="gen">{L_DISABLE_SMILIES}</span></td>
			</tr>
			<!-- ENDIF -->
			<tr>
				<td><input type="checkbox" name="disable_magic_url" {S_MAGIC_URL_CHECKED} /></td>
				<td><span class="gen">{L_DISABLE_MAGIC_URL}</span></td>
			</tr>
			<!-- IF S_SIG_ALLOWED -->
			<tr>
				<td><input type="checkbox" name="attach_sig" {S_SIGNATURE_CHECKED} /></td>
				<td><span class="gen">{L_ATTACH_SIGNATURE}</span></td>
			</tr>
			<!-- ENDIF -->
			<!-- IF S_NOTIFY_ALLOWED -->
			<tr>
				<td><input type="checkbox" name="notify" {S_NOTIFY_CHECKED} /></td>
				<td><span class="gen">{L_NOTIFY_ON_REPLY}</span></td>
			</tr>
			<!-- ENDIF -->
			<!-- IF S_TYPE_TOGGLE -->
			<tr>
				<td></td>
				<td><span class="gen">{S_TYPE_TOGGLE}</span></td>
			</tr>
			<!-- ENDIF -->
		</table></td>
	</tr>
	<!-- IF S_SHOW_POLL_BOX -->
	<tr>
		<th class="thHead" colspan="2">{L_ADD_A_POLL}</th>
	</tr>
	<tr>
		<td class="row1" colspan="2"><span class="gensmall">{L_ADD_POLL_EXPLAIN}</span></td>
	</tr>
	<tr>
		<td class="row1"><span class="gen"><b>{L_POLL_QUESTION}</b></span></td>
		<td class="row2"><span class="genmed"><input type="text" name="poll_title" size="50" maxlength="255" class="post" value="{POLL_TITLE}" /></span></td>
	</tr>
	<tr>
		<td class="row1"><span class="gen"><b>{L_POLL_OPTIONS}</b></span><br /><span class="gensmall">{L_POLL_OPTIONS_EXPLAIN}</span></td>
		<td class="row2"><span class="genmed"><textarea name="poll_option_text" rows="5" cols="35" wrap="virtual" style="width:450px" class="post">{POLL_OPTIONS}</textarea></td>
	</tr>
	<tr>
		<td class="row1"><span class="gen"><b>{L_POLL_LENGTH}</b></span></td>
		<td class="row2"><span class="genmed"><input type="text" name="poll_length" size="3" maxlength="3" class="post" value="{POLL_LENGTH}" /></span>&nbsp;<span class="gen"><b>{L_DAYS}</b></span> <span class="gensmall">{L_POLL_LENGTH_EXPLAIN}</span></td>
	</tr>
	<!-- IF S_POLL_DELETE -->
    <tr>
		<td class="row1"><span class="gen"><b>{L_POLL_DELETE}</b></span></td>
		<td class="row2"><input type="checkbox" name="poll_delete" /></td>
	</tr>
	<!-- ENDIF -->
	<!-- ENDIF -->
	<!-- IF S_SHOW_ATTACH_BOX -->
	<tr>
		<th class="thHead" colspan="2">{L_ADD_ATTACHMENT}</th>
	</tr>
	<tr>
		<td class="row1" colspan="2"><span class="gensmall">{L_ADD_ATTACHMENT_EXPLAIN}</span></td>
	</tr>

	<tr>
		<td class="row1"><span class="gen"><b>{L_FILE_NAME}</b></span></td>
	    <td class="row2"><input type="file" name="fileupload" size="50" maxlength="{FILESIZE}" value="{FILENAME}" class="post"></td>
	</tr>
	<tr>
		<td class="row1"><span class="gen"><b>{L_FILE_COMMENT}</b></span></td>
	    <td class="row2"><input type="text" name="filecomment" size="40" maxlength="60" value="{FILE_COMMENT}" class="post"> &nbsp;<input type="submit" name="add_attachment" value="{L_ADD_FILE}" class="liteoption" /></td>
	</tr>
	<!-- IF S_HAS_ATTACHMENTS -->
	<tr>
		<th class="thHead" colspan="2">{L_POSTED_ATTACHMENTS}</th>
	</tr>
	<!-- BEGIN attach_row -->
	<tr>
		<td class="row1"><span class="gen"><b>{L_FILE_NAME}</b></span></td>
		<td class="row2"><span class="gen"><a class="gen" href="{attach_row.U_VIEW_ATTACHMENT}" target="_blank">{attach_row.FILE_NAME}</a></span></td>
		</tr>
    	<tr>
			<td class="row1"><span class="gen"><b>{L_FILE_COMMENT}</b></span></td>
			<td class="row2"><input type="text" name="comment_list[]" size="40" class="post" maxlength="60" value="{attach_row.FILE_COMMENT}" /></span> &nbsp;<input type="submit" name="edit_comment[{attach_row.ATTACH_FILENAME}]" value="{L_UPDATE_COMMENT}" class="liteoption" />	&nbsp;<input type="submit" name="del_attachment[{attach_row.ATTACH_FILENAME}]" value="{L_DELETE_ATTACHMENT}" class="liteoption" /></td>
		</tr>
		{attach_row.S_HIDDEN}
	<!-- END attach_row -->
	<!-- ENDIF -->
	<!-- ENDIF -->
	</div>
	<tr>
		<td class="catBottom" colspan="2" align="center">{S_HIDDEN_FIELDS}<input class="mainoption" type="submit" tabindex="5" name="preview" value="{L_PREVIEW}" />&nbsp; <input class="liteoption" type="submit" accesskey="s" tabindex="6" name="post" value="{L_SUBMIT}" /><!-- IF S_SAVE_ALLOWED -->&nbsp; <input class="liteoption" type="submit" accesskey="k" tabindex="8" name="save" value="{L_SAVE}" /><!-- ENDIF -->&nbsp; <input class="liteoption" type="submit" accesskey="c" tabindex="7" name="cancel" value="{L_CANCEL}" /></td>
	</tr>
</table>

<table width="100%" cellspacing="2" border="0" align="center" cellpadding="2">
	<tr>
		<td align="right" valign="top"><span class="gensmall">{S_TIMEZONE}</span></td>
	</tr>
</table>

</form>

<table width="100%" cellspacing="2" border="0" align="center">
	<tr>
		<td valign="top" align="right"><!-- INCLUDE jumpbox.html --></td>
	</tr>
</table>

{TOPIC_REVIEW_BOX}

<!-- INCLUDE overall_footer.html -->