<!-- INCLUDE overall_header.html -->

<script language="JavaScript" type="text/javascript">
<!--

// Define the bbCode tags
bbcode = new Array();
bbtags = new Array('[b]','[/b]','[i]','[/i]','[u]','[/u]','[quote]','[/quote]','[code]','[/code]','[list]','[/list]','[list=]','[/list]','[img]','[/img]','[url]','[/url]');
imageTag = false;

// Helpline messages
b_help = "{L_BBCODE_B_HELP}";
i_help = "{L_BBCODE_I_HELP}";
u_help = "{L_BBCODE_U_HELP}";
q_help = "{L_BBCODE_Q_HELP}";
c_help = "{L_BBCODE_C_HELP}";
l_help = "{L_BBCODE_L_HELP}";
o_help = "{L_BBCODE_O_HELP}";
p_help = "{L_BBCODE_P_HELP}";
w_help = "{L_BBCODE_W_HELP}";
a_help = "{L_BBCODE_A_HELP}";
s_help = "{L_BBCODE_S_HELP}";
f_help = "{L_BBCODE_F_HELP}";

function checkForm() {

	formErrors = false;

	if (document.post.message.value.length < 2) {
		formErrors = "{L_EMPTY_MESSAGE}";
	}

	if (formErrors) {
		alert(formErrors);
		return false;
	} else {
		bbstyle(-1);
		//document.post.preview.disabled = true;
		//document.post.submit.disabled = true;
		//document.post.save.disabled = true;
		//document.post.cancel.disabled = true;
		return true;
	}
}

//-->
</script>
<script language="JavaScript" src="templates/subSilver/editor.js"></script>

<form action="{S_POST_ACTION}" method="post" name="post" onsubmit="return checkForm(this)"><table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
	<tr>
		<td colspan="2" align="left" valign="bottom"><a class="maintitle" href="{U_VIEW_FORUM}">{FORUM_NAME}</a><!-- IF TOPIC_TITLE --> :: <a class="maintitle" href="{U_VIEWTOPIC}">{TOPIC_TITLE}</a><!-- ENDIF --><br /><span class="gensmall"> [ <a href="{U_VIEW_MODERATORS}">{L_VIEW_MODERATORS}</a> ]<br /><br /><b>{LOGGED_IN_USER_LIST}</b></span></td>
	</tr>
	<tr>
		<td class="nav" width="100%" align="left" valign="middle"><span class="nav"><a class="nav" href="{U_INDEX}">{L_INDEX}</a>
		<!-- BEGIN navlinks -->
		 -> <a class="nav" href="{navlinks.U_VIEW_FORUM}">{navlinks.FORUM_NAME}</a>
		<!-- END navlinks -->
		</span></td>
	</tr>
</table>

{POST_PREVIEW_BOX}

<table class="forumline" width="100%" cellspacing="1" cellpadding="3" border="0">
	<tr>
		<th class="thHead" colspan="2" height="25"><b>{L_POST_A}</b></th>
	</tr>
	<!-- IF ERROR_MESSAGE neq '' -->
	<tr>
		<td class="row2" colspan="2" align="center"><span class="gen" style="color:red;font-weight:bold">{ERROR_MESSAGE}</span></td>
	</tr>
	<!-- ENDIF -->
	<!-- IF S_DELETE_ALLOWED -->
	<tr>
		<td class="row1"><span class="gen"><b>{L_DELETE_POST}</b></span></td>
		<td class="row2"><input type="checkbox" name="delete" /> {L_DELETE_WARN}</td>
	</tr>
	<!-- ENDIF -->
	<!-- IF S_DISPLAY_USERNAME -->
	<tr>
		<td class="row1"><span class="gen"><b>{L_USERNAME}</b></span></td>
		<td class="row2"><input type="text" class="post" tabindex="1" name="username" size="25" maxlength="25" value="{USERNAME}" /></td>
	</tr>
	<!-- ENDIF -->
	<!-- IF S_PRIVMSG_POST -->
	<tr>
		<td class="row1"><span class="gen"><b>{L_USERNAME}</b></span></td>
		<td class="row2"><input type="text"  class="post" name="username" maxlength="25" size="25" tabindex="1" value="{USERNAME}" />&nbsp;<input type="submit" name="usersubmit" value="{L_FIND_USERNAME}" class="liteoption" onclick="window.open('{U_SEARCH_USER}', '_phpbbsearch', 'HEIGHT=250,resizable=yes,WIDTH=400');return false;" /></td>
	</tr>
	<!-- ENDIF -->
	<!-- IF S_SHOW_TOPIC_ICONS -->
	<tr>
		<td class="row1"><span class="gen"><b>{L_TOPIC_ICON}</b></span></td>
		<td class="row2"><table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td valign="middle"><span class="gensmall"><input type="radio" name="icon" value="1" checked="checked" /><span class="genmed">{L_NONE}</span>&nbsp;<!-- BEGIN topic_icon --><input type="radio" name="icon" value="{topic_icon.ICON_ID}"{topic_icon.S_ICON_CHECKED} /><img src="{topic_icon.ICON_IMG}" width="{topic_icon.ICON_WIDTH}" height="{topic_icon.ICON_HEIGHT}" alt="" title="" hspace="2" vspace="2" /> <!-- END topic_icon --></td>
			</tr>
		</table></td>
	</tr>
	<!-- ENDIF -->
	<tr>
		<td class="row1" width="22%"><span class="gen"><b>{L_SUBJECT}</b></span></td>
		<td class="row2" width="78%"><input type="text" name="subject" size="45" maxlength="60" style="width:450px" tabindex="2" class="post" value="{SUBJECT}" /></td>
	</tr>
	<tr>
		<td class="row1" valign="top"><span class="gen"><b>{L_MESSAGE_BODY}</b></span><br /><span class="gensmall">{L_MESSAGE_BODY_EXPLAIN}</span><br /><br /><table width="80%" cellspacing="5" cellpadding="0" border="0" align="center">
			<tr>
				<td align="center"><span class="gensmall"><b>{L_EMOTICONS}</b></span></td>
			</tr>
			<tr>
				<td align="center"><!-- BEGIN emoticon --><a href="javascript:emoticon('{emoticon.SMILEY_CODE}')"><img src="{emoticon.SMILEY_IMG}" width="{emoticon.SMILEY_WIDTH}" height="{emoticon.SMILEY_HEIGHT}" border="0" alt="{emoticon.SMILEY_DESC}" title="{emoticon.SMILEY_DESC}" onclick="emoticon('{emoticon.SMILEY_CODE}');return false" hspace="2" vspace="2" /></a> <!-- END emoticon --></td>
			</tr>
			<!-- IF S_SHOW_EMOTICON_LINK -->
			<tr>
				<td align="center"><a class="nav" href="{U_MORE_SMILIES}" onclick="window.open('{U_MORE_SMILIES}', '_phpbbsmilies', 'HEIGHT=350,resizable=yes,scrollbars=yes,WIDTH=300');return false;" target="_phpbbsmilies">{L_MORE_SMILIES}</a></td>
			</tr>
			<!-- ENDIF -->
		</table></td>
		<td class="row2" valign="top"><table cellspacing="0" cellpadding="2" border="0">
			<tr align="center" valign="middle">
				<td><input type="button" class="button" accesskey="b" name="addbbcode0" value=" B " style="font-weight:bold; width: 30px" onclick="bbstyle(0)" onmouseover="helpline('b')" /></td>
				<td><input type="button" class="button" accesskey="i" name="addbbcode2" value=" i " style="font-style:italic; width: 30px" onclick="bbstyle(2)" onmouseover="helpline('i')" /></td>
				<td><input type="button" class="button" accesskey="u" name="addbbcode4" value=" u " style="text-decoration: underline; width: 30px" onclick="bbstyle(4)" onmouseover="helpline('u')" /></td>
				<td><input type="button" class="button" accesskey="q" name="addbbcode6" value="Quote" style="width: 50px" onclick="bbstyle(6)" onmouseover="helpline('q')" /></td>
				<td><input type="button" class="button" accesskey="c" name="addbbcode8" value="Code" style="width: 40px" onclick="bbstyle(8)" onmouseover="helpline('c')" /></td>
				<td><input type="button" class="button" accesskey="l" name="addbbcode10" value="List" style="width: 40px" onclick="bbstyle(10)" onmouseover="helpline('l')" /></td>
				<td><input type="button" class="button" accesskey="o" name="addbbcode12" value="List=" style="width: 40px" onclick="bbstyle(12)" onmouseover="helpline('o')" /></td>
				<td><input type="button" class="button" accesskey="p" name="addbbcode14" value="Img" style="width: 40px"  onclick="bbstyle(14)" onmouseover="helpline('p')" /></td>
				<td><input type="button" class="button" accesskey="w" name="addbbcode16" value="URL" style="text-decoration: underline; width: 40px" onclick="bbstyle(16)" onmouseover="helpline('w')" /></td>
			</tr>
			<tr>
				<td colspan="9"><table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td><span class="genmed"> &nbsp;{L_FONT_SIZE}:<select name="addbbcode20" onchange="bbfontstyle('[size=' + this.form.addbbcode20.options[this.form.addbbcode20.selectedIndex].value + ']', '[/size]');this.form.addbbcode20.selectedIndex = 2;" onmouseover="helpline('f')">
							<option value="7" class="genmed">{L_FONT_TINY}</option>
							<option value="9" class="genmed">{L_FONT_SMALL}</option>
							<option value="12" selected class="genmed">{L_FONT_NORMAL}</option>
							<option value="18" class="genmed">{L_FONT_LARGE}</option>
							<option  value="24" class="genmed">{L_FONT_HUGE}</option>
						</select></span></td>
						<td nowrap="nowrap" align="right"><span class="gensmall"><a href="javascript:bbstyle(-1)" class="genmed" onmouseover="helpline('a')">{L_BBCODE_CLOSE_TAGS}</a></span></td>
					</tr>
				</table></td>
				<td rowspan="3" width="100%" align="center" valign="middle"><table cellspacing="5" cellpadding="0" border="0">
					<tr>
						<td><span class="genmed">{L_FONT_COLOR}</span></td>
					</tr>
					<tr>
						<td bgcolor="black"><script language="javascript" type="text/javascript"><!--

						unixSafeColours()

						//--></script></td>
					</tr>
				</table></td>
			</tr>
			<tr>
				<td colspan="9" width="450"><input type="text" name="helpbox" size="45" maxlength="100" style="width:450px; font-size:10px" class="helpline" value="{L_STYLES_TIP}" /></td>
			</tr>
			<tr>
				<td colspan="9"><textarea name="message" rows="15" cols="35" wrap="virtual" style="width:450px" tabindex="3" class="post" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);">{MESSAGE}</textarea></td>
		 	</tr>
		</table></td>
	</tr>
	<tr>
		<td class="row1" valign="top"><span class="gen"><b>{L_OPTIONS}</b></span><br /><table cellspacing="2" cellpadding="" border="0">
			<tr>
				<td><span class="gensmall">{HTML_STATUS}</span></td>
			</tr>
			<tr>
				<td><span class="gensmall">{BBCODE_STATUS}</span></td>
			</tr>
			<tr>
				<td><span class="gensmall">{IMG_STATUS}</span></td>
			</tr>
			<tr>
				<td><span class="gensmall">{FLASH_STATUS}</span></td>
			</tr>
			<tr>
				<td><span class="gensmall">{SMILIES_STATUS}</span></td>
			</tr>
		</table></td>
		<td class="row2"><table cellspacing="0" cellpadding="1" border="0">
			<!-- IF S_HTML_ALLOWED -->
			<tr>
				<td><input type="checkbox" name="disable_html" {S_HTML_CHECKED} /></td>
				<td><span class="gen">{L_DISABLE_HTML}</span></td>
			</tr>
			<!-- ENDIF -->
			<!-- IF S_BBCODE_ALLOWED -->
			<tr>
				<td><input type="checkbox" name="disable_bbcode" {S_BBCODE_CHECKED} /></td>
				<td><span class="gen">{L_DISABLE_BBCODE}</span></td>
			</tr>
			<!-- ENDIF -->
			<!-- IF S_SMILIES_ALLOWED -->
			<tr>
				<td><input type="checkbox" name="disable_smilies" {S_SMILIES_CHECKED} /></td>
				<td><span class="gen">{L_DISABLE_SMILIES}</span></td>
			</tr>
			<!-- ENDIF -->
			<tr>
				<td><input type="checkbox" name="disable_magic_url" {S_MAGIC_URL_CHECKED} /></td>
				<td><span class="gen">{L_DISABLE_MAGIC_URL}</span></td>
			</tr>
			<!-- IF S_SIG_ALLOWED -->
			<tr>
				<td><input type="checkbox" name="attach_sig" {S_SIGNATURE_CHECKED} /></td>
				<td><span class="gen">{L_ATTACH_SIGNATURE}</span></td>
			</tr>
			<!-- ENDIF -->
			<!-- IF S_NOTIFY_ALLOWED -->
			<tr>
				<td><input type="checkbox" name="notify" {S_NOTIFY_CHECKED} /></td>
				<td><span class="gen">{L_NOTIFY_ON_REPLY}</span></td>
			</tr>
			<!-- ENDIF -->
			<!-- IF S_TYPE_TOGGLE -->
			<tr>
				<td></td>
				<td><span class="gen">{S_TYPE_TOGGLE}</span></td>
			</tr>
			<!-- ENDIF -->
		</table></td>
	</tr>
	<!-- IF S_SHOW_POLL_BOX -->
	<tr>
		<th class="thHead" colspan="2">{L_ADD_A_POLL}</th>
	</tr>
	<tr>
		<td class="row1" colspan="2"><span class="gensmall">{L_ADD_POLL_EXPLAIN}</span></td>
	</tr>
	<tr>
		<td class="row1"><span class="gen"><b>{L_POLL_QUESTION}</b></span></td>
		<td class="row2"><span class="genmed"><input type="text" name="poll_title" size="50" maxlength="255" class="post" value="{POLL_TITLE}" /></span></td>
	</tr>
	<tr>
		<td class="row1"><span class="gen"><b>{L_POLL_OPTIONS}</b></span><br /><span class="gensmall">{L_POLL_OPTIONS_EXPLAIN}</span></td>
		<td class="row2"><span class="genmed"><textarea name="poll_option_text" rows="5" cols="35" wrap="virtual" style="width:450px" class="post">{POLL_OPTIONS}</textarea></td>
	</tr>
	<tr>
		<td class="row1"><span class="gen"><b>{L_POLL_LENGTH}</b></span></td>
		<td class="row2"><span class="genmed"><input type="text" name="poll_length" size="3" maxlength="3" class="post" value="{POLL_LENGTH}" /></span>&nbsp;<span class="gen"><b>{L_DAYS}</b></span> <span class="gensmall">{L_POLL_LENGTH_EXPLAIN}</span></td>
	</tr>
	<!-- IF S_POLL_DELETE -->
    <tr>
		<td class="row1"><span class="gen"><b>{L_POLL_DELETE}</b></span></td>
		<td class="row2"><input type="checkbox" name="poll_delete" /></td>
	</tr>
	<!-- ENDIF -->
	<!-- ENDIF -->
	<!-- IF S_SHOW_ATTACH_BOX -->
	<tr>
		<th class="thHead" colspan="2">{L_ADD_ATTACHMENT}</th>
	</tr>
	<tr>
		<td class="row1" colspan="2"><span class="gensmall">{L_ADD_ATTACHMENT_EXPLAIN}</span></td>
	</tr>

	<tr>
		<td class="row1"><span class="gen"><b>{L_FILE_NAME}</b></span></td>
	    <td class="row2"><input type="file" name="fileupload" size="50" maxlength="{FILESIZE}" value="{FILENAME}" class="post"></td>
	</tr>
	<tr>
		<td class="row1"><span class="gen"><b>{L_FILE_COMMENT}</b></span></td>
	    <td class="row2"><input type="text" name="filecomment" size="40" maxlength="60" value="{FILE_COMMENT}" class="post"> &nbsp;<input type="submit" name="add_attachment" value="{L_ADD_FILE}" class="liteoption" /></td>
	</tr>
	<!-- IF S_HAS_ATTACHMENTS -->
	<tr>
		<th class="thHead" colspan="2">{L_POSTED_ATTACHMENTS}</th>
	</tr>
	<!-- BEGIN attach_row -->
	<tr>
		<td class="row1"><span class="gen"><b>{L_FILE_NAME}</b></span></td>
		<td class="row2"><span class="gen"><a class="gen" href="{attach_row.U_VIEW_ATTACHMENT}" target="_blank">{attach_row.FILE_NAME}</a></span></td>
		</tr>
    	<tr>
			<td class="row1"><span class="gen"><b>{L_FILE_COMMENT}</b></span></td>
			<td class="row2"><input type="text" name="comment_list[]" size="40" class="post" maxlength="60" value="{attach_row.FILE_COMMENT}" /></span> &nbsp;<input type="submit" name="edit_comment[{attach_row.ATTACH_FILENAME}]" value="{L_UPDATE_COMMENT}" class="liteoption" />	&nbsp;<input type="submit" name="del_attachment[{attach_row.ATTACH_FILENAME}]" value="{L_DELETE_ATTACHMENT}" class="liteoption" /></td>
		</tr>
		{attach_row.S_HIDDEN}
	<!-- END attach_row -->
	<!-- ENDIF -->
	<!-- ENDIF -->
	</div>
	<tr>
		<td class="catBottom" colspan="2" align="center">{S_HIDDEN_FIELDS}<input class="mainoption" type="submit" tabindex="5" name="preview" value="{L_PREVIEW}" />&nbsp; <input class="liteoption" type="submit" accesskey="s" tabindex="6" name="post" value="{L_SUBMIT}" /><!-- IF S_SAVE_ALLOWED -->&nbsp; <input class="liteoption" type="submit" accesskey="k" tabindex="8" name="save" value="{L_SAVE}" /><!-- ENDIF -->&nbsp; <input class="liteoption" type="submit" accesskey="c" tabindex="7" name="cancel" value="{L_CANCEL}" /></td>
	</tr>
</table>

<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
	<tr>
		<td class="nav" width="100%" align="left" valign="top"><span class="nav"><a class="nav" href="{U_INDEX}">{L_INDEX}</a>
		<!-- BEGIN navlinks -->
		 -> <a class="nav" href="{navlinks.U_VIEW_FORUM}">{navlinks.FORUM_NAME}</a>
		<!-- END navlinks -->
		</span></td>
		<td align="right" valign="top" nowrap="nowrap"><span class="gensmall">{S_TIMEZONE}</span></td>
	</tr>
</table></form>

<table width="100%" cellspacing="2" border="0" align="center">
	<tr>
		<td valign="top" align="right"><!-- INCLUDE jumpbox.html --></td>
	</tr>
</table>

{TOPIC_REVIEW_BOX}

<!-- INCLUDE overall_footer.html -->