<!-- DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" -->
<!-- <html xmlns="http://www.w3.org/1999/xhtml"> -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html dir="{S_CONTENT_DIRECTION}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={S_CONTENT_ENCODING}">
<meta http-equiv="Content-Style-Type" content="text/css">
{META}
<link rel="stylesheet" href="{T_STYLESHEET_LINK}" type="text/css">
<style type="text/css">
<!--
{T_STYLESHEET_DATA}

body {background: white;}
//-->
</style>
<title>{SITENAME} :: {PAGE_TITLE}</title>
</head>

<body>

<a name="top"></a>
