/*
  subSilver Theme for phpBB2
  Created by subBlue design
  http://www.subBlue.com
 */

 /* General page style. The scroll bar colours only visible in IE5.5+ */
body { 
	background-color:#E5E5E5;
	scrollbar-face-color: #DEE3E7; scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #DEE3E7; scrollbar-3dlight-color: #D1D7DC;
	scrollbar-arrow-color:  #006699; scrollbar-track-color: #EFEFEF;
	scrollbar-darkshadow-color: #98AAB1;
}

/* General font families for common tags */
font{ font-family: Verdana, Arial, Helvetica, sans-serif }
td	{ font-family: Verdana, Arial, Helvetica, sans-serif }
p	{ font-family: Verdana, Arial, Helvetica, sans-serif }
hr	{ height: 0px; border: solid #D1D7DC 0px; border-top-width: 1px;}


/* This is the border line & background colour round the entire page */
.bodyline	{ background-color:#FFFFFF; border: #98AAB1; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px }

/* This is the outline round the main forum tables */
.forumline	{ background-color:#FFFFFF; border: 2px #006699 solid }

/*
  Main table cell colours and backgrounds
  Styles that use bitmap backgrounds are commented "Uses Bitmap"
  Note that netscape 4 takes paths to bitmap files relative from
  the html file rather than from the style sheet.
  Hence, to maintain compatibility, all styles using bitmaps have
  their "background : url(templates/subSilver/images/bitmap.gif);"
  setting defined in overall_header.tpl 
*/


TH			{ font-family: Verdana, Arial, Helvetica, sans-serif; background-color: #1B7CAD; height: 25px; font-size: 11px; font-weight: bold; color: #FFB163 }  /* Uses Bitmap */
TD.tablebg	{ background-color: #000000 }
TD.cat		{ background-color: #D1D7DC; height: 28px }  /* Uses Bitmap */
TD.row1		{ background-color: #EFEFEF }
TD.row2		{ background-color: #DEE3E7 }
TD.row3		{ background-color: #D1D7DC}

/* This is the spacer row between post replies */
TD.spaceRow { background-color: #D1D7DC; border: #FFFFFF; border-style: solid; border-left-width: 1px; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 0px }

/*
  This is for the table cell above the Topics, Post & Last posts on the index.php page
  By default this is the fading out gradiated silver background.
  However, you could replace this with a bitmap specific for each forum
*/
TD.rowpic	{ background-color: #FFFFFF } /* Uses Bitmap */


/*
  Setting additional nice borders for the main table cells.
  The names indicate which sides the border will be on.
  Don't worry if you don't understand this, just ignore it :-)
*/
TD.catHead,TD.catSides,TD.catLeft,TD.catRight,TD.catBottom { background-color:#D1D7DC; height: 28px; border: #FFFFFF; border-style: solid; }  /* Uses Bitmap */

TD.catHead	 { height: 29px; border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 0px }
TD.catSides  { border-left-width: 1px; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 0px }
TD.catLeft	 { border-left-width: 1px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px }
TD.catRight	 { border-left-width: 0px; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 0px }
TD.catBottom { height: 29px; border-left-width: 1px; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px }

TH.thHead,TH.thSides,TH.thTop,TH.thLeft,TH.thRight,TH.thBottom,TH.thCornerL,TH.thCornerR { border: #FFFFFF; border-style: solid; }

TH.thHead	 { font-weight : bold; font-size: 12px; height: 25px; border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 0px }
TH.thSides	 { border-left-width: 1px; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 0px }
TH.thTop	 { border-left-width: 0px; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 0px }
TH.thLeft	 { border-left-width: 1px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px }
TH.thRight	 { border-left-width: 0px; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 0px }
TH.thBottom  { border-left-width: 1px; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px }
TH.thCornerL { border-left-width: 1px; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 0px }
TH.thCornerR { border-left-width: 0px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 0px }

TD.row3Right	 { background-color: #D1D7DC; border: #FFFFFF; border-style: solid;  border-left-width: 0px; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 0px }



/* The largest text used in the index page title and toptic title etc. */
.maintitle	{ font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; font-size : 22px; font-weight : bold; text-decoration : none; line-height : 120%; color : #000000;}


/* General normal text */
.gen		{ font-size : 12px; color : #000000; }
a.gen		{ color: #006699; text-decoration: none; }
a.gen:hover	{ color: #C23030; text-decoration: underline; }

/* General medium text */
.genmed		{ font-size : 11px; color : #000000; }
a.genmed	{ text-decoration: none; color : #006699; }
a.genmed:hover	{ text-decoration: underline; color : #C23030; }


/* General small */
.gensmall	{ font-size : 10px; color : #000000; }
a.gensmall	{ color: #006699; text-decoration: none; }
a.gensmall:hover{ color: #C23030; text-decoration: underline; }


/* The register, login, search etc links at the top of the page */
.mainmenu		{ font-size : 11px; text-decoration : none; color : #000000 }
a.mainmenu		{ text-decoration: none; color : #006699;  }
a.mainmenu:hover{ text-decoration: underline; color : #C23030; }


/* Forum category titles */
.cattitle		{ font-size : 12px; letter-spacing: 1px; font-weight : bold; text-decoration : none; color : #006699}
a.cattitle		{ text-decoration: none; color : #006699; }
a.cattitle:hover{ text-decoration: underline; }


/* Forum title: Text and link to the forums used in: index.php */
.forumlink		{ font-size : 12px; font-weight : bold; text-decoration : none; color : #006699; }
a.forumlink		{ text-decoration: none; color : #006699; }
a.forumlink:hover{ text-decoration: underline; color : #FFB163; }


/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav			{ font-size : 11px; font-weight : bold; text-decoration : none; color : #000000;}
a.nav			{ text-decoration: none; color : #006699; }
a.nav:hover		{ text-decoration: underline; }


/* titles for the topics: could specify viewed link colour too */
.topictitle			{ font-size : 11px; font-weight : bold; text-decoration : none; color : #000000; }
a.topictitle		{ text-decoration: none; color : #006699; }
a.topictitle:hover	{ text-decoration: underline; color : #FFB163; }
a.topictitle:visited{ text-decoration: none; color : #1B7CAD; }


/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name			{ font-size : 11px; text-decoration : none; color : #000000;}
a.name			{ color: #006699; text-decoration: none;}
a.name:hover	{ color: #C23030; text-decoration: underline;}


/* Location, number of posts, post date etc */
.postdetails		{ font-size : 10px; color : #000000; }
a.postdetails		{ color: #006699; text-decoration: none; }
a.postdetails:hover	{ color: #C23030; text-decoration: underline; }


/* The content of the posts (body of text) */
.postbody { font-size : 12px; line-height: 18px}
a.postlink	{ text-decoration: none; color : #006699 }
a.postlink:hover { text-decoration: underline; color : #C23030 }


/* Quote Code (currently not used) */
.code { 
	font-family: Courier, "Courier New", sans-serif; font-size: 11px; color: #006600;
	background-color: #FAFAFA; border: #D1D7DC; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}

.quote {
	font-family: Verdana, Arial, sans-serif; font-size: 11px; color: #444444; line-height: 125%;
	background-color: #FAFAFA; border: #D1D7DC; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}

.editedby { font-size : 10px; line-height : 100%; color : #333333; }


/* Form elements */
input,textarea, select {
	color : #000000;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : normal;
	border-color : #000000;
}

/* The text input fields background colour */
input.post, textarea.post, select {
	background-color : #FFFFFF;
}

input { text-indent : 2px; }

/* The buttons used for bbCode styling in message post */
input.button {
	background-color : #EFEFEF;
	color : #000000;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
}

/* The main submit button option */
input.mainoption {
	background-color : #FAFAFA;
	font-weight : bold;
}

/* None-bold submit button */
input.liteoption {
	background-color : #FAFAFA;
	font-weight : normal;
}

/* This is the line in the posting page which shows the rollover
  help line. This is actually a text box, but if set to be the same
  colour as the background no one will know ;)
*/
.helpline { background-color: #DEE3E7; border-style: none; }

/* Copyright and bottom info */
.copyright		{ font-family: Verdana, Arial, Helvetica, sans-serif; color: #444444; font-size: 10px; letter-spacing: -1px;}
a.copyright		{ color: #333333; text-decoration: none;}
a.copyright:hover { color: #000000; text-decoration: underline;}
