/*

    The original subSilver Theme for phpBB version 2+
  Created by subBlue design  [ http://www.subBlue.com ]
           Copyright 2000, 2003 phpBB Group

  $Id$

*/

/* 
	Import the fancy styles for forms
*/
@import url("form.css");

/* --------------------------- */


/* 
	textual tags
*/

body {
	scrollbar-face-color:		#DEE3E7;
	scrollbar-highlight-color:	#FFFFFF;
	scrollbar-shadow-color:		#DEE3E7;
	scrollbar-3dlight-color:	#D1D7DC;
	scrollbar-arrow-color:		#006699;
	scrollbar-track-color:		#EFEFEF;
	scrollbar-darkshadow-color: #98AAB1;
	background: white url('templates/subSilver/images/background.png') repeat-x;
	font-family: Verdana, Helvetica, sans-serif;
}

h1 {
	color: black;
	font: bold 150% Verdana, Arial, Helvetica, serif;
	text-decoration: none; 
	margin: 0px;
}

h3 {
	font: bold 120%/120% Verdana, serif;
}

/* --------------------------- */


/* 
	tabular tags
*/

/* header cell */
th	{
	height: 25px;
	color: #FFA34F;
	font-size:	70%;
	font-weight:bold;
	background: #006699 url('templates/subSilver/images/cellpic3.gif');
}

/*
  This is for the table cell above the Topics, Post & Last posts on the 
  index.php page repeats along the y-axis, i.e. vertically
*/
td.rowpic {
	background: #FFFFFF url('templates/subSilver/images/cellpic2.jpg') repeat-y;
}

/*
	Category or related title rows
*/
td.cat {
	height:	28px;
	border:	0px; 
	background: #D1D7DC url('templates/subSilver/images/cellpic1.gif');
}

td.spacer {
	background-color: #D1D7DC; 
	border: #FFFFFF, solid;
}

/* --------------------------- */


/* 
	anchor tags
*/

a:link, a:active, a:visited { 
	color: #005784;
	text-decoration: none;
}
a:hover {
	color: #D46400;
	text-decoration: underline; 
}

a.topictitle:visited {
	color: #5493B4;
	text-decoration: none; 
}

a.copyright	{
	color: #444;
	text-decoration: none;
}
a.copyright:hover {
	color: black;
	text-decoration: underline;
}

/* --------------------------- */


/*
	form tags
*/

input, textarea, select {
	color: black;
	font: normal 70% Verdana, Helvetica, sans-serif;
	border-color: black;
}

/* The text input fields background colour */
input.post, textarea.post, select {
	background-color: white;
}

/* The buttons used for bbCode styling in message post */
input.button {
	color:	black;
	font: normal 70% Verdana, Helvetica, sans-serif;
	background-color: #EFEFEF;
}

/* The main submit button option */
input.mainoption {
	font-weight : bold;
	background-color : #FAFAFA;
}

/* None-bold submit button */
input.liteoption {
	font-weight : normal;
	background-color : #FAFAFA;
}

/* --------------------------- */


/* 
	misc tags
*/

hr	{
	height: 0px; 
	border: solid #D1D7DC 0px; 
	border-top-width: 1px;
}

/* --------------------------- */


/*
	span and global tags
*/

/* This is the outline round the main forum tables */
.tablebg {
	background-color: #A9B8C2;
}

.titles {
	color: black;
	font: bold 130% Arial, Helvetica, serif;
	text-decoration: none; 
}

.cattitle {
	font-size:	80%;
	font-weight:bold;
}

/* Main table cell colours and backgrounds */
.row1 { 
	background-color: #EFEFEF;
}
.row2 {
	background-color: #DEE3E7;
}
.row3 { 
	background-color: #D1D7DC;
}

/* Protected classes used internally -DO NOT REMOVE!- */
span.hilit {
	color: red;
	font-weight: bold;
}

.gen {
	font-size: 80%;
}
.genmed {
	font-size: 70%;
}
.gensmall {
	font-size: 60%;
}

/* The register, login, search etc links at the top of the page */
.mainmenu {
	color: black;
	font-size: 70%; 
}

/* Forum title: Text and link to the forums used in: index.php */
.forumlink {
	color: #006699;
	font-size:	80%;
	font-weight:bold;
}

/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav {
	color: black;
	font-size:	65%;
	font-weight:bold;
}

/* titles for the topics: could specify viewed link colour too */
.topictitle	{
	color: black;
	font-size:	70%;
	font-weight:bold;
}

/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name {
	color: black;
	font-size: 70%;
}

/* Location, number of posts, post date etc */
.postdetails {
	color: black;
	font-size: 65%;
}

/* The content of the posts (body of text) */
.postbody {
	font-size: 80%;
}

/* Quote & Code blocks */
.code {
	color:	#006600;
	font:	normal 80% 'Courier New', monospace;
	border: #D1D7DC 1px solid;
	background-color: #FAFAFA;
}

.quote {
	color: #444;
	font: normal 80%/125% Verdana, Arial, Helvetica, sans-serif;
	border: #D1D7DC solid 1px;
	background-color: #FAFAFA; 
}

/* Copyright and bottom info */
.copyright {
	color: #444;
	font: normal 60% Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: -1px;
}

/* 
	This is the line in the posting page which shows the rollover
	help line. This is actually a text box, but if set to be the same
	colour as the background no one will know ;)
*/
.helpline {
	background-color: #DEE3E7;
	border-style: none;
}

/* --------------------------- */