<!-- $Id$ -->

<!-- INCLUDE ucp_header.html -->

	<tr> 
		<td width="20%" height="100%"><table width="100%" height="100%" cellspacing="1" cellpadding="4" border="0">
			<tr>
				<th>{L_UCP_OPTIONS}</th>
			</tr>
			<!-- BEGIN ucp_subsection -->
			<tr>
				<!-- IF ucp_subsection.S_SELECTED -->
				<td class="row1" height="25" nowrap="nowrap"><span class="nav"><b>{ucp_subsection.L_TITLE}</b>
				<!-- ELSE -->
				<td class="row2" height="25" nowrap="nowrap" onmouseover="this.className='row1'" onmouseout="this.className='row2'"><a class="nav" href="{ucp_subsection.U_TITLE}">{ucp_subsection.L_TITLE}</a>
				<!-- ENDIF -->
				</td>
			</tr>
			<!-- END ucp_subsection -->
			<tr>
				<td class="row2" height="100%">&nbsp;</td>
			</tr>
			<tr>
				<td class="cat" height="28">&nbsp;</td>
			</tr>
		</table></td>
		<td class="row3"><img src="images/spacer.gif" width="1" alt="" /></td>
		<td width="80%" valign="top"><table width="100%" cellspacing="1" cellpadding="4" border="0">
			<tr>
				<th colspan="2" height="25" valign="middle">{L_TITLE}</th>
			</tr>

			<!-- IF ERROR -->
			<tr>
				<td class="row3" colspan="2" align="center"><span class="gensmall" style="color:red">{ERROR}</span></td>
			</tr>
			<!-- ENDIF -->

			<!-- IF S_DISPLAY_PERSONAL -->
			<tr> 
				<td class="row1"><b class="genmed">{L_SHOW_EMAIL}:</b></td>
				<td class="row2"><input type="radio" name="viewemail" value="1"{VIEW_EMAIL_YES} /><span class="gen">{L_YES}</span>&nbsp; &nbsp;<input type="radio" name="viewemail" value="0"{VIEW_EMAIL_NO} /><span class="gen">{L_NO}</span></td>
			</tr>
			<tr> 
				<td class="row1"><b class="genmed">{L_HIDE_ONLINE}:</b></td>
				<td class="row2"><input type="radio" name="hideonline" value="1"{HIDE_ONLINE_YES} /><span class="gen">{L_YES}</span>&nbsp; &nbsp;<input type="radio" name="hideonline" value="0"{HIDE_ONLINE_NO} /><span class="gen">{L_NO}</span></td>
			</tr>
			<tr> 
				<td class="row1"><b class="genmed">{L_NOTIFY_ON_PM}:</b></td>
				<td class="row2"><input type="radio" name="notifypm" value="1"{NOTIFY_PM_YES} /><span class="gen">{L_YES}</span>&nbsp; &nbsp;<input type="radio" name="notifypm" value="0"{NOTIFY_PM_NO} /><span class="gen">{L_NO}</span></td>
			</tr>
			<tr> 
				<td class="row1"><b class="genmed">{L_POPUP_ON_PM}:</b></td>
				<td class="row2"><input type="radio" name="popuppm" value="1"{POPUP_PM_YES} /><span class="gen">{L_YES}</span>&nbsp; &nbsp;<input type="radio" name="popuppm" value="0"{POPUP_PM_NO} /><span class="gen">{L_NO}</span></td>
			</tr>
			<tr> 
				<td class="row1"><b class="genmed">{L_BOARD_LANGUAGE}:</b></td>
				<td class="row2"><select name="lang">{S_LANG_OPTIONS}</select></td>
			</tr>
			<tr> 
				<td class="row1"><b class="genmed">{L_BOARD_STYLE}:</b></td>
				<td class="row2"><select name="style">{S_STYLE_OPTIONS}</select></td>
			</tr>
			<tr> 
				<td class="row1"><b class="genmed">{L_BOARD_TIMEZONE}:</b></td>
				<td class="row2"><select name="tz">{S_TZ_OPTIONS}</select></td>
			</tr>
			<tr> 
				<td class="row1"><b class="genmed">{L_BOARD_DST}:</b></td>
				<td class="row2"><input type="radio" name="dst" value="1"{DST_YES} /> <span class="gen">{L_YES}</span>&nbsp;&nbsp;<input type="radio" name="dst" value="0"{DST_NO} /> <span class="gen">{L_NO}</span></td>
			</tr>
			<tr> 
				<td class="row1"><b class="genmed">{L_BOARD_DATE_FORMAT}:</b><br /><span class="gensmall">{L_BOARD_DATE_FORMAT_EXPLAIN}</span></td>
				<td class="row2"><input type="text" name="dateformat" value="{DATE_FORMAT}" maxlength="14" class="post" /></td>
			</tr>
			<!-- ENDIF -->

			<!-- IF S_DISPLAY_VIEW -->
			<tr> 
				<td class="row1"><b class="genmed">{L_VIEW_IMAGES}:</b></td>
				<td class="row2"><input type="radio" name="images" value="1"{VIEW_IMAGES_YES} /><span class="gen">{L_YES}</span>&nbsp; &nbsp;<input type="radio" name="images" value="0"{VIEW_IMAGES_NO} /><span class="gen">{L_NO}</span></td>
			</tr>
			<tr> 
				<td class="row1"><b class="genmed">{L_VIEW_FLASH}:</b></td>
				<td class="row2"><input type="radio" name="flash" value="1"{VIEW_FLASH_YES} /><span class="gen">{L_YES}</span>&nbsp; &nbsp;<input type="radio" name="flash" value="0"{VIEW_FLASH_NO} /><span class="gen">{L_NO}</span></td>
			</tr>
			<tr> 
				<td class="row1"><b class="genmed">{L_VIEW_SMILIES}:</b></td>
				<td class="row2"><input type="radio" name="smilies" value="1"{VIEW_SMILIES_YES} /><span class="gen">{L_YES}</span>&nbsp; &nbsp;<input type="radio" name="smilies" value="0"{VIEW_SMILIES_NO} /><span class="gen">{L_NO}</span></td>
			</tr>
			<tr> 
				<td class="row1"><b class="genmed">{L_VIEW_SIGS}:</b></td>
				<td class="row2"><input type="radio" name="sigs" value="1"{VIEW_SIGS_YES} /><span class="gen">{L_YES}</span>&nbsp; &nbsp;<input type="radio" name="sigs" value="0"{VIEW_SIGS_NO} /><span class="gen">{L_NO}</span></td>
			</tr>
			<tr> 
				<td class="row1"><b class="genmed">{L_VIEW_AVATARS}:</b></td>
				<td class="row2"><input type="radio" name="avatars" value="1"{VIEW_AVATARS_YES} /><span class="gen">{L_YES}</span>&nbsp; &nbsp;<input type="radio" name="avatars" value="0"{VIEW_AVATARS_NO} /><span class="gen">{L_NO}</span></td>
			</tr>
			<tr> 
				<td class="row1"><b class="genmed">{L_DISABLE_CENSORS}:</b></td>
				<td class="row2"><input type="radio" name="wordcensor" value="1"{DISABLE_CENSORS_YES} /><span class="gen">{L_YES}</span>&nbsp; &nbsp;<input type="radio" name="wordcensor" value="0"{DISABLE_CENSORS_NO} /><span class="gen">{L_NO}</span></td>
			</tr>
			<!-- ENDIF -->

			<!-- IF S_DISPLAY_POST -->
			<tr> 
				<td class="row1"><b class="genmed">{L_DEFAULT_BBCODE}:</b></td>
				<td class="row2"><input type="radio" name="bbcode" value="1"{DEFAULT_BBCODE_YES} /><span class="gen">{L_YES}</span>&nbsp; &nbsp;<input type="radio" name="bbcode" value="0"{DEFAULT_BBCODE_NO} /><span class="gen">{L_NO}</span></td>
			</tr>
			<tr> 
				<td class="row1"><b class="genmed">{L_DEFAULT_HTML}:</b></td>
				<td class="row2"><input type="radio" name="html" value="1"{DEFAULT_HTML_YES} /><span class="gen">{L_YES}</span>&nbsp; &nbsp;<input type="radio" name="html" value="0"{DEFAULT_HTML_NO} /><span class="gen">{L_NO}</span></td>
			</tr>
			<tr> 
				<td class="row1"><b class="genmed">{L_DEFAULT_SMILE}:</b></td>
				<td class="row2"><input type="radio" name="smilies" value="1"{DEFAULT_SMILIES_YES} /><span class="gen">{L_YES}</span>&nbsp; &nbsp;<input type="radio" name="smilies" value="0"{DEFAULT_SMILIES_NO} /><span class="gen">{L_NO}</span></td>
			</tr>
			<tr> 
				<td class="row1"><b class="genmed">{L_DEFAULT_ADD_SIG}:</b></td>
				<td class="row2"><input type="radio" name="sig" value="1"{DEFAULT_SIG_YES} /><span class="gen">{L_YES}</span>&nbsp; &nbsp;<input type="radio" name="sig" value="0"{DEFAULT_SIG_NO} /><span class="gen">{L_NO}</span></td>
			</tr>
			<tr> 
				<td class="row1"><b class="genmed">{L_DEFAULT_NOTIFY}:</b></td>
				<td class="row2"><input type="radio" name="notify" value="1"{DEFAULT_NOTIFY_YES} /><span class="gen">{L_YES}</span>&nbsp; &nbsp;<input type="radio" name="notify" value="0"{DEFAULT_NOTIFY_NO} /><span class="gen">{L_NO}</span></td>
			</tr>
			<!-- ENDIF -->

			<tr>
				<td class="cat" colspan="2" align="center" height="28">{S_HIDDEN_FIELDS}<input class="mainoption" type="submit" name="submit" value="{L_SUBMIT}" />&nbsp;&nbsp;<input class="liteoption" type="reset" value="{L_RESET}" name="reset" /></td>
			</tr>
		</table></td>
	</tr>

<!-- INCLUDE ucp_footer.html -->