<!-- $Id$ -->

<!-- INCLUDE overall_header.html -->

<form method="post" action="{S_UCP_ACTION}"><table width="80%" cellspacing="2" cellpadding="2" border="0" align="center">
	<tr>
		<td class="nav"><a href="{U_INDEX}">{L_INDEX}</a></td>
	</tr>
</table>

<table class="tablebg" width="80%" cellspacing="1" cellpadding="4" border="0" align="center">
	<tr>
		<th height="25">{SITENAME} - {REGISTRATION}</th>
	</tr>
	<tr>
		<td class="row1" align="center"><table width="90%" cellspacing="2" cellpadding="2" border="0" align="center">
			<tr>
				<!-- IF S_SHOW_COPPA -->
				<td class="gen" align="center"><br />{L_COPPA_BIRTHDAY}<br /><br /><a href="{U_COPPA_NO}">{L_COPPA_NO}</a> :: <a href="{U_COPPA_YES}">{L_COPPA_YES}</a><br /><br /></td>
				<!-- ELSE -->
				<td><span class="genmed"><br />{L_AGREEMENT}<br /><br /></span>
					<div align="center">
						<input class="btnlite" type="submit" name="agreed" value="{L_AGREE}"><br /><br />
						<input class="btnlite" type="submit" name="not_agreed" value="{L_NOT_AGREE}">
					</div>
				</td>
				<!-- ENDIF -->
			</tr>
		</table></td>
	</tr>
</table></form>

<!-- INCLUDE overall_footer.html -->