<!-- $Id$ -->
<!-- INCLUDE ucp_header.html -->

	<tr> 
		<td width="20%" height="100%"><table width="100%" height="100%" cellspacing="1" cellpadding="4" border="0">
			<tr>
				<th>Options</th>
			</tr>
			<!-- BEGIN ucp_subsection -->
			<tr>
				<!-- IF ucp_subsection.S_SELECTED -->
				<td class="row1" height="25" nowrap="nowrap"><span class="nav"><b>{ucp_subsection.L_TITLE}</b>
				<!-- ELSE -->
				<td class="row2" height="25" nowrap="nowrap" onmouseover="this.className='row1'" onmouseout="this.className='row2'"><a class="nav" href="{ucp_subsection.U_TITLE}">{ucp_subsection.L_TITLE}</a>
				<!-- ENDIF -->
				</td>
			</tr>
			<!-- END ucp_subsection -->
			<tr>
				<td class="row2" height="100%">&nbsp;</td>
			</tr>
			<tr>
				<td class="cat" height="28">&nbsp;</td>
			</tr>
		</table></td>
		<td class="row3"><img src="images/spacer.gif" width="1" alt="" /></td>
		<td width="80%" valign="top"><table width="100%" cellspacing="1" cellpadding="4" border="0">
			<tr>
				<th colspan="2" height="25" valign="middle">{L_TITLE}</th>
			</tr>

			<!-- IF ERROR -->
			<tr>
				<td class="row3" colspan="2" align="center"><span class="gensmall" style="color:red">{ERROR}</span></td>
			</tr>
			<!-- ENDIF -->

			<!-- IF S_DISPLAY_REG_DETAILS -->
			<tr> 
				<td class="row1" width="38%"><b class="genmed">{L_USERNAME}: </b></td>
				<td class="row2"><!-- IF S_CHANGE_USERNAME --><input type="text" class="post" style="width:200px" name="username" size="25" maxlength="40" value="{USERNAME}" /><!-- ELSE --><b class="gen">{USERNAME}</b><!-- ENDIF --></td>
			</tr>
			<tr> 
				<td class="row1"><b class="genmed">{L_EMAIL_ADDRESS}: </b></td>
				<td class="row2"><!-- IF S_CHANGE_EMAIL --><input type="text" class="post" name="email" size="30" maxlength="255" value="{EMAIL}" /><!-- ELSE --><b class="gen">{EMAIL}</b><!-- ENDIF --></td>
			</tr>
			<!-- IF S_CHANGE_PASSWORD -->
			<tr> 
				<td class="row1"><b class="genmed">{L_NEW_PASSWORD}: </b><br /><span class="gensmall">{L_NEW_PASSWORD_EXPLAIN}</span></td>
				<td class="row2"><input type="password" class="post" name="new_password" size="30" maxlength="100" value="{PASSWORD}" /></td>
			</tr>
			<tr> 
				<td class="row1"><b class="genmed">{L_CONFIRM_PASSWORD}: </b><br /><span class="gensmall">{L_CONFIRM_PASSWORD_EXPLAIN}</span></td>
				<td class="row2"><input type="password" class="post" name="password_confirm" size="30" maxlength="100" value="{PASSWORD_CONFIRM}" /></td>
			</tr>
			<tr> 
				<td class="row1"><b class="genmed">{L_CURRENT_PASSWORD}: </b><br /><span class="gensmall">{L_CURRENT_PASSWORD_EXPLAIN}</span></td>
				<td class="row2"><input type="password" class="post" name="cur_password" size="30" maxlength="100" value="{PASSWORD}" /></td>
			</tr>
			<!-- ENDIF -->
			<!-- ENDIF -->

			<!-- IF S_DISPLAY_PROFILE_INFO -->
			<tr> 
				<td class="row3" colspan="2"><span class="gensmall">{L_PROFILE_INFO_NOTICE}</span></td>
			</tr>
			<tr> 
				<td class="row1"><b class="genmed">{L_UCP_ICQ}: </b></td>
				<td class="row2"><input class="post" type="text" name="icq" size="30" maxlength="15" value="{ICQ}" /></td>
			</tr>
			<tr> 
				<td class="row1"><b class="genmed">{L_UCP_AIM}: </b></td>
				<td class="row2"><input class="post" type="text" name="aim" size="30" maxlength="255" value="{AIM}" /></td>
			</tr>
			<tr> 
				<td class="row1"><b class="genmed">{L_UCP_MSNM}: </b></td>
				<td class="row2"><input class="post" type="text" name="msn" size="30" maxlength="255" value="{MSN}" /></td>
			</tr>
			<tr> 
				<td class="row1"><b class="genmed">{L_UCP_YIM}: </b></td>
				<td class="row2"><input class="post" type="text" name="yim" size="30" maxlength="255" value="{YIM}" /></td>
			</tr>
			<tr> 
				<td class="row1"><b class="genmed">{L_JABBER}: </b></td>
				<td class="row2"><input class="post" type="text" name="yim" size="30" maxlength="255" value="{YIM}" /></td>
			</tr>
			<tr> 
				<td class="row1"><b class="genmed">{L_WEBSITE}: </b></td>
				<td class="row2"><input class="post" type="text" name="website" size="30" maxlength="255" value="{WEBSITE}" /></td>
			</tr>
			<tr> 
				<td class="row1"><b class="genmed">{L_LOCATION}: </b></td>
				<td class="row2"><input class="post" type="text" name="location" size="30" maxlength="100" value="{LOCATION}" /></td>
			</tr>
			<tr> 
				<td class="row1"><b class="genmed">{L_BIRTHDAY}: </b></td>
				<td class="row2"><span class="gensmall">Day:</span> <select name="birthday[day]">{S_BIRTHDAY_DAY_OPTIONS}</select> <span class="gensmall">Month:</span> <select name="birthday[month]">{S_BIRTHDAY_MONTH_OPTIONS}</select> <span class="gensmall">Year:</span> <select name="birthday[year]">{S_BIRTHDAY_YEAR_OPTIONS}</select></td>
			</tr>
			<tr> 
				<td class="row1"><b class="genmed">{L_OCCUPATION}: </b></td>
				<td class="row2"><textarea class="post" name="occupation" rows="3" cols="30">{OCCUPATION}</textarea></td>
			</tr>
			<tr> 
				<td class="row1"><b class="genmed">{L_INTERESTS}: </b></td>
				<td class="row2"><textarea class="post" name="interests" rows="3" cols="30">{INTERESTS}</textarea></td>
			</tr>
			<!-- ENDIF -->

			<!-- IF S_DISPLAY_SIGNATURE -->
			<tr> 
				<td class="row1"><b class="genmed">{L_SIGNATURE}: </b><br /><span class="gensmall">{L_SIGNATURE_EXPLAIN}</span></td>
				<td class="row2"><table cellspacing="0" cellpadding="2" border="0">
					<tr align="center" valign="middle">
						<td><input type="button" class="button" accesskey="b" name="addbbcode0" value=" B " style="font-weight:bold; width: 30px" onclick="bbstyle(0)" onmouseover="helpline('b')" /></td>
						<td><input type="button" class="button" accesskey="i" name="addbbcode2" value=" i " style="font-style:italic; width: 30px" onclick="bbstyle(2)" onmouseover="helpline('i')" /></td>
						<td><input type="button" class="button" accesskey="u" name="addbbcode4" value=" u " style="text-decoration: underline; width: 30px" onclick="bbstyle(4)" onmouseover="helpline('u')" /></td>
						<td><input type="button" class="button" accesskey="q" name="addbbcode6" value="Quote" style="width: 50px" onclick="bbstyle(6)" onmouseover="helpline('q')" /></td>
						<td><input type="button" class="button" accesskey="c" name="addbbcode8" value="Code" style="width: 40px" onclick="bbstyle(8)" onmouseover="helpline('c')" /></td>

						<td><input type="button" class="button" accesskey="l" name="addbbcode10" value="List" style="width: 40px" onclick="bbstyle(10)" onmouseover="helpline('l')" /></td>
						<td><input type="button" class="button" accesskey="o" name="addbbcode12" value="List=" style="width: 40px" onclick="bbstyle(12)" onmouseover="helpline('o')" /></td>
						<td><input type="button" class="button" accesskey="p" name="addbbcode14" value="Img" style="width: 40px"  onclick="bbstyle(14)" onmouseover="helpline('p')" /></td>
						<td><input type="button" class="button" accesskey="f" name="addbbcode16" value="Flash" style="width: 40px"  onclick="bbstyle(16)" onmouseover="helpline('p')" /></td>
						<td><input type="button" class="button" accesskey="w" name="addbbcode18" value="URL" style="text-decoration: underline; width: 40px" onclick="bbstyle(18)" onmouseover="helpline('w')" /></td>
					</tr>
					<tr>
						<td colspan="10"><table width="100%" cellspacing="0" cellpadding="0" border="0">
							<tr>
								<td><span class="genmed"> &nbsp;{L_FONT_SIZE}:</span> <select name="addbbcode20" onchange="bbfontstyle('[size=' + this.form.addbbcode20.options[this.form.addbbcode20.selectedIndex].value + ']', '[/size]');this.form.addbbcode20.selectedIndex = 2;" onmouseover="helpline('f')">
									<option value="7">{L_FONT_TINY}</option>
									<option value="9">{L_FONT_SMALL}</option>
									<option value="12" selected="selected">{L_FONT_NORMAL}</option>
									<option value="18">{L_FONT_LARGE}</option>
									<option  value="24">{L_FONT_HUGE}</option>
								</select></td>
								<td class="gensmall" nowrap="nowrap" align="right"><a href="javascript:bbstyle(-1)" onmouseover="helpline('a')">{L_CLOSE_TAGS}</a></td>
							</tr>
						</table></td>
					</tr>
					<tr>
						<td colspan="10" width="450"><input class="helpline" type="text" name="helpbox" size="45" maxlength="100" style="width:450px;font-size:10px" value="{L_STYLES_TIP}" /></td>
					</tr>
					<tr>
						<td colspan="10" align="center"><textarea class="post" name="signature" rows="6" cols="60" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);">{SIGNATURE}</textarea></td>
					</tr>
				</table></td>
			</tr>
			<tr>
				<td class="row1" valign="top"><b class="genmed">{L_OPTIONS}</b><br /><table cellspacing="2" cellpadding="0" border="0">
					<tr>
						<td class="gensmall">{HTML_STATUS}</td>
					</tr>
					<tr>
						<td class="gensmall">{BBCODE_STATUS}</td>
					</tr>
					<tr>
						<td class="gensmall">{IMG_STATUS}</td>
					</tr>
					<tr>
						<td class="gensmall">{FLASH_STATUS}</td>
					</tr>
					<tr>
						<td class="gensmall">{SMILIES_STATUS}</td>
					</tr>
				</table></td>
				<td class="row2" valign="top"><table cellspacing="0" cellpadding="1" border="0">
					<!-- IF S_HTML_ALLOWED -->
					<tr>
						<td><input type="checkbox" name="disable_html"{S_HTML_CHECKED} /></td>
						<td class="gen">{L_DISABLE_HTML}</td>
					</tr>
					<!-- ENDIF -->
					<!-- IF S_BBCODE_ALLOWED -->
					<tr>
						<td><input type="checkbox" name="disable_bbcode"{S_BBCODE_CHECKED} /></td>
						<td class="gen">{L_DISABLE_BBCODE}</td>
					</tr>
					<!-- ENDIF -->
					<!-- IF S_SMILIES_ALLOWED -->
					<tr>
						<td><input type="checkbox" name="disable_smilies"{S_SMILIES_CHECKED} /></td>
						<td class="gen">{L_DISABLE_SMILIES}</td>
					</tr>
					<!-- ENDIF -->
					<tr>
						<td><input type="checkbox" name="disable_magic_url"{S_MAGIC_URL_CHECKED} /></td>
						<td class="gen">{L_DISABLE_MAGIC_URL}</td>
					</tr>
				</table></td>
			</tr>
			<!-- IF S_SIGNATURE_PREVIEW -->
			<tr>
				<th colspan="2" height="25" valign="middle">{L_SIGNATURE_PREVIEW}</th>
			</tr>
			<tr> 
				<td class="row1" colspan="2" align="center"><table cellspacing="0" cellpadding="6" border="0">
					<tr>
						<td><span class="postdetails">{SIGNATURE_PREVIEW}</span></td>
					</tr>
				</table></td>
			</tr>
			<!-- ENDIF -->
			<!-- ENDIF -->

			<!-- IF S_DISPLAY_AVATAR -->
			<tr> 
				<td class="row1" colspan="2"><table width="70%" cellspacing="2" cellpadding="0" border="0" align="center">
					<tr> 
						<td width="65%"><span class="gensmall">{L_AVATAR_EXPLAIN}</span></td>
						<td align="center"><span class="gensmall">{L_CURRENT_IMAGE}</span><br />{AVATAR}<br /><input type="checkbox" name="avatardel" />&nbsp;<span class="gensmall">{L_DELETE_AVATAR}</span></td>
					</tr>
				</table></td>
			</tr>
			<!-- IF S_UPLOAD_AVATAR_FILE -->
			<tr> 
				<td class="row1"><b class="genmed">{L_UPLOAD_AVATAR_FILE}:</b></td>
				<td class="row2"><input type="hidden" name="MAX_FILE_SIZE" value="{AVATAR_SIZE}" /><input type="file" name="avatar" class="post" style="width:200px" /></td>
			</tr>
			<!-- ENDIF -->
			<!-- IF S_UPLOAD_AVATAR_URL -->
			<tr> 
				<td class="row1"><b class="genmed">{L_UPLOAD_AVATAR_URL}:</b><br /><span class="gensmall">{L_UPLOAD_AVATAR_URL_EXPLAIN}</span></td>
				<td class="row2"><input type="text" name="avatarurl" size="40" class="post" style="width:200px" /></td>
			</tr>
			<!-- ENDIF -->
			<!-- IF S_LINK_AVATAR -->
			<tr> 
				<td class="row1"><b class="genmed">{L_LINK_REMOTE_AVATAR}:</b><br /><span class="gensmall">{L_LINK_REMOTE_AVATAR_EXPLAIN}</span></td>
				<td class="row2"><input type="text" name="avatarremoteurl" size="40" class="post" style="width:200px" /></td>
			</tr>
			<!-- ENDIF -->
			<!-- IF S_GALLERY_AVATAR -->
			<tr> 
				<td class="row1"><b class="genmed">{L_AVATAR_GALLERY}:</b></td>
				<td class="row2"><input type="submit" name="avatargallery" value="{L_SHOW_GALLERY}" class="liteoption" /></td>
			</tr>
			<!-- ENDIF -->
			<!-- ENDIF -->

			<tr>
				<td class="cat" colspan="2" height="28" align="center">{S_HIDDEN_FIELDS}<!-- IF S_DISPLAY_SIGNATURE --><input class="liteoption" type="submit" name="preview" value="{L_PREVIEW}" />&nbsp; <!-- ENDIF --><input class="mainoption" type="submit" name="submit" value="{L_SUBMIT}" />&nbsp; <input class="liteoption" type="reset" value="{L_RESET}" name="reset" /></td>
			</tr>
		</table></td>
	</tr>

<!-- INCLUDE ucp_footer.html -->