<!-- INCLUDE overall_header.html -->
 
<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
	<tr> 
		<td align="left"><span class="nav"><a href="{U_INDEX}">{L_INDEX}</a></span></td>
	</tr>
</table>

<table class="tablebg" width="100%" cellpadding="2" cellspacing="1" border="0">
	<tr> 
		<th width="35%" height="25">&nbsp;{L_USERNAME}&nbsp;</th>
		<th width="25%">&nbsp;{L_LAST_UPDATE}&nbsp;</th>
		<th width="40%">&nbsp;{L_FORUM_LOCATION}&nbsp;</th>
	</tr>
	<tr> 
		<td class="cat" colspan="3" height="28"><b class="cattitle">{TOTAL_REGISTERED_USERS_ONLINE}</b></td>
	</tr>
	<!-- BEGIN reg_user_row -->
	<!-- IF reg_user_row.S_ROW_COUNT is even -->
	<tr class="row1">
	<!-- ELSE -->
	<tr class="row2">
	<!-- ENDIF -->
		<td class="gen" width="35%" height="29">&nbsp;<a href="{reg_user_row.U_USER_PROFILE}">{reg_user_row.USERNAME}</a>&nbsp;</td>
		<td class="gen" width="25%" align="center" nowrap="nowrap">&nbsp;{reg_user_row.LASTUPDATE}&nbsp;</td>
		<td class="gen" width="40%">&nbsp;<a href="{reg_user_row.U_FORUM_LOCATION}">{reg_user_row.FORUM_LOCATION}</a>&nbsp;</td>
	</tr>
	<!-- END reg_user_row -->
	<tr> 
		<td class="row3" colspan="3" height="1"><img src="images/spacer.gif" width="1" height="1" alt=""></td>
	</tr>
	<tr> 
		<td class="cat" colspan="3" height="28"><b class="cattitle">{TOTAL_GUEST_USERS_ONLINE}</b></td>
	</tr>
	<!-- BEGIN guest_user_row -->
	<!-- IF guest_user_row.S_ROW_COUNT is even -->
	<tr class="row1">
	<!-- ELSE -->
	<tr class="row2">
	<!-- ENDIF -->
		<td class="gen" width="35%">&nbsp;{guest_user_row.USERNAME}&nbsp;</td>
		<td class="gen" width="25%" align="center" nowrap="nowrap">&nbsp;{guest_user_row.LASTUPDATE}&nbsp;</td>
		<td class="gen" width="40%">&nbsp;<a href="{guest_user_row.U_FORUM_LOCATION}">{guest_user_row.FORUM_LOCATION}</a>&nbsp;</td>
	</tr>
	<!-- END guest_user_row -->
</table>

<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
	<tr> 
		<td align="left" valign="top"><span class="gensmall">{L_ONLINE_EXPLAIN}</span></td>
		<td align="right" valign="top"><span class="gensmall">{S_TIMEZONE}</span></td>
	</tr>
</table>

<br />

<table width="100%" cellspacing="2" border="0" align="center">
	<tr> 
		<td valign="top" align="right"><!-- INCLUDE jumpbox.html --></td>
	</tr>
</table>

<!-- INCLUDE overall_footer.html -->