/* Set profile icon dimensions */
/* EN Language Pack */
.imageset.icon_contact_pm {
	background-image: url("./icon_contact_pm.gif");
	padding-left: 28px;
	padding-top: 20px;
}
.imageset.icon_post_edit {
	background-image: url("./icon_post_edit.gif");
	padding-left: 42px;
	padding-top: 20px;
}
.imageset.icon_post_quote {
	background-image: url("./icon_post_quote.gif");
	padding-left: 54px;
	padding-top: 20px;
}
.imageset.icon_user_online {
	background-image: url("./icon_user_online.gif");
	padding-left: 58px;
	padding-top: 58px;
}
