/* Set profile icon dimensions */
ul.profile-icons li.pm-icon		{ width: 28px; height: 20px; }
ul.profile-icons li.quote-icon	{ width: 54px; height: 20px; }
ul.profile-icons li.edit-icon	{ width: 42px; height: 20px; }

/* Online image */
.online { background-image: url("./icon_user_online.gif"); }
