{% if S_TYPE == 1 %}
<div class="panel captcha-panel">
	<div class="inner">

	<h3 class="captcha-title">{{ lang('CONFIRMATION') }}</h3>
	<fieldset class="fields2">
{% endif %}

	<dl>
	<dt><label>{{ QA_CONFIRM_QUESTION }}{{ lang('COLON') }}</label><br /><span>{{ lang('CONFIRM_QUESTION_EXPLAIN') }}</span></dt>
	<dd class="captcha">
		<input type="text" tabindex="{{ definition.CAPTCHA_TAB_INDEX }}" name="qa_answer" id="answer" size="45"  class="inputbox autowidth" title="{{ lang('ANSWER') }}" />
		<input type="hidden" name="qa_confirm_id" id="qa_confirm_id" value="{{ QA_CONFIRM_ID }}" />
	</dd>
	</dl>

{% if S_TYPE == 1 %}
	</fieldset>
	</div>
</div>
{% endif %}
