{% if S_TYPE == 1 %}
<div class="panel captcha-panel">
	<div class="inner">

	<h3 class="captcha-title">{{ lang('CONFIRMATION') }}</h3>
	<p>{{ lang('CONFIRM_EXPLAIN') }}</p>

	<fieldset class="fields2">
{% endif %}

{% if S_RECAPTCHA_AVAILABLE %}
	<dl>
	<dt><label>{{ lang('CONFIRM_CODE') }}{{ lang('COLON') }}</label><br /><span>{{ lang('RECAPTCHA_EXPLAIN') }}</span></dt>
	<dd class="captcha">
		<noscript>
			<div>{{ lang('RECAPTCHA_NOSCRIPT') }}</div>
		</noscript>
		<script src="{{ RECAPTCHA_SERVER }}.js?hl={{ lang('RECAPTCHA_LANG')|escape('js') }}" async defer></script>
		<div class="g-recaptcha" data-sitekey="{{ RECAPTCHA_PUBKEY }}" data-tabindex="{% if definition.CAPTCHA_TAB_INDEX %}{{ definition.CAPTCHA_TAB_INDEX }}{% else %}10{% endif %}"></div>
	</dd>
	</dl>
{% else %}
{{ lang('RECAPTCHA_NOT_AVAILABLE') }}
{% endif %}

{% if S_TYPE == 1 %}
	</fieldset>
	</div>
</div>
{% endif %}
