{% if S_AJAX_REQUEST %}
	<form action="{{ S_CONFIRM_ACTION }}" method="post">
		<p>{{ MESSAGE_TEXT }}</p>

		{% if not S_SHADOW_TOPICS %}
		{% if not S_SOFTDELETED and S_ALLOWED_DELETE and S_ALLOWED_SOFTDELETE %}
			<label>
				<strong>{{ lang('DELETE_PERMANENTLY') }}{{ lang('COLON') }}</strong>
				<input id="delete_permanent" name="delete_permanent" type="checkbox" value="1" {{ S_CHECKED_PERMANENT }} />
				{% if S_TOPIC_MODE %}{{ DELETE_TOPIC_PERMANENTLY_EXPLAIN }}{% else %}{{ DELETE_POST_PERMANENTLY_EXPLAIN }}{% endif %}
			</label>
		{% endif %}

		<label for="delete_reason">
			<strong>{{ lang('DELETE_REASON') }}{{ lang('COLON') }}</strong><br /><span>{{ lang('DELETE_REASON_EXPLAIN') }}</span><br />
			<input type="text" name="delete_reason" value="" class="inputbox autowidth" maxlength="120" size="45" />
		</label>
		{% endif %}

		<fieldset class="submit-buttons">
			<input type="button" name="confirm" value="{{ lang('YES') }}" class="button1 button button-form" />&nbsp;
			<input type="button" name="cancel" value="{{ lang('NO') }}" class="button1 button button-form-bold" />
		</fieldset>
	</form>

{% else %}

{% INCLUDE 'overall_header.html' %}

<form id="confirm" action="{{ S_CONFIRM_ACTION }}" method="post">
<div class="panel">
	<div class="inner">

	<h2 class="message-title">{{ MESSAGE_TITLE }}</h2>

	<p>{{ MESSAGE_TEXT }}</p>

	{% if not S_SHADOW_TOPICS %}
	<fieldset class="fields1">
		{% if not S_SOFTDELETED and S_ALLOWED_DELETE and S_ALLOWED_SOFTDELETE %}
			<dl>
				<dt><label for="delete_permanent">{{ lang('DELETE_PERMANENTLY') }}{{ lang('COLON') }}</label></dt>
				<dd>
					<label for="delete_permanent">
						<input id="delete_permanent" name="delete_permanent" type="checkbox" value="1" {{ S_CHECKED_PERMANENT }} />
						{% if S_TOPIC_MODE %}{{ DELETE_TOPIC_PERMANENTLY_EXPLAIN }}{% else %}{{ DELETE_POST_PERMANENTLY_EXPLAIN }}{% endif %}
					</label>
				</dd>
			</dl>
		{% endif %}

		<dl>
			<dt><label for="delete_reason">{{ lang('DELETE_REASON') }}{{ lang('COLON') }}</label><br /><span>{{ lang('DELETE_REASON_EXPLAIN') }}</span></dt>
			<dd><input type="text" name="delete_reason" id="delete_reason" value="" class="inputbox autowidth" maxlength="120" size="45" /></dd>
		</dl>
	</fieldset>
	{% endif %}

	<fieldset class="submit-buttons">
		{{ S_HIDDEN_FIELDS }}
		<input type="submit" name="confirm" value="{{ lang('YES') }}" class="button1 button button-form" />&nbsp;
		<input type="submit" name="cancel" value="{{ lang('NO') }}" class="button1 button button-form-bold" />
	</fieldset>

	</div>
</div>
</form>

{% INCLUDE 'overall_footer.html' %}
{% endif %}
