<div class="dropdown-container dropdown-container-left dropdown-button-control sort-tools">
	<span title="{L_SORT_OPTIONS}" class="button button-secondary dropdown-trigger dropdown-select">
		<i class="icon fa-sort-amount-asc fa-fw" aria-hidden="true"></i>
		<span class="caret"><i class="icon fa-sort-down fa-fw" aria-hidden="true"></i></span>
	</span>
	<div class="dropdown hidden">
		<div class="pointer"><div class="pointer-inner"></div></div>
		<div class="dropdown-contents">
			<fieldset class="display-options">
			<!-- IF S_SORT_OPTIONS -->
				<label>{L_SORT_BY}{L_COLON} <select name="sk" id="sk">{S_SORT_OPTIONS}</select></label>
				<label>{L_SORT_DIRECTION}{L_COLON} <select name="sd" id="sd">{S_ORDER_SELECT}</select></label>
				<hr class="dashed" />
				<input type="submit" class="button2" name="sort" value="{L_SORT}" />
			<!-- ELSE -->
				<label>{L_DISPLAY}{L_COLON} {S_SELECT_SORT_DAYS}</label>
				<!-- IF S_SELECT_SORT_KEY -->
				<label>{L_SORT_BY}{L_COLON} {S_SELECT_SORT_KEY}</label>
				<label>{L_SORT_DIRECTION}{L_COLON} {S_SELECT_SORT_DIR}</label>
				<!-- ENDIF -->
				<hr class="dashed" />
				<input type="submit" class="button2" name="sort" value="{L_GO}" />
			<!-- ENDIF -->
			</fieldset>
		</div>
	</div>
</div>
