

{% if loops.draftrow|length %}
<div class="panel">
	<div class="inner">

	<h3 class="draft-title">{{ lang('LOAD_DRAFT') }}</h3>
	<p>{{ lang('LOAD_DRAFT_EXPLAIN') }}</p>

	</div>
</div>

<div class="{% if not S_PRIVMSGS %}forumbg{% else %}panel{% endif %}">
	<div class="inner">

	<ul class="topiclist two-long-columns">
		<li class="header">
			<dl>
				<dt>{{ lang('LOAD_DRAFT') }}</dt>
				<dd class="info">{{ lang('SAVE_DATE') }}</dd>
			</dl>
		</li>
	</ul>
	<ul class="topiclist two-long-columns{% if not S_PRIVMSGS %} topics{% else %} cplist{% endif %}">

	{% for draftrow in loops.draftrow %}
	<li class="row{% if draftrow.S_ROW_COUNT is even %} bg1{% else %} bg2{% endif %}">
		<dl>
			<dt>
				<div class="list-inner">
					<a href="{{ draftrow.U_INSERT }}" title="{{ lang('LOAD_DRAFT') }}" class="topictitle">{{ draftrow.DRAFT_SUBJECT }}</a><br />
					{% if not S_PRIVMSGS %}{% if draftrow.S_LINK_TOPIC %}{{ lang('TOPIC') }}{{ lang('COLON') }} <a href="{{ draftrow.U_VIEW }}">{{ draftrow.TITLE }}</a>
					{% elseif draftrow.S_LINK_FORUM %}{{ lang('FORUM') }}{{ lang('COLON') }} <a href="{{ draftrow.U_VIEW }}">{{ draftrow.TITLE }}</a>
					{% else %}{{ lang('NO_TOPIC_FORUM') }}{% endif %}{% endif %}
					<div class="responsive-show" style="display: none;">
						{{ lang('SAVE_DATE') }}{{ lang('COLON') }} <strong>{{ draftrow.DATE }}</strong>
					</div>
				</div>
			</dt>
			<dd class="info"><span>{{ draftrow.DATE }}</span></dd>
		</dl>
	</li>
	{% endfor %}

	</ul>

	</div>
</div>
{% endif %}
