

<!-- IF .draftrow -->
<div class="panel">
	<div class="inner">

	<h3 class="draft-title">{L_LOAD_DRAFT}</h3>
	<p>{L_LOAD_DRAFT_EXPLAIN}</p>

	</div>
</div>

<div class="<!-- IF not S_PRIVMSGS -->forumbg<!-- ELSE -->panel<!-- ENDIF -->">
	<div class="inner">

	<ul class="topiclist two-long-columns">
		<li class="header">
			<dl>
				<dt>{L_LOAD_DRAFT}</dt>
				<dd class="info">{L_SAVE_DATE}</dd>
			</dl>
		</li>
	</ul>
	<ul class="topiclist two-long-columns<!-- IF not S_PRIVMSGS --> topics<!-- ELSE --> cplist<!-- ENDIF -->">

	<!-- BEGIN draftrow -->
	<li class="row<!-- IF draftrow.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
		<dl>
			<dt>
				<div class="list-inner">
					<a href="{draftrow.U_INSERT}" title="{L_LOAD_DRAFT}" class="topictitle">{draftrow.DRAFT_SUBJECT}</a><br />
					<!-- IF not S_PRIVMSGS --><!-- IF draftrow.S_LINK_TOPIC -->{L_TOPIC}{L_COLON} <a href="{draftrow.U_VIEW}">{draftrow.TITLE}</a>
					<!-- ELSEIF draftrow.S_LINK_FORUM -->{L_FORUM}{L_COLON} <a href="{draftrow.U_VIEW}">{draftrow.TITLE}</a>
					<!-- ELSE -->{L_NO_TOPIC_FORUM}<!-- ENDIF --><!-- ENDIF -->
					<div class="responsive-show" style="display: none;">
						{L_SAVE_DATE}{L_COLON} <strong>{draftrow.DATE}</strong>
					</div>
				</div>
			</dt>
			<dd class="info"><span>{draftrow.DATE}</span></dd>
		</dl>
	</li>
	<!-- END draftrow -->

	</ul>

	</div>
</div>
<!-- ENDIF -->
