<div class="navbar">
			<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="linklist navlinks">
				<li><a class="icon-home" href="{U_INDEX}">{L_INDEX}</a></li>
				<li class="rightside"></li>
			</ul>
			<ul class="linklist">
				<!-- BEGIN switch_user_logged_in -->
					<li>
						<a href="{U_PROFILE}" title="{L_PROFILE}" class="icon-ucp">{L_PROFILE}</a>
							 (<a href="{U_PRIVATEMSGS}">{PRIVATE_MESSAGE_INFO}</a>) &bull; 
						<a href="{U_SEARCH_SELF}">{L_SEARCH_SELF}</a>
					</li>
				<!-- END switch_user_logged_in -->
				<li class="rightside">
					<a href="{U_FAQ}" title="{L_FAQ_EXPLAIN}" class="icon-faq">{L_FAQ}</a>&nbsp; 
					<a href="{U_SEARCH}" title="{L_SEARCH}" class="icon-search">{L_SEARCH}</a>&nbsp; 
					<a href="{U_MEMBERLIST}" title="{L_MEMBERLIST_EXPLAIN}" class="icon-members">{L_MEMBERLIST}</a>&nbsp; 
						<!-- BEGIN switch_user_logged_out -->
					<a href="{U_REGISTER}" class="icon-register">{L_REGISTER}</a>&nbsp; 
					<!-- END switch_user_logged_out -->
					<a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" class="icon-logout">{L_LOGIN_LOGOUT}</a>
				</li>
			</ul>
			<span class="corners-bottom"><span></span></span></div>
</div>
<h2>{L_USERGROUPS}</h2>
<!-- BEGIN switch_groups_joined -->
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>	
		<h3>{L_GROUP_MEMBERSHIP_DETAILS}</h3>
		<fieldset>
		<!-- BEGIN switch_groups_member -->
		<form method="get" action="{S_USERGROUP_ACTION}">
		<dl>
		<dt>{L_YOU_BELONG_GROUPS}</dt>
		<dd>{GROUP_MEMBER_SELECT}&nbsp; <input type="submit" value="{L_VIEW_INFORMATION}" class="button2" />{S_HIDDEN_FIELDS}</dd>
		</dl>
		</form>
		<!-- END switch_groups_member -->
		<!-- BEGIN switch_groups_pending -->
		<form method="get" action="{S_USERGROUP_ACTION}">
		<dl>
		<dt>{L_PENDING_GROUPS}</dt>
		<dd>{GROUP_PENDING_SELECT}&nbsp; <input type="submit" value="{L_VIEW_INFORMATION}" class="button2" />{S_HIDDEN_FIELDS}</dd>
		</dl>
		</form>
		<!-- END switch_groups_pending -->
		</fieldset>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- END switch_groups_joined -->
<!-- BEGIN switch_groups_remaining -->
<form method="get" action="{S_USERGROUP_ACTION}">
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>	
		<h3>{L_JOIN_A_GROUP}</h3>
		<fieldset>
		<dl>
		<dt>{L_SELECT_A_GROUP}</dt>
		<dd>{GROUP_LIST_SELECT}&nbsp; <input type="submit" value="{L_VIEW_INFORMATION}" class="button2" />{S_HIDDEN_FIELDS}</dd>
		</dl>
		</fieldset>
	<span class="corners-bottom"><span></span></span></div>
</div>
</form>
<!-- END switch_groups_remaining -->
{JUMPBOX}
<div class="navbar">
		<div class="inner"><span class="corners-top"><span></span></span>
		<ul class="linklist">
			<li>
				<a class="icon-home" href="{U_INDEX}">{L_INDEX}</a>  
			</li>
			<li class="rightside"><a href="{U_GROUP_CP}">{L_USERGROUPS}</a> &bull; {S_TIMEZONE}</li>
		</ul>
		<span class="corners-bottom"><span></span></span></div>
</div>