
<div class="action-bar actions-jump">
	{% if S_VIEWTOPIC %}
	<p class="jumpbox-return">
		<a href="{{ U_VIEW_FORUM }}" class="left-box arrow-{{ S_CONTENT_FLOW_BEGIN }}" accesskey="r">
			<i class="icon fa-angle-{{ S_CONTENT_FLOW_BEGIN }} fa-fw icon-black" aria-hidden="true"></i><span>{{ lang('RETURN_TO_FORUM') }}</span>
		</a>
	</p>
	{% elseif S_VIEWFORUM %}
	<p class="jumpbox-return">
		<a href="{{ U_INDEX }}" class="left-box arrow-{{ S_CONTENT_FLOW_BEGIN }}" accesskey="r">
			<i class="icon fa-angle-{{ S_CONTENT_FLOW_BEGIN }} fa-fw icon-black" aria-hidden="true"></i><span>{{ lang('RETURN_TO_INDEX') }}</span>
		</a>
	</p>
	{% elseif SEARCH_TOPIC %}
	<p class="jumpbox-return">
		<a class="left-box arrow-{{ S_CONTENT_FLOW_BEGIN }}" href="{{ U_SEARCH_TOPIC }}" accesskey="r">
			<i class="icon fa-angle-{{ S_CONTENT_FLOW_BEGIN }} fa-fw icon-black" aria-hidden="true"></i><span>{{ lang('RETURN_TO_TOPIC') }}</span>
		</a>
	</p>
	{% elseif S_SEARCH_ACTION %}
	<p class="jumpbox-return">
		<a class="left-box arrow-{{ S_CONTENT_FLOW_BEGIN }}" href="{{ U_SEARCH }}" title="{{ lang('SEARCH_ADV') }}" accesskey="r">
			<i class="icon fa-angle-{{ S_CONTENT_FLOW_BEGIN }} fa-fw icon-black" aria-hidden="true"></i><span>{{ lang('GO_TO_SEARCH_ADV') }}</span>
		</a>
	</p>
	{% endif %}

	{% if S_DISPLAY_JUMPBOX %}
	<div class="jumpbox dropdown-container dropdown-container-right{% if not S_IN_MCP %} dropdown-up{% endif %} dropdown-{{ S_CONTENT_FLOW_BEGIN }} dropdown-button-control" id="jumpbox">
			<span title="{% if S_IN_MCP and S_MERGE_SELECT %}{{ lang('SELECT_TOPICS_FROM') }}{% elseif S_IN_MCP %}{{ lang('MODERATE_FORUM') }}{% else %}{{ lang('JUMP_TO') }}{% endif %}" class="button button-secondary dropdown-trigger dropdown-select">
				<span>{% if S_IN_MCP and S_MERGE_SELECT %}{{ lang('SELECT_TOPICS_FROM') }}{% elseif S_IN_MCP %}{{ lang('MODERATE_FORUM') }}{% else %}{{ lang('JUMP_TO') }}{% endif %}</span>
				<span class="caret"><i class="icon fa-sort-down fa-fw" aria-hidden="true"></i></span>
			</span>
		<div class="dropdown">
			<div class="pointer"><div class="pointer-inner"></div></div>
			<ul class="dropdown-contents">
				{% for jumpbox_forums in loops.jumpbox_forums %}
				{% if jumpbox_forums.FORUM_ID neq -1 %}
				<li><a href="{{ jumpbox_forums.LINK }}" class="{% if jumpbox_forums.level %}jumpbox-sub-link{% elseif jumpbox_forums.S_IS_CAT %}jumpbox-cat-link{% else %}jumpbox-forum-link{% endif %}">{% for level in jumpbox_forums.level %}<span class="spacer"></span>{% endfor %} <span>{% if jumpbox_forums.level %}{% if S_CONTENT_DIRECTION eq 'rtl' %}&#8626;{% else %}&#8627;{% endif %} &nbsp;{% endif %} {{ jumpbox_forums.FORUM_NAME }}</span></a></li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>

	{% else %}
	<br /><br />
	{% endif %}
</div>
