{% INCLUDE 'overall_header.html' %}

<form action="{{ S_LOGIN_ACTION }}" method="post" id="login" data-focus="{% if S_ADMIN_AUTH %}{{ PASSWORD_CREDENTIAL }}{% else %}{{ USERNAME_CREDENTIAL }}{% endif %}">
<div class="panel">
	<div class="inner">

	<div class="content">
		<h2 class="login-title">{% if LOGIN_EXPLAIN %}{{ LOGIN_EXPLAIN }}{% else %}{{ lang('LOGIN') }}{% endif %}</h2>

		<fieldset {% if not S_CONFIRM_CODE %}class="fields1"{% else %}class="fields2"{% endif %}>
		{% if LOGIN_ERROR %}<div class="error">{{ LOGIN_ERROR }}</div>{% endif %}
		<dl>
			<dt><label for="{{ USERNAME_CREDENTIAL }}">{{ lang('USERNAME') }}{{ lang('COLON') }}</label></dt>
			<dd><input type="text" tabindex="1" name="{{ USERNAME_CREDENTIAL }}" id="{{ USERNAME_CREDENTIAL }}" size="25" value="{{ USERNAME }}" class="inputbox autowidth" /></dd>
		</dl>
		<dl>
			<dt><label for="{{ PASSWORD_CREDENTIAL }}">{{ lang('PASSWORD') }}{{ lang('COLON') }}</label></dt>
			<dd><input type="password" tabindex="2" id="{{ PASSWORD_CREDENTIAL }}" name="{{ PASSWORD_CREDENTIAL }}" size="25" class="inputbox autowidth" autocomplete="off" /></dd>
			{% if S_DISPLAY_FULL_LOGIN and (U_SEND_PASSWORD or U_RESEND_ACTIVATION) %}
				{% if U_SEND_PASSWORD %}<dd><a href="{{ U_SEND_PASSWORD }}">{{ lang('FORGOT_PASS') }}</a></dd>{% endif %}
				{% if U_RESEND_ACTIVATION %}<dd><a href="{{ U_RESEND_ACTIVATION }}">{{ lang('RESEND_ACTIVATION') }}</a></dd>{% endif %}
			{% endif %}
		</dl>
		{% if CAPTCHA_TEMPLATE and S_CONFIRM_CODE %}
			{% DEFINE CAPTCHA_TAB_INDEX = 3 %}
			{% INCLUDE ''~ CAPTCHA_TEMPLATE ~'' %}
		{% endif %}
		{% if S_DISPLAY_FULL_LOGIN %}
		<dl>
			{% if S_AUTOLOGIN_ENABLED %}<dd><label for="autologin"><input type="checkbox" name="autologin" id="autologin" tabindex="4" /> {{ lang('LOG_ME_IN') }}</label></dd>{% endif %}
			<dd><label for="viewonline"><input type="checkbox" name="viewonline" id="viewonline" tabindex="5" /> {{ lang('HIDE_ME') }}</label></dd>
		</dl>
		{% endif %}

		{{ S_LOGIN_REDIRECT }}
		<dl>
			<dt>&nbsp;</dt>
			<dd>{{ S_HIDDEN_FIELDS }}<input type="submit" name="login" tabindex="6" value="{{ lang('LOGIN') }}" class="button1 button button-form" /></dd>
		</dl>
		</fieldset>
	</div>

	{% if not S_ADMIN_AUTH and PROVIDER_TEMPLATE_FILE %}
		{% INCLUDE ''~ PROVIDER_TEMPLATE_FILE ~'' %}
	{% endif %}
	</div>
</div>


{% if not S_ADMIN_AUTH and S_REGISTER_ENABLED %}
	<div class="panel">
		<div class="inner">

		<div class="content">
			<h3>{{ lang('REGISTER') }}</h3>
			<p>{{ lang('LOGIN_INFO') }}</p>
			<p><strong><a href="{{ U_TERMS_USE }}">{{ lang('TERMS_USE') }}</a> | <a href="{{ U_PRIVACY }}">{{ lang('PRIVACY') }}</a></strong></p>
			<hr class="dashed" />
			<p><a href="{{ U_REGISTER }}" class="button1 button button-form-bold">{{ lang('REGISTER') }}</a></p>
		</div>

		</div>
	</div>
{% endif %}

</form>

{% INCLUDE 'overall_footer.html' %}
