<dt>{L_AUTH_PROVIDER_OPENID}</dt>
<dd>
	<div>
		<form action="{S_LOGIN_ACTION}" method="post" id="openid_login">
			<dl>
				<dt>&nbsp;</dt>
				<dd><label for="{OPENID_IDENTIFIER}"><img src="{THEME_PATH}/images/logo_openid_small.gif" alt="{AUTH_PROVIDER_OPENID}"/></label><input type="text" tabindex="1" name="{OPENID_IDENTIFIER}" id="{OPENID_IDENTIFIER}" size="25" value="" class="inputbox autowidth" /></dd>
			</dl>
<!-- IF not ADMIN -->
			<dl>
	<!-- IF S_AUTOLOGIN_ENABLED -->
				<dd><label for="autologin"><input type="checkbox" name="autologin" id="autologin" tabindex="4" /> {L_LOG_ME_IN}</label></dd>
	<!-- ENDIF -->
				<dd><label for="viewonline"><input type="checkbox" name="viewonline" id="viewonline" tabindex="5" /> {L_HIDE_ME}</label></dd>
			</dl>
<!-- ENDIF -->
			<dl>
				<dt>&nbsp;</dt>
				<dd>{S_HIDDEN_FIELDS}<input type="submit" name="login" tabindex="6" value="{L_LOGIN}" class="button1" /></dd>
			</dl>
		</form>
	</div>
</dd>
