<script type="text/javascript">
// <![CDATA[
	onload_functions.push('document.getElementById("<!-- IF ADMIN -->{PASSWORD_CREDENITAL}<!-- ELSE -->{USERNAME_CREDENTIAL}<!-- ENDIF -->").focus();');
// ]]>
</script>
<form action="{S_LOGIN_ACTION}" method="post" id="olympus_login">
	<div>
		<fieldset <!-- IF not S_CONFIRM_CODE -->class="fields1"<!-- ELSE -->class="fields2"<!-- ENDIF -->>
			<dl>
				<dt><label for="{USERNAME_CREDENTIAL}">{L_USERNAME}:</label></dt>
				<dd><input type="text" tabindex="1" name="{USERNAME_CREDENTIAL}" id="{USERNAME_CREDENTIAL}" size="25" value="{USERNAME}" class="inputbox autowidth" /></dd>
			</dl>
			<dl>
				<dt><label for="{PASSWORD_CREDENITAL}">{L_PASSWORD}:</label></dt>
				<dd><input type="password" tabindex="2" id="{PASSWORD_CREDENITAL}" name="{PASSWORD_CREDENITAL}" size="25" class="inputbox autowidth" /></dd>
				<!-- IF S_DISPLAY -->
				<!-- IF U_SEND_PASSWORD -->
				<dd><a href="{U_SEND_PASSWORD}">{L_FORGOT_PASS}</a></dd>
				<!-- ENDIF -->
				<!-- IF U_RESEND_ACTIVATION -->
				<dd><a href="{U_RESEND_ACTIVATION}">{L_RESEND_ACTIVATION}</a></dd>
				<!-- ENDIF -->
				<!-- ENDIF -->
			</dl>
			<!-- IF CAPTCHA_TEMPLATE and S_CONFIRM_CODE -->
				<!-- DEFINE $CAPTCHA_TAB_INDEX = 3 -->
				<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
			<!-- ENDIF -->
			<!-- IF S_DISPLAY AND not AMIN-->
			<dl>
				<!-- IF S_AUTOLOGIN_ENABLED -->
				<dd><label for="autologin"><input type="checkbox" name="autologin" id="autologin" tabindex="4" /> {L_LOG_ME_IN}</label></dd>
				<!-- ENDIF -->
				<dd><label for="viewonline"><input type="checkbox" name="viewonline" id="viewonline" tabindex="5" /> {L_HIDE_ME}</label></dd>
			</dl>
			<!-- ENDIF -->
			<dl>
				<dt>&nbsp;</dt>
				<dd>{S_HIDDEN_FIELDS}<input type="submit" name="login" tabindex="6" value="{L_LOGIN}" class="button1" /></dd>
			</dl>
		</fieldset>
	</div>
</form>