{% INCLUDE 'mcp_header.html' %}

<form id="mcp" method="post" action="{{ S_MCP_ACTION }}">

{% if not S_PM %}
<fieldset class="forum-selection">
	<label for="fo">{{ lang('FORUM') }}{{ lang('COLON') }} <select name="f" id="fo">{{ S_FORUM_OPTIONS }}</select></label>
	<input type="submit" name="sort" value="{{ lang('GO') }}" class="button1 button button-form-bold" />
	{{ S_FORM_TOKEN }}
</fieldset>
{% endif %}

<h2>{{ lang('TITLE') }}</h2>

<div class="panel">
	<div class="inner">

	<p>{{ lang('EXPLAIN') }}</p>

	{% if loops.postrow|length %}
		<div class="action-bar bar-top">
			<div class="pagination">
				{{ TOTAL_REPORTS }}
				{% if loops.pagination|length %}
					{% INCLUDE 'pagination.html' %}
				{% else %}
					 &bull; {{ PAGE_NUMBER }}
				{% endif %}
			</div>
		</div>

		<ul class="topiclist missing-column">
			<li class="header">
				<dl>
					<dt><div class="list-inner">{{ lang('VIEW_DETAILS') }}</div></dt>
					<dd class="moderation"><span>{{ lang('REPORTER') }}{% if not S_PM %} &amp; {{ lang('FORUM') }}{% endif %}</span></dd>
					<dd class="mark">{{ lang('MARK') }}</dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist cplist missing-column">

		{% for postrow in loops.postrow %}
			<li class="row{% if postrow.S_ROW_COUNT is odd %} bg1{% else %} bg2{% endif %}">
				<dl>
					{% if S_PM %}
					<dt>
						<div class="list-inner">
							<a href="{{ postrow.U_VIEW_DETAILS }}" class="topictitle">{{ postrow.PM_SUBJECT }}</a> <i class="icon fa-paperclip fa-fw" aria-hidden="true"></i> <br />
							<span>{{ lang('MESSAGE_BY_AUTHOR') }} {{ postrow.PM_AUTHOR_FULL }} &raquo; {{ postrow.PM_TIME }}</span><br />
							<span>{{ lang('MESSAGE_TO') }} {{ postrow.RECIPIENTS }}</span>
							<div class="responsive-show" style="display: none;">
								{{ lang('REPORTER') }}{{ lang('COLON') }} {{ postrow.REPORTER_FULL }} &laquo; {{ postrow.REPORT_TIME }}
							</div>
						</div>
					</dt>
					<dd class="moderation">
						<span>{{ postrow.REPORTER_FULL }} &laquo; {{ postrow.REPORT_TIME }}</span>
					</dd>
					{% else %}
					<dt>
						<div class="list-inner">
							<a href="{{ postrow.U_VIEW_DETAILS }}" class="topictitle">{{ postrow.POST_SUBJECT }}</a><i class="icon fa-paperclip fa-fw" aria-hidden="true"></i> <br />
							<span>{{ lang('POSTED') }} {{ lang('POST_BY_AUTHOR') }} {{ postrow.POST_AUTHOR_FULL }} &raquo; {{ postrow.POST_TIME }}</span>
							<div class="responsive-show" style="display: none;">
								{{ lang('REPORTER') }}{{ lang('COLON') }} {{ postrow.REPORTER_FULL }} &laquo; {{ postrow.REPORT_TIME }}<br />
								{% if postrow.U_VIEWFORUM %}{{ lang('FORUM') }}{{ lang('COLON') }} <a href="{{ postrow.U_VIEWFORUM }}">{{ postrow.FORUM_NAME }}</a>{% else %}{{ postrow.FORUM_NAME }}{% endif %}
							</div>
						</div>
					</dt>
					<dd class="moderation">
						<span>{{ postrow.REPORTER_FULL }} &laquo; {{ postrow.REPORT_TIME }}<br />
						{% if postrow.U_VIEWFORUM %}{{ lang('FORUM') }}{{ lang('COLON') }} <a href="{{ postrow.U_VIEWFORUM }}">{{ postrow.FORUM_NAME }}</a>{% else %}{{ postrow.FORUM_NAME }}{% endif %}</span>
					</dd>
					{% endif %}
					<dd class="mark"><input type="checkbox" name="report_id_list[]" value="{{ postrow.REPORT_ID }}" /></dd>
				</dl>
			</li>
		{% endfor %}
		</ul>

		<div class="action-bar bottom">
			{% INCLUDE 'display_options.html' %}
			{% if TOPIC_ID %}<label><input type="checkbox" class="radio" name="t" value="{{ TOPIC_ID }}" checked="checked" onClick="document.getElementById('mcp').submit()" /> <strong>{{ lang('ONLY_TOPIC') }}</strong></label>{% endif %}

			<div class="pagination">
				{{ TOTAL_REPORTS }}
				{% if loops.pagination|length %}
					{% INCLUDE 'pagination.html' %}
				{% else %}
					 &bull; {{ PAGE_NUMBER }}
				{% endif %}
			</div>
		</div>

	{% else %}
		<p><strong>{{ lang('NO_REPORTS') }}</strong></p>
	{% endif %}

	</div>
</div>

{% if loops.postrow|length %}
	<fieldset class="display-actions">
		<input class="button1 button button-form-bold" type="submit" value="{{ lang('DELETE_REPORTS') }}" name="action[delete]" />
		{% if not S_CLOSED %}&nbsp;<input class="button1 button button-form" type="submit" name="action[close]" value="{{ lang('CLOSE_REPORTS') }}" />{% endif %}
		<div><a href="#" onclick="marklist('mcp', 'report_id_list', true); return false;">{{ lang('MARK_ALL') }}</a> :: <a href="#" onclick="marklist('mcp', 'report_id_list', false); return false;">{{ lang('UNMARK_ALL') }}</a></div>
	</fieldset>
{% endif %}
</form>

{% INCLUDE 'mcp_footer.html' %}
