{% if S_AJAX_REQUEST %}

	<h3>{{ MESSAGE_TITLE }}</h3>
	<p>{{ MESSAGE_TEXT }}</p>

	{% if S_NOTIFY_POSTER %}
		<label><input type="checkbox" name="notify_poster" checked="checked" /> {% if S_APPROVE %}{{ lang('NOTIFY_POSTER_APPROVAL') }}{% else %}{{ lang('NOTIFY_POSTER_DISAPPROVAL') }}{% endif %}</label>
	{% endif %}

	{% if not S_APPROVE and not S_RESTORE and loops.reason|length %}
		<label><strong>{{ lang('DISAPPROVE_REASON') }}{{ lang('COLON') }}</strong>
		<select name="reason_id">
			{% for reason in loops.reason %}<option value="{{ reason.ID }}"{% if reason.S_SELECTED %} selected="selected"{% endif %}>{{ reason.DESCRIPTION }}</option>{% endfor %}
		</select></label>

		<label><strong>{{ lang('MORE_INFO') }}{{ lang('COLON') }}</strong><br /><span>{{ lang('CAN_LEAVE_BLANK') }}</span>
			<textarea class="inputbox" name="reason" id="reason" rows="4" cols="40">{{ REASON }}</textarea>
		</label>
	{% endif %}

	<fieldset class="submit-buttons">
		<input type="button" name="confirm" value="{{ YES_VALUE }}" class="button1 button button-form" />&nbsp;
		<input type="button" name="cancel" value="{{ lang('NO') }}" class="button1 button button-form-bold" />
	</fieldset>

{% else %}

{% INCLUDE 'overall_header.html' %}

<form id="confirm" action="{{ S_CONFIRM_ACTION }}" method="post">
<div class="panel">
	{{ S_FORM_TOKEN }}
	<div class="inner">

	<div class="content">

		<h2 class="message-title">{{ MESSAGE_TITLE }}</h2>
		{% if ADDITIONAL_MSG %}<p class="error">{{ ADDITIONAL_MSG }}</p>{% endif %}

		<fieldset>
		{% if S_NOTIFY_POSTER %}
			<dl class="fields2 nobg">
				<dt>&nbsp;</dt>
				<dd><label><input type="checkbox" name="notify_poster" checked="checked" /> {% if S_APPROVE %}{{ lang('NOTIFY_POSTER_APPROVAL') }}{% else %}{{ lang('NOTIFY_POSTER_DISAPPROVAL') }}{% endif %}</label></dd>
			</dl>
		{% endif %}

		{% if not S_APPROVE and not S_RESTORE and loops.reason|length %}
			<dl class="fields2 nobg">
				<dt><label>{{ lang('DISAPPROVE_REASON') }}{{ lang('COLON') }}</label></dt>
				<dd><select name="reason_id">
					{% for reason in loops.reason %}<option value="{{ reason.ID }}"{% if reason.S_SELECTED %} selected="selected"{% endif %}>{{ reason.DESCRIPTION }}</option>{% endfor %}
					</select>
				</dd>
			</dl>
			<dl class="fields2 nobg">
				<dt><label for="reason">{{ lang('MORE_INFO') }}{{ lang('COLON') }}</label><br /><span>{{ lang('CAN_LEAVE_BLANK') }}</span></dt>
				<dd><textarea class="inputbox" name="reason" id="reason" rows="4" cols="40">{{ REASON }}</textarea></dd>
			</dl>
		{% endif %}

		<dl class="fields2 nobg">
			<dt>&nbsp;</dt>
			<dd><strong>{{ MESSAGE_TEXT }}</strong></dd>
		</dl>
		</fieldset>

		<fieldset class="submit-buttons">
			{{ S_HIDDEN_FIELDS }}<input type="submit" name="confirm" value="{{ YES_VALUE }}" class="button1 button button-form" />&nbsp;
			<input type="submit" name="cancel" value="{{ lang('NO') }}" class="button1 button button-form-bold" />
		</fieldset>

	</div>

	</div>
</div>

</form>

{% INCLUDE 'overall_footer.html' %}
{% endif %}
