<!-- INCLUDE mcp_header.html -->
<h2>{L_WHOIS}</h2>

<div class="panel">
	<div class="inner">
		<p>
			<a href="{U_RETURN_POST}" class="arrow-{S_CONTENT_FLOW_BEGIN}" accesskey="r">
				<svg class="icon icon-gray"><use xlink:href="#angle-{S_CONTENT_FLOW_BEGIN}"></use></svg><span>{L_RETURN_POST}</span>
			</a>
		</p>
		<div class="postbody"><div class="content">
			<pre>{WHOIS}</pre>
		</div></div>
		<p>
			<a href="{U_RETURN_POST}" class="arrow-{S_CONTENT_FLOW_BEGIN}" accesskey="r">
				<svg class="icon icon-gray"><use xlink:href="#angle-{S_CONTENT_FLOW_BEGIN}"></use></svg><span>{L_RETURN_POST}</span>
			</a>
		</p>
	</div>
</div>

<!-- INCLUDE mcp_footer.html -->
