<!-- INCLUDE overall_header.html -->

<h2>{L_MCP}</h2>

<!-- IF U_MCP -->
	<p class="linkmcp responsive-center">
		[<!-- IF U_ACP -->&nbsp;<a href="{U_ACP}" title="{L_ACP}" data-responsive-text="{L_ACP_SHORT}">{L_ACP}</a>&nbsp;|<!-- ENDIF -->&nbsp;<a href="{U_MCP}" title="{L_MCP}" data-responsive-text="{L_MCP_SHORT}">{L_MCP}</a><!-- IF U_MCP_FORUM -->&nbsp;|&nbsp;<a href="{U_MCP_FORUM}">{L_MODERATE_FORUM}</a><!-- ENDIF --><!-- IF U_MCP_TOPIC -->&nbsp;|&nbsp;<a href="{U_MCP_TOPIC}">{L_MODERATE_TOPIC}</a><!-- ENDIF --><!-- IF U_MCP_POST -->&nbsp;|&nbsp;<a href="{U_MCP_POST}">{L_MODERATE_POST}</a><!-- ENDIF -->&nbsp;]
	</p>
<!-- ENDIF -->

<div id="tabs" class="tabs">
	<ul>
		{% for category in mcp_menu %}
			{% if category.ITEMS %}
				<li class="tab{% if category.S_ACTIVE %} activetab{% endif %}"><a href="{{ category.U_VIEW }}">{{ category.TITLE }}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
</div>

<div class="panel bg3">
	<div class="inner">

	<div style="width: 100%;">

	<div id="cp-menu" class="cp-menu">
		<div id="navigation" class="navigation" role="navigation">
			<ul>
				{% for item in mcp_menu_active.ITEMS %}
					<li{% if item.S_ACTIVE %} id="active-subsection" class="active-subsection"{% endif %}>
						<a href="{{ item.U_VIEW }}">
							<span>{{ item.TITLE }}</span>
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div id="cp-main" class="cp-main mcp-main panel-container">
		<!-- IF MESSAGE -->
		<div class="content">
			<h2 class="message-title">{L_MESSAGE}</h2>
			<p class="error">{MESSAGE}</p>
			<p><!-- BEGIN return_links -->{return_links.MESSAGE_LINK}<br /><br /><!-- END return_links --></p>
		</div>
		<!-- ENDIF -->
