<!-- INCLUDE mcp_header.html -->

<form id="mcp" method="post" action="{S_MCP_ACTION}">

<fieldset class="forum-selection">
	<label for="fo">{L_FORUM}{L_COLON} <select name="f" id="fo">{S_FORUM_OPTIONS}</select></label>
	<input type="submit" name="sort" value="{L_GO}" class="button2" />
	{S_FORM_TOKEN}
</fieldset>

<h2>{L_TITLE}</h2>

<div class="panel">
	<div class="inner">

	<p>{L_EXPLAIN}</p>

	<!-- IF .postrow -->
		<div class="action-bar top">
			<div class="pagination">
				{TOTAL}
				<!-- IF .pagination --> 
					<!-- INCLUDE pagination.html -->
				<!-- ELSE --> 
					 &bull; {PAGE_NUMBER}
				<!-- ENDIF -->
			</div>
		</div>

		<ul class="topiclist missing-column">
			<li class="header">
				<dl>
					<dt><div class="list-inner"><!-- IF S_TOPICS -->{L_TOPIC}<!-- ELSE -->{L_POST}<!-- ENDIF --></div></dt>
					<dd class="moderation"><span><!-- IF not S_TOPICS -->{L_TOPIC} &amp; <!-- ENDIF -->{L_FORUM}</span></dd>
					<dd class="mark">{L_MARK}</dd>
				</dl>
			</li>
			</ul>
			<ul class="topiclist cplist missing-column responsive-show-all">

		<!-- BEGIN postrow -->

		<!-- IF postrow.S_DELETED_TOPIC -->
			<li><p class="notopics">{L_DELETED_TOPIC}</p></li>
		<!-- ELSE -->

		<li class="row<!-- IF postrow.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
			<dl>
				<dt>
					<div class="list-inner">
						<a href="{postrow.U_VIEW_DETAILS}" class="topictitle">{postrow.POST_SUBJECT}</a> {postrow.ATTACH_ICON_IMG}<br />
						<span>{L_POSTED} {L_POST_BY_AUTHOR} {postrow.POST_AUTHOR_FULL} &raquo; {postrow.POST_TIME}</span>
					</div>
				</dt>
				<dd class="moderation">
					<span>
						<!-- IF S_TOPICS --><br /><!-- ELSE -->{L_TOPIC}{L_COLON} <a href="{postrow.U_TOPIC}">{postrow.TOPIC_TITLE}</a> <br /><!-- ENDIF -->
						{L_FORUM}{L_COLON} <a href="{postrow.U_VIEWFORUM}">{postrow.FORUM_NAME}</a>
					</span>
				</dd>


		 		<dd class="mark">
					<!-- IF S_TOPICS -->
						<input type="checkbox" name="topic_id_list[]" value="{postrow.TOPIC_ID}" />
					<!-- ELSE -->
						<input type="checkbox" name="post_id_list[]" value="{postrow.POST_ID}" />
					<!-- ENDIF -->
				</dd>
			</dl>
		</li>
		<!-- ENDIF -->
		<!-- END postrow -->
		</ul>

		<fieldset class="display-options">
			<label>{L_DISPLAY_POSTS}{L_COLON} {S_SELECT_SORT_DAYS}</label>
			<label>{L_SORT_BY} {S_SELECT_SORT_KEY}</label><label>{S_SELECT_SORT_DIR}</label>
			<!-- IF TOPIC_ID --><label><input type="checkbox" class="radio" name="t" value="{TOPIC_ID}" checked="checked" />&nbsp; <strong>{L_ONLY_TOPIC}</strong></label><!-- ENDIF -->
			<input type="submit" name="sort" value="{L_GO}" class="button2" />
		</fieldset>

		<hr />

		<div class="action-bar bottom">
			<div class="pagination">
				{TOTAL}
				<!-- IF .pagination --> 
					<!-- INCLUDE pagination.html -->
				<!-- ELSE --> 
					 &bull; {PAGE_NUMBER}
				<!-- ENDIF -->
			</div>
		</div>

	<!-- ELSE -->
		<p class="notopics"><strong>
			<!-- IF S_RESTORE -->
				<!-- IF S_TOPICS -->{L_NO_TOPICS_DELETED}<!-- ELSE -->{L_NO_POSTS_DELETED}<!-- ENDIF -->
			<!-- ELSE -->
				<!-- IF S_TOPICS -->{L_NO_TOPICS_QUEUE}<!-- ELSE -->{L_NO_POSTS_QUEUE}<!-- ENDIF -->
			<!-- ENDIF -->
		</strong></p>
	<!-- ENDIF -->

	</div>
</div>

<!-- IF .postrow -->
	<fieldset class="display-actions">
		<!-- IF S_RESTORE -->
		<input class="button2" type="submit" name="action[delete]" value="{L_DELETE}" />&nbsp;
		<input class="button1" type="submit" name="action[restore]" value="{L_RESTORE}" />
		<!-- ELSE -->
		<input class="button2" type="submit" name="action[disapprove]" value="{L_DISAPPROVE}" />&nbsp;
		<input class="button1" type="submit" name="action[approve]" value="{L_APPROVE}" />
		<!-- ENDIF -->
		<div>
			<!-- IF S_TOPICS -->
				<a href="#" onclick="marklist('mcp', 'topic_id_list', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('mcp', 'topic_id_list', false); return false;">{L_UNMARK_ALL}</a>
			<!-- ELSE -->
				<a href="#" onclick="marklist('mcp', 'post_id_list', true); return false;">{L_MARK_ALL}</a> :: <a href="#" onclick="marklist('mcp', 'post_id_list', false); return false;">{L_UNMARK_ALL}</a>
			<!-- ENDIF -->
		</div>
	</fieldset>
<!-- ENDIF -->
</form>

<!-- INCLUDE mcp_footer.html -->
