{% INCLUDE 'overall_header.html' %}

<h2 class="solo">{{ PAGE_TITLE }}</h2>

<form method="post" action="{{ S_MODE_ACTION }}">

{% for group in loops.group %}
<div class="forumbg forumbg-table">
	<div class="inner">

	<table class="table1 team" id="team">
	<thead>
	<tr>
		<th class="name" data-dfn="{{ lang('RANK') }}{{ lang('COMMA_SEPARATOR') }}{{ lang('USERNAME') }}"><span class="rank-img">{{ lang('RANK') }}&nbsp;</span>{% if group.U_GROUP %}<a href="{{ group.U_GROUP }}">{{ group.GROUP_NAME }}</a>{% else %}{{ group.GROUP_NAME }}{% endif %}</th>
		<th class="info">{{ lang('PRIMARY_GROUP') }}</th>
		{% if S_DISPLAY_MODERATOR_FORUMS %}<th class="info">{{ lang('MODERATOR') }}</th>{% endif %}
	</tr>
	</thead>
	<tbody>
{% for user in group.user %}
	<tr class="{% if user.S_ROW_COUNT is even %}bg1{% else %}bg2{% endif %}{% if user.S_INACTIVE %} inactive{% endif %}">
		<td>{% if user.RANK_IMG %}<span class="rank-img">{{ user.RANK_IMG }}</span>{% else %}<span class="rank-img">{{ user.RANK_TITLE }}</span>{% endif %}{% EVENT memberlist_team_username_prepend %}{{ user.USERNAME_FULL }}{% if user.S_INACTIVE %} ({{ lang('INACTIVE') }}){% endif %}{% EVENT memberlist_team_username_append %}</td>
		<td class="info">{% if user.U_GROUP %}
			<a{% if user.GROUP_COLOR %} style="font-weight: bold; color: #{{ user.GROUP_COLOR }}"{% endif %} href="{{ user.U_GROUP }}">{{ user.GROUP_NAME }}</a>
			{% else %}
				{{ user.GROUP_NAME }}
			{% endif %}</td>
		{% if S_DISPLAY_MODERATOR_FORUMS %}
			<td class="info">{% if user.FORUM_OPTIONS %}<select style="width: 100%;">{{ user.FORUMS }}</select>{% elseif user.FORUMS %}{{ user.FORUMS }}{% else %}-{% endif %}</td>
		{% endif %}
	</tr>
{% else %}
	<tr class="bg1">
		<td colspan="3"><strong>{{ lang('NO_MEMBERS') }}</strong></td>
	</tr>
{% endfor %}
	</tbody>
	</table>

	</div>
</div>
{% endfor %}

</form>

{% INCLUDE 'jumpbox.html' %}
{% INCLUDE 'overall_footer.html' %}
