{% if S_IN_SEARCH_POPUP %}
	{% INCLUDE 'simple_header.html' %}
	{% INCLUDE 'memberlist_search.html' %}
	<form method="post" id="results" action="{{ S_MODE_ACTION }}" onsubmit="insert_marked_users('#results', this.user); return false;" data-form-name="{{ S_FORM_NAME }}" data-field-name="{{ S_FIELD_NAME }}">

{% else %}
	{% INCLUDE 'overall_header.html' %}
	<div class="panel" id="memberlist_search"{% if not S_SEARCH_USER %} style="display: none;"{% endif %}>
	{% INCLUDE 'memberlist_search.html' %}
	</div>
	<form method="post" action="{{ S_MODE_ACTION }}">

{% endif %}

	{% if S_SHOW_GROUP %}
		<h2 class="group-title"{% if GROUP_COLOR %} style="color:#{{ GROUP_COLOR }};"{% endif %}>{{ GROUP_NAME }}</h2>
		{% if U_MANAGE %}
			<p class="right responsive-center manage rightside"><a href="{{ U_MANAGE }}">{{ lang('MANAGE_GROUP') }}</a></p>
		{% endif %}
		<p>{{ GROUP_DESC }} {{ GROUP_TYPE }}</p>

		<p>
			{% if AVATAR_IMG %}{{ AVATAR_IMG }}{% endif %}
			{% if RANK_IMG %}{{ RANK_IMG }}{% endif %}
			{% if GROUP_RANK %}{{ GROUP_RANK }}{% endif %}
		</p>
	{% else %}
		<h2 class="solo">{{ PAGE_TITLE }}{% if SEARCH_WORDS %}{{ lang('COLON') }} <a href="{{ U_SEARCH_WORDS }}">{{ SEARCH_WORDS }}</a>{% endif %}</h2>

		<div class="action-bar bar-top">
			<div class="member-search panel">
				{% if U_FIND_MEMBER and not S_SEARCH_USER %}<a href="{{ U_FIND_MEMBER }}" id="member_search" data-alt-text="{{ lang('HIDE_MEMBER_SEARCH') }}">{{ lang('FIND_USERNAME') }}</a> &bull; {% elseif S_SEARCH_USER and U_HIDE_FIND_MEMBER and not S_IN_SEARCH_POPUP %}<a href="{{ U_HIDE_FIND_MEMBER }}" id="member_search" data-alt-text="{{ lang('FIND_USERNAME') }}">{{ lang('HIDE_MEMBER_SEARCH') }}</a> &bull; {% endif %}
				<strong>
				{% for first_char in loops.first_char %}
					<a href="{{ first_char.U_SORT }}">{{ first_char.DESC }}</a>&nbsp;
				{% endfor %}
				</strong>
			</div>

			<div class="pagination">
				{{ TOTAL_USERS }}
				{% if loops.pagination|length %}
					{% INCLUDE 'pagination.html' %}
				{% else %}
					 &bull; {{ PAGE_NUMBER }}
				{% endif %}
			</div>
		</div>
	{% endif %}

	{% if S_LEADERS_SET or not S_SHOW_GROUP or not loops.memberrow|length %}
	<div class="forumbg forumbg-table">
		<div class="inner">

		<table class="table1 memberlist" id="memberlist">
		<thead>
		<tr>
			<th class="name" data-dfn="{{ lang('RANK') }}{{ lang('COMMA_SEPARATOR') }}{% if S_SHOW_GROUP and loops.memberrow|length %}{{ lang('GROUP_LEADER') }}{% else %}{{ lang('USERNAME') }}{% endif %}"><span class="rank-img"><a href="{{ U_SORT_RANK }}">{{ lang('RANK') }}</a></span><a href="{{ U_SORT_USERNAME }}">{% if S_SHOW_GROUP and loops.memberrow|length %}{{ lang('GROUP_LEADER') }}{% else %}{{ lang('USERNAME') }}{% endif %}</a></th>
			<th class="posts"><a href="{{ U_SORT_POSTS }}#memberlist">{{ lang('POSTS') }}</a></th>
			<th class="info">{% for custom_fields in loops.custom_fields %}{% if not custom_fields.S_FIRST_ROW %}{{ lang('COMMA_SEPARATOR') }} {% endif %}{{ custom_fields.PROFILE_FIELD_NAME }}{% endfor %}</th>
			<th class="joined"><a href="{{ U_SORT_JOINED }}#memberlist">{{ lang('JOINED') }}</a></th>
			{% if U_SORT_ACTIVE %}<th class="active"><a href="{{ U_SORT_ACTIVE }}#memberlist">{{ lang('LAST_ACTIVE') }}</a></th>{% endif %}
		</tr>
		</thead>
		<tbody>
	{% endif %}
		{% for memberrow in loops.memberrow %}
			{% if S_SHOW_GROUP %}
				{% if not memberrow.S_GROUP_LEADER and not definition.S_MEMBER_HEADER %}
				{% if S_LEADERS_SET and memberrow.S_FIRST_ROW %}
				<tr class="bg1">
					<td colspan="{% if U_SORT_ACTIVE %}5{% else %}4{% endif %}">&nbsp;</td>
				</tr>
				{% endif %}
{% if S_LEADERS_SET %}
		</tbody>
		</table>

	</div>
</div>
{% endif %}
<div class="forumbg forumbg-table">
	<div class="inner">

	<table class="table1">
	<thead>
	<tr>
	{% if not S_LEADERS_SET %}
		<th class="name" data-dfn="{{ lang('RANK') }}{{ lang('COMMA_SEPARATOR') }}{{ lang('USERNAME') }}"><span class="rank-img"><a href="{{ U_SORT_RANK }}">{{ lang('RANK') }}</a></span><a href="{{ U_SORT_USERNAME }}">{% if S_SHOW_GROUP %}{{ lang('GROUP_MEMBERS') }}{% else %}{{ lang('USERNAME') }}{% endif %}</a></th>
			<th class="posts"><a href="{{ U_SORT_POSTS }}#memberlist">{{ lang('POSTS') }}</a></th>
			<th class="info">{% for custom_fields in memberrow.custom_fields %}{% if not custom_fields.S_FIRST_ROW %}{{ lang('COMMA_SEPARATOR') }} {% endif %}{{ custom_fields.PROFILE_FIELD_NAME }}{% endfor %}</th>
			<th class="joined"><a href="{{ U_SORT_JOINED }}#memberlist">{{ lang('JOINED') }}</a></th>
			{% if U_SORT_ACTIVE %}<th class="active"><a href="{{ U_SORT_ACTIVE }}#memberlist">{{ lang('LAST_ACTIVE') }}</a></th>{% endif %}
	{% elseif S_SHOW_GROUP %}
		<th class="name">{{ lang('GROUP_MEMBERS') }}</th>
		<th class="posts">{{ lang('POSTS') }}</th>
		<th class="info">{% for custom_fields in memberrow.custom_fields %}{% if not custom_fields.S_FIRST_ROW %}{{ lang('COMMA_SEPARATOR') }} {% endif %}{{ custom_fields.PROFILE_FIELD_NAME }}{% endfor %}</th>
		<th class="joined">{{ lang('JOINED') }}</th>
		{% if U_SORT_ACTIVE %}<th class="active">{{ lang('LAST_ACTIVE') }}</th>{% endif %}
	{% endif %}
	</tr>
	</thead>
	<tbody>
					{% DEFINE S_MEMBER_HEADER = 1 %}
				{% endif %}
			{% endif %}

	<tr class="{% if memberrow.S_ROW_COUNT is even %}bg1{% else %}bg2{% endif %}{% if memberrow.S_INACTIVE %} inactive{% endif %}">
		<td><span class="rank-img">{% EVENT memberlist_body_rank_prepend %}{% if memberrow.RANK_IMG %}{{ memberrow.RANK_IMG }}{% else %}{{ memberrow.RANK_TITLE }}{% endif %}{% EVENT memberlist_body_rank_append %}</span>{% if S_IN_SEARCH_POPUP and not S_SELECT_SINGLE %}<input type="checkbox" name="user" value="{{ memberrow.USERNAME }}" /> {% endif %}{% EVENT memberlist_body_username_prepend %}{{ memberrow.USERNAME_FULL }}{% if memberrow.S_INACTIVE %} ({{ lang('INACTIVE') }}){% endif %}{% EVENT memberlist_body_username_append %}{% if S_IN_SEARCH_POPUP %}<br />[&nbsp;<a href="#" onclick="insert_single_user('#results', '{{ memberrow.A_USERNAME }}'); return false;">{{ lang('SELECT') }}</a>&nbsp;]{% endif %}</td>
		<td class="posts">{% if memberrow.POSTS and S_DISPLAY_SEARCH %}<a href="{{ memberrow.U_SEARCH_USER }}" title="{{ lang('SEARCH_USER_POSTS') }}">{{ memberrow.POSTS }}</a>{% else %}{{ memberrow.POSTS }}{% endif %}</td>
		<td class="info">{% for custom_fields in memberrow.custom_fields %}<div>{{ custom_fields.PROFILE_FIELD_VALUE }}</div>{% else %}&nbsp;{% endfor %}</td>
		<td>{{ memberrow.JOINED }}</td>
		{% if S_VIEWONLINE %}<td>{{ memberrow.LAST_ACTIVE }}&nbsp;</td>{% endif %}
	</tr>
		{% else %}
	<tr class="bg1">
		<td colspan="{% if S_VIEWONLINE %}5{% else %}4{% endif %}">{{ lang('NO_MEMBERS') }}</td>
	</tr>
		{% endfor %}
	</tbody>
	</table>

	</div>
</div>

{% if S_IN_SEARCH_POPUP and not S_SELECT_SINGLE %}
<fieldset class="display-actions">
	<input type="submit" name="submit" value="{{ lang('SELECT_MARKED') }}" class="button1 button button-form-bold" />
	<div><a href="#" onclick="marklist('results', 'user', true); return false;">{{ lang('MARK_ALL') }}</a> &bull; <a href="#" onclick="marklist('results', 'user', false); return false;">{{ lang('UNMARK_ALL') }}</a></div>
</fieldset>
{% endif %}

{% if S_IN_SEARCH_POPUP %}
</form>
<form method="post" id="sort-results" action="{{ S_MODE_ACTION }}">
{% endif %}

{% if S_IN_SEARCH_POPUP and not S_SEARCH_USER %}
<fieldset class="display-options">
	<label for="sk">{{ lang('SELECT_SORT_METHOD') }}{{ lang('COLON') }} <select name="sk" id="sk">{{ S_MODE_SELECT }}</select></label>
	<label for="sd">{{ lang('ORDER') }} <select name="sd" id="sd">{{ S_ORDER_SELECT }}</select></label>
	<input type="submit" name="sort" value="{{ lang('SUBMIT') }}" class="button1 button button-form-bold" />
</fieldset>
{% endif %}

</form>

<div class="action-bar bar-bottom">
	<div class="pagination">
		{{ TOTAL_USERS }}
		{% if loops.pagination|length %}
			{% INCLUDE 'pagination.html' %}
		{% else %}
			 &bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>
</div>

{% if S_IN_SEARCH_POPUP %}
	{% INCLUDE 'simple_footer.html' %}
{% else %}
	{% INCLUDE 'jumpbox.html' %}
	{% INCLUDE 'overall_footer.html' %}
{% endif %}
