{% INCLUDE 'overall_header.html' %}

{% EVENT memberlist_email_before %}

{% if S_CONTACT_ADMIN%}
<h2 class="titlespace">{{ lang('CONTACT_ADMIN') }}</h2>
{% elseif S_SEND_USER %}
<h2 class="titlespace">{{ lang('SEND_EMAIL_USER') }}</h2>
{% else %}
<h2 class="titlespace">{{ lang('EMAIL_TOPIC') }}</h2>
{% endif %}

<form method="post" action="{{ S_POST_ACTION }}" id="post">

	{% if CONTACT_INFO %}
	<div class="panel">
		<div class="inner">
			<div class="postbody">
				<div class="content">
					{{ CONTACT_INFO }}
				</div>
			</div>
		</div>
	</div>
		<br class="clear" />
	{% endif %}

	<div class="panel">
		<div class="inner">
	<div class="content">

		{% if ERROR_MESSAGE %}<p class="error">{{ ERROR_MESSAGE }}</p>{% endif %}
		<fieldset class="fields2">
		{% if S_SEND_USER %}
			<dl>
				<dt><label>{{ lang('RECIPIENT') }}{{ lang('COLON') }}</label></dt>
				<dd><strong>{{ USERNAME_FULL }}</strong></dd>
			</dl>
			<dl>
				<dt><label for="subject">{{ lang('SUBJECT') }}{{ lang('COLON') }}</label></dt>
				<dd><input class="inputbox autowidth" type="text" name="subject" id="subject" size="50" tabindex="1" value="{{ SUBJECT }}" /></dd>
			</dl>
		{% elseif S_CONTACT_ADMIN%}
			<dl>
				<dt><label>{{ lang('RECIPIENT') }}{{ lang('COLON') }}</label></dt>
				<dd><strong>{{ lang('ADMINISTRATOR') }}</strong></dd>
			</dl>
			{% if not S_IS_REGISTERED %}
			<dl>
				<dt><label for="email">{{ lang('SENDER_EMAIL_ADDRESS') }}{{ lang('COLON') }}</label></dt>
				<dd><input class="inputbox autowidth" type="text" name="email" id="email" size="50" maxlength="100" tabindex="1" value="{{ EMAIL }}" /></dd>
			</dl>
			<dl>
				<dt><label for="name">{{ lang('SENDER_NAME') }}{{ lang('COLON') }}</label></dt>
				<dd><input class="inputbox autowidth" type="text" name="name" id="name" size="50" tabindex="2" value="{{ NAME }}" /></dd>
			</dl>
			{% endif %}
			<dl>
				<dt><label for="subject">{{ lang('SUBJECT') }}{{ lang('COLON') }}</label></dt>
				<dd><input class="inputbox autowidth" type="text" name="subject" id="subject" size="50" tabindex="3" value="{{ SUBJECT }}" /></dd>
			</dl>
		{% else %}
			<dl>
				<dt><label for="email">{{ lang('EMAIL_ADDRESS') }}{{ lang('COLON') }}</label></dt>
				<dd><input class="inputbox autowidth" type="email" name="email" id="email" size="50" maxlength="100" tabindex="2" value="{{ EMAIL }}" /></dd>
			</dl>
			<dl>
				<dt><label for="name">{{ lang('REAL_NAME') }}{{ lang('COLON') }}</label></dt>
				<dd><input class="inputbox autowidth" type="text" name="name" id="name" size="50" tabindex="3" value="{{ NAME }}" /></dd>
			</dl>
			<dl>
				<dt><label for="lang">{{ lang('DEST_LANG') }}{{ lang('COLON') }}</label><br />
					<span>{{ lang('DEST_LANG_EXPLAIN') }}</span></dt>
				<dd><select name="lang">{{ S_LANG_OPTIONS }}</select></dd>
			</dl>
		{% endif %}
		<dl>
			<dt><label for="message">{{ lang('MESSAGE_BODY') }}{{ lang('COLON') }}</label><br />
			<span>{{ lang('EMAIL_BODY_EXPLAIN') }}</span></dt>
			<dd><textarea name="message" id="message" rows="15" cols="76" tabindex="4">{{ MESSAGE }}</textarea></dd>
		</dl>
		{% if S_REGISTERED_USER %}
		<dl>
			<dt>&nbsp;</dt>
			<dd><label for="cc_sender"><input type="checkbox" name="cc_sender" id="cc_sender" value="1" checked="checked" tabindex="5" /> {{ lang('CC_SENDER') }}</label></dd>
		</dl>
		{% endif %}
		</fieldset>
	</div>

	</div>
</div>

<div class="panel">
	<div class="inner">
	<div class="content">
		<fieldset class="submit-buttons">
			<input type="submit" tabindex="6" name="submit" class="button1 button button-form" value="{{ lang('SEND_EMAIL') }}" />
		</fieldset>
	</div>
	</div>
{{ S_FORM_TOKEN }}
</div>

</form>

{% INCLUDE 'overall_footer.html' %}
