<h2 class="solo">{{ lang('FIND_USERNAME') }}</h2>

<form method="post" action="{{ S_MODE_ACTION }}" id="search_memberlist">
<div class="panel">
	<div class="inner">

	<p>{{ lang('FIND_USERNAME_EXPLAIN') }}</p>

	{% EVENT memberlist_search_fields_before %}
	<fieldset class="fields1 column1">
	<dl style="overflow: visible;">
		<dt><label for="username">{{ lang('USERNAME') }}{{ lang('COLON') }}</label></dt>
		<dd>
			{% if U_LIVE_SEARCH %}<div class="dropdown-container dropdown-{{ S_CONTENT_FLOW_END }}">{% endif %}
			<input type="text" name="username" id="username" value="{{ USERNAME }}" class="inputbox"{% if U_LIVE_SEARCH %} autocomplete="off" data-filter="phpbb.search.filter" data-ajax="member_search" data-min-length="3" data-url="{{ U_LIVE_SEARCH }}" data-results="#user-search" data-overlay="false"{% endif %} />
			{% if U_LIVE_SEARCH %}
				<div class="dropdown live-search hidden" id="user-search">
					<div class="pointer"><div class="pointer-inner"></div></div>
					<ul class="dropdown-contents search-results">
						<li class="search-result-tpl"><span class="search-result"></span></li>
					</ul>
				</div>
			</div>
			{% endif %}
		</dd>
	</dl>
{% if S_EMAIL_SEARCH_ALLOWED %}
	<dl>
		<dt><label for="email">{{ lang('EMAIL') }}{{ lang('COLON') }}</label></dt>
		<dd><input type="text" name="email" id="email" value="{{ EMAIL }}" class="inputbox" /></dd>
	</dl>
{% endif %}
{% if S_JABBER_ENABLED %}
	<dl>
		<dt><label for="jabber">{{ lang('JABBER') }}{{ lang('COLON') }}</label></dt>
		<dd><input type="text" name="jabber" id="jabber" value="{{ JABBER }}" class="inputbox" /></dd>
	</dl>
{% endif %}
	<dl>
		<dt><label for="search_group_id">{{ lang('GROUP') }}{{ lang('COLON') }}</label></dt>
		<dd><select name="search_group_id" id="search_group_id">{{ S_GROUP_SELECT }}</select></dd>
	</dl>
	{% EVENT memberlist_search_sorting_options_before %}
	<dl>
		<dt><label for="sk" class="label3">{{ lang('SORT_BY') }}{{ lang('COLON') }}</label></dt>
		<dd><select name="sk" id="sk">{{ S_SORT_OPTIONS }}</select> <select name="sd">{{ S_ORDER_SELECT }}</select></dd>
	</dl>
	</fieldset>

	<fieldset class="fields1 column2">
	<dl>
		<dt><label for="joined">{{ lang('JOINED') }}{{ lang('COLON') }}</label></dt>
		<dd><select name="joined_select">{{ S_JOINED_TIME_OPTIONS }}</select> <input class="inputbox medium" type="text" name="joined" id="joined" value="{{ JOINED }}" /></dd>
	</dl>
{% if S_VIEWONLINE %}
	<dl>
		<dt><label for="active">{{ lang('LAST_ACTIVE') }}{{ lang('COLON') }}</label></dt>
		<dd><select name="active_select">{{ S_ACTIVE_TIME_OPTIONS }}</select> <input class="inputbox medium" type="text" name="active" id="active" value="{{ ACTIVE }}" /></dd>
	</dl>
{% endif %}
	<dl>
		<dt><label for="count">{{ lang('POSTS') }}{{ lang('COLON') }}</label></dt>
		<dd><select name="count_select">{{ S_COUNT_OPTIONS }}</select> <input class="inputbox medium" type="number" min="0" name="count" id="count" value="{{ COUNT }}" /></dd>
	</dl>
{% if S_IP_SEARCH_ALLOWED %}
	<dl>
		<dt><label for="ip">{{ lang('POST_IP') }}{{ lang('COLON') }}</label></dt>
		<dd><input class="inputbox medium" type="text" name="ip" id="ip" value="{{ IP }}" /></dd>
	</dl>
{% endif %}
	{% EVENT memberlist_search_fields_after %}
	</fieldset>

	<div class="clear"></div>

	<hr />

	<fieldset class="submit-buttons">
		<input type="reset" value="{{ lang('RESET') }}" name="reset" class="button1 button button-form-bold" />&nbsp;
		<input type="submit" name="submit" value="{{ lang('SEARCH') }}" class="button1 button button-form" />
		{{ S_FORM_TOKEN }}
	</fieldset>

	</div>
</div>

</form>
