<form method="post" action="{S_SPLIT_ACTION}">
<div class="navbar">
			<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="linklist navlinks">
				<li><a class="icon-home" href="{U_INDEX}">{L_INDEX}</a> <strong>&#8249;</strong> <a href="{U_VIEW_FORUM}">{FORUM_NAME}</a></li>
				<li class="rightside"></li>
			</ul>
			<ul class="linklist">
				<!-- BEGIN switch_user_logged_in -->
					<li>
						<a href="{U_PROFILE}" title="{L_PROFILE}" class="icon-ucp">{L_PROFILE}</a>
							 (<a href="{U_PRIVATEMSGS}">{PRIVATE_MESSAGE_INFO}</a>) &bull; 
						<a href="{U_SEARCH_SELF}">{L_SEARCH_SELF}</a>
					</li>
				<!-- END switch_user_logged_in -->
				<li class="rightside">
					<a href="{U_FAQ}" title="{L_FAQ_EXPLAIN}" class="icon-faq">{L_FAQ}</a>&nbsp; 
					<a href="{U_SEARCH}" title="{L_SEARCH}" class="icon-search">{L_SEARCH}</a>&nbsp; 
					<a href="{U_MEMBERLIST}" title="{L_MEMBERLIST_EXPLAIN}" class="icon-members">{L_MEMBERLIST}</a>&nbsp; 
					<!-- BEGIN switch_user_logged_out -->
					<a href="{U_REGISTER}" class="icon-register">{L_REGISTER}</a>&nbsp; 
					<!-- END switch_user_logged_out -->
					<a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" class="icon-logout">{L_LOGIN_LOGOUT}</a>
				</li>
			</ul>
			<span class="corners-bottom"><span></span></span></div>
</div>
<p></p>
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>	
		<h3>{L_SPLIT_TOPIC}</h3>
		<p>{L_SPLIT_TOPIC_EXPLAIN}</p>
		<fieldset>
		<dl>
		<dt>{L_SPLIT_SUBJECT}:</dt>
		<dd><input class="inputbox" type="text" size="35" maxlength="60" name="subject" /></dd>
		</dl>
		<dl>
		<dt>{L_SPLIT_FORUM}:</dt>
		<dd>{S_FORUM_SELECT}</dd>
		</dl>
		</fieldset>
	<span class="corners-bottom"><span></span></span></div>
</div>
<fieldset class="display-options">
	<input class="button2" type="submit" name="split_type_all" value="{L_SPLIT_POSTS}" />&nbsp; <input class="button2" type="submit" name="split_type_beyond" value="{L_SPLIT_AFTER}" />
</fieldset>
<hr />
<!-- BEGIN postrow -->
	<div class="post bg1">
		<div class="inner"><span class="corners-top"><span></span></span>
		<div class="postbody">
			<h3 class="first">{postrow.POST_SUBJECT}</h3>
			<p class="author"><img src="templates/prosilver/images/icon_post_target.gif" alt="" />{L_POST_BY_AUTHOR} <strong>{postrow.POSTER_NAME}</strong> {L_POSTED_ON_DATE} {postrow.POST_DATE}</p>
			<div class="content">{postrow.MESSAGE}</div>
		</div>
			<dl class="postprofile" id="profile{postrow.POST_ID}">
			<dt>
				{postrow.S_SPLIT_CHECKBOX}
			</dt>
		</dl>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	<hr class="divider" />
<!-- END postrow -->
<fieldset class="display-options">
	{S_HIDDEN_FIELDS}<input class="button2" type="submit" name="split_type_all" value="{L_SPLIT_POSTS}" />&nbsp; <input class="button2" type="submit" name="split_type_beyond" value="{L_SPLIT_AFTER}" />
</fieldset>
<hr />
<div class="navbar">
		<div class="inner"><span class="corners-top"><span></span></span>
		<ul class="linklist">
			<li>
				<a class="icon-home" href="{U_INDEX}">{L_INDEX}</a>  
			</li>
			<li class="rightside"><a href="{U_GROUP_CP}">{L_USERGROUPS}</a> &bull; {S_TIMEZONE}</li>
		</ul>
		<span class="corners-bottom"><span></span></span></div>
</div>