<div class="navbar" role="navigation">
	<div class="inner">

	<ul id="nav-main" class="nav-main linklist" role="menubar">

		<li id="quick-links" class="quick-links dropdown-container responsive-menu{% if not S_DISPLAY_QUICK_LINKS and not S_DISPLAY_SEARCH %} hidden{% endif %}" data-skip-responsive="true">
			<a href="#" class="dropdown-trigger">
				<i class="icon fa-bars fa-fw" aria-hidden="true"></i><span>{{ lang('QUICK_LINKS') }}</span>
			</a>
			<div class="dropdown">
				<div class="pointer"><div class="pointer-inner"></div></div>
				<ul class="dropdown-contents" role="menu">
					{% EVENT navbar_header_quick_links_before %}

					{% if S_DISPLAY_SEARCH %}
						<li class="separator"></li>
						{% if S_REGISTERED_USER %}
							<li>
								<a href="{{ U_SEARCH_SELF }}" role="menuitem">
									<i class="icon fa-file-o fa-fw icon-gray" aria-hidden="true"></i><span>{{ lang('SEARCH_SELF') }}</span>
								</a>
							</li>
						{% endif %}
						{% if S_USER_LOGGED_IN %}
							<li>
								<a href="{{ U_SEARCH_NEW }}" role="menuitem">
									<i class="icon fa-file-o fa-fw icon-red" aria-hidden="true"></i><span>{{ lang('SEARCH_NEW') }}</span>
								</a>
							</li>
						{% endif %}
						{% if S_LOAD_UNREADS %}
							<li>
								<a href="{{ U_SEARCH_UNREAD }}" role="menuitem">
									<i class="icon fa-file-o fa-fw icon-red" aria-hidden="true"></i><span>{{ lang('SEARCH_UNREAD') }}</span>
								</a>
							</li>
						{% endif %}
							<li>
								<a href="{{ U_SEARCH_UNANSWERED }}" role="menuitem">
									<i class="icon fa-file-o fa-fw icon-gray" aria-hidden="true"></i><span>{{ lang('SEARCH_UNANSWERED') }}</span>
								</a>
							</li>
							<li>
								<a href="{{ U_SEARCH_ACTIVE_TOPICS }}" role="menuitem">
									<i class="icon fa-file-o fa-fw icon-blue" aria-hidden="true"></i><span>{{ lang('SEARCH_ACTIVE_TOPICS') }}</span>
								</a>
							</li>
							<li class="separator"></li>
							<li>
								<a href="{{ U_SEARCH }}" role="menuitem">
									<i class="icon fa-search fa-fw" aria-hidden="true"></i><span>{{ lang('SEARCH') }}</span>
								</a>
							</li>
					{% endif %}

					{% if not S_IS_BOT and (S_DISPLAY_MEMBERLIST or U_TEAM) %}
						<li class="separator"></li>
						{% if S_DISPLAY_MEMBERLIST %}
							<li>
								<a href="{{ U_MEMBERLIST }}" role="menuitem">
									<i class="icon fa-group fa-fw" aria-hidden="true"></i><span>{{ lang('MEMBERLIST') }}</span>
								</a>
							</li>
						{% endif %}
						{% if U_TEAM %}
							<li>
								<a href="{{ U_TEAM }}" role="menuitem">
									<i class="icon fa-shield fa-fw" aria-hidden="true"></i><span>{{ lang('THE_TEAM') }}</span>
								</a>
							</li>
						{% endif %}
					{% endif %}
					<li class="separator"></li>

					{% EVENT navbar_header_quick_links_after %}
				</ul>
			</div>
		</li>

		{% EVENT overall_header_navigation_prepend %}
		<li {% if not S_USER_LOGGED_IN %}data-skip-responsive="true"{% else %}data-last-responsive="true"{% endif %}>
			<a href="{{ U_FAQ }}" rel="help" title="{{ lang('FAQ_EXPLAIN') }}" role="menuitem">
				<i class="icon fa-question-circle fa-fw" aria-hidden="true"></i><span>{{ lang('FAQ') }}</span>
			</a>
		</li>
		{% EVENT overall_header_navigation_append %}
		{% if U_ACP %}
			<li data-last-responsive="true">
				<a href="{{ U_ACP }}" title="{{ lang('ACP') }}" role="menuitem">
					<i class="icon fa-cogs fa-fw" aria-hidden="true"></i><span>{{ lang('ACP_SHORT') }}</span>
				</a>
			</li>
		{% endif %}
		{% if U_MCP %}
			<li data-last-responsive="true">
				<a href="{{ U_MCP }}" title="{{ lang('MCP') }}" role="menuitem">
					<i class="icon fa-gavel fa-fw" aria-hidden="true"></i><span>{{ lang('MCP_SHORT') }}</span>
				</a>
			</li>
		{% endif %}

	{% if S_REGISTERED_USER %}
		{% EVENT navbar_header_user_profile_prepend %}
		<li id="username_logged_in" class="rightside {% if CURRENT_USER_AVATAR %} no-bulletin{% endif %}" data-skip-responsive="true">
			{% EVENT navbar_header_username_prepend %}
			<div class="header-profile dropdown-container">
				<a href="{{ U_PROFILE }}" class="header-avatar dropdown-trigger">{% if CURRENT_USER_AVATAR %}{{ CURRENT_USER_AVATAR }} {% endif %} {{ CURRENT_USERNAME_SIMPLE }}</a>
				<div class="dropdown">
					<div class="pointer"><div class="pointer-inner"></div></div>
					<ul class="dropdown-contents" role="menu">
						{% if U_RESTORE_PERMISSIONS %}
							<li>
								<a href="{{ U_RESTORE_PERMISSIONS }}">
									<i class="icon fa-refresh fa-fw" aria-hidden="true"></i><span>{{ lang('RESTORE_PERMISSIONS') }}</span>
								</a>
							</li>
						{% endif %}

					{% EVENT navbar_header_profile_list_before %}

						<li>
							<a href="{{ U_PROFILE }}" title="{{ lang('PROFILE') }}" role="menuitem">
								<i class="icon fa-sliders fa-fw" aria-hidden="true"></i><span>{{ lang('PROFILE') }}</span>
							</a>
						</li>
						{% if U_USER_PROFILE %}
							<li>
								<a href="{{ U_USER_PROFILE }}" title="{{ lang('READ_PROFILE') }}" role="menuitem">
									<i class="icon fa-user fa-fw" aria-hidden="true"></i><span>{{ lang('READ_PROFILE') }}</span>
								</a>
							</li>
						{% endif %}

						{% EVENT navbar_header_profile_list_after %}

						<li class="separator"></li>
						<li>
							<a href="{{ U_LOGIN_LOGOUT }}" title="{{ lang('LOGIN_LOGOUT') }}" accesskey="x" role="menuitem">
								<i class="icon fa-power-off fa-fw" aria-hidden="true"></i><span>{{ lang('LOGIN_LOGOUT') }}</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			{% EVENT navbar_header_username_append %}
		</li>
		{% if S_DISPLAY_PM %}
			<li class="rightside" data-skip-responsive="true">
				<a href="{{ U_PRIVATEMSGS }}" role="menuitem">
					<i class="icon fa-inbox fa-fw" aria-hidden="true"></i><span>{{ lang('PRIVATE_MESSAGES') }} </span><strong class="badge{% if not PRIVATE_MESSAGE_COUNT %} hidden{% endif %}">{{ PRIVATE_MESSAGE_COUNT }}</strong>
				</a>
			</li>
		{% endif %}
		{% if S_NOTIFICATIONS_DISPLAY %}
			<li class="dropdown-container dropdown-{{ S_CONTENT_FLOW_END }} rightside" data-skip-responsive="true">
				<a href="{{ U_VIEW_ALL_NOTIFICATIONS }}" id="notification-button" class="dropdown-trigger">
					<i class="icon fa-bell fa-fw" aria-hidden="true"></i><span>{{ lang('NOTIFICATIONS') }} </span><strong class="badge{% if not NOTIFICATIONS_COUNT %} hidden{% endif %}">{{ NOTIFICATIONS_COUNT }}</strong>
				</a>
				{% INCLUDE 'notification_dropdown.html' %}
			</li>
		{% endif %}
		{% EVENT navbar_header_user_profile_append %}
	{% else %}
		<li class="rightside"  data-skip-responsive="true">
			<a href="{{ U_LOGIN_LOGOUT }}" title="{{ lang('LOGIN_LOGOUT') }}" accesskey="x" role="menuitem">
				<i class="icon fa-power-off fa-fw" aria-hidden="true"></i><span>{{ lang('LOGIN_LOGOUT') }}</span>
			</a>
		</li>
		{% if S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) %}
			<li class="rightside" data-skip-responsive="true">
				<a href="{{ U_REGISTER }}" role="menuitem">
					<i class="icon fa-pencil-square-o  fa-fw" aria-hidden="true"></i><span>{{ lang('REGISTER') }}</span>
				</a>
			</li>
		{% endif %}
		{% EVENT navbar_header_logged_out_content %}
	{% endif %}
	</ul>

	<ul id="nav-breadcrumbs" class="nav-breadcrumbs linklist navlinks" role="menubar">
		{% DEFINE MICRODATA = ' itemtype="http://data-vocabulary.org/Breadcrumb" itemscope=""' %}
		{% EVENT overall_header_breadcrumbs_before %}
		<li class="breadcrumbs">
			{% if U_SITE_HOME %}
				<span class="crumb" {{ definition.MICRODATA }}><a href="{{ U_SITE_HOME }}" itemprop="url" data-navbar-reference="home"><i class="icon fa-home fa-fw" aria-hidden="true"></i><span itemprop="title">{{ lang('SITE_HOME') }}</span></a></span>
			{% endif %}
			{% EVENT overall_header_breadcrumb_prepend %}
				<span class="crumb" {{ definition.MICRODATA }}><a href="{{ U_INDEX }}" itemprop="url" accesskey="h" data-navbar-reference="index">{% if not U_SITE_HOME %}<i class="icon fa-home fa-fw"></i>{% endif %}<span itemprop="title">{{ lang('INDEX') }}</span></a></span>

			{% for navlinks in loops.navlinks %}
				{% set NAVLINK_NAME = navlinks.BREADCRUMB_NAME | default(navlinks.FORUM_NAME) %}
				{% set NAVLINK_LINK = navlinks.U_BREADCRUMB | default(navlinks.U_VIEW_FORUM) %}
				{% EVENT overall_header_navlink_prepend %}
				<span class="crumb" {{ definition.MICRODATA }}{% if navlinks.MICRODATA %} {{ navlinks.MICRODATA }}{% endif %}><a href="{{ NAVLINK_LINK }}" itemprop="url"><span itemprop="title">{{ NAVLINK_NAME }}</span></a></span>
				{% EVENT overall_header_navlink_append %}
			{% endfor %}
			{% EVENT overall_header_breadcrumb_append %}
		</li>
		{% EVENT overall_header_breadcrumbs_after %}

		{% if S_DISPLAY_SEARCH and not S_IN_SEARCH %}
			<li class="rightside responsive-search">
				<a href="{{ U_SEARCH }}" title="{{ lang('SEARCH_ADV_EXPLAIN') }}" role="menuitem">
					<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('SEARCH') }}</span>
				</a>
			</li>
		{% endif %}
	</ul>

	</div>
</div>
