<div id="notification-menu" class="dropdown dropdown-extended notification-menu">
	<div class="pointer dropdown-extended-pointer"><div class="pointer-inner"></div></div>
	<div class="dropdown-contents">
		<div class="header">
			{{ lang('NOTIFICATIONS') }}
			<span class="header-settings">
				<a href="{{ U_NOTIFICATION_SETTINGS }}">{{ lang('SETTINGS') }}</a>
				{% if NOTIFICATIONS_COUNT %}
					<span id="mark_all_notifications"> &bull; <a href="{{ U_MARK_ALL_NOTIFICATIONS }}" data-ajax="notification.mark_all_read">{{ lang('MARK_ALL_READ') }}</a></span>
				{% endif %}
			</span>
		</div>

		<ul class="dropdown-extended-list notification-list">
			{% if not loops.notifications|length %}
				<li class="dropdown-extended-item no-notifications">
					{{ lang('NO_NOTIFICATIONS') }}
				</li>
			{% endif %}
			{% for notifications in loops.notifications %}
				<li class="dropdown-extended-item notification-item{% if notifications.UNREAD %} bg2{% endif %}{% if notifications.STYLING %} {{ notifications.STYLING }}{% endif %}{% if not notifications.URL %} no-url{% endif %}" {% if notifications.UNREAD %}data-notification-unread="true"{% endif %}>
					{% if notifications.URL %}
						<a class="notification-block" href="{% if notifications.UNREAD %}{{ notifications.U_MARK_READ }}" data-real-url="{{ notifications.URL }}{% else %}{{ notifications.URL }}{% endif %}">
					{% endif %}
						{% if notifications.AVATAR %}{{ notifications.AVATAR }}{% else %}<img class="avatar notification-avatar" src="{{ T_THEME_PATH }}/images/no_avatar.gif" alt="" />{% endif %}
						<div class="notification-text">
							<p class="notification-title">{{ notifications.FORMATTED_TITLE }}</p>
							{% if notifications.REFERENCE %}<p class="notification-reference">{{ notifications.REFERENCE }}</p>{% endif %}
							{% if notifications.FORUM %}<p class="notification-forum">{{ notifications.FORUM }}</p>{% endif %}
							{% if notifications.REASON %}<p class="notification-reason">{{ notifications.REASON }}</p>{% endif %}
							<p class="notification-time">{{ notifications.TIME }}</p>
						</div>
					{% if notifications.URL %}</a>{% endif %}
					{% if notifications.UNREAD %}
						<a href="{{ notifications.U_MARK_READ }}" class="mark_read icon-mark" data-ajax="notification.mark_read" title="{{ lang('MARK_READ') }}">
							 <i class="icon fa-check-circle icon-xl fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('MARK_READ') }}</span>
						</a>
					{% endif %}
				</li>
			{% endfor %}
		</ul>

		<div class="footer">
			<a href="{{ U_VIEW_ALL_NOTIFICATIONS }}"><span>{{ lang('SEE_ALL') }}</span></a>
		</div>
	</div>
</div>
