					{% set l_jump_page %}{L_JUMP_PAGE}{L_COLON}{% endset %}

					<a href="#" class="pagination-trigger" title="{L_JUMP_TO_PAGE}" data-lang-jump-page="{{ l_jump_page|e('html_attr') }}" data-on-page="{ON_PAGE}" data-per-page="{PER_PAGE}" data-base-url="{{ BASE_URL|e('html_attr') }}">{{ PAGE_NUMBER }}</a> &bull;
					<ul>
					<!-- BEGIN pagination -->
						<!-- IF pagination.S_IS_PREV -->
						<!-- ELSEIF pagination.S_IS_CURRENT -->
						<li class="active"><span>{pagination.PAGE_NUMBER}</span></li>
						<!-- ELSEIF pagination.S_IS_ELLIPSIS -->
						<li class="ellipsis"><span>{L_ELLIPSIS}</span></li>
						<!-- ELSEIF pagination.S_IS_NEXT -->
						<!-- ELSE -->
						<li><a href="{pagination.PAGE_URL}">{pagination.PAGE_NUMBER}</a></li>
						<!-- ENDIF -->
					<!-- END pagination -->
					</ul>
