<script type="text/javascript" src="{T_ASSETS_PATH}/plupload/plupload.js"></script>
<script type="text/javascript" src="{T_ASSETS_PATH}/plupload/plupload.html5.js"></script>
<script type="text/javascript" src="{T_ASSETS_PATH}/plupload/jquery.plupload.queue/jquery.plupload.queue.js"></script>
<script type="text/javascript">
plupload.phpBB = {
	i18n: {
		'Select files': '{PLUPLOAD_SELECT_FILES}',
		'Add files to the upload queue and click the start button.': '{PLUPLOAD_ADD_FILES_TO_QUEUE}',
		'Filename': '{PLUPLOAD_FILENAME}',
		'Status': '{PLUPLOAD_STATUS}',
		'Size': '{PLUPLOAD_SIZE}',
		'Add files': '{PLUPLOAD_ADD_FILES}',
		'Stop current upload': '{PLUPLOAD_STOP_CURRENT_UPLOAD}',
		'Start uploading queue': '{PLUPLOAD_START_CURRENT_UPLOAD}',
		'Uploaded %d/%d files': '{PLUPLOAD_UPLOADED}',
		'N/A': '{PLUPLOAD_NOT_APPLICABLE}',
		'Drag files here.': '{PLUPLOAD_DRAG}',
		'File extension error.': '{PLUPLOAD_EXTENSION_ERROR}',
		'File size error.': '{PLUPLOAD_SIZE_ERROR}',
		'Init error.': '{PLUPLOAD_INIT_ERROR}',
		'HTTP Error.': '{PLUPLOAD_HTTP_ERROR}',
		'Security error.': '{PLUPLOAD_SECURITY_ERROR}',
		'Generic error.': '{PLUPLOAD_GENERIC_ERROR}',
		'IO error.': '{PLUPLOAD_IO_ERROR}',
		'Stop Upload': '{PLUPLOAD_STOP_UPLOAD}',
		'Start upload': '{PLUPLOAD_START_UPLOAD}',
		'%d files queued': '{PLUPLOAD_FILES_QUEUED}'
	},
	config: {
		runtimes: 'html5',
		url: 'upload.php',
		max_file_size: '{FILESIZE}b',
		chunk_size: '1mb',
		unique_names: true,
		filters: [{FILTERS}],
		resize: {width: {IMG_MAX_WIDTH}, height: {IMG_MAX_HEIGHT}, quality: 100}
	}
};
</script>
<!-- INCLUDEJS template/plupload.js -->
