<fieldset class="fields1">
	{% if not S_SHOW_DRAFTS %}

		{% if S_GROUP_OPTIONS %}
			<div class="column2">
				<label for="group_list"><strong>{{ lang('TO_ADD_GROUPS') ~ lang('COLON') }}</strong></label><br>
				<select name="group_list[]" id="group_list" multiple="multiple" size="3" class="inputbox">{{ S_GROUP_OPTIONS }}</select><br>
			</div>
		{% endif %}
		{% if S_ALLOW_MASS_PM %}
			<div class="column1">
				{% if not S_EDIT_POST %}
				<dl class="pmlist">
					<dt><label><strong>{{ lang('TO_ADD_MASS') ~ lang('COLON') }}</strong><textarea id="username_list" name="username_list" class="inputbox" cols="50" rows="2" tabindex="1"></textarea></label></dt>
					<dd class="recipients">
						<input type="submit" name="add_to" value="{{ lang('ADD') }}" class="button1 button button-form-bold" tabindex="1">
						<input type="submit" name="add_bcc" value="{{ lang('ADD_BCC') }}" class="button1 button button-form-bold" tabindex="1">
						{% EVENT posting_pm_header_find_username_before %}
						<span><a href="{{ U_FIND_USERNAME }}" onclick="find_username(this.href); return false;">{{ lang('FIND_USERNAME') }}</a></span>
						{% EVENT posting_pm_header_find_username_after %}
					</dd>
				</dl>
				{% endif %}
			</div>
			{% if to_recipient or bcc_recipient %}
				<hr>
			{% endif %}
			<div class="column1">
				{% if to_recipient %}
					<dl>
						<dt><label>{{ lang('TO_MASS') ~ lang('COLON') }}</label></dt>
						<dd class="recipients">
							<ul class="recipients">
								{% for recipient in to_recipient %}
									<li>
										{% if not S_EDIT_POST %}
											<button type="submit" name="remove_{{ recipient.TYPE }}[{{ recipient.UG_ID }}]">
												{{ Icon('font', 'xmark', lang('REMOVE'), true, 'c-warning-icon') }}
											</button>
										{% endif %}
										{% if recipient.IS_GROUP %}
											<a href="{{ recipient.U_VIEW }}" style="color: {{ recipient.COLOUR }}"><strong>{{ recipient.NAME }}</strong></a>
										{% else %}
											{{ recipient.NAME_FULL }}
										{% endif %}
									</li>
								{% endfor %}
							</ul>
						</dd>
					</dl>
				{% endif %}
			</div>
			{% if bcc_recipient %}
				<div class="column2">
					<dl>
						<dt><label>{{ lang('BCC') ~ lang('COLON') }}</label></dt>
						<dd class="recipients">
							<ul class="recipients">
								{% for recipient in bcc_recipient %}
									<li>
										{% if not S_EDIT_POST %}
											<button type="submit" name="remove_{{ recipient.TYPE }}[{{ recipient.UG_ID }}]">
												{{ Icon('font', 'xmark', lang('REMOVE'), true, 'c-warning-icon') }}
											</button>
										{% endif %}
										{% if recipient.IS_GROUP %}
											<a href="{{ recipient.U_VIEW }}" style="color: {{ recipient.COLOUR }}"><strong>{{ recipient.NAME }}</strong></a>
										{% else %}
											{{ recipient.NAME_FULL }}
										{% endif %}
									</li>
								{% endfor %}
							</ul>
						</dd>
					</dl>
				</div>
			{% endif %}
		{% else %}
			<div class="column1">
				<dl>
					<dt>
						<label for="username_list">{{ lang('TO_ADD') ~ lang('COLON') }}</label>
						{% if not S_EDIT_POST %}
							<br><span><a href="{{ U_FIND_USERNAME }}" onclick="find_username(this.href); return false">{{ lang('FIND_USERNAME') }}</a></span>
						{% endif %}
					</dt>
					{% if not S_EDIT_POST %}
						<dd>
							<input class="inputbox" type="text" name="username_list" id="username_list" size="20" value=""> <input type="submit" name="add_to" value="{{ lang('ADD') }}" class="button1 button button-form-bold">
						</dd>
					{% endif %}
					{% if to_recipient %}
						<dd class="recipients">
							<ul class="recipients">
								{% for recipient in to_recipient %}
									<li>
										{% if not S_EDIT_POST %}
											<button type="submit" name="remove_{{ recipient.TYPE }}[{{ recipient.UG_ID }}]">
												{{ Icon('font', 'xmark', lang('REMOVE'), true, 'c-warning-icon') }}
											</button>
										{% endif %}
										{% if recipient.IS_GROUP %}
											<a href="{{ recipient.U_VIEW }}"><strong>{{ recipient.NAME }}</strong></a>
										{% else %}
											{{ recipient.NAME_FULL }}
										{% endif %}
									</li>
								{% endfor %}
							</ul>
						</dd>
					{% endif %}
				</dl>
			</div>
		{% endif %}
	{% endif %}
</fieldset>
