
<script>
	var form_name = 'postform';
	var text_name = {% if definition.SIG_EDIT %}'signature'{% else %}'message'{% endif %};
	var load_draft = false;
	var upload = false;

	// Define the bbCode tags
	var bbcode = new Array();
	var bbtags = new Array('[b]','[/b]','[i]','[/i]','[u]','[/u]','[quote]','[/quote]','[code]','[/code]','[list]','[/list]','[list=]','[/list]','[img]','[/img]','[url]','[/url]','[flash=]', '[/flash]','[size=]','[/size]'{% for custom_tags in loops.custom_tags %}, {{ custom_tags.BBCODE_NAME }}{% endfor %});
	var imageTag = false;

	// Helpline messages
	var help_line = {
		b: '{{ lang('BBCODE_B_HELP')|escape('js') }}',
		i: '{{ lang('BBCODE_I_HELP')|escape('js') }}',
		u: '{{ lang('BBCODE_U_HELP')|escape('js') }}',
		q: '{{ lang('BBCODE_Q_HELP')|escape('js') }}',
		c: '{{ lang('BBCODE_C_HELP')|escape('js') }}',
		l: '{{ lang('BBCODE_L_HELP')|escape('js') }}',
		o: '{{ lang('BBCODE_O_HELP')|escape('js') }}',
		p: '{{ lang('BBCODE_P_HELP')|escape('js') }}',
		w: '{{ lang('BBCODE_W_HELP')|escape('js') }}',
		a: '{{ lang('BBCODE_A_HELP')|escape('js') }}',
		s: '{{ lang('BBCODE_S_HELP')|escape('js') }}',
		f: '{{ lang('BBCODE_F_HELP')|escape('js') }}',
		y: '{{ lang('BBCODE_Y_HELP')|escape('js') }}',
		d: '{{ lang('BBCODE_D_HELP')|escape('js') }}'
		{% for custom_tags in loops.custom_tags %}
			,cb_{{ custom_tags.BBCODE_ID }}: '{{ custom_tags.A_BBCODE_HELPLINE }}'
		{% endfor %}
	}

	function change_palette()
	{
		phpbb.toggleDisplay('colour_palette');
		e = document.getElementById('colour_palette');

		if (e.style.display == 'block')
		{
			document.getElementById('bbpalette').value = '{{ lang('FONT_COLOR_HIDE')|escape('js') }}';
		}
		else
		{
			document.getElementById('bbpalette').value = '{{ lang('FONT_COLOR')|escape('js') }}';
		}
	}
</script>
{% INCLUDEJS ''~ T_ASSETS_PATH ~'/javascript/editor.js' %}

{% if S_BBCODE_ALLOWED %}
<div id="colour_palette" style="display: none;">
	<dl style="clear: left;">
		<dt><label>{{ lang('FONT_COLOR') }}{{ lang('COLON') }}</label></dt>
		<dd id="color_palette_placeholder" class="color_palette_placeholder" data-color-palette="h" data-height="12" data-width="15" data-bbcode="true"></dd>
	</dl>
</div>

{% EVENT posting_editor_buttons_before %}
<div id="format-buttons" class="format-buttons">
	<button type="button" class="button button-icon-only bbcode-b" accesskey="b" name="addbbcode0" value=" B " onclick="bbstyle(0)" title="{{ lang('BBCODE_B_HELP') }}">
		<i class="icon fa-bold fa-fw" aria-hidden="true"></i>
	</button>
	<button type="button" class="button button-icon-only bbcode-i" accesskey="i" name="addbbcode2" value=" i " onclick="bbstyle(2)" title="{{ lang('BBCODE_I_HELP') }}">
		<i class="icon fa-italic fa-fw" aria-hidden="true"></i>
	</button>
	<button type="button" class="button button-icon-only bbcode-u" accesskey="u" name="addbbcode4" value=" u " onclick="bbstyle(4)" title="{{ lang('BBCODE_U_HELP') }}">
		<i class="icon fa-underline fa-fw" aria-hidden="true"></i>
	</button>
	{% if S_BBCODE_QUOTE %}
	<button type="button" class="button button-icon-only bbcode-quote" accesskey="q" name="addbbcode6" value="Quote" onclick="bbstyle(6)" title="{{ lang('BBCODE_Q_HELP') }}">
		<i class="icon fa-quote-left fa-fw" aria-hidden="true"></i>
	</button>
	{% endif %}
	<button type="button" class="button button-icon-only bbcode-code" accesskey="c" name="addbbcode8" value="Code" onclick="bbstyle(8)" title="{{ lang('BBCODE_C_HELP') }}">
		<i class="icon fa-code fa-fw" aria-hidden="true"></i>
	</button>
	<button type="button" class="button button-icon-only bbcode-list" accesskey="l" name="addbbcode10" value="List" onclick="bbstyle(10)" title="{{ lang('BBCODE_L_HELP') }}">
		<i class="icon fa-list fa-fw" aria-hidden="true"></i>
	</button>
	<button type="button" class="button button-icon-only bbcode-list-" accesskey="o" name="addbbcode12" value="List=" onclick="bbstyle(12)" title="{{ lang('BBCODE_O_HELP') }}">
		<i class="icon fa-list-ol fa-fw" aria-hidden="true"></i>
	</button>
	<button type="button" class="button button-icon-only bbcode-asterisk" accesskey="y" name="addlistitem" value="[*]" onclick="bbstyle(-1)" title="{{ lang('BBCODE_LISTITEM_HELP') }}">
		<i class="icon fa-asterisk fa-fw" aria-hidden="true"></i>
	</button>
	{% if S_BBCODE_IMG %}
	<button type="button" class="button button-icon-only bbcode-img" accesskey="p" name="addbbcode14" value="Img" onclick="bbstyle(14)" title="{{ lang('BBCODE_P_HELP') }}">
		<i class="icon fa-image fa-fw" aria-hidden="true"></i>
	</button>
	{% endif %}
	{% if S_LINKS_ALLOWED %}
	<button type="button" class="button button-icon-only bbcode-url" accesskey="w" name="addbbcode16" value="URL" onclick="bbstyle(16)" title="{{ lang('BBCODE_W_HELP') }}">
		<i class="icon fa-link fa-fw" aria-hidden="true"></i>
	</button>
	{% endif %}
	{% if S_BBCODE_FLASH %}
	<button type="button" class="button button-icon-only bbcode-flash" accesskey="d" name="addbbcode18" value="Flash" onclick="bbstyle(18)" title="{{ lang('BBCODE_D_HELP') }}">
		<i class="icon fa-flash fa-fw" aria-hidden="true"></i>
	</button>
	{% endif %}
	<button type="button" class="button button-icon-only bbcode-color" name="bbpalette" id="bbpalette" value="{{ lang('FONT_COLOR') }}" onclick="change_palette();" title="{{ lang('BBCODE_S_HELP') }}">
		<i class="icon fa-tint fa-fw" aria-hidden="true"></i>
	</button>
	<select name="addbbcode20" class="bbcode-size" onchange="bbfontstyle('[size=' + this.form.addbbcode20.options[this.form.addbbcode20.selectedIndex].value + ']', '[/size]');this.form.addbbcode20.selectedIndex = 2;" title="{{ lang('BBCODE_F_HELP') }}">
		<option value="50">{{ lang('FONT_TINY') }}</option>
		<option value="85">{{ lang('FONT_SMALL') }}</option>
		<option value="100" selected="selected">{{ lang('FONT_NORMAL') }}</option>
		{% if not MAX_FONT_SIZE or MAX_FONT_SIZE >= 150 %}
			<option value="150">{{ lang('FONT_LARGE') }}</option>
			{% if not MAX_FONT_SIZE or MAX_FONT_SIZE >= 200 %}
				<option value="200">{{ lang('FONT_HUGE') }}</option>
			{% endif %}
		{% endif %}
	</select>

	{% EVENT posting_editor_buttons_custom_tags_before %}

	{% for custom_tags in loops.custom_tags %}
	<button type="button" class="button button-secondary bbcode-{{ custom_tags.BBCODE_TAG_CLEAN }}" name="addbbcode{{ custom_tags.BBCODE_ID }}" value="{{ custom_tags.BBCODE_TAG }}" onclick="bbstyle({{ custom_tags.BBCODE_ID }})" title="{{ custom_tags.BBCODE_HELPLINE }}">
		{{ custom_tags.BBCODE_TAG }}
	</button>
	{% endfor %}
</div>
{% EVENT posting_editor_buttons_after %}
{% endif %}
