<!-- INCLUDE overall_header.html -->

<form id="confirm" action="{S_CONFIRM_ACTION}" method="post">
<div class="panel">
	<div class="inner">

	<h2>{MESSAGE_TITLE}</h2>
	<p>{MESSAGE_TEXT}</p>

	<!-- IF S_DELETE_REASON or (S_ALLOWED_DELETE and S_ALLOWED_SOFTDELETE) -->
	<fieldset class="fields1">
		<!-- IF S_ALLOWED_DELETE and S_ALLOWED_SOFTDELETE -->
			<dl>
				<dt><label for="soft_delete">{L_DELETE_POST_SOFT}:</label></dt>
				<dd><label for="soft_delete"><input id="soft_delete" name="soft_delete" type="checkbox" checked="checked" value="1" /> {L_DELETE_POST_SOFT_EXP}</label></dd>
			</dl>
		<!-- ENDIF -->

			<!-- IF S_DELETE_REASON -->
			<dl>
				<dt><label for="delete_reason">{L_DELETE_POST_REASON}:</label></dt>
				<dd><input type="text" name="delete_reason" id="delete_reason" value="" class="inputbox autowidth" maxlength="120" size="45" /></dd>
			</dl>
			<!-- ENDIF -->
	</fieldset>
	<!-- ENDIF -->

	<fieldset class="submit-buttons">
		{S_HIDDEN_FIELDS}
		<input type="submit" name="confirm" value="{L_YES}" class="button1" />&nbsp; 
		<input type="submit" name="cancel" value="{L_NO}" class="button2" />
	</fieldset>

	</div>
</div>
</form>

<!-- INCLUDE overall_footer.html -->
