<fieldset class="fields1">
	{% if ERROR %}<p class="error">{{ ERROR }}</p>{% endif %}

	{% if S_SHOW_TOPIC_ICONS or S_SHOW_PM_ICONS %}
	<dl>
		<dt><label for="icon">{{ lang('ICON') }}{{ lang('COLON') }}</label></dt>
		<dd>
			<label for="icon"><input type="radio" name="icon" id="icon" value="0" checked="checked" tabindex="1" /> {% if S_SHOW_TOPIC_ICONS %}{{ lang('NO_TOPIC_ICON') }}{% else %}{{ lang('NO_PM_ICON') }}{% endif %}</label>
			{% for topic_icon in loops.topic_icon %}<label for="icon-{{ topic_icon.ICON_ID }}"><input type="radio" name="icon" id="icon-{{ topic_icon.ICON_ID }}" value="{{ topic_icon.ICON_ID }}" {{ topic_icon.S_ICON_CHECKED }} tabindex="1" /><img src="{{ topic_icon.ICON_IMG }}" width="{{ topic_icon.ICON_WIDTH }}" height="{{ topic_icon.ICON_HEIGHT }}" alt="{{ topic_icon.ICON_ALT }}" title="{{ topic_icon.ICON_ALT }}" /></label> {% endfor %}
		</dd>
	</dl>
	{% endif %}

	{% if not S_PRIVMSGS and S_DISPLAY_USERNAME %}
	<dl style="clear: left;">
		<dt><label for="username">{{ lang('USERNAME') }}{{ lang('COLON') }}</label></dt>
		<dd><input type="text" tabindex="1" name="username" id="username" size="25" value="{{ USERNAME }}" class="inputbox autowidth" /></dd>
	</dl>
	{% endif %}

	{% EVENT posting_editor_subject_before %}

	{% if S_POST_ACTION or S_PRIVMSGS or S_EDIT_DRAFT %}
	<dl style="clear: left;">
		<dt><label for="subject">{{ lang('SUBJECT') }}{{ lang('COLON') }}</label></dt>
		<dd>
			{% EVENT posting_editor_subject_prepend %}
			<input type="text" name="subject" id="subject" size="45" maxlength="{% if S_NEW_MESSAGE %}120{% else %}124{% endif %}" tabindex="2" value="{{ SUBJECT }}{{ DRAFT_SUBJECT }}" class="inputbox autowidth" />
			{% EVENT posting_editor_subject_append %}
		</dd>
	</dl>
	{% if CAPTCHA_TEMPLATE and S_CONFIRM_CODE %}
		{% DEFINE CAPTCHA_TAB_INDEX = 3 %}
		{% INCLUDE ''~ CAPTCHA_TEMPLATE ~'' %}
	{% endif %}
	{% endif %}

	{% EVENT posting_editor_subject_after %}

	{% INCLUDE 'posting_buttons.html' %}

	<div id="smiley-box" class="smiley-box">
		{% EVENT posting_editor_smilies_before %}
		{% if S_SMILIES_ALLOWED and loops.smiley|length %}
			<strong>{{ lang('SMILIES') }}</strong><br />
			{% for smiley in loops.smiley %}
				<a href="#" onclick="insert_text('{{ smiley.A_SMILEY_CODE }}', true); return false;"><img src="{{ smiley.SMILEY_IMG }}" width="{{ smiley.SMILEY_WIDTH }}" height="{{ smiley.SMILEY_HEIGHT }}" alt="{{ smiley.SMILEY_CODE }}" title="{{ smiley.SMILEY_DESC }}" /></a>
			{% endfor %}
		{% endif %}
		{% if S_SHOW_SMILEY_LINK and S_SMILIES_ALLOWED %}
			<br /><a href="{{ U_MORE_SMILIES }}" onclick="popup(this.href, 750, 350, '_phpbbsmilies'); return false;">{{ lang('MORE_SMILIES') }}</a>
		{% endif %}
		{% EVENT posting_editor_smilies_after %}
		{% if BBCODE_STATUS %}
		<div class="bbcode-status">
			{% if loops.smiley|length %}<hr />{% endif %}
			{{ BBCODE_STATUS }}<br />
			{% if S_BBCODE_ALLOWED %}
				{{ IMG_STATUS }}<br />
				{{ FLASH_STATUS }}<br />
				{{ URL_STATUS }}<br />
			{% endif %}
			{{ SMILIES_STATUS }}
		</div>
		{% endif %}
		{% EVENT posting_editor_bbcode_status_after %}
		{% if S_EDIT_DRAFT || S_DISPLAY_REVIEW %}
			{% if S_DISPLAY_REVIEW %}<hr />{% endif %}
			{% if S_EDIT_DRAFT %}<strong><a href="{{ S_UCP_ACTION }}">{{ lang('BACK_TO_DRAFTS') }}</a></strong>{% endif %}
			{% if S_DISPLAY_REVIEW %}<strong><a href="#review">{{ lang('TOPIC_REVIEW') }}</a></strong>{% endif %}
		{% endif %}
	</div>

	{% EVENT posting_editor_message_before %}

	<div id="message-box" class="message-box">
		<textarea {% if S_UCP_ACTION and not S_PRIVMSGS and not S_EDIT_DRAFT %}name="signature" id="signature" style="height: 9em;"{% else %}name="message" id="message"{% endif %} rows="15" cols="76" tabindex="4" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" class="inputbox">{{ MESSAGE }}{{ DRAFT_MESSAGE }}{{ SIGNATURE }}</textarea>
	</div>

	{% EVENT posting_editor_message_after %}
	</fieldset>

{% if definition.EXTRA_POSTING_OPTIONS eq 1 %}

	{% if not S_SHOW_DRAFTS %}
		</div>
	</div>
	{% endif %}

	{% if not S_SHOW_DRAFTS and not definition.SIG_EDIT eq 1 %}
	<div class="panel bg2">
		<div class="inner">
		<fieldset class="submit-buttons">
			{{ S_HIDDEN_ADDRESS_FIELD }}
			{{ S_HIDDEN_FIELDS }}
			{% EVENT posting_editor_submit_buttons %}
			{% if S_HAS_DRAFTS %}<input type="submit" accesskey="d" tabindex="8" name="load" value="{{ lang('LOAD_DRAFT') }}" class="button1 button button-form-bold" onclick="load_draft = true;" />&nbsp; {% endif %}
			{% if S_SAVE_ALLOWED %}<input type="submit" accesskey="k" tabindex="7" name="save" value="{{ lang('SAVE_DRAFT') }}" class="button1 button button-form-bold" />&nbsp; {% endif %}
			<input type="submit" tabindex="5" name="preview" value="{{ lang('PREVIEW') }}" class="button1 button button-form"{% if not S_PRIVMSGS %} onclick="document.getElementById('postform').action += '#preview';"{% endif %} />&nbsp;
			<input type="submit" accesskey="s" tabindex="6" name="post" value="{{ lang('SUBMIT') }}" class="button1 button button-form default-submit-action" />&nbsp;

		</fieldset>

		</div>
	</div>
	{% endif %}

	{% if not S_PRIVMSGS and not S_SHOW_DRAFTS and not definition.SIG_EDIT eq 1 %}
		<div id="tabs" class="tabs sub-panels" data-show-panel="{% if SHOW_PANEL %}{{ SHOW_PANEL }}{% else %}options-panel{% endif %}" role="tablist">
			<ul>
				<li id="options-panel-tab" class="tab activetab"><a href="#tabs" data-subpanel="options-panel" role="tab" aria-controls="options-panel"><span>{{ lang('OPTIONS') }}</span></a></li>
				{% if S_SHOW_ATTACH_BOX %}
					<li id="attach-panel-tab" class="tab">
						<a href="#tabs" data-subpanel="attach-panel" role="tab" aria-controls="attach-panel">
							{{ lang('ATTACHMENTS') }} <strong id="file-total-progress" class="file-total-progress"><strong id="file-total-progress-bar" class="file-total-progress-bar"></strong></strong>
						</a>
					</li>
				{% endif %}
				{% if S_SHOW_POLL_BOX || S_POLL_DELETE %}
					<li id="poll-panel-tab" class="tab">
						<a href="#tabs" data-subpanel="poll-panel" role="tab" aria-controls="poll-panel">{{ lang('ADD_POLL') }}</a>
					</li>
				{% endif %}
				{% EVENT posting_editor_add_panel_tab %}
			</ul>
		</div>
	{% endif %}

	{% if not S_SHOW_DRAFTS and not definition.SIG_EDIT eq 1 %}
	<div class="panel bg3" id="options-panel">
		<div class="inner">

		<fieldset class="fields1">
			{% EVENT posting_editor_options_prepend %}
			{% if S_BBCODE_ALLOWED %}
				<div><label for="disable_bbcode"><input type="checkbox" name="disable_bbcode" id="disable_bbcode"{{ S_BBCODE_CHECKED }} /> {{ lang('DISABLE_BBCODE') }}</label></div>
			{% endif %}
			{% if S_SMILIES_ALLOWED %}
				<div><label for="disable_smilies"><input type="checkbox" name="disable_smilies" id="disable_smilies"{{ S_SMILIES_CHECKED }} /> {{ lang('DISABLE_SMILIES') }}</label></div>
			{% endif %}
			{% if S_LINKS_ALLOWED %}
				<div><label for="disable_magic_url"><input type="checkbox" name="disable_magic_url" id="disable_magic_url"{{ S_MAGIC_URL_CHECKED }} /> {{ lang('DISABLE_MAGIC_URL') }}</label></div>
			{% endif %}
			{% if S_SIG_ALLOWED %}
				<div><label for="attach_sig"><input type="checkbox" name="attach_sig" id="attach_sig"{{ S_SIGNATURE_CHECKED }} /> {{ lang('ATTACH_SIG') }}</label></div>
			{% endif %}
			{% if S_NOTIFY_ALLOWED %}
				<div><label for="notify"><input type="checkbox" name="notify" id="notify"{{ S_NOTIFY_CHECKED }} /> {{ lang('NOTIFY_REPLY') }}</label></div>
			{% endif %}
			{% if S_LOCK_TOPIC_ALLOWED %}
				<div><label for="lock_topic"><input type="checkbox" name="lock_topic" id="lock_topic"{{ S_LOCK_TOPIC_CHECKED }} /> {{ lang('LOCK_TOPIC') }}</label></div>
			{% endif %}
			{% if S_LOCK_POST_ALLOWED %}
				<div><label for="lock_post"><input type="checkbox" name="lock_post" id="lock_post"{{ S_LOCK_POST_CHECKED }} /> {{ lang('LOCK_POST') }} [{{ lang('LOCK_POST_EXPLAIN') }}]</label></div>
			{% endif %}

			{% if S_TYPE_TOGGLE or S_TOPIC_TYPE_ANNOUNCE or S_TOPIC_TYPE_STICKY %}
			<hr class="dashed" />
			{% endif %}

			{% if S_TYPE_TOGGLE %}
			<dl>
				<dt><label for="topic_type-0">{% if S_EDIT_POST %}{{ lang('CHANGE_TOPIC_TO') }}{% else %}{{ lang('POST_TOPIC_AS') }}{% endif %}{{ lang('COLON') }}</label></dt>
				<dd>{% for topic_type in loops.topic_type %}<label for="topic_type-{{ topic_type.VALUE }}"><input type="radio" name="topic_type" id="topic_type-{{ topic_type.VALUE }}" value="{{ topic_type.VALUE }}"{{ topic_type.S_CHECKED }} />{{ topic_type.L_TOPIC_TYPE }}</label> {% endfor %}</dd>
			</dl>
			{% endif %}

			{% if S_TOPIC_TYPE_ANNOUNCE or S_TOPIC_TYPE_STICKY %}
			<dl>
				<dt><label for="topic_time_limit">{{ lang('STICK_TOPIC_FOR') }}{{ lang('COLON') }}</label></dt>
				<dd><label for="topic_time_limit"><input type="number" min="0" max="999" name="topic_time_limit" id="topic_time_limit" value="{{ TOPIC_TIME_LIMIT }}" class="inputbox autowidth" /> {{ lang('DAYS') }}</label></dd>
				<dd>{{ lang('STICK_TOPIC_FOR_EXPLAIN') }}</dd>
			</dl>
			{% endif %}

			{% if S_SOFTDELETE_ALLOWED or S_DELETE_ALLOWED %}
				<hr class="dashed" />
				<dl>
					<dt><label for="delete">{{ lang('DELETE_POST') }}{{ lang('COLON') }}</label></dt>
					<dd><label for="delete"><input type="checkbox" name="delete" id="delete" {{ S_SOFTDELETE_CHECKED }} /> {{ lang('DELETE_POST_WARN') }}</label></dd>
					{% if S_DELETE_ALLOWED and S_SOFTDELETE_ALLOWED %}
						<dd><label for="delete_permanent"><input type="checkbox" name="delete_permanent" id="delete_permanent" /> {{ lang('DELETE_POST_PERMANENTLY') }}</label></dd>
					{% endif %}
				</dl>
			{% endif %}

			{% if S_EDIT_REASON %}
			<dl>
				<dt><label for="edit_reason">{{ lang('EDIT_REASON') }}{{ lang('COLON') }}</label></dt>
				<dd><input type="text" name="edit_reason" id="edit_reason" value="{{ EDIT_REASON }}" class="inputbox" /></dd>
			</dl>
			{% endif %}
		</fieldset>
		{% endif %}

{% endif %}
