<h3>{{ lang('POST_REVIEW') }}</h3>

<p>{{ lang('POST_REVIEW_EXPLAIN') }}</p>

{% for post_review_row in loops.post_review_row %}
{% if post_review_row.S_IGNORE_POST %}
<div class="post bg3 post-ignore">
	<div class="inner">
		{{ post_review_row.L_IGNORE_POST }}
{% else %}
<div class="post {% if post_review_row.S_ROW_COUNT is odd %}bg1{% else %}bg2{% endif %}">
	<div class="inner">
{% endif %}

	<div class="postbody" id="ppr{{ post_review_row.POST_ID }}">
		<h3><a href="#ppr{{ post_review_row.POST_ID }}">{{ post_review_row.POST_SUBJECT }}</a></h3>
		<p class="author">
			{% if S_IS_BOT %}
				<span><i class="icon fa-file fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">{{ post_review_row.MINI_POST }}</span></span>
			{% else %}
				<a href="{{ post_review_row.U_MINI_POST }}" title="{{ post_review_row.MINI_POST }}">
					<i class="icon fa-file fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">{{ post_review_row.MINI_POST }}</span>
				</a>
			{% endif %}
			{{ lang('POST_BY_AUTHOR') }}<strong>  {{ post_review_row.POST_AUTHOR_FULL }}</strong> &raquo; {{ post_review_row.POST_DATE }}
		</p>
		<div class="content">{{ post_review_row.MESSAGE }}</div>

		{% if post_review_row.S_HAS_ATTACHMENTS %}
			<dl class="attachbox">
				<dt>{{ lang('ATTACHMENTS') }}</dt>
				{% for attachment in post_review_row.attachment %}
					<dd>{{ attachment.DISPLAY_ATTACHMENT }}</dd>
				{% endfor %}
			</dl>
		{% endif %}

	</div>

	</div>
</div>
{% endfor %}

<hr />
