<!-- EVENT viewtopic_body_post_buttons_before -->
<!-- IF postrow.U_EDIT -->
	<li>
		<a href="{postrow.U_EDIT}" title="{L_EDIT_POST}" class="button button-icon-only">
			<i class="icon fa-pencil fa-fw" aria-hidden="true"></i><span class="sr-only">{L_BUTTON_EDIT}</span>
		</a>
	</li>
<!-- ENDIF -->
<!-- IF postrow.U_DELETE -->
	<li>
		<a href="{postrow.U_DELETE}" title="{L_DELETE_POST}" class="button button-icon-only">
			<i class="icon fa-times fa-fw" aria-hidden="true"></i><span class="sr-only">{L_DELETE_POST}</span>
		</a>
	</li>
<!-- ENDIF -->
<!-- IF postrow.U_REPORT -->
	<li>
		<a href="{postrow.U_REPORT}" title="{L_REPORT_POST}" class="button button-icon-only">
			<i class="icon fa-exclamation fa-fw" aria-hidden="true"></i><span class="sr-only">{L_REPORT_POST}</span>
		</a>
	</li>
<!-- ENDIF -->
<!-- IF postrow.U_WARN -->
	<li>
		<a href="{postrow.U_WARN}" title="{L_WARN_USER}" class="button button-icon-only">
			<i class="icon fa-exclamation-triangle fa-fw" aria-hidden="true"></i><span class="sr-only">{L_WARN_USER}</span>
		</a>
	</li>
<!-- ENDIF -->
<!-- IF postrow.U_INFO -->
	<li>
		<a href="{postrow.U_INFO}" title="{L_INFORMATION}" class="button button-icon-only">
			<i class="icon fa-info fa-fw" aria-hidden="true"></i><span class="sr-only">{L_INFORMATION}</span>
		</a>
	</li>
<!-- ENDIF -->
<!-- IF postrow.U_QUOTE -->
	<li>
		<a href="{postrow.U_QUOTE}" title="{L_REPLY_WITH_QUOTE}" class="button button-icon-only">
			<i class="icon fa-quote-left fa-fw" aria-hidden="true"></i><span class="sr-only">{L_QUOTE}</span>
		</a>
	</li>
<!-- ENDIF -->
<!-- EVENT viewtopic_body_post_buttons_after -->
