<form name="revision_list" action="{U_VIEW_REVISIONS}" method="post" data-ajax="revisions.compare" />
	<div class="forumbg">
		<ul class="topiclist revisions">
			<li class="header">
				<dl>
					<!-- IF S_DISPLAY_COMPARISON --><dd class="revision_compare">{L_COMPARE}</dd><!-- ENDIF -->
					<dt class="revision_view">{L_REVISION}</dt>
					<dd class="revision_user">{L_USERNAME}</dd>
					<dd class="revision_date">{L_REVISION} {L_TIME}</dd>
					<dd class="revision_reason">{L_REASON}</dd>
					<!-- IF S_DISPLAY_COMPARISON --><dd class="revision_options">{L_OPTIONS}</dd><!-- ENDIF -->
				</dl>
			</li>
	<!-- BEGIN revision -->
		<li class="row <!-- IF revision.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF --><!-- IF not revision.IN_RANGE and S_DISPLAY_COMPARISON --> out_of_range<!-- ENDIF --><!-- IF revision.CURRENT_REVISION --> current<!-- ENDIF -->" id="r{revision.ID}">
			<dl>
			<!-- IF S_DISPLAY_COMPARISON -->
				<dd class="revision_compare">
					<input type="radio" name="first" value="{revision.ID}"<!-- IF revision.FIRST_IN_COMPARE --> checked="checked"<!-- ENDIF --><!-- IF REVISION_COUNT eq 0 --> disabled="disabled"<!-- ENDIF --> />
					<input type="radio" name="last" value="{revision.ID}"<!-- IF revision.LAST_IN_COMPARE --> checked="checked"<!-- ENDIF --><!-- IF REVISION_COUNT eq 0 --> disabled="disabled"<!-- ENDIF --> />
				</dd>
			<!-- ENDIF -->
				<dt class="revision_view"><a href="{revision.U_REVISION_VIEW}"><!-- IF revision.IS_CURRENT_POST -->{L_CURRENT_REVISION}<!-- ELSE -->#{revision.NUMBER}<!-- ENDIF --></a></dt>
				<dd class="revision_user">{revision.USERNAME}</dd>
				<dd class="revision_date">{revision.DATE}</dd>
				<dd class="revision_reason"><!-- IF revision.REASON -->{revision.REASON}<!-- ELSE --><em>{L_NO_REASON}</em><!-- ENDIF --></dd>
			<!-- IF S_DISPLAY_COMPARISON and not revision.IS_CURRENT_POST -->
				<dd class="revision_options">
						<a href="{revision.U_PROTECT}"  title="{L_SINGLE_REVISION_PROTECT}"class="revision_protect<!-- IF not revision.S_PROTECT --> hidden<!-- ENDIF -->" data-ajax="revisions.protect">{revision.PROTECT_IMG}</a>
						<a href="{revision.U_UNPROTECT}" title="{L_SINGLE_REVISION_UNPROTECT}" class="revision_unprotect<!-- IF not revision.S_UNPROTECT --> hidden<!-- ENDIF -->" data-ajax="revisions.unprotect">{L_UNPROTECT}</a>
						<a href="{revision.U_RESTORE}" title="{L_SINGLE_REVISION_RESTORE}" class="revision_restore<!-- IF not revision.S_RESTORE --> hidden<!-- ENDIF -->">{revision.RESTORE_IMG}</a>
						<a href="{revision.U_DELETE}" title="{L_REVISION_DELETE}" class="revision_delete<!-- IF not revision.S_DELETE --> hidden<!-- ENDIF -->" data-ajax="revisions.delete" data-refresh="true">{revision.DELETE_IMG}</a>
				</dd>
			<!-- ENDIF -->
			</dl>
		<!-- END revision -->
		</ul>
	</div>
<!-- IF S_DISPLAY_COMPARISON -->
	<fieldset>
		<input class="button1" type="submit" name="compare" value="{L_COMPARE_SELECTED}" />
	</fieldset>
<!-- ENDIF -->
</form>
