<!-- INCLUDE overall_header.html -->

<br clear="both" />

<h2>{L_REVISIONS_RESTORE_TITLE}</h2>
<p>{L_REVISIONS_RESTORE_EXPLAIN}</p>
<!-- IF BAD_FORM -->
	<p class="error">{L_SUBMIT_FORM_AGAIN}</p>
<!-- ENDIF -->
<div class="post bg1" id="message">
	<div class="inner">
		<div class="postbody">
			<h3 class="first"><a href="{U_MINI_POST}">{POST_SUBJECT}</a></h3>
			<p class="author"><a href="{U_MINI_POST}">{MINI_POST_IMG}</a>{L_POST_BY_AUTHOR} <strong>{POST_USERNAME}</strong> &raquo; {POST_DATE} </p>

			<div class="content">{MESSAGE}</div>
		</div>
		<dl class="postprofile" id="profile{POST_ID}">
			<dt>
				<!-- IF AVATAR -->
					<a href="{U_VIEW_PROFILE}">{AVATAR}</a><br />
				<!-- ENDIF -->
				<strong>{POST_USERNAME}</strong>
			</dt>

			<!-- IF RANK_TITLE or RANK_IMG --><dd>{RANK_TITLE}<!-- IF RANK_TITLE and RANK_IMG --><br /><!-- ENDIF -->{RANK_IMG}</dd><!-- ENDIF -->
			<dd>&nbsp;</dd>
			<dd><strong>{L_JOINED}:</strong> {POSTER_JOINED}</dd>
			<dd><strong>{L_POSTS}:</strong> {POSTER_POSTS}</dd>
			<!-- IF POSTER_LOCATION --><dd><strong>{L_LOCATION}:</strong> {POSTER_LOCATION}</dd><!-- ENDIF -->
		</dl>
	</div>
</div>
<form action="{U_ACTION}" method="post" name="revert">
<div class="panel bg2">
	<div class="inner">
	<fieldset class="submit-buttons">
		{S_FORM_TOKEN}
		{S_HIDDEN_FIELDS}
		<input type="submit" accesskey="s" tabindex="6" name="confirm" value="{L_SUBMIT}" class="button1 default-submit-action" />&nbsp;
	</fieldset>
	</div>
</div>
</form>

<!-- INCLUDE overall_footer.html -->
