<!-- INCLUDE overall_header.html -->

<!-- IF DISPLAY_COMPARISON -->
	<h2>{L_REVISIONS_COMPARE_TITLE}</h2>
	<p><div class="left-box">{L_LAST_REVISION_TIME}</div>
	<div class="right-box"></div></p>
	<hr />
	<p><div class="left-box">{L_COMPARE_SUMMARY} {L_WITH} {L_LINES_ADDED_REMOVED}</div></p>
	<br class="clear" />
	<!-- BEGIN revisions -->
		<div>
			<a href="{revisions.U_REVISION_VIEW}">{revisions.ID}</a> {revisions.USER_AVATAR} {revisions.USERNAME} {revisions.DATE}
		</div>
	<!-- END revisions -->
	<div class="panel">
		<div class="inner">
			<div class="postbody">
				<div class="content">
					<dl class="revision">
						<dt>{L_SUBJECT}:</dt>
						<dd>{SUBJECT_DIFF}</dd>
					</dl>
					<dl class="revision">
						<dt>{L_MESSAGE}:</dt>
						<dd>{TEXT_DIFF}</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
