<div class="revisions_block">
	<form name="revision_list" action="{U_VIEW_REVISIONS}" method="post" data-ajax="revisions.compare" />
		<!-- BEGIN revision -->
		<ul class="revisions<!-- IF revision.S_ROW_COUNT is odd --> odd<!-- ELSE --> even<!-- ENDIF --><!-- IF not revision.IN_RANGE and S_DISPLAY_COMPARISON --> out_of_range<!-- ENDIF --><!-- IF revision.CURRENT_REVISION --> current<!-- ENDIF -->" id="r{revision.ID}">
			<li class="revision_compare"><!-- IF S_DISPLAY_COMPARISON --><input type="radio" name="first" value="{revision.ID}"<!-- IF revision.FIRST_IN_COMPARE --> checked="checked"<!-- ENDIF --> /> <input type="radio" name="last" value="{revision.ID}"<!-- IF revision.LAST_IN_COMPARE --> checked="checked"<!-- ENDIF --> /><!-- ENDIF --></li>
			<li class="revision_id"><a href="{revision.U_REVISION_VIEW}">#{revision.NUMBER} ({L_VIEW})</a></li>
			<li class="revsion_user">{revision.USER_AVATAR} <span>{revision.USERNAME}</span></li>
			<li class="revision_date">{revision.DATE}</li>
			<li class="revision_reason"><!-- IF revision.REASON --><strong>{revision.REASON}</strong><!-- ELSE --><em>{L_NO_REASON}</em><!-- ENDIF --></li>
			<li class="revision_options">
				<!-- IF S_DISPLAY_COMPARISON -->
					<!-- IF not revision.IS_CURRENT_POST -->
						<a href="{revision.U_PROTECT}" id="link_protect"<!-- IF not revision.S_PROTECT --> class="no-display"<!-- ENDIF --> data-ajax="revisions.protect">({L_PROTECT})</a>
						<a href="{revision.U_UNPROTECT}" id="link_unprotect"<!-- IF not revision.S_UNPROTECT --> class="no-display"<!-- ENDIF --> data-ajax="revisions.unprotect">({L_UNPROTECT})</a>
						<a href="{revision.U_RESTORE}" id="link_restore"<!-- IF not revision.U_RESTORE --> class="no-display"<!-- ENDIF -->>({L_RESTORE})</a>
						<a href="{revision.U_DELETE}" id="link_delete"<!-- IF not revision.U_DELETE --> class="no-display"<!-- ENDIF --> data-ajax="revisions.delete" data-refresh="true">{revision.DELETE_IMG}</a>
					<!-- ELSE -->
						<strong>{L_CURRENT_REVISION}</strong>
					<!-- ENDIF -->
				<!-- ENDIF -->
			</li>
		</ul>
		<!-- END revision -->
		<!-- IF S_DISPLAY_COMPARISON -->
		<fieldset class="actions-left">
			<input class="button1" type="submit" name="compare" value="{L_COMPARE_SELECTED}" />
		</fieldset>
		<!-- ENDIF -->
	</form>
</div>
