<!-- INCLUDE overall_header.html -->

<!-- IF DISPLAY_COMPARISON -->
	<h2>{L_REVISIONS_COMPARE_TITLE}</h2>
	<p><div class="left-box">{L_COMPARE_SUMMARY}</div>
	<div class="right-box">{L_LAST_REVISION_TIME}</div></p>
	<br class="clear" />
	<div class="panel">
		<div class="inner">
			<div class="postbody">
				<div class="content">
				<!-- IF DIFF -->
				{DIFF}
				<!-- ELSE -->
				<em>{L_NO_DIFF}</em>
				<!-- ENDIF -->
				</div>
			</div>
		</div>
	</div>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
s
