<!-- INCLUDE overall_header.html -->

<!-- IF DISPLAY_COMPARISON -->
	<h2>{L_REVISIONS_COMPARE_TITLE}</h2>
	<p><div class="left-box">{L_LAST_REVISION_TIME}</div>
	<div class="right-box"></div></p>
	<hr />
	<p><div class="left-box">{L_COMPARE_SUMMARY} {L_WITH} {L_LINES_ADDED_REMOVED}</div></p>
	<br class="clear" />
	<div class="center">
	<!-- BEGIN revisions -->
	<ul class="revisions <!-- IF revisions.S_ROW_COUNT is odd -->odd<!-- ELSE -->even<!-- ENDIF -->">
		<li class="revision_id"><a href="{revisions.U_REVISION_VIEW}">#{revisions.ID}</a></li>
		<li class="revsion_user">{revisions.USER_AVATAR} <span>{revisions.USERNAME}</span></li>
		<li class="revision_reason"><!-- IF revisions.REASON --><strong>{revisions.REASON}</strong><!-- ELSE --><em>{L_NO_REASON}</em><!-- ENDIF --></li>
		<li class="revision_date">{revisions.DATE}</li>
	</ul>
	<!-- END revisions -->
	</div>
	<div class="panel">
		<div class="inner">
			<div class="postbody">
				<div class="content">
					<dl class="revision">
						<dt>{L_SUBJECT}:</dt>
						<dd>{SUBJECT_DIFF}</dd>
					</dl>
					<dl class="revision">
						<dt>{L_MESSAGE}:</dt>
						<dd>{TEXT_DIFF}</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
