{% INCLUDE 'overall_header.html' %}

<h2 class="solo">{{ lang('SEARCH') }}</h2>

{% EVENT search_body_form_before %}
<form method="get" action="{{ S_SEARCH_ACTION }}" data-focus="keywords">

<div class="panel">
	<div class="inner">
	<h3>{{ lang('SEARCH_QUERY') }}</h3>

	{% EVENT search_body_search_query_before %}
	<fieldset>
	{% EVENT search_body_search_query_prepend %}
	<dl>
		<dt><label for="keywords">{{ lang('SEARCH_KEYWORDS') }}{{ lang('COLON') }}</label><br /><span>{{ lang('SEARCH_KEYWORDS_EXPLAIN') }}</span></dt>
		<dd><input type="search" class="inputbox" name="keywords" id="keywords" size="40" title="{{ lang('SEARCH_KEYWORDS') }}" /></dd>
		<dd><label for="terms1"><input type="radio" name="terms" id="terms1" value="all" checked="checked" /> {{ lang('SEARCH_ALL_TERMS') }}</label></dd>
		<dd><label for="terms2"><input type="radio" name="terms" id="terms2" value="any" /> {{ lang('SEARCH_ANY_TERMS') }}</label></dd>
	</dl>
	<dl>
		<dt><label for="author">{{ lang('SEARCH_AUTHOR') }}{{ lang('COLON') }}</label><br /><span>{{ lang('SEARCH_AUTHOR_EXPLAIN') }}</span></dt>
		<dd><input type="search" class="inputbox" name="author" id="author" size="40" title="{{ lang('SEARCH_AUTHOR') }}" /></dd>
	</dl>
	{% EVENT search_body_search_query_append %}
	</fieldset>
	{% EVENT search_body_search_query_after %}

	</div>
</div>

<div class="panel bg2">
	<div class="inner">

	<h3>{{ lang('SEARCH_OPTIONS') }}</h3>

	{% EVENT search_body_search_options_before %}
	<fieldset>
	{% EVENT search_body_search_options_prepend %}
	<dl>
		<dt><label for="search_forum">{{ lang('SEARCH_FORUMS') }}{{ lang('COLON') }}</label><br /><span>{{ lang('SEARCH_FORUMS_EXPLAIN') }}</span></dt>
		<dd><select name="fid[]" id="search_forum" multiple="multiple" size="8" title="{{ lang('SEARCH_FORUMS') }}">{{ S_FORUM_OPTIONS }}</select></dd>
	</dl>
	<dl>
		<dt><label for="search_child1">{{ lang('SEARCH_SUBFORUMS') }}{{ lang('COLON') }}</label></dt>
		<dd>
			<label for="search_child1"><input type="radio" name="sc" id="search_child1" value="1" checked="checked" /> {{ lang('YES') }}</label>
			<label for="search_child2"><input type="radio" name="sc" id="search_child2" value="0" /> {{ lang('NO') }}</label>
		</dd>
	</dl>
	<dl>
		<dt><label for="sf1">{{ lang('SEARCH_WITHIN') }}{{ lang('COLON') }}</label></dt>
		<dd><label for="sf1"><input type="radio" name="sf" id="sf1" value="all" checked="checked" /> {{ lang('SEARCH_TITLE_MSG') }}</label></dd>
		<dd><label for="sf2"><input type="radio" name="sf" id="sf2" value="msgonly" /> {{ lang('SEARCH_MSG_ONLY') }}</label></dd>
		<dd><label for="sf3"><input type="radio" name="sf" id="sf3" value="titleonly" /> {{ lang('SEARCH_TITLE_ONLY') }}</label></dd>
		<dd><label for="sf4"><input type="radio" name="sf" id="sf4" value="firstpost" /> {{ lang('SEARCH_FIRST_POST') }}</label></dd>
	</dl>
	{% EVENT search_body_search_options_append %}

	<hr class="dashed" />

	{% EVENT search_body_search_display_options_prepend %}
	<dl>
		<dt><label for="show_results1">{{ lang('DISPLAY_RESULTS') }}{{ lang('COLON') }}</label></dt>
		<dd>
			<label for="show_results1"><input type="radio" name="sr" id="show_results1" value="posts" checked="checked" /> {{ lang('POSTS') }}</label>
			<label for="show_results2"><input type="radio" name="sr" id="show_results2" value="topics" /> {{ lang('TOPICS') }}</label>
		</dd>
	</dl>
	<dl>
		<dt><label for="sd">{{ lang('RESULT_SORT') }}{{ lang('COLON') }}</label></dt>
		<dd>{{ S_SELECT_SORT_KEY }}&nbsp;
			<label for="sa"><input type="radio" name="sd" id="sa" value="a" /> {{ lang('SORT_ASCENDING') }}</label>
			<label for="sd"><input type="radio" name="sd" id="sd" value="d" checked="checked" /> {{ lang('SORT_DESCENDING') }}</label>
		</dd>
	</dl>
	<dl>
		<dt><label>{{ lang('RESULT_DAYS') }}{{ lang('COLON') }}</label></dt>
		<dd>{{ S_SELECT_SORT_DAYS }}</dd>
	</dl>
	<dl>
		<dt><label>{{ lang('RETURN_FIRST') }}{{ lang('COLON') }}</label></dt>
		<dd><select name="ch" title="{{ lang('RETURN_FIRST') }}">{{ S_CHARACTER_OPTIONS }}</select> {{ lang('POST_CHARACTERS') }}</dd>
	</dl>
	{% EVENT search_body_search_display_options_append %}
	</fieldset>
	{% EVENT search_body_search_options_after %}

	</div>
</div>

<div class="panel bg3">
	<div class="inner">

	<fieldset class="submit-buttons">
		{{ S_HIDDEN_FIELDS }}<input type="reset" value="{{ lang('RESET') }}" name="reset" class="button1 button button-form-bold" />&nbsp;
		<input type="submit" name="submit" value="{{ lang('SEARCH') }}" class="button1 button button-form" />
	</fieldset>

	</div>
</div>

</form>
{% EVENT search_body_form_after %}

{% EVENT search_body_recent_search_before %}
{% if loops.recentsearch|length %}
<div class="forumbg forumbg-table">
	<div class="inner">

	<table class="table1">
	<thead>
	<tr>
		<th colspan="2" class="name">{{ lang('RECENT_SEARCHES') }}</th>
	</tr>
	</thead>
	<tbody>
	{% for recentsearch in loops.recentsearch %}
		<tr class="{% if recentsearch.S_ROW_COUNT is even %}bg1{% else %}bg2{% endif %}">
			<td><a href="{{ recentsearch.U_KEYWORDS }}">{{ recentsearch.KEYWORDS }}</a></td>
			<td class="active">{{ recentsearch.TIME }}</td>
		</tr>
	{% else %}
		<tr class="bg1">
			<td colspan="2">{{ lang('NO_RECENT_SEARCHES') }}</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>

	</div>
</div>
{% endif %}
{% EVENT search_body_recent_search_after %}

{% INCLUDE 'overall_footer.html' %}
