<div id="tabs" class="tabs">
	<ul>
		<!-- BEGIN l_block1 -->
		<li class="tab<!-- IF l_block1.S_SELECTED --> activetab<!-- ENDIF -->"><a href="{l_block1.U_TITLE}">{l_block1.L_TITLE}</a></li>
		<!-- END l_block1 -->
		<li class="tab dropdown-container u-hidden-sm-up">
			<a href="javascript:void(0);" class="dropdown-toggle">
				<i class="icon fa-bars fa-fw" aria-hidden="true"></i>
			</a>
			<div class="dropdown tab-dropdown" style="display: none;">
				<div class="pointer"><div class="pointer-inner"></div></div>
				<ul class="dropdown-contents">
					<!-- BEGIN l_block1 -->
					<li class="tab<!-- IF l_block1.S_SELECTED --> activetab<!-- ENDIF -->"><a href="{l_block1.U_TITLE}">{l_block1.L_TITLE}</a></li>
					<!-- END l_block1 -->
				</ul>
			</div>
		</li>
	</ul>
</div>
