<dl>
	<dt><label for="timezone">{L_BOARD_TIMEZONE}:</label></dt>
	<!-- IF S_TZ_DATE_OPTIONS -->
	<dd id="tz_select_date" style="display: none;">
		<select name="tz_date" id="tz_date" class="autowidth tz_select" onchange="phpbb_switch_tz_date(false);">
			<option value="">{L_SELECT_CURRENT_TIME}</option>
			{S_TZ_DATE_OPTIONS}
		</select>
		<a id="tz_select_date_suggest" style="display: none;" href="javascript: phpbb_preselect_tz_select(true, '');">{L_TIMEZONE_DATE_SUGGESTION}</a>
	</dd>
	<!-- ENDIF -->
	<dd>
		<select name="tz" id="timezone" class="autowidth tz_select">
			<option value="">{L_SELECT_TIMEZONE}</option>
			{S_TZ_OPTIONS}
		</select>

		<script type="text/javascript">
			var is_registration = <!-- IF S_REGISTRATION -->true<!-- ELSE -->false<!-- ENDIF -->;
			var l_timezone_date_suggestion = "{L_TIMEZONE_DATE_SUGGESTION}";
		</script>
		<!-- INCLUDEJS template/timezone.js -->
	</dd>
</dl>
