{% INCLUDE 'ucp_header.html' %}

<h2>{{ lang('TITLE') }}</h2>

<div class="panel">
	<div class="inner">

	<p>{{ lang('UCP_WELCOME') }}</p>

{% if loops.topicrow|length %}
	<h3>{{ lang('IMPORTANT_NEWS') }}</h3>

	<ul class="topiclist cplist two-long-columns">
	{% for topicrow in loops.topicrow %}
		<li class="row{% if topicrow.S_ROW_COUNT is odd %} bg1{% else %} bg2{% endif %}">
			<dl class="row-item {{ topicrow.TOPIC_IMG_STYLE }}">
				<dt {% if topicrow.TOPIC_ICON_IMG %}style="background-image: url({{ T_ICONS_PATH }}{{ topicrow.TOPIC_ICON_IMG }}); background-repeat: no-repeat;"{% endif %}>
					{% if topicrow.S_UNREAD_TOPIC %}<a href="{{ topicrow.U_NEWEST_POST }}" class="row-item-link"></a>{% endif %}
					<div class="list-inner">
						{% if topicrow.S_UNREAD %}
							<a class="unread" href="{{ topicrow.U_NEWEST_POST }}">
								<i class="icon fa-file fa-fw icon-red icon-md" aria-hidden="true"></i><span class="sr-only">{{ NEW_POST }}</span>
							</a>
						{% endif %}
						<a href="{{ topicrow.U_VIEW_TOPIC }}" class="topictitle">{{ topicrow.TOPIC_TITLE }}</a><br />
						{% if topicrow.pagination|length %}
						<div class="pagination">
							<ul>
							{% for pagination in topicrow.pagination %}
								{% if pagination.S_IS_PREV %}
								{% elseif pagination.S_IS_CURRENT %}<li class="active"><span>{{ pagination.PAGE_NUMBER }}</span></li>
								{% elseif pagination.S_IS_ELLIPSIS %}<li class="ellipsis"><span>{{ lang('ELLIPSIS') }}</span></li>
								{% elseif pagination.S_IS_NEXT %}
								{% else %}<li><a href="{{ pagination.PAGE_URL }}">{{ pagination.PAGE_NUMBER }}</a></li>
								{% endif %}
							{% endfor %}
							</ul>
						</div>
						{% endif %}
						<div class="responsive-hide">
							{% if topicrow.ATTACH_ICON_IMG %}<i class="icon fa-paperclip fa-fw" aria-hidden="true"></i> {% endif %}
							{{ lang('POST_BY_AUTHOR') }} {{ topicrow.TOPIC_AUTHOR_FULL }} &raquo; {{ topicrow.FIRST_POST_TIME }}
						</div>
						<div class="responsive-show" style="display: none;">
							{% if topicrow.ATTACH_ICON_IMG %}<i class="icon fa-paperclip fa-fw" aria-hidden="true"></i> {% endif %}
							{{ lang('LAST_POST') }} {{ lang('POST_BY_AUTHOR') }} {{ topicrow.LAST_POST_AUTHOR_FULL }} &laquo; <a href="{{ topicrow.U_LAST_POST }}" title="{{ lang('GOTO_LAST_POST') }}">{{ topicrow.LAST_POST_TIME }}</a>
						</div>
					</div>
				</dt>
				<dd class="lastpost">
					<span>{{ lang('LAST_POST') }} {{ lang('POST_BY_AUTHOR') }} {{ topicrow.LAST_POST_AUTHOR_FULL }}
						<a href="{{ topicrow.U_LAST_POST }}" title="{{ lang('GOTO_LAST_POST') }}">
							<i class="icon fa-external-link-square fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">{{ VIEW_LATEST_POST }}</span>
						</a>
						<br />{{ topicrow.LAST_POST_TIME }}
					</span>
				</dd>
			</dl>
		</li>
	{% endfor %}
	</ul>
{% endif %}

	<h3>{{ lang('YOUR_DETAILS') }}</h3>

{% EVENT ucp_main_front_user_activity_before %}
	<dl class="details">
		{% EVENT ucp_main_front_user_activity_prepend %}
		<dt>{{ lang('JOINED') }}{{ lang('COLON') }}</dt> <dd>{{ JOINED }}</dd>
		<dt>{{ lang('LAST_ACTIVE') }}{{ lang('COLON') }}</dt> <dd>{{ LAST_VISIT_YOU }}</dd>
		<dt>{{ lang('TOTAL_POSTS') }}{{ lang('COLON') }}</dt> <dd>{% if POSTS_PCT %}{{ POSTS }}{% if S_DISPLAY_SEARCH %} | <strong><a href="{{ U_SEARCH_USER }}">{{ lang('SEARCH_YOUR_POSTS') }}</a></strong>{% endif %}<br />({{ POSTS_DAY }} / {{ POSTS_PCT }}){% else %}{{ POSTS }}{% endif %}</dd>
		{% if ACTIVE_FORUM != '' %}<dt>{{ lang('ACTIVE_IN_FORUM') }}{{ lang('COLON') }}</dt> <dd><strong><a href="{{ U_ACTIVE_FORUM }}">{{ ACTIVE_FORUM }}</a></strong><br />({{ ACTIVE_FORUM_POSTS }} / {{ ACTIVE_FORUM_PCT }})</dd>{% endif %}
		{% if ACTIVE_TOPIC != '' %}<dt>{{ lang('ACTIVE_IN_TOPIC') }}{{ lang('COLON') }}</dt> <dd><strong><a href="{{ U_ACTIVE_TOPIC }}">{{ ACTIVE_TOPIC }}</a></strong><br />({{ ACTIVE_TOPIC_POSTS }} / {{ ACTIVE_TOPIC_PCT }})</dd>{% endif %}
		{% if WARNINGS %}<dt>{{ lang('YOUR_WARNINGS') }}{{ lang('COLON') }}</dt> <dd class="error"><i class="icon fa-exclamation-triangle fa-fw icon-red" aria-hidden="true"></i> [{{ WARNINGS }}]</dd>{% endif %}
		{% EVENT ucp_main_front_user_activity_append %}
	</dl>
{% EVENT ucp_main_front_user_activity_after %}

	</div>
</div>

{% INCLUDE 'ucp_footer.html' %}
