{% INCLUDE 'overall_header.html' %}

<h2 class="ucp-title">{{ lang('UCP') }}</h2>

<div id="tabs" class="tabs">
	<ul>
		{% for t_block1 in loops.t_block1 %}
		<li class="tab{% if t_block1.S_SELECTED %} activetab{% endif %}"><a href="{{ t_block1.U_TITLE }}">{{ t_block1.L_TITLE }}</a></li>
		{% endfor %}
	</ul>
</div>

{% if S_COMPOSE_PM %}
<form id="postform" method="post" action="{{ S_POST_ACTION }}"{{ S_FORM_ENCTYPE }}>
{% endif %}

<div class="panel bg3">
	<div class="inner">

	<div style="width: 100%;">

	<div id="cp-menu" class="cp-menu">
		<div id="navigation" class="navigation" role="navigation">

		{% if S_PRIVMSGS %}
			{% for t_block2 in loops.t_block2 %}
				{% if S_PRIVMSGS and not t_block2.S_LAST_ROW %}
				<ul>
					{% if t_block2.S_SELECTED %}
						<li id="active-subsection" class="active-subsection"><a href="{{ t_block2.U_TITLE }}"><span>{{ t_block2.L_TITLE }}</span></a></li>
					{% else %}
						<li><a href="{{ t_block2.U_TITLE }}"><span>{{ t_block2.L_TITLE }}</span></a></li>
					{% endif %}
				</ul>
				{% endif %}
			{% endfor %}

			<hr />
			{% for folder in loops.folder %}
				{% if folder.S_FIRST_ROW %}<ul>{% endif %}
				{% if folder.S_CUR_FOLDER %}
					<li id="active-subsection" class="active-subsection"><a href="{{ folder.U_FOLDER }}">{% if folder.UNREAD_MESSAGES > 0 %}<strong>{{ folder.FOLDER_NAME }} ({{ folder.UNREAD_MESSAGES }})</strong>{% else %}{{ folder.FOLDER_NAME }}{% endif %}</a></li>
				{% else %}
					<li><a href="{{ folder.U_FOLDER }}"><span>{% if folder.UNREAD_MESSAGES > 0 %}<strong>{{ folder.FOLDER_NAME }} ({{ folder.UNREAD_MESSAGES }})</strong>{% else %}{{ folder.FOLDER_NAME }}{% endif %}</span></a></li>
				{% endif %}
				{% if folder.S_LAST_ROW %}</ul>{% endif %}
			{% endfor %}
			<hr />
		{% endif %}

			<ul>
		{% for t_block2 in loops.t_block2 %}
			{% if (S_PRIVMSGS and t_block2.S_LAST_ROW) or not S_PRIVMSGS %}
				{% if t_block2.S_SELECTED %}
					<li id="active-subsection" class="active-subsection"><a href="{{ t_block2.U_TITLE }}"><span>{{ t_block2.L_TITLE }}</span></a></li>
				{% else %}
					<li><a href="{{ t_block2.U_TITLE }}"><span>{{ t_block2.L_TITLE }}</span></a></li>
				{% endif %}
			{% endif %}
		{% endfor %}
			</ul>
		</div>

		{% if loops.friends_online|length or loops.friends_offline|length %}
		<div class="cp-mini">
			<div class="inner">

			<dl class="mini">
				<dt>{{ lang('FRIENDS') }}</dt>

				{% for friends_online in loops.friends_online %}
					<dd class="friend-online" title="{{ lang('FRIENDS_ONLINE') }}">{{ friends_online.USERNAME_FULL }} {% if S_SHOW_PM_BOX %} <input type="submit" name="add_to[{{ friends_online.USER_ID }}]" value="{{ lang('ADD') }}" class="button1 button button-form-bold" />{% endif %}{% if friends_online.S_LAST_ROW and loops.friends_offline|length %}<hr />{% endif %}</dd>
				{% endfor %}

				{% for friends_offline in loops.friends_offline %}
					<dd class="friend-offline" title="{{ lang('FRIENDS_OFFLINE') }}">{{ friends_offline.USERNAME_FULL }} {% if S_SHOW_PM_BOX %}<input type="submit" name="add_to[{{ friends_offline.USER_ID }}]" value="{{ lang('ADD') }}" class="button1 button button-form-bold" />{% endif %}</dd>
				{% endfor %}
			</dl>

			</div>
		</div>
		{% endif %}

		{% if S_SHOW_COLOUR_LEGEND %}
		<div class="cp-mini">
			<div class="inner">

			<dl class="mini">
				<dt>{{ lang('MESSAGE_COLOURS') }}</dt>
				{% for pm_colour_info in loops.pm_colour_info %}
					<dd class="pm-legend{% if pm_colour_info.CLASS %} {{ pm_colour_info.CLASS }}{% endif %}">{% if pm_colour_info.IMG %}{{ pm_colour_info.IMG }} {% endif %}{{ pm_colour_info.LANG }}</dd>
				{% endfor %}
			</dl>

			</div>
		</div>
		{% endif %}

	</div>

	<div id="cp-main" class="cp-main ucp-main panel-container">
