<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<h2>{L_TITLE}</h2>

<div class="panel">
	<div class="inner">

	<p>{L_ATTACHMENTS_EXPLAIN}</p>

	<!-- IF .attachrow -->
		<div class="action-bar bar-top">
			<div class="pagination">
				{NUM_ATTACHMENTS}
				<!-- IF .pagination -->
					<!-- INCLUDE pagination.html -->
				<!-- ELSE -->
					 &bull; {PAGE_NUMBER}
				<!-- ENDIF -->
			</div>
		</div>

		<ul class="topiclist">
			<li class="header">
				<dl>
					<dt><div class="list-inner"><a href="{U_SORT_FILENAME}">{L_FILENAME}</a></div></dt>
					<dd class="extra"><a href="{U_SORT_DOWNLOADS}">{L_DOWNLOADS}</a></dd>
					<dd class="time"><span><a href="{U_SORT_POST_TIME}">{L_POST_TIME}</a></span></dd>
					<dd class="mark">{L_MARK}</dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist cplist responsive-show-columns">

		<!-- BEGIN attachrow -->
		<li class="row<!-- IF attachrow.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
			<dl>
				<dt>
					<div class="list-inner">
						<a href="{attachrow.U_VIEW_ATTACHMENT}" class="topictitle attachment-filename ellipsis-text" title="{attachrow.FILENAME}">{attachrow.FILENAME}</a> ({attachrow.SIZE})<br />
						<!-- IF attachrow.S_IN_MESSAGE -->{L_PM}{L_COLON} <!-- ELSE -->{L_TOPIC}{L_COLON} <!-- ENDIF --><a href="{attachrow.U_VIEW_TOPIC}">{attachrow.TOPIC_TITLE}</a>
					</div>
				</dt>
				<dd class="extra">{attachrow.DOWNLOAD_COUNT}</dd>
				<dd class="time"><span>{attachrow.POST_TIME}</span></dd>
				<dd class="mark"><input type="checkbox" name="attachment[{attachrow.ATTACH_ID}]" value="1"{% if attachrow.S_LOCKED %} disabled title="{{ lang('ATTACHMENT_LOCKED') }}"{% endif %} /></dd>
			</dl>
		</li>
		<!-- END attachrow -->
		</ul>

		<div class="action-bar bar-bottom">
			<!-- INCLUDE display_options.html -->
			{S_FORM_TOKEN}

			<div class="pagination">
				{NUM_ATTACHMENTS}
				<!-- IF .pagination -->
					<!-- INCLUDE pagination.html -->
				<!-- ELSE -->
					 &bull; {PAGE_NUMBER}
				<!-- ENDIF -->
			</div>
		</div>

	<!-- ELSE -->
		<p><strong>{L_UCP_NO_ATTACHMENTS}</strong></p>
	<!-- ENDIF -->

	</div>
</div>

<!-- IF S_ATTACHMENT_ROWS -->
	<fieldset class="display-actions">
		<input class="button2" type="submit" name="delete" value="{L_DELETE_MARKED}" />
		<div><a href="#" onclick="marklist('ucp', 'attachment', true); return false;">{L_MARK_ALL}</a> &bull; <a href="#" onclick="marklist('ucp', 'attachment', false); return false;">{L_UNMARK_ALL}</a></div>
		{S_FORM_TOKEN}
	</fieldset>
<!-- ENDIF -->
</form>

<!-- INCLUDE ucp_footer.html -->
