{% INCLUDE 'ucp_header.html' %}

<form id="ucp" method="post" action="{{ S_UCP_ACTION }}"{{ S_FORM_ENCTYPE }}>

<h2>{{ lang('TITLE') }}</h2>

<div class="panel">
	<div class="inner">

	<p>{{ lang('ATTACHMENTS_EXPLAIN') }}</p>

	{% if loops.attachrow|length %}
		<div class="action-bar top">
			<div class="pagination">
				{{ NUM_ATTACHMENTS }}
				{% if loops.pagination|length %}
					{% INCLUDE 'pagination.html' %}
				{% else %}
					 &bull; {{ PAGE_NUMBER }}
				{% endif %}
			</div>
		</div>

		<ul class="topiclist">
			<li class="header">
				<dl>
					<dt><div class="list-inner"><a href="{{ U_SORT_FILENAME }}">{{ lang('FILENAME') }}</a></div></dt>
					<dd class="extra"><a href="{{ U_SORT_DOWNLOADS }}">{{ lang('DOWNLOADS') }}</a></dd>
					<dd class="time"><span><a href="{{ U_SORT_POST_TIME }}">{{ lang('POST_TIME') }}</a></span></dd>
					<dd class="mark">{{ lang('MARK') }}</dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist cplist responsive-show-columns">

		{% for attachrow in loops.attachrow %}
		<li class="row{% if attachrow.S_ROW_COUNT is odd %} bg1{% else %} bg2{% endif %}">
			<dl>
				<dt>
					<div class="list-inner">
						<a href="{{ attachrow.U_VIEW_ATTACHMENT }}" class="topictitle attachment-filename ellipsis-text" title="{{ attachrow.FILENAME }}">{{ attachrow.FILENAME }}</a> ({{ attachrow.SIZE }})<br />
						{% if attachrow.S_IN_MESSAGE %}{{ lang('PM') }}{{ lang('COLON') }} {% else %}{{ lang('TOPIC') }}{{ lang('COLON') }} {% endif %}<a href="{{ attachrow.U_VIEW_TOPIC }}">{{ attachrow.TOPIC_TITLE }}</a>
					</div>
				</dt>
				<dd class="extra">{{ attachrow.DOWNLOAD_COUNT }}</dd>
				<dd class="time"><span>{{ attachrow.POST_TIME }}</span></dd>
				<dd class="mark"><input type="checkbox" name="attachment[{{ attachrow.ATTACH_ID }}]" value="1" /></dd>
			</dl>
		</li>
		{% endfor %}
		</ul>

		<div class="action-bar bottom">
			{% INCLUDE 'display_options.html' %}
			{{ S_FORM_TOKEN }}

			<div class="pagination">
				{{ TOTAL_ATTACHMENTS }} {{ lang('TITLE') }}
				{% if loops.pagination|length %}
					{% INCLUDE 'pagination.html' %}
				{% else %}
					 &bull; {{ PAGE_NUMBER }}
				{% endif %}
			</div>
		</div>

	{% else %}
		<p><strong>{{ lang('UCP_NO_ATTACHMENTS') }}</strong></p>
	{% endif %}

	</div>
</div>

{% if S_ATTACHMENT_ROWS %}
	<fieldset class="display-actions">
		<input class="button1 button button-form-bold" type="submit" name="delete" value="{{ lang('DELETE_MARKED') }}" />
		<div><a href="#" onclick="marklist('ucp', 'attachment', true); return false;">{{ lang('MARK_ALL') }}</a> &bull; <a href="#" onclick="marklist('ucp', 'attachment', false); return false;">{{ lang('UNMARK_ALL') }}</a></div>
		{{ S_FORM_TOKEN }}
	</fieldset>
{% endif %}
</form>

{% INCLUDE 'ucp_footer.html' %}
