
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	<!-- IF not S_AVATARS_ENABLED -->
		<p>{L_AVATAR_FEATURES_DISABLED}</p>
	<!-- ENDIF -->

	<fieldset>
	<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
		<dl>
			<dt><label>{L_CURRENT_IMAGE}:</label><br /><span>{L_AVATAR_EXPLAIN}</span></dt>
			<dd><!-- IF AVATAR -->{AVATAR}<!-- ELSE --><img src="{T_THEME_PATH}/images/no_avatar.gif" alt="" /><!-- ENDIF --></dd>
			<!-- IF AVATAR && S_AVATARS_ENABLED --><dd><input type="submit" name="submit" id="delete" value="{LA_DELETE_AVATAR}" /></dd><!-- ENDIF -->
		</dl>
	</fieldset>

<!-- BEGIN avatar_drivers -->
	<h3>{avatar_drivers.L_TITLE}</h3>
	<p>{avatar_drivers.L_EXPLAIN}</p>

	<fieldset>
	{avatar_drivers.OUTPUT}
	</fieldset>
	<fieldset class="submit-buttons">
		<input type="reset" value="{L_RESET}" name="reset" class="button2" /> &nbsp;
		<input type="submit" name="submit_av_{avatar_drivers.DRIVER}" value="{L_SUBMIT}" class="button1" />
	</fieldset>
<!-- END avatar_drivers -->

	<fieldset>
	<!-- IF S_LINK_AVATAR -->
	<!-- ENDIF -->
	</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>
