<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<h2>{L_TITLE}</h2>
<div class="panel">
	<div class="inner">
		<p>{L_PROFILE_AUTOLOGIN_KEYS}</p>
		<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
		{% DEFINE COLSPAN = 4 %}
		<table class="table1">
			<thead>
				<tr>
					{% EVENT ucp_profile_autologin_keys_thead_key_before %}
					<th class="name">{L_LOGIN_KEY}</th>
					{% EVENT ucp_profile_autologin_keys_thead_key_after %}
					<th class="center">{L_IP}</th>
					<th class="center">{L_LOGIN_TIME}</th>
					{% EVENT ucp_profile_autologin_keys_thead_mark_before %}
					<th class="center mark">{L_MARK}</th>
					{% EVENT ucp_profile_autologin_keys_thead_mark_after %}
				</tr>
			</thead>
			<tbody>
			<!-- BEGIN sessions -->
				<!-- IF sessions.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
					{% EVENT ucp_profile_autologin_keys_tbody_key_before %}
					<td><label for="{sessions.KEY}">{sessions.KEY}</label></td>
					{% EVENT ucp_profile_autologin_keys_tbody_key_after %}
					<td class="center">{sessions.IP}</td>
					<td class="center">{sessions.LOGIN_TIME}</td>
					{% EVENT ucp_profile_autologin_keys_tbody_mark_before %}
					<td class="center mark"><input type="checkbox" name="keys[]" value="{sessions.KEY}" id="{sessions.KEY}" /></td>
					{% EVENT ucp_profile_autologin_keys_tbody_mark_after %}
				</tr>
			<!-- BEGINELSE -->
				<tr><td colspan="{{ definition.COLSPAN }}" class="bg1" style="text-align: center">{L_PROFILE_NO_AUTOLOGIN_KEYS}</td></tr>
			<!-- END sessions -->
			</tbody>
		</table>
	</div>
</div>

<!-- IF .sessions -->
	<fieldset class="display-actions">
		{S_HIDDEN_FIELDS}<input type="submit" name="submit" value="{L_DELETE_MARKED}" class="button2" />
		<div><a href="#" onclick="$('#ucp input:checkbox').prop('checked', true); return false;">{L_MARK_ALL}</a> &bull; <a href="#" onclick="$('#ucp input:checkbox').prop('checked', false); return false;">{L_UNMARK_ALL}</a></div>
		{S_FORM_TOKEN}
	</fieldset>
<!-- ENDIF -->

</form>

<!-- INCLUDE ucp_footer.html -->
