<dl>
	<dt><label for="uploadfile">{L_UPLOAD_AVATAR_FILE}:</label></dt>
	<dd><input type="hidden" name="MAX_FILE_SIZE" value="{AVATAR_SIZE}" /><input type="file" name="uploadfile" id="uploadfile" class="inputbox autowidth" /></dd>
</dl>

<!-- IF S_UPLOAD_AVATAR_URL -->
	<dl>
		<dt><label for="uploadurl">{L_UPLOAD_AVATAR_URL}:</label><br /><span>{L_UPLOAD_AVATAR_URL_EXPLAIN}</span></dt>
		<dd><input type="text" name="uploadurl" id="uploadurl" value="{AVATAR_URL}" class="inputbox" /></dd>
	</dl>
<!-- ENDIF -->
