{% INCLUDE 'ucp_header.html' %}

<form id="ucp" method="post" action="{{ S_UCP_ACTION }}"{{ S_FORM_ENCTYPE }}>

<h2>{{ lang('TITLE') }}</h2>

<div class="panel">
	<div class="inner">

	<p>{{ lang('FRIENDS_EXPLAIN') }}</p>

	<fieldset class="fields2">
	{% if ERROR %}<p class="error">{{ ERROR }}</p>{% endif %}
	{% EVENT ucp_friend_list_before %}
	<dl>
		<dt><label {% if S_USERNAME_OPTIONS %}for="usernames"{% endif %}>{{ lang('YOUR_FRIENDS') }}{{ lang('COLON') }}</label><br /><span>{{ lang('YOUR_FRIENDS_EXPLAIN') }}</span></dt>
		<dd>
			{% if S_USERNAME_OPTIONS %}
				<select name="usernames[]" id="usernames" multiple="multiple" size="5">{{ S_USERNAME_OPTIONS }}</select>
			{% else %}
				<strong>{{ lang('NO_FRIENDS') }}</strong>
			{% endif %}
		</dd>
	</dl>
	{% EVENT ucp_friend_list_after %}
	<dl>
		<dt><label for="add">{{ lang('ADD_FRIENDS') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ADD_FRIENDS_EXPLAIN') }}</span></dt>
		<dd><textarea name="add" id="add" rows="3" cols="30" class="inputbox">{{ USERNAMES }}</textarea></dd>
		<dd><strong><a href="{{ U_FIND_USERNAME }}" onclick="find_username(this.href); return false;">{{ lang('FIND_USERNAME') }}</a></strong></dd>
	</dl>
	</fieldset>

	</div>
</div>

<fieldset class="submit-buttons">
	{{ S_HIDDEN_FIELDS }}<input type="reset" value="{{ lang('RESET') }}" name="reset" class="button1 button button-form-bold" />&nbsp;
	<input type="submit" name="submit" value="{{ lang('SUBMIT') }}" class="button1 button button-form" />
	{{ S_FORM_TOKEN }}
</fieldset>
</form>

{% INCLUDE 'ucp_footer.html' %}
