<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<h2>{L_TITLE}</h2>
<div class="panel">
	<div class="inner">
		<p>{L_PROFILE_AUTOLOGIN_KEYS}</p>
		<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
		<table class="table1">
			<thead>
				<tr>
					<th>{L_LOGIN_KEY}</th>
					<th>{L_IP}</th>
					<th>{L_LOGIN_TIME}</th>
					<th class="mark">{L_MARK}</th>
				</tr>
			</thead>
			<tbody>
			<!-- BEGIN sessions -->
				<!-- IF sessions.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
					<td><label for="{sessions.KEY}">{sessions.KEY}</label></td>
					<td style="text-align: center">{sessions.IP}</td>
					<td style="text-align: center">{sessions.LOGIN_TIME}</td>
					<td style="text-align: center" class="mark"><input type="checkbox" name="keys[]" value="{sessions.KEY}" id="{sessions.KEY}" /></td>
				</tr>
			<!-- BEGINELSE -->
				<tr><td colspan="4" class="bg1" style="text-align: center">{L_PROFILE_NO_AUTOLOGIN_KEYS}</td></tr>
			<!-- END sessions -->
			</tbody>
		</table>
	</div>
</div>

<!-- IF .sessions -->
	<fieldset class="display-actions">
		{S_HIDDEN_FIELDS}<input type="submit" name="submit" value="{L_DELETE_MARKED}" class="button2" />
		<div><a href="#" onclick="$('#ucp input:checkbox').prop('checked', true); return false;">{L_MARK_ALL}</a> &bull; <a href="#" onclick="$('#ucp input:checkbox').prop('checked', false); return false;">{L_UNMARK_ALL}</a></div>
		{S_FORM_TOKEN}
	</fieldset>
<!-- ENDIF -->

</form>

<!-- INCLUDE ucp_footer.html -->
