<!-- INCLUDE overall_header.html -->

<div class="panel">
	<div class="inner">

		<h2>{SITENAME} - {L_REGISTRATION}</h2>

		<dl><dd>{L_UCP_REGISTER_MODE_EXPLAIN}</dd></dl>

		<form method="post" action="{S_UCP_ACTION}" id="register">
			<fieldset class="submit-buttons">
				{S_HIDDEN_FIELDS}
				<input type="submit" tabindex="1" name="submit_board" id="submit_board" value="{L_UCP_REGISTER_MODE_BOARD}" class="button1" />&nbsp;
				<input type="submit" tabindex="2" name="submit_external" id="submit_external" value="{L_UCP_REGISTER_MODE_EXTERNAL}" class="button1" />
				{S_FORM_TOKEN}
			</fieldset>
		</form>
	</div>
</div>

<!-- INCLUDE overall_footer.html -->
