{% include 'ucp_header.html' %}

{% if not PROMPT %}
	{% include 'ucp_pm_message_header.html' %}
{% endif %}

{% if messagerow %}
	<div class="pm">
		<div class="pm-list-container">
			<ul class="pm-list">
				{% for message in messagerow %}
					<li class="pm-item {{ message.FOLDER_IMG_STYLE == 'pm_unread' ? 'pm-unread' }}">
						<span class="pm-primary">

							<a href="{message.U_VIEW_PM}" class="pm-title {{ message.FOLDER_IMG_STYLE == 'pm_unread' ? 'pm-unread-pm-title' : 'title-read' }}">{message.SUBJECT}</a>
							<span class="pm-secondary">

								<span class="pm-secondary-item pm-authour">
									<i class="fa fa-user-circle-o fa-fw" aria-hidden="true"></i>
									{% if S_SHOW_RECIPIENTS %}
										{{ lang('MESSAGE_TO') }} {message.RECIPIENTS}
									{% else %}
										{message.MESSAGE_AUTHOR_FULL}
									{% endif %}

								</span>

								<span class="pm-secondary-item pm-date">
									<i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>
									{message.SENT_TIME}
								</span>
							</span>
						</span>
					</li>
				{% endfor %}

			</ul>

		</div><br>

		<div class="pm-viewer">
		</div>

	</div>

	<div class="action-bar bottom">
		{% include 'display_options.html' %}
		<input type="hidden" name="cur_folder_id" value="{CUR_FOLDER_ID}" />

		<div class="pagination">
			{TOTAL_MESSAGES}
			{% if pagination %}
				{% include 'pagination.html' %}
			{% else %}
				&bull; {PAGE_NUMBER}
			{% endif %}
		</div>
	</div>
{% endif %}

{% include 'ucp_pm_message_footer.html' %}

{% include 'ucp_footer.html' %}
