{% include 'ucp_pm_header.html' %}

{% if folders %}
	<p class="">{{ lang('SELECT_FOLDER') }}</p>
{% elseif not messages %}
	<p class="">{{ lang('SELECT_THREAD') }}</p>
{% endif %}

<ul id="pm-messages-list" class="o-list c-pm-msg-list">
	{% if U_OLDER_MESSAGES %}
		<li class="o-list-item pm-pagination-item">
			<a id="pm-message-pagination-older" href="{{ U_OLDER_MESSAGES }}">{{ lang('LOAD_OLDER_MESSAGES') }}</a>
		</li>
	{% endif %}
	{% for message in messages %}
		<li class="o-list-item pm-msg-item" id="pm-msg-{{ message.MSG_ID }}">
			<a class="o-list-media c-pm-msg-media" href="{{ message.U_MESSAGE_AUTHOR }}">
				<span class="o-avatar-wrap o-list-avatar">
					{{ message.MESSAGE_AVATAR }}
					<span class="o-avatar-online o-action-bar-avatar-online"></span>
				</span>
			</a>
			<article class="c-pm-msg">
				<div class="c-pm-msg-header">
					<div class="c-pm-msg-meta">
						<span class="c-pm-msg-author">
							<svg class="o-icon c-pm-msg-icon"><use xlink:href="#user"></use></svg>
							<a class="c-pm-msg-author-link" href="{{ message.U_MESSAGE_AUTHOR }}">{{ message.MESSAGE_AUTHOR_FULL }}</a>
							<span class="c-pm-msg-date">
								<svg class="o-icon c-pm-msg-icon"><use xlink:href="#time"></use></svg>
								<time datetime="" title="" data-short="">{{ message.SENT_TIME }}</time>
							</span>
						</span>
					</div>
					<div class="c-pm-msg-actions">
						<a class="c-pm-msg-action c-menu-button u-hidden-md-up" href="#" data-toggle="menu" data-tooltip="Message Actions" title="Message Actions">
							<svg class="o-icon c-pm-msg-action-icon"><use xlink:href="#more-v"></use></svg>
						</a>
						<div class="c-menu-container t-menu-container" data-container="menu">
							<ul class="c-menu t-menu">
								<li class="c-menu-item t-menu-item">
									<a class="c-menu-link t-menu-item" href="{{ message.U_EDIT }}">
										<svg class="o-icon c-menu-link-icon t-menu-forum-icon"><use xlink:href="#edit"></use></svg>
										<span class="c-menu-text t-forum-text">Edit</span>
									</a>
								</li>
								<li class="c-menu-item t-menu-item">
									<a class="c-menu-link t-menu-item" href="{{ message.U_QUOTE }}">
										<svg class="o-icon c-menu-link-icon t-menu-forum-icon"><use xlink:href="#quote"></use></svg>
										<span class="c-menu-text t-forum-text">Quote</span>
									</a>
								</li>
								<li class="c-menu-item t-menu-item">
									<a class="c-menu-link t-menu-item" href="{{ message.U_DELETE }}">
										<svg class="o-icon c-menu-link-icon t-menu-forum-icon"><use xlink:href="#delete"></use></svg>
										<span class="c-menu-text t-forum-text">Delete</span>
									</a>
								</li>
								<li class="c-menu-item t-menu-item">
									<a class="c-menu-link t-menu-item" href="{{ message.U_FORWARD }}">
										<svg class="o-icon c-menu-link-icon t-menu-forum-icon"><use xlink:href="#forward"></use></svg>
										<span class="c-menu-text t-forum-text">Forward Conversation</span>
									</a>
								</li>
							</ul>
						</div>
						<a class="c-pm-msg-action u-hidden-sm-down" href="{{ message.U_EDIT }}" data-tooltip="Edit" title="Edit">
							<svg class="o-icon c-pm-msg-action-icon"><use xlink:href="#edit"></use></svg>
						</a>
						<a class="c-pm-msg-action u-hidden-sm-down" href="{{ message.U_QUOTE }}" data-tooltip="Quote" title="Quote">
							<svg class="o-icon c-pm-msg-action-icon"><use xlink:href="#quote"></use></svg>
						</a>
						<a class="c-pm-msg-action u-hidden-sm-down" href="{{ message.U_DELETE }}" data-tooltip="Delete" title="Delete">
							<svg class="o-icon c-pm-msg-action-icon"><use xlink:href="#delete"></use></svg>
						</a>
						<a class="c-pm-msg-action u-hidden-sm-down" href="{{ message.U_FORWARD }}" data-tooltip="Forward Conversation" title="Forward Conversation">
								<svg class="o-icon c-pm-msg-action-icon"><use xlink:href="#forward"></use></svg>
							</a>
					</div>
				</div>
				<div class="pm-msg-copy">
					{{ message.MESSAGE }}
				</div>
			</article>
		</li>
	{% endfor %}
	{% if U_NEWER_MESSAGES %}
		<li class="o-list-item pm-pagination-item">
			<a id="pm-message-pagination-newer" href="{{ U_NEWER_MESSAGES }}">{{ lang('LOAD_NEWER_MESSAGES') }}</a>
		</li>
	{% endif %}
</ul>

{% if messages %}
<div class="o-bar c-pm-reply-container">
	<form class="o-bar-search-form c-pm-reply-form" action="{{ U_COMPOSE }}" method="POST" id="Type">
		<textarea class="o-bar-search-feild c-pm-reply-feild" name="message" id="message" type="text" title="Reply" value="" placeholder="Type…"></textarea>
		<button name="post" class="o-bar-search-action c-pm-reply-action" title="Send" data-tooltip="Send">
			<svg class="o-icon o-bar-search-action-icon c-pm-reply-action-icon"><use xlink:href="#send"></use></svg>
		</button>
		<button name="preview" class="o-bar-search-action c-pm-reply-action u-hidden-sm-down" title="Send" data-tooltip="Send">
			<svg class="o-icon o-bar-search-action-icon c-pm-reply-action-icon"><use xlink:href="#views"></use></svg>
		</button>
		<div class="c-menu-toggle u-hidden-md-up">
			<a class="o-bar-search-action c-pm-reply-action c-menu-button" href="#" data-toggle="menu" title="Post Actions">
				<svg class="o-icon o-bar-search-action-icon c-pm-reply-action-icon"><use xlink:href="#more-v"></use></svg>
			</a>
			<div class="c-menu-container t-menu-container" data-container="menu">
				<ul class="c-menu t-menu">
					<li class="c-menu-item t-menu-item">
						<a class="c-menu-link c-pm-menu-action" href="#" title="Attachment">
							<svg class="o-icon c-menu-link-icon"><use xlink:href="#attach"></use></svg>
							<span class="c-menu-text">Attachment</span>
						</a>
					</li>
					<li class="c-menu-item t-menu-item">
						<a class="c-menu-link c-pm-menu-action" href="#" title="Smiles">
							<svg class="o-icon c-menu-link-icon"><use xlink:href="#insert-emoticon"></use></svg>
							<span class="c-menu-text">Smiles</span>
						</a>
					</li>
					<li class="c-menu-item t-menu-item">
						<a class="c-menu-link c-pm-menu-action" href="#" title="BBCode">
							<svg class="o-icon c-menu-link-icon"><use xlink:href="#bbcode"></use></svg>
							<span class="c-menu-text">BBCode</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<input type="hidden" name="action" value="reply" />
		<input type="hidden" name="reply_to_all" value="true" />
		<input type="hidden" name="p" value="{{ ROOT_MSG_ID }}" />
		{{ S_FORM_TOKEN }}
		{{ S_HIDDEN_FIELDS }}
	</form>	
</div>
{% endif %}
	
{% include 'ucp_pm_footer.html' %}
