{% INCLUDE 'ucp_header.html' %}

<h2{% if GROUP_COLOR %} style="color:#{{ GROUP_COLOR }};"{% endif %}>{{ lang('USERGROUPS') }}{% if GROUP_NAME %} :: {{ GROUP_NAME }}{% endif %}</h2>

<form id="ucp" method="post" action="{{ S_UCP_ACTION }}"{{ S_FORM_ENCTYPE }}>

<div class="panel">
	<div class="inner">

	{% if S_ERROR %}
	<fieldset>
		<p class="error">{{ ERROR_MSG }}</p>
	</fieldset>
	{% endif %}

	<p>{{ lang('GROUPS_EXPLAIN') }}</p>

	{% if S_EDIT %}
		<h3>{{ lang('GROUP_DETAILS') }}</h3>

		<fieldset>
		<dl>
			<dt><label for="group_name">{{ lang('GROUP_NAME') }}{{ lang('COLON') }}</label></dt>
			<dd>{% if S_SPECIAL_GROUP %}<strong{% if GROUP_COLOUR %} style="color: #{{ GROUP_COLOUR }};"{% endif %}>{{ GROUP_NAME }}</strong> <input name="group_name" type="hidden" value="{{ GROUP_INTERNAL_NAME }}" />
				{% else %}<input name="group_name" type="text" id="group_name" value="{{ GROUP_INTERNAL_NAME }}" class="inputbox" />{% endif %}</dd>
		</dl>
		<dl>
			<dt><label for="group_desc">{{ lang('GROUP_DESC') }}{{ lang('COLON') }}</label></dt>
			<dd><textarea id="group_desc" name="group_desc" rows="5" cols="45" class="inputbox">{{ GROUP_DESC }}</textarea></dd>
			<dd><label for="desc_parse_bbcode"><input type="checkbox" class="radio" name="desc_parse_bbcode" id="desc_parse_bbcode"{% if S_DESC_BBCODE_CHECKED %} checked="checked"{% endif %} /> {{ lang('PARSE_BBCODE') }}</label>&nbsp;<label for="desc_parse_smilies"><input type="checkbox" class="radio" name="desc_parse_smilies" id="desc_parse_smilies"{% if S_DESC_SMILIES_CHECKED %} checked="checked"{% endif %} /> {{ lang('PARSE_SMILIES') }}</label>&nbsp;<label for="desc_parse_urls"><input type="checkbox" class="radio" name="desc_parse_urls" id="desc_parse_urls"{% if S_DESC_URLS_CHECKED %} checked="checked"{% endif %} /> {{ lang('PARSE_URLS') }}</label></dd>
		</dl>
		{% if not S_SPECIAL_GROUP %}
		<dl>
			<dt><label for="group_type1">{{ lang('GROUP_TYPE') }}{{ lang('COLON') }}</label><br /><span>{{ lang('GROUP_TYPE_EXPLAIN') }}</span></dt>
			<dd>
				<label for="group_type1"><input type="radio" class="radio" name="group_type" id="group_type1" value="{{ GROUP_TYPE_FREE }}"{{ GROUP_FREE }} /> {{ lang('GROUP_OPEN') }}</label>
				<label for="group_type2"><input type="radio" class="radio" name="group_type" id="group_type2" value="{{ GROUP_TYPE_OPEN }}"{{ GROUP_OPEN }} /> {{ lang('GROUP_REQUEST') }}</label>
				<label for="group_type3"><input type="radio" class="radio" name="group_type" id="group_type3" value="{{ GROUP_TYPE_CLOSED }}"{{ GROUP_CLOSED }} /> {{ lang('GROUP_CLOSED') }}</label>
				<label for="group_type4"><input type="radio" class="radio" name="group_type" id="group_type4" value="{{ GROUP_TYPE_HIDDEN }}"{{ GROUP_HIDDEN }} /> {{ lang('GROUP_HIDDEN') }}</label>
			</dd>
		</dl>
		{% else %}
			<input name="group_type" type="hidden" value="{{ GROUP_TYPE_SPECIAL }}" />
		{% endif %}
		</fieldset>

	</div>
</div>

<div class="panel">
	<div class="inner">
	<h3>{{ lang('GROUP_SETTINGS_SAVE') }}</h3>

	<fieldset>
	<dl>
		<dt><label for="group_colour">{{ lang('GROUP_COLOR') }}{{ lang('COLON') }}</label><br /><span>{{ lang('GROUP_COLOR_EXPLAIN') }}</span></dt>
		<dd>
			<input name="group_colour" type="text" id="group_colour" value="{{ GROUP_COLOUR }}" size="6" maxlength="6" class="inputbox narrow" />
			<span style="background-color: #{{ GROUP_COLOUR }};">&nbsp;&nbsp;&nbsp;</span>
			[ <a href="#" id="color_palette_toggle">{{ lang('COLOUR_SWATCH') }}</a> ]
			<div id="color_palette_placeholder" class="color_palette_placeholder hidden" data-color-palette="h" data-height="12" data-width="15" data-target="#group_colour"></div>
		</dd>
	</dl>
	<dl>
		<dt><label for="group_rank">{{ lang('GROUP_RANK') }}{{ lang('COLON') }}</label></dt>
		<dd><select name="group_rank" id="group_rank">{{ S_RANK_OPTIONS }}</select></dd>
	</dl>
	</fieldset>

	</div>
</div>

{% INCLUDE 'ucp_avatar_options.html' %}

<fieldset class="submit-buttons">
	{{ S_HIDDEN_FIELDS }}
	<input type="reset" value="{{ lang('RESET') }}" name="reset" class="button1 button button-form-bold" />&nbsp;
	<input type="submit" name="update" value="{{ lang('SUBMIT') }}" class="button1 button button-form" />
	{{ S_FORM_TOKEN }}
</fieldset>

{% elseif S_LIST %}

	{% if loops.leader|length %}
	<table class="table1">
	<thead>
	<tr>
		<th class="name">{{ lang('GROUP_LEAD') }}</th>
		<th class="info">{{ lang('GROUP_DEFAULT') }}</th>
		<th class="posts">{{ lang('POSTS') }}</th>
		<th class="joined">{{ lang('JOINED') }}</th>
		<th class="mark">{{ lang('MARK') }}</th>
	</tr>
	</thead>
	<tbody>
	{% for leader in loops.leader %}
		<tr class="{% if leader.S_ROW_COUNT is even %}bg1{% else %}bg2{% endif %}">
			<td class="name">{{ leader.USERNAME_FULL }}</td>
			<td>{% if leader.S_GROUP_DEFAULT %}{{ lang('YES') }}{% else %}{{ lang('NO') }}{% endif %}</td>
			<td class="posts">{{ leader.USER_POSTS }}</td>
			<td class="joined">{{ leader.JOINED }}</td>
			<td class="mark">&nbsp;</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
	{% endif %}

	{% for member in loops.member %}
		{% if member.S_PENDING %}
			<table class="table1">
			<thead>
			<tr>
				<th class="name">{{ lang('GROUP_PENDING') }}</th>
				<th class="info">{{ lang('GROUP_DEFAULT') }}</th>
				<th class="posts">{{ lang('POSTS') }}</th>
				<th class="joined">{{ lang('JOINED') }}</th>
				<th class="mark">{{ lang('MARK') }}</th>
			</tr>
			</thead>
			<tbody>
		{% elseif member.S_APPROVED %}
			{% if S_PENDING_SET %}
				</tbody>
				</table>
			{% endif %}
			<table class="table1">
			<thead>
			<tr>
				<th class="name">{{ lang('GROUP_APPROVED') }}</th>
				<th class="info">{{ lang('GROUP_DEFAULT') }}</th>
				<th class="posts">{{ lang('POSTS') }}</th>
				<th class="joined">{{ lang('JOINED') }}</th>
				<th class="mark">{{ lang('MARK') }}</th>
			</tr>
			</thead>
			<tbody>
		{% else %}
			<tr class="{% if member.S_ROW_COUNT is even %}bg1{% else %}bg2{% endif %}">
				<td class="name">{{ member.USERNAME_FULL }}</td>
				<td>{% if member.S_GROUP_DEFAULT %}{{ lang('YES') }}{% else %}{{ lang('NO') }}{% endif %}</td>
				<td class="posts">{{ member.USER_POSTS }}</td>
				<td class="joined">{{ member.JOINED }}</td>
				<td class="mark"><input type="checkbox" name="mark[]" value="{{ member.USER_ID }}" /></td>
			</tr>
		{% endif %}
	{% else %}
		<table class="table1">
		<thead>
		<tr>
			<th class="name">{{ lang('MEMBERS') }}</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td class="bg1">{{ lang('GROUPS_NO_MEMBERS') }}</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>

	{% if loops.pagination|length %}
	<div class="action-bar bar-bottom">
		<div class="pagination">
			{% INCLUDE 'pagination.html' %}
		</div>
	</div>
	{% endif %}

	</div>
</div>

<fieldset class="display-actions">
	<select name="action"><option value="">{{ lang('SELECT_OPTION') }}</option>{{ S_ACTION_OPTIONS }}</select>
	<input class="button1 button button-form-bold" type="submit" name="update" value="{{ lang('SUBMIT') }}" />
	<div><a href="#" onclick="marklist('ucp', 'mark', true); return false;">{{ lang('MARK_ALL') }}</a> &bull; <a href="#" onclick="marklist('ucp', 'mark', false); return false;">{{ lang('UNMARK_ALL') }}</a></div>
</fieldset>

<div class="panel">
	<div class="inner">

	<h3>{{ lang('ADD_USERS') }}</h3>

	<p>{{ lang('ADD_USERS_UCP_EXPLAIN') }}</p>

	<fieldset>
	<dl>
		<dt><label for="default0">{{ lang('USER_GROUP_DEFAULT') }}{{ lang('COLON') }}</label><br /><span>{{ lang('USER_GROUP_DEFAULT_EXPLAIN') }}</span></dt>
		<dd>
			<label for="default1"><input type="radio" name="default" id="default1" value="1" /> {{ lang('YES') }}</label>
			<label for="default0"><input type="radio" name="default" id="default0" value="0" checked="checked" /> {{ lang('NO') }}</label>
		</dd>
	</dl>
	<dl>
		<dt><label for="usernames">{{ lang('USERNAME') }}{{ lang('COLON') }}</label><br /><span>{{ lang('USERNAMES_EXPLAIN') }}</span></dt>
		<dd><textarea name="usernames" id="usernames" rows="3" cols="30" class="inputbox"></textarea></dd>
		<dd><strong><a href="{{ U_FIND_USERNAME }}" onclick="find_username(this.href); return false;">{{ lang('FIND_USERNAME') }}</a></strong></dd>
	</dl>
	</fieldset>

	</div>
</div>

<fieldset class="submit-buttons">
	<input class="button1 button button-form" type="submit" name="addusers" value="{{ lang('SUBMIT') }}" />
	{{ S_FORM_TOKEN }}
</fieldset>

{% else %}

	{% if loops.leader|length %}
		<ul class="topiclist two-long-columns">
			<li class="header">
				<dl>
					<dt><div class="list-inner">{{ lang('GROUP_LEADER') }}</div></dt>
					<dd class="info"><span>{{ lang('OPTIONS') }}</span></dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist cplist two-long-columns responsive-show-all">

		{% for leader in loops.leader %}
		<li class="row{% if attachrow.S_ROW_COUNT is odd %} bg1{% else %} bg2{% endif %}">
			<dl>
				<dt>
					<div class="list-inner">
						<a href="{{ leader.U_EDIT }}" class="topictitle"{% if leader.GROUP_COLOUR %} style="color: #{{ leader.GROUP_COLOUR }};"{% endif %}>{{ leader.GROUP_NAME }}</a>
						{% if leader.GROUP_DESC %}<br />{{ leader.GROUP_DESC }}{% endif %}
					</div>
				</dt>
				<dd class="option"><span><a href="{{ leader.U_EDIT }}" >{{ lang('EDIT') }}</a></span></dd>
				<dd class="option"><span><a href="{{ leader.U_LIST }}">{{ lang('GROUP_LIST') }}</a></span></dd>
			</dl>
		</li>
		{% endfor %}
		</ul>
	{% else %}
		<p><strong>{{ lang('NO_LEADERS') }}</strong></p>
	{% endif %}

	</div>
</div>

{% endif %}
</form>

{% INCLUDE 'ucp_footer.html' %}
