<!-- INCLUDE overall_header.html -->

<h2 class="ucp-title">{L_UCP}</h2>

<div id="tabs" class="tabs">
	<ul>
		{% for category in ucp_menu %}
			<li class="tab{% if category.S_ACTIVE %} activetab{% endif %}"><a href="{{ category.U_VIEW }}">{{ category.TITLE }}</a></li>
		{% endfor %}
	</ul>
</div>

<!-- IF S_COMPOSE_PM -->
<form id="postform" method="post" action="{S_POST_ACTION}"{S_FORM_ENCTYPE}>
<!-- ENDIF -->

<div class="panel bg3">
	<div class="inner">

	<div style="width: 100%;">

	<div id="cp-menu" class="cp-menu">
		<div id="navigation" class="navigation" role="navigation">
			<ul>
				{% for item in ucp_menu_active.ITEMS %}
					<li{% if item.S_ACTIVE %} id="active-subsection" class="active-subsection"{% endif %}>
						<a href="{{ item.U_VIEW }}">
							<span>{{ item.TITLE }}</span>
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>

		<!-- IF .friends_online or .friends_offline -->
		<div class="cp-mini">
			<div class="inner">

			<dl class="mini">
				<dt>{L_FRIENDS}</dt>

				<!-- BEGIN friends_online -->
					<dd class="friend-online" title="{L_FRIENDS_ONLINE}">{friends_online.USERNAME_FULL} <!-- IF S_SHOW_PM_BOX --> <input type="submit" name="add_to[{friends_online.USER_ID}]" value="{L_ADD}" class="button1 button button-form-bold" /><!-- ENDIF --><!-- IF friends_online.S_LAST_ROW and .friends_offline --><hr /><!-- ENDIF --></dd>
				<!-- END friends_online -->

				<!-- BEGIN friends_offline -->
					<dd class="friend-offline" title="{L_FRIENDS_OFFLINE}">{friends_offline.USERNAME_FULL} <!-- IF S_SHOW_PM_BOX --><input type="submit" name="add_to[{friends_offline.USER_ID}]" value="{L_ADD}" class="button1 button button-form-bold" /><!-- ENDIF --></dd>
				<!-- END friends_offline -->
			</dl>

			</div>
		</div>
		<!-- ENDIF -->

		<!-- IF S_SHOW_COLOUR_LEGEND -->
		<div class="cp-mini">
			<div class="inner">

				<dl class="mini">
					<dt>{L_MESSAGE_COLOURS}</dt>
					<!-- BEGIN pm_colour_info -->
					<dd class="pm-legend<!-- IF pm_colour_info.CLASS --> {pm_colour_info.CLASS}<!-- ENDIF -->"><!-- IF pm_colour_info.IMG -->{pm_colour_info.IMG} <!-- ENDIF -->{pm_colour_info.LANG}</dd>
					<!-- END pm_colour_info -->
				</dl>

			</div>
		</div>
		<!-- ENDIF -->

	</div>

	<div id="cp-main" class="cp-main ucp-main panel-container">
