<!-- INCLUDE ucp_header.html -->

<h2>{L_TITLE}</h2>

<div class="panel">
	<div class="inner">

	<p>{L_UCP_WELCOME}</p>

<!-- IF .topicrow -->
	<h3>{L_IMPORTANT_NEWS}</h3>

	<ul class="topiclist cplist two-long-columns">
	<!-- BEGIN topicrow -->
		<li class="row<!-- IF topicrow.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
			<dl class="row-item">
				<dt>
					<a class="row-item-link{% if topicrow.S_UNREAD_TOPIC %} unread{% else %} read{% endif %}" href="{topicrow.U_NEWEST_POST}" title="{topicrow.TOPIC_FOLDER_IMG_ALT}">
						{{ Icon('svg', {
							'globe' : topicrow.S_POST_GLOBAL,
							'bullhorn' : topicrow.S_POST_ANNOUNCE,
							'thumbtack' : topicrow.S_POST_STICKY,
							'lock' : topicrow.S_TOPIC_LOCKED,
							'arrow-right-bold' : topicrow.S_TOPIC_MOVED,
							'fire' : topicrow.S_TOPIC_HOT,
							'file-document-outline' : true,
						}, '', true, 'c-forum-row-icon') }}
					</a>
					{% if lang(topicrow.TOPIC_AUTHOR) == S_USERNAME %}
						<span class="row-item-link-mine"></span>
					{% endif%}
					{% if topicrow.TOPIC_ICON_IMG and topicrow.S_TOPIC_ICONS %}
						<img class="row-item-sub" src="{T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}" alt="">
					{% endif %}
					<div class="list-inner">
						{% if topicrow.S_UNREAD %}
							<a href="{{ topicrow.U_NEWEST_POST }}" class="topictitle unread">{{ topicrow.TOPIC_TITLE }}</a>
						{% else %}
							<a href="{{ topicrow.U_VIEW_TOPIC }}" class="topictitle">{{ topicrow.TOPIC_TITLE }}</a>
						{% endif %}
						<br>
						<!-- IF .topicrow.pagination -->
						<div class="pagination">
							<span>{{ Icon('font', 'clone', '', true, 'far') }}</span>
							<ul>
								<!-- BEGIN pagination -->
									<!-- IF topicrow.pagination.S_IS_PREV -->
									<!-- ELSEIF topicrow.pagination.S_IS_CURRENT -->
										<li class="active"><span>{{ topicrow.pagination.PAGE_NUMBER }}</span></li>
									<!-- ELSEIF topicrow.pagination.S_IS_ELLIPSIS -->
										<li class="ellipsis"><span>{{ lang('ELLIPSIS') }}</span></li>
									<!-- ELSEIF topicrow.pagination.S_IS_NEXT -->
									<!-- ELSE -->
										<li><a class="button" href="{{ topicrow.pagination.PAGE_URL }}" role="button">{{ topicrow.pagination.PAGE_NUMBER }}</a></li>
									<!-- ENDIF -->
								<!-- END pagination -->
							</ul>
						</div>
						<!-- ENDIF -->
						<div class="responsive-hide">
							<!-- IF topicrow.ATTACH_ICON_IMG -->{{ Icon('font', 'paperclip', '', true) }} <!-- ENDIF -->
							{L_POST_BY_AUTHOR} {topicrow.TOPIC_AUTHOR_FULL} &raquo; {topicrow.FIRST_POST_TIME}
						</div>
						<div class="responsive-show" style="display: none;">
							<!-- IF topicrow.ATTACH_ICON_IMG -->{{ Icon('font', 'paperclip', '', true) }} <!-- ENDIF -->
							{L_LAST_POST} {L_POST_BY_AUTHOR} {topicrow.LAST_POST_AUTHOR_FULL} &laquo; <a href="{topicrow.U_LAST_POST}" title="{L_GOTO_LAST_POST}">{topicrow.LAST_POST_TIME}</a>
						</div>
					</div>
				</dt>
				<dd class="lastpost">
					<span>{L_LAST_POST} {L_POST_BY_AUTHOR} {topicrow.LAST_POST_AUTHOR_FULL}
						<a href="{topicrow.U_LAST_POST}" title="{L_GOTO_LAST_POST}">
							{{ Icon('font', 'arrow-up-right-from-square', VIEW_LATEST_POST, true, 'fas c-last-post-icon') }}
						</a>
						<br />{topicrow.LAST_POST_TIME}
					</span>
				</dd>
			</dl>
		</li>
	<!-- END topicrow -->
	</ul>
<!-- ENDIF -->

	<h3>{L_YOUR_DETAILS}</h3>

<!-- EVENT ucp_main_front_user_activity_before -->
	<dl class="details">
		<!-- EVENT ucp_main_front_user_activity_prepend -->
		<dt>{L_JOINED}{L_COLON}</dt> <dd>{JOINED}</dd>
		<dt>{L_LAST_ACTIVE}{L_COLON}</dt> <dd>{LAST_VISIT_YOU}</dd>
		<dt>{L_TOTAL_POSTS}{L_COLON}</dt> <dd><!-- IF POSTS_PCT -->{POSTS}<!-- IF S_DISPLAY_SEARCH --> | <strong><a href="{U_SEARCH_USER}">{L_SEARCH_YOUR_POSTS}</a></strong><!-- ENDIF --><br />({POSTS_DAY} / {POSTS_PCT})<!-- ELSE -->{POSTS}<!-- ENDIF --></dd>
		<!-- IF ACTIVE_FORUM != '' --><dt>{L_ACTIVE_IN_FORUM}{L_COLON}</dt> <dd><strong><a href="{U_ACTIVE_FORUM}">{ACTIVE_FORUM}</a></strong><br />({ACTIVE_FORUM_POSTS} / {ACTIVE_FORUM_PCT})</dd><!-- ENDIF -->
		<!-- IF ACTIVE_TOPIC != '' --><dt>{L_ACTIVE_IN_TOPIC}{L_COLON}</dt> <dd><strong><a href="{U_ACTIVE_TOPIC}">{ACTIVE_TOPIC}</a></strong><br />({ACTIVE_TOPIC_POSTS} / {ACTIVE_TOPIC_PCT})</dd><!-- ENDIF -->
		<!-- IF WARNINGS --><dt>{L_YOUR_WARNINGS}{L_COLON}</dt> <dd class="error">{{ Icon('font', 'exclamation-triangle', '', true, 'fas c-warning-icon') }} [{WARNINGS}]</dd><!-- ENDIF -->
		<!-- EVENT ucp_main_front_user_activity_append -->
	</dl>
<!-- EVENT ucp_main_front_user_activity_after -->

	</div>
</div>

<!-- INCLUDE ucp_footer.html -->
