<!-- INCLUDE overall_header.html -->

<script type="text/javascript">
// <![CDATA[
	/**
	* Change language
	*/
	function change_language(lang_iso)
	{
		document.forms['register'].change_lang.value = lang_iso;
		document.forms['register'].submit.click();
	}

	<!-- IF CAPTCHA_TEMPLATE and S_CONFIRM_REFRESH -->
	onload_functions.push(apply_onkeypress_event);
	<!-- ENDIF -->

// ]]>
</script>

<div class="panel">
	<div class="inner" >
		<h2>{SITENAME} - {L_REGISTRATION}</h2>

		<!-- IF ERROR --><dl><dd class="error">{ERROR}</dd></dl><!-- ENDIF -->
		<!-- BEGIN providers_loop -->
			{providers_loop.TPL}
		<!-- END -->
	</div>
</div>

<script type="text/javascript" src="{T_SUPER_TEMPLATE_PATH}/timezone.js"></script>
<script type="text/javascript">phpbb_preselect_tz_select();</script>

<!-- INCLUDE overall_footer.html -->
