<!-- INCLUDE overall_header.html -->

<form action="{{ U_RESET_PASSWORD_ACTION }}" method="post" id="reset_password">

<div class="panel">
	<div class="inner">

	<div class="content">
		<h2>{{ lang('RESET_PASSWORD') }}</h2>

		<fieldset>
		{% if S_IS_PASSWORD_RESET %}
			{% if PASSWORD_RESET_ERRORS %}<p class="error">{{ PASSWORD_RESET_ERRORS | join('<br>') }}</p>{% endif %}
			<dl>
				<dt><label for="new_password">{{ lang('NEW_PASSWORD') ~ lang('COLON') }}</label><br /><span>{{ lang('CHANGE_PASSWORD_EXPLAIN') }}</span></dt>
				<dd><input class="inputbox autowidth" type="password" name="new_password" id="new_password" size="25" maxlength="255" title="{{ lang('CHANGE_PASSWORD') }}" autocomplete="off" /></dd>
			</dl>
			<dl>
				<dt><label for="new_password_confirm">{{ lang('CONFIRM_PASSWORD') ~ lang('COLON') }}</label></dt>
				<dd><input class="inputbox autowidth" type="password" name="new_password_confirm" id="new_password_confirm" size="25" maxlength="255" title="{{ lang('CONFIRM_PASSWORD') }}" autocomplete="off" /></dd>
			</dl>
		{% else %}
			{% if USERNAME_REQUIRED %}
				<p class="error">{{ lang('EMAIL_NOT_UNIQUE') }}</p>
			{% endif %}
			<dl>
				<dt><label for="email">{{ lang('EMAIL_ADDRESS') ~ lang('COLON') }}</label><br /><span>{{ lang('EMAIL_REMIND') }}</span></dt>
				<dd><input class="inputbox autowidth" type="email" name="email" id="email" size="25" maxlength="100" value="{{ EMAIL }}" autofocus /></dd>
			</dl>
			{% if USERNAME_REQUIRED %}
			<dl>
				<dt><label for="username">{{ lang('USERNAME') ~ lang('COLON') }}</label></dt>
				<dd><input class="inputbox autowidth" type="text" name="username" id="username" size="25" /></dd>
			</dl>
			{% endif %}
		{% endif %}
		<dl>
			<dt>&nbsp;</dt>
			<dd>{{ S_HIDDEN_FIELDS }}<input type="submit" name="submit" id="submit" class="button1" value="{{ lang('SUBMIT') }}" tabindex="2" />&nbsp; <input type="reset" value="{{ lang('RESET') }}" name="reset" class="button2" /></dd>
		</dl>
		{{ S_FORM_TOKEN }}
		</fieldset>
	</div>

	</div>
</div>
</form>

<!-- INCLUDE overall_footer.html -->
