{% INCLUDE 'ucp_header.html' %}

<form id="ucp" method="post" action="{{ S_UCP_ACTION }}"{{ S_FORM_ENCTYPE }}>

<h2>{{ lang('TITLE') }}</h2>
<div class="panel">
	<div class="inner">

	{% if S_FORCE_PASSWORD %}
		<p class="error">{{ lang('FORCE_PASSWORD_EXPLAIN') }}</p>
	{% endif %}

	<fieldset>
	{% if ERROR %}<p class="error">{{ ERROR }}</p>{% endif %}
	{% EVENT ucp_profile_register_details_before %}
	<dl>
		<dt><label {% if S_CHANGE_USERNAME %}for="username"{% endif %}>{{ lang('USERNAME') }}{{ lang('COLON') }}</label><br /><span>{{ lang('USERNAME_EXPLAIN') }}</span></dt>
		<dd>{% if S_CHANGE_USERNAME %}<input type="text" name="username" id="username" value="{{ USERNAME }}" class="inputbox" title="{{ lang('USERNAME') }}" />{% else %}<strong>{{ USERNAME }}</strong>{% endif %}</dd>
	</dl>
	<dl>
		<dt><label for="email">{{ lang('EMAIL_ADDRESS') }}{{ lang('COLON') }}</label></dt>
		<dd>{% if S_CHANGE_EMAIL %}<input type="email" name="email" id="email" maxlength="100" value="{{ EMAIL }}" class="inputbox" title="{{ lang('EMAIL_ADDRESS') }}" autocomplete="off" />{% else %}<strong>{{ EMAIL }}</strong>{% endif %}</dd>
	</dl>
	{% if S_CHANGE_PASSWORD %}
		<dl>
			<dt><label for="new_password">{{ lang('NEW_PASSWORD') }}{{ lang('COLON') }}</label><br /><span>{{ lang('CHANGE_PASSWORD_EXPLAIN') }}</span></dt>
			<dd><input type="password" name="new_password" id="new_password" maxlength="255" value="{{ NEW_PASSWORD }}" class="inputbox" title="{{ lang('CHANGE_PASSWORD') }}" autocomplete="off" /></dd>
		</dl>
		<dl>
			<dt><label for="password_confirm">{{ lang('CONFIRM_PASSWORD') }}{{ lang('COLON') }}</label><br /><span>{{ lang('CONFIRM_PASSWORD_EXPLAIN') }}</span></dt>
			<dd><input type="password" name="password_confirm" id="password_confirm" maxlength="255" value="{{ PASSWORD_CONFIRM }}" class="inputbox" title="{{ lang('CONFIRM_PASSWORD') }}" autocomplete="off" /></dd>
		</dl>
	{% endif %}
	{% EVENT ucp_profile_register_details_after %}
	</fieldset>
	</div>
</div>

<div class="panel">
	<div class="inner">

	<fieldset>
	<dl>
		<dt><label for="cur_password">{{ lang('CURRENT_PASSWORD') }}{{ lang('COLON') }}</label><br /><span>{% if S_CHANGE_PASSWORD %}{{ lang('CURRENT_CHANGE_PASSWORD_EXPLAIN') }}{% else %}{{ lang('CURRENT_PASSWORD_EXPLAIN') }}{% endif %}</span></dt>
		<dd><input type="password" name="cur_password" id="cur_password" maxlength="255" value="{{ CUR_PASSWORD }}" class="inputbox" title="{{ lang('CURRENT_PASSWORD') }}" autocomplete="off" /></dd>
	</dl>
	</fieldset>

	</div>
</div>

<fieldset class="submit-buttons">
	{{ S_HIDDEN_FIELDS }}<input type="reset" value="{{ lang('RESET') }}" name="reset" class="button1 button button-form-bold" />&nbsp;
	<input type="submit" name="submit" value="{{ lang('SUBMIT') }}" class="button1 button button-form" />
	{{ S_FORM_TOKEN }}
</fieldset>
</form>

{% INCLUDE 'ucp_footer.html' %}
