<!-- INCLUDE overall_header.html -->
<h2>{L_UNSUBSCRIBE_TITLE}</h2>
<form method="post" action="{U_ACTION}">
	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>

		<p>{L_UNSUBSCRIBE_EXPLAIN}</p>

		<fieldset class="fields1 column1">
		<dl>
			<dt>{UNSUBSCRIBE_ITEM}<br /><a href="{U_ITEM}">{ITEM_TITLE}</a></dt>
			<dd><input type="radio" name="type" value=""></dd>
		</dl>
		<dl>
			<dt>{L_UNSUBSCRIBE_ALL}</dt>
			<dd><input type="radio" name="type" value="all"></dd>
		</dl>
		<dl>
			<dt>{L_UNSUBSCRIBE_BOARD}</dt>
			<dd><input type="radio" name="type" value="board"></dd>
		</dl>
		</fieldset>

		<fieldset class="submit-buttons">
			<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp;
			<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
			{S_FORM_TOKEN}
		</fieldset>

		<span class="corners-bottom"><span></span></span></div>
	</div>
</form>
<!-- INCLUDE overall_footer.html -->
