{% INCLUDE 'overall_header.html' %}

{% EVENT viewtopic_topic_title_before %}
<h2 class="topic-title">{% EVENT viewtopic_topic_title_prepend %}<a href="{{ U_VIEW_TOPIC }}">{{ TOPIC_TITLE }}</a>{% EVENT viewtopic_topic_title_append %}</h2>
{% EVENT viewtopic_topic_title_after %}
<!-- NOTE: remove the style="display: none" when you want to have the forum description on the topic body -->
{% if FORUM_DESC %}<div style="display: none !important;">{{ FORUM_DESC }}<br /></div>{% endif %}

{% if MODERATORS %}
<p>
	<strong>{% if S_SINGLE_MODERATOR %}{{ lang('MODERATOR') }}{% else %}{{ lang('MODERATORS') }}{% endif %}{{ lang('COLON') }}</strong> {{ MODERATORS }}
</p>
{% endif %}

{% if S_FORUM_RULES %}
	<div class="rules{% if U_FORUM_RULES %} rules-link{% endif %}">
		<div class="inner">

		{% if U_FORUM_RULES %}
			<a href="{{ U_FORUM_RULES }}">{{ lang('FORUM_RULES') }}</a>
		{% else %}
			<strong>{{ lang('FORUM_RULES') }}</strong><br />
			{{ FORUM_RULES }}
		{% endif %}

		</div>
	</div>
{% endif %}

<div class="action-bar bar-top">
	{% EVENT viewtopic_buttons_top_before %}

	{% if not S_IS_BOT and S_DISPLAY_REPLY_INFO %}
		<a href="{{ U_POST_REPLY_TOPIC }}" class="button" title="{% if S_IS_LOCKED %}{{ lang('TOPIC_LOCKED') }}{% else %}{{ lang('POST_REPLY') }}{% endif %}">
			{% if S_IS_LOCKED %}
				<span>{{ lang('BUTTON_TOPIC_LOCKED') }}</span> <i class="icon fa-lock fa-fw" aria-hidden="true"></i>
			{% else %}
				<span>{{ lang('BUTTON_POST_REPLY') }}</span> <i class="icon fa-reply fa-fw" aria-hidden="true"></i>
			{% endif %}
		</a>
	{% endif %}

	{% EVENT viewtopic_buttons_top_after %}
	{% INCLUDE 'viewtopic_topic_tools.html' %}
	{% EVENT viewtopic_dropdown_top_custom %}

	{% if S_DISPLAY_SEARCHBOX %}
		<div class="search-box" role="search">
			<form method="get" id="topic-search" action="{{ S_SEARCHBOX_ACTION }}">
			<fieldset>
				<input class="inputbox search tiny"  type="search" name="keywords" id="search_keywords" size="20" placeholder="{{ lang('SEARCH_TOPIC') }}" />
				<button class="button button-search" type="submit" title="{{ lang('SEARCH') }}">
					<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('SEARCH') }}</span>
				</button>
				<a href="{{ U_SEARCH }}" class="button button-search-end" title="{{ lang('SEARCH_ADV') }}">
					<i class="icon fa-cog fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('SEARCH_ADV') }}</span>
				</a>
				{{ S_SEARCH_LOCAL_HIDDEN_FIELDS }}
			</fieldset>
			</form>
		</div>
	{% endif %}

	{% if loops.pagination|length or TOTAL_POSTS %}
		<div class="pagination">
			{% if U_VIEW_UNREAD_POST and not S_IS_BOT %}<a href="{{ U_VIEW_UNREAD_POST }}" class="mark">{{ lang('VIEW_UNREAD_POST') }}</a> &bull; {% endif %}{{ TOTAL_POSTS }}
			{% if loops.pagination|length %}
				{% INCLUDE 'pagination.html' %}
			{% else %}
				&bull; {{ PAGE_NUMBER }}
			{% endif %}
		</div>
	{% endif %}
	{% EVENT viewtopic_body_pagination_top_after %}
</div>

{% EVENT viewtopic_body_poll_before %}

{% if S_HAS_POLL %}
	<form method="post" action="{{ S_POLL_ACTION }}" data-ajax="vote_poll" class="topic_poll">

	<div class="panel">
		<div class="inner">

		<div class="content">
			<h2 class="poll-title">{% EVENT viewtopic_body_poll_question_prepend %}{{ POLL_QUESTION }}{% EVENT viewtopic_body_poll_question_append %}</h2>
			<p class="author">{{ lang('POLL_LENGTH') }}{% if S_CAN_VOTE and L_POLL_LENGTH %}<br />{% endif %}{% if S_CAN_VOTE %}<span class="poll_max_votes">{{ lang('MAX_VOTES') }}</span>{% endif %}</p>

			<fieldset class="polls">
			{% for poll_option in loops.poll_option %}
				{% EVENT viewtopic_body_poll_option_before %}
				<dl class="{% if poll_option.POLL_OPTION_VOTED %}voted{% endif %}{% if poll_option.POLL_OPTION_MOST_VOTES %} most-votes{% endif %}"{% if poll_option.POLL_OPTION_VOTED %} title="{{ lang('POLL_VOTED_OPTION') }}"{% endif %} data-alt-text="{{ lang('POLL_VOTED_OPTION') }}" data-poll-option-id="{{ poll_option.POLL_OPTION_ID }}">
					<dt>{% if S_CAN_VOTE %}<label for="vote_{{ poll_option.POLL_OPTION_ID }}">{{ poll_option.POLL_OPTION_CAPTION }}</label>{% else %}{{ poll_option.POLL_OPTION_CAPTION }}{% endif %}</dt>
					{% if S_CAN_VOTE %}<dd style="width: auto;" class="poll_option_select">{% if S_IS_MULTI_CHOICE %}<input type="checkbox" name="vote_id[]" id="vote_{{ poll_option.POLL_OPTION_ID }}" value="{{ poll_option.POLL_OPTION_ID }}"{% if poll_option.POLL_OPTION_VOTED %} checked="checked"{% endif %} />{% else %}<input type="radio" name="vote_id[]" id="vote_{{ poll_option.POLL_OPTION_ID }}" value="{{ poll_option.POLL_OPTION_ID }}"{% if poll_option.POLL_OPTION_VOTED %} checked="checked"{% endif %} />{% endif %}</dd>{% endif %}
					<dd class="resultbar{% if not S_DISPLAY_RESULTS %} hidden{% endif %}"><div class="{% if poll_option.POLL_OPTION_PCT < 20 %}pollbar1{% elseif poll_option.POLL_OPTION_PCT < 40 %}pollbar2{% elseif poll_option.POLL_OPTION_PCT < 60 %}pollbar3{% elseif poll_option.POLL_OPTION_PCT < 80 %}pollbar4{% else %}pollbar5{% endif %}" style="width:{{ poll_option.POLL_OPTION_PERCENT_REL }};">{{ poll_option.POLL_OPTION_RESULT }}</div></dd>
					<dd class="poll_option_percent{% if not S_DISPLAY_RESULTS %} hidden{% endif %}">{% if poll_option.POLL_OPTION_RESULT == 0 %}{{ lang('NO_VOTES') }}{% else %}{{ poll_option.POLL_OPTION_PERCENT }}{% endif %}</dd>
				</dl>
				{% EVENT viewtopic_body_poll_option_after %}
			{% endfor %}

				<dl class="poll_total_votes{% if not S_DISPLAY_RESULTS %} hidden{% endif %}">
					<dt>&nbsp;</dt>
					<dd class="resultbar">{{ lang('TOTAL_VOTES') }}{{ lang('COLON') }} <span class="poll_total_vote_cnt">{{ TOTAL_VOTES }}</span></dd>
				</dl>

			{% if S_CAN_VOTE %}
				<dl style="border-top: none;" class="poll_vote">
					<dt>&nbsp;</dt>
					<dd class="resultbar"><input type="submit" name="update" value="{{ lang('SUBMIT_VOTE') }}" class="button1 button button-form" /></dd>
				</dl>
			{% endif %}

			{% if not S_DISPLAY_RESULTS %}
				<dl style="border-top: none;" class="poll_view_results">
					<dt>&nbsp;</dt>
					<dd class="resultbar"><a href="{{ U_VIEW_RESULTS }}">{{ lang('VIEW_RESULTS') }}</a></dd>
				</dl>
			{% endif %}
			</fieldset>
			<div class="vote-submitted hidden">{{ lang('VOTE_SUBMITTED') }}</div>
		</div>

		</div>
		{{ S_FORM_TOKEN }}
		{{ S_HIDDEN_FIELDS }}
	</div>

	</form>
	<hr />
{% endif %}

{% EVENT viewtopic_body_poll_after %}

{% for postrow in loops.postrow %}
	{% EVENT viewtopic_body_postrow_post_before %}
	{% if postrow.S_FIRST_UNREAD %}
		<a id="unread" class="anchor"{% if S_UNREAD_VIEW %} data-url="{{ postrow.U_MINI_POST }}"{% endif %}></a>
	{% endif %}
	<div id="p{{ postrow.POST_ID }}" class="post has-profile {% if postrow.S_ROW_COUNT is odd %}bg1{% else %}bg2{% endif %}{% if postrow.S_UNREAD_POST %} unreadpost{% endif %}{% if postrow.S_POST_REPORTED %} reported{% endif %}{% if postrow.S_POST_DELETED %} deleted{% endif %}{% if postrow.POSTER_WARNINGS %} warned{% endif %}">
		<div class="inner">

		<dl class="postprofile" id="profile{{ postrow.POST_ID }}"{% if postrow.S_POST_HIDDEN %} style="display: none;"{% endif %}>
			<dt class="{% if postrow.RANK_TITLE or postrow.RANK_IMG %}has-profile-rank{% else %}no-profile-rank{% endif %} {% if postrow.POSTER_AVATAR %}has-avatar{% else %}no-avatar{% endif %}">
				<div class="avatar-container">
					{% EVENT viewtopic_body_avatar_before %}
					{% if postrow.POSTER_AVATAR %}
						{% if postrow.U_POST_AUTHOR %}<a href="{{ postrow.U_POST_AUTHOR }}" class="avatar">{{ postrow.POSTER_AVATAR }}</a>{% else %}<span class="avatar">{{ postrow.POSTER_AVATAR }}</span>{% endif %}
					{% endif %}
					{% EVENT viewtopic_body_avatar_after %}
				</div>
				{% EVENT viewtopic_body_post_author_before %}
				{% if not postrow.U_POST_AUTHOR %}<strong>{{ postrow.POST_AUTHOR_FULL }}</strong>{% else %}{{ postrow.POST_AUTHOR_FULL }}{% endif %}{% if postrow.S_ONLINE and not postrow.S_POST_HIDDEN %} <i class="icon fa-circle fa-fw icon-md online" aria-hidden="true" title="{{ lang('ONLINE') }}"></i><span class="sr-only">{{ lang('ONLINE') }}</span>{% endif %}
				{% EVENT viewtopic_body_post_author_after %}
			</dt>

			{% EVENT viewtopic_body_postrow_rank_before %}
			{% if postrow.RANK_TITLE or postrow.RANK_IMG %}<dd class="profile-rank">{{ postrow.RANK_TITLE }}{% if postrow.RANK_TITLE and postrow.RANK_IMG %}<br />{% endif %}{{ postrow.RANK_IMG }}</dd>{% endif %}
			{% EVENT viewtopic_body_postrow_rank_after %}

		{% if postrow.POSTER_POSTS != '' %}<dd class="profile-posts"><strong>{{ lang('POSTS') }}{{ lang('COLON') }}</strong> {% if postrow.U_SEARCH !== '' %}<a href="{{ postrow.U_SEARCH }}">{% endif %}{{ postrow.POSTER_POSTS }}{% if postrow.U_SEARCH !== '' %}</a>{% endif %}</dd>{% endif %}
		{% if postrow.POSTER_JOINED %}<dd class="profile-joined"><strong>{{ lang('JOINED') }}{{ lang('COLON') }}</strong> {{ postrow.POSTER_JOINED }}</dd>{% endif %}
		{% if postrow.POSTER_WARNINGS %}<dd class="profile-warnings"><strong>{{ lang('WARNINGS') }}{{ lang('COLON') }}</strong> {{ postrow.POSTER_WARNINGS }}</dd>{% endif %}

		{% if postrow.S_PROFILE_FIELD1 %}
			<!-- Use a construct like this to include admin defined profile fields. Replace FIELD1 with the name of your field. -->
			<dd><strong>{{ postrow.PROFILE_FIELD1_NAME }}{{ lang('COLON') }}</strong> {{ postrow.PROFILE_FIELD1_VALUE }}</dd>
		{% endif %}

		{% EVENT viewtopic_body_postrow_custom_fields_before %}
		{% for custom_fields in postrow.custom_fields %}
			{% if not custom_fields.S_PROFILE_CONTACT %}
				<dd class="profile-custom-field profile-{{ custom_fields.PROFILE_FIELD_IDENT }}"><strong>{{ custom_fields.PROFILE_FIELD_NAME }}{{ lang('COLON') }}</strong> {{ custom_fields.PROFILE_FIELD_VALUE }}</dd>
			{% endif %}
		{% endfor %}
		{% EVENT viewtopic_body_postrow_custom_fields_after %}

		{% EVENT viewtopic_body_contact_fields_before %}
		{% if not S_IS_BOT and postrow.contact|length %}
			<dd class="profile-contact">
				<strong>{{ lang('CONTACT') }}{{ lang('COLON') }}</strong>
				<div class="dropdown-container dropdown-left">
					<a href="#" class="dropdown-trigger" title="{{ postrow.CONTACT_USER }}">
						<i class="icon fa-commenting-o fa-fw icon-lg" aria-hidden="true"></i><span class="sr-only">{{ postrow.CONTACT_USER }}</span>
					</a>
					<div class="dropdown">
						<div class="pointer"><div class="pointer-inner"></div></div>
						<div class="dropdown-contents contact-icons">
							{% for contact in postrow.contact %}
								{% set REMAINDER = contact.S_ROW_COUNT % 4 %}
								{% DEFINE S_LAST_CELL = ((REMAINDER eq 3) or (contact.S_LAST_ROW and contact.S_NUM_ROWS < 4)) %}
								{% if REMAINDER eq 0 %}
									<div>
								{% endif %}
									<a href="{% if contact.U_CONTACT %}{{ contact.U_CONTACT }}{% else %}{{ postrow.U_POST_AUTHOR }}{% endif %}" title="{{ contact.NAME }}"{% if definition.S_LAST_CELL %} class="last-cell"{% endif %}{% if contact.ID eq 'jabber' %} onclick="popup(this.href, 750, 320); return false;"{% endif %}>
										<span class="contact-icon {{ contact.ID }}-icon">{{ contact.NAME }}</span>
									</a>
								{% if REMAINDER eq 3 or contact.S_LAST_ROW %}
									</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</dd>
		{% endif %}
		{% EVENT viewtopic_body_contact_fields_after %}

		</dl>

		<div class="postbody">
			{% if postrow.S_POST_HIDDEN %}
				{% if postrow.S_POST_DELETED %}
					<div class="ignore" id="post_hidden{{ postrow.POST_ID }}">
						{{ postrow.L_POST_DELETED_MESSAGE }}<br />
						{{ postrow.L_POST_DISPLAY }}
					</div>
				{% elseif postrow.S_IGNORE_POST %}
					<div class="ignore" id="post_hidden{{ postrow.POST_ID }}">
						{{ postrow.L_IGNORE_POST }}<br />
						{{ postrow.L_POST_DISPLAY }}
					</div>
				{% endif %}
			{% endif %}
			<div id="post_content{{ postrow.POST_ID }}"{% if postrow.S_POST_HIDDEN %} style="display: none;"{% endif %}>

			{% EVENT viewtopic_body_post_subject_before %}
			<h3 {% if postrow.S_FIRST_ROW %}class="first"{% endif %}>{% if postrow.POST_ICON_IMG %}<img src="{{ T_ICONS_PATH }}{{ postrow.POST_ICON_IMG }}" width="{{ postrow.POST_ICON_IMG_WIDTH }}" height="{{ postrow.POST_ICON_IMG_HEIGHT }}" alt="{{ postrow.POST_ICON_IMG_ALT }}" title="{{ postrow.POST_ICON_IMG_ALT }}" /> {% endif %}<a href="#p{{ postrow.POST_ID }}">{{ postrow.POST_SUBJECT }}</a></h3>

		{% DEFINE SHOW_POST_BUTTONS = (postrow.U_EDIT or postrow.U_DELETE or postrow.U_REPORT or postrow.U_WARN or postrow.U_INFO or postrow.U_QUOTE) %}
		{% EVENT viewtopic_body_post_buttons_list_before %}
		{% if not S_IS_BOT %}
			{% if definition.SHOW_POST_BUTTONS %}
				<ul class="post-buttons">
					{% EVENT viewtopic_body_post_buttons_before %}
					{% if postrow.U_EDIT %}
						<li>
							<a href="{{ postrow.U_EDIT }}" title="{{ lang('EDIT_POST') }}" class="button button-icon-only">
								<i class="icon fa-pencil fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('BUTTON_EDIT') }}</span>
							</a>
						</li>
					{% endif %}
					{% if postrow.U_DELETE %}
						<li>
							<a href="{{ postrow.U_DELETE }}" title="{{ lang('DELETE_POST') }}" class="button button-icon-only">
								<i class="icon fa-times fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('BUTTON_DELETE') }}</span>
							</a>
						</li>
					{% endif %}
					{% if postrow.U_REPORT %}
						<li>
							<a href="{{ postrow.U_REPORT }}" title="{{ lang('REPORT_POST') }}" class="button button-icon-only">
								<i class="icon fa-exclamation fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('BUTTON_REPORT') }}</span>
							</a>
						</li>
					{% endif %}
					{% if postrow.U_WARN %}
						<li>
							<a href="{{ postrow.U_WARN }}" title="{{ lang('WARN_USER') }}" class="button button-icon-only">
								<i class="icon fa-exclamation-triangle fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('BUTTON_WARN') }}</span>
							</a>
						</li>
					{% endif %}
					{% if postrow.U_INFO %}
						<li>
							<a href="{{ postrow.U_INFO }}" title="{{ lang('INFORMATION') }}" class="button button-icon-only">
								<i class="icon fa-info fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('BUTTON_INFORMATION') }}</span>
							</a>
						</li>
					{% endif %}
					{% if postrow.U_QUOTE %}
						<li>
							<a href="{{ postrow.U_QUOTE }}" title="{{ lang('REPLY_WITH_QUOTE') }}" class="button button-icon-only">
								<i class="icon fa-quote-left fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('BUTTON_QUOTE') }}</span>
							</a>
						</li>
					{% endif %}
					{% EVENT viewtopic_body_post_buttons_after %}
				</ul>
			{% endif %}
		{% endif %}
		{% EVENT viewtopic_body_post_buttons_list_after %}

			{% EVENT viewtopic_body_postrow_post_details_before %}
			<p class="author">
				{% if S_IS_BOT %}
					<span><i class="icon fa-file fa-fw {% if postrow.S_UNREAD_POST %}icon-red{% else %}icon-lightgray{% endif %} icon-md" aria-hidden="true"></i><span class="sr-only">{{ postrow.MINI_POST }}</span></span>
				{% else %}
					<a class="unread" href="{{ postrow.U_MINI_POST }}" title="{{ postrow.MINI_POST }}">
						<i class="icon fa-file fa-fw {% if postrow.S_UNREAD_POST %}icon-red{% else %}icon-lightgray{% endif %} icon-md" aria-hidden="true"></i><span class="sr-only">{{ postrow.MINI_POST }}</span>
					</a>
				{% endif %}
				<span class="responsive-hide">{{ lang('POST_BY_AUTHOR') }} <strong>{{ postrow.POST_AUTHOR_FULL }}</strong> &raquo; </span>{{ postrow.POST_DATE }}
			</p>
			{% EVENT viewtopic_body_postrow_post_details_after %}

			{% if postrow.S_POST_UNAPPROVED %}
			<form method="post" class="mcp_approve" action="{{ postrow.U_APPROVE_ACTION }}">
				<p class="post-notice unapproved">
					<span><i class="icon fa-question icon-red fa-fw" aria-hidden="true"></i></span>
					<strong>{{ lang('POST_UNAPPROVED_ACTION') }}</strong>
					<input class="button1 button button-form-bold" type="submit" value="{{ lang('DISAPPROVE') }}" name="action[disapprove]" />
					<input class="button1 button button-form" type="submit" value="{{ lang('APPROVE') }}" name="action[approve]" />
					<input type="hidden" name="post_id_list[]" value="{{ postrow.POST_ID }}" />
					{{ S_FORM_TOKEN }}
				</p>
			</form>
			{% elseif postrow.S_POST_DELETED %}
			<form method="post" class="mcp_approve" action="{{ postrow.U_APPROVE_ACTION }}">
				<p class="post-notice deleted">
					<strong>{{ lang('POST_DELETED_ACTION') }}</strong>
					{% if postrow.S_DELETE_PERMANENT %}
						<input class="button1 button button-form-bold" type="submit" value="{{ lang('DELETE') }}" name="action[delete]" />
					{% endif %}
					<input class="button1 button button-form" type="submit" value="{{ lang('RESTORE') }}" name="action[restore]" />
					<input type="hidden" name="post_id_list[]" value="{{ postrow.POST_ID }}" />
					{{ S_FORM_TOKEN }}
				</p>
			</form>
			{% endif %}

			{% if postrow.S_POST_REPORTED %}
			<p class="post-notice reported">
				<a href="{{ postrow.U_MCP_REPORT }}"><i class="icon fa-exclamation fa-fw icon-red" aria-hidden="true"></i><strong>{{ lang('POST_REPORTED') }}</strong></a>
			</p>
			{% endif %}

			<div class="content">{{ postrow.MESSAGE }}</div>

			{% EVENT viewtopic_body_postrow_content_after %}

			{% if postrow.S_HAS_ATTACHMENTS %}
				<dl class="attachbox">
					<dt>
						{{ lang('ATTACHMENTS') }}
					</dt>
					{% for attachment in postrow.attachment %}
						<dd>{{ attachment.DISPLAY_ATTACHMENT }}</dd>
					{% endfor %}
				</dl>
			{% endif %}

			{% EVENT viewtopic_body_postrow_post_notices_before %}
			{% if postrow.S_DISPLAY_NOTICE %}<div class="rules">{{ lang('DOWNLOAD_NOTICE') }}</div>{% endif %}
			{% if postrow.DELETED_MESSAGE or postrow.DELETE_REASON %}
				<div class="notice post_deleted_msg">
					{{ postrow.DELETED_MESSAGE }}
					{% if postrow.DELETE_REASON %}<br /><strong>{{ lang('REASON') }}{{ lang('COLON') }}</strong> <em>{{ postrow.DELETE_REASON }}</em>{% endif %}
				</div>
			{% elseif postrow.EDITED_MESSAGE or postrow.EDIT_REASON %}
				<div class="notice">
					{{ postrow.EDITED_MESSAGE }}
					{% if postrow.EDIT_REASON %}<br /><strong>{{ lang('REASON') }}{{ lang('COLON') }}</strong> <em>{{ postrow.EDIT_REASON }}</em>{% endif %}
				</div>
			{% endif %}

			{% if postrow.BUMPED_MESSAGE %}<div class="notice"><br /><br />{{ postrow.BUMPED_MESSAGE }}</div>{% endif %}
			{% EVENT viewtopic_body_postrow_post_notices_after %}
			{% if postrow.SIGNATURE %}<div id="sig{{ postrow.POST_ID }}" class="signature">{{ postrow.SIGNATURE }}</div>{% endif %}

			{% EVENT viewtopic_body_postrow_post_content_footer %}
			</div>

		</div>

		{% EVENT viewtopic_body_postrow_back2top_before %}
		<div class="back2top">
			{% EVENT viewtopic_body_postrow_back2top_prepend %}
			<a href="#top" class="top" title="{{ lang('BACK_TO_TOP') }}">
				<i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i>
				<span class="sr-only">{{ lang('BACK_TO_TOP') }}</span>
			</a>
			{% EVENT viewtopic_body_postrow_back2top_append %}
		</div>
		{% EVENT viewtopic_body_postrow_back2top_after %}

		</div>
	</div>

	<hr class="divider" />
	{% EVENT viewtopic_body_postrow_post_after %}
{% endfor %}

{% if S_QUICK_REPLY %}
	{% INCLUDE 'quickreply_editor.html' %}
{% endif %}

{% EVENT viewtopic_body_topic_actions_before %}
	<div class="action-bar bar-bottom">
	{% EVENT viewtopic_buttons_bottom_before %}

	{% if not S_IS_BOT and S_DISPLAY_REPLY_INFO %}
		<a href="{{ U_POST_REPLY_TOPIC }}" class="button" title="{% if S_IS_LOCKED %}{{ lang('TOPIC_LOCKED') }}{% else %}{{ lang('POST_REPLY') }}{% endif %}">
			{% if S_IS_LOCKED %}
				<span>{{ lang('BUTTON_TOPIC_LOCKED') }}</span> <i class="icon fa-lock fa-fw" aria-hidden="true"></i>
			{% else %}
				<span>{{ lang('BUTTON_POST_REPLY') }}</span> <i class="icon fa-reply fa-fw" aria-hidden="true"></i>
			{% endif %}
		</a>
	{% endif %}
	{% EVENT viewtopic_buttons_bottom_after %}

	{% INCLUDE 'viewtopic_topic_tools.html' %}

	{% if (S_NUM_POSTS > 1 or loops.pagination|length) and not S_IS_BOT  %}
		<form method="post" action="{{ S_TOPIC_ACTION }}">
		{% INCLUDE 'display_options.html' %}
		</form>
	{% endif %}

	{% if loops.quickmod|length %}
	<div class="quickmod dropdown-container dropdown-container-left dropdown-up dropdown-{{ S_CONTENT_FLOW_END }} dropdown-button-control" id="quickmod">
		<span title="{{ lang('QUICK_MOD') }}" class="button button-secondary dropdown-trigger dropdown-select">
			<i class="icon fa-gavel fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('QUICK_MOD') }}</span>
			<span class="caret"><i class="icon fa-sort-down fa-fw" aria-hidden="true"></i></span>
		</span>
		<div class="dropdown">
				<div class="pointer"><div class="pointer-inner"></div></div>
				<ul class="dropdown-contents">
				{% for quickmod in loops.quickmod %}
					{% DEFINE QUICKMOD_AJAX = (quickmod.VALUE in ['lock', 'unlock', 'delete_topic', 'restore_topic', 'make_normal', 'make_sticky', 'make_announce', 'make_global']) %}
					<li><a href="{{ quickmod.LINK }}"{% if definition.QUICKMOD_AJAX %} data-ajax="true" data-refresh="true"{% endif %}>{{ quickmod.TITLE }}</a></li>
				{% endfor %}
				</ul>
			</div>
		</div>
	{% endif %}

	{% EVENT viewtopic_dropdown_bottom_custom %}

	{% if loops.pagination|length or TOTAL_POSTS %}
		<div class="pagination">
			{{ TOTAL_POSTS }}
			{% if loops.pagination|length %}
				{% INCLUDE 'pagination.html' %}
			{% else %}
				&bull; {{ PAGE_NUMBER }}
			{% endif %}
		</div>
	{% endif %}
</div>

{% EVENT viewtopic_body_footer_before %}
{% INCLUDE 'jumpbox.html' %}

{% if S_DISPLAY_ONLINE_LIST and U_VIEWONLINE %}
	<div class="stat-block online-list">
		<h3><a href="{{ U_VIEWONLINE }}">{{ lang('WHO_IS_ONLINE') }}</a></h3>
		<p>{{ LOGGED_IN_USER_LIST }}</p>
	</div>
{% endif %}

{% INCLUDE 'overall_footer.html' %}
