{% if not S_IS_BOT and (U_WATCH_TOPIC or U_BOOKMARK_TOPIC or U_BUMP_TOPIC or U_EMAIL_TOPIC or U_PRINT_TOPIC or S_DISPLAY_TOPIC_TOOLS) %}
	<div class="dropdown-container dropdown-button-control topic-tools">
		<span title="{{ lang('TOPIC_TOOLS') }}" class="button button-secondary dropdown-trigger dropdown-select">
			<i class="icon fa-wrench fa-fw" aria-hidden="true"></i>
			<span class="caret"><i class="icon fa-sort-down fa-fw" aria-hidden="true"></i></span>
		</span>
		<div class="dropdown">
			<div class="pointer"><div class="pointer-inner"></div></div>
			<ul class="dropdown-contents">
				{% EVENT viewtopic_topic_tools_before %}
				{% if U_WATCH_TOPIC %}
					<li>
						<a href="{{ U_WATCH_TOPIC }}" class="watch-topic-link" title="{{ S_WATCH_TOPIC_TITLE }}" data-ajax="toggle_link" data-toggle-class="icon {% if S_WATCHING_TOPIC %}fa-check-square-o{% else %}fa-square-o{% endif %} fa-fw" data-toggle-text="{{ S_WATCH_TOPIC_TOGGLE }}" data-toggle-url="{{ U_WATCH_TOPIC_TOGGLE }}" data-update-all=".watch-topic-link">
							<i class="icon {% if S_WATCHING_TOPIC %}fa-square-o{% else %}fa-check-square-o{% endif %} fa-fw" aria-hidden="true"></i><span>{{ S_WATCH_TOPIC_TITLE }}</span>
						</a>
					</li>
				{% endif %}
				{% if U_BOOKMARK_TOPIC %}
					<li>
						<a href="{{ U_BOOKMARK_TOPIC }}" class="bookmark-link" title="{{ lang('BOOKMARK_TOPIC') }}" data-ajax="alt_text" data-alt-text="{{ S_BOOKMARK_TOGGLE }}" data-update-all=".bookmark-link">
							<i class="icon fa-bookmark-o fa-fw" aria-hidden="true"></i><span>{{ S_BOOKMARK_TOPIC }}</span>
						</a>
					</li>
				{% endif %}
				{% if U_BUMP_TOPIC %}
				<li>
					<a href="{{ U_BUMP_TOPIC }}" title="{{ lang('BUMP_TOPIC') }}" data-ajax="true">
						<i class="icon fa-level-up fa-fw" aria-hidden="true"></i><span>{{ lang('BUMP_TOPIC') }}</span>
					</a>
				</li>
				{% endif %}
				{% if U_EMAIL_TOPIC %}
				<li>
					<a href="{{ U_EMAIL_TOPIC }}" title="{{ lang('EMAIL_TOPIC') }}">
						<i class="icon fa-envelope-o fa-fw" aria-hidden="true"></i><span>{{ lang('EMAIL_TOPIC') }}</span>
					</a>
				</li>
				{% endif %}
				{% if U_PRINT_TOPIC %}
				<li>
					<a href="{{ U_PRINT_TOPIC }}" title="{{ lang('PRINT_TOPIC') }}" accesskey="p">
						<i class="icon fa-print fa-fw" aria-hidden="true"></i><span>{{ lang('PRINT_TOPIC') }}</span>
					</a>
				</li>
				{% endif %}
				{% EVENT viewtopic_topic_tools_after %}
			</ul>
		</div>
	</div>
{% endif %}
