/* Set big button dimensions */
.buttons div.reply-icon		{ width: 96px; height: 25px; }
.buttons div.post-icon		{ width: 96px; height: 25px; }
.buttons div.locked-icon	{ width: 96px; height: 25px; }
.buttons div.pmreply-icon	{ width: 96px; height: 25px; }
.buttons div.newpm-icon		{ width: 84px; height: 25px; }
ul.profile-icons li.quote-icon	{ width: 54px; height: 20px; }
ul.profile-icons li.edit-icon	{ width: 42px; height: 20px; }

.reply-icon, .reply-icon a { background-image: url("button_topic_reply.gif"); }
.post-icon, .post-icon a { background-image: url("button_topic_new.gif") ;}
.locked-icon, .locked-icon a { background-image: url("button_topic_locked.gif"); }
.pmreply-icon, .pmreply-icon a { background-image: url("button_pm_reply.gif") ;}
.newpm-icon, .newpm-icon a { background-image: url("button_pm_new.gif") ;}
.pm-icon, .pm-icon a { background-image: url("icon_contact_pm.gif"); }
.quote-icon, .quote-icon a { background-image: url("icon_post_quote.gif"); }
.edit-icon, .edit-icon a { background-image: url("icon_post_edit.gif"); }