<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html dir="{S_CONTENT_DIRECTION}">
<head>
<title>Administration Control Panel</title>
<meta http-equiv="Content-Type" content="text/html;" />
</head>
<frameset cols="225,*" rows="*"> 
	<frame src="{S_FRAME_NAV}" name="nav" marginwidth="3" marginheight="3" scrolling="auto" />
	<frame src="{S_FRAME_MAIN}" name="main" marginwidth="10" marginheight="10" scrolling="auto" />
</frameset>
</html>