/* BBCode CSS Reset http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126
---------------------------------------- */

blockquote, cite, quote {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

.inWYSIWYG p {
	margin: 0;
}

/* BBCode style formatting
----------------------------------------*/
/* Quote block */
blockquote {
	background: transparent none 6px 8px no-repeat;
	border: 1px solid transparent;
	font-size: 0.95em;
	margin: 0.5em 1px 0 25px;
	overflow: hidden;
	padding: 5px;
}

blockquote blockquote {
	/* Nested quotes */
	font-size: 1em;
	margin: 0.5em 1px 0 15px;
}

blockquote cite {
	/* Username/source of quoter */
	font-style: normal;
	font-weight: bold;
	margin-left: 20px;
	display: block;
	font-size: 0.9em;
}

blockquote cite cite {
	font-size: 1em;
}

blockquote.uncited {
	padding-top: 25px;
}

/* Code block */
.codebox {
	padding: 3px;
	border: 1px solid transparent;
	font-size: 1em;
}

.codebox p {
	text-transform: uppercase;
	border-bottom: 1px solid transparent;
	margin: 0 0 3px 0;
	font-size: 0.8em !important;
	font-weight: bold;
	display: block;
	padding: 0;
	font: inherit;
	vertical-align: baseline;
}

blockquote .codebox {
	margin-left: 0;
}

.codebox code {
	overflow: auto;
	display: block;
	height: auto;
	max-height: 200px;
	white-space: normal;
	padding-top: 5px;
	font: 0.9em Monaco, "Andale Mono","Courier New", Courier, mono;
	line-height: 1.3em;
	margin: 2px 0;
}

/* BBCode style colors
----------------------------------------*/
/* Quote block */
blockquote {
	background-color: #EBEADD;
	background-image: url("./images/quote.gif");
	border-color:#DBDBCE;
}

.rtl blockquote {
	background-image: url("./images/quote_rtl.gif");
}

blockquote blockquote {
	/* Nested quotes */
	background-color:#EFEED9;
}

blockquote blockquote blockquote {
	/* Nested quotes */
	background-color: #EBEADD;
}

/* Code block */
.codebox {
	background-color: #FFFFFF;
	border-color: #C9D2D8;
}

.codebox p {
	border-bottom-color:  #CCCCCC;
}

.codebox code {
	color: #2E8B57;
}

.syntaxbg		{ color: #FFFFFF; }
.syntaxcomment	{ color: #FF8000; }
.syntaxdefault	{ color: #0000BB; }
.syntaxhtml		{ color: #000000; }
.syntaxkeyword	{ color: #007700; }
.syntaxstring	{ color: #DD0000; }

/* BBCode rtl styling
----------------------------------------*/
/* Quote block */
.rtl blockquote {
	margin: 0.5em 25px 0 1px;
	background-position: 99% 8px;
}

.rtl blockquote blockquote {
	/* Nested quotes */
	margin: 0.5em 15px 0 1px;
}

.rtl blockquote cite {
	/* Username/source of quoter */
	margin-right: 20px;
	margin-left: 0;
}

.rtl blockquote .codebox {
	margin-right: 0;
}

.rtl code {
	direction: ltr;
}