/* Button Styles
---------------------------------------- */

/* Rollover buttons
   Based on: http://wellstyled.com/css-nopreload-rollovers.html
----------------------------------------*/
.button {
	cursor: pointer;
	display: inline-block;
	line-height: 17.5px;
	height: 18px;
	font-size: 13px;
	white-space: nowrap;
	border: 1px solid transparent;
	border-radius: 4px;
	background: transparent none 0 0 repeat-x;
	padding: 2px 8px;
	font-family: "Open Sans", "Droid Sans", Verdana, Arial, Helvetica;
	position: relative;
	text-decoration: none !important;
	outline-style: none !important;
	vertical-align: bottom;
	*padding-right: 8px;
}

.icon-button, .dropdown-select {
	padding-right: 22px;
}

.icon-button.dropdown-select {
	padding-right: 44px;
}

.icon-button span {
	background: transparent 0 0 no-repeat;
	display: block;
	float: right;
	height: 12px;
	margin: 3px -16px 0 0;
	width: 12px;
}

.dropdown-select:after {
	background-position: -103px 10px;
	border-left: 1px solid;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 22px;
	width: 16px;
}

.dropdown-visible .dropdown-select:after, .nojs .dropdown-container:hover .dropdown-select:after {
	background-position: -103px -10px;
}

.buttons, .buttons div {
	float: left;
}

.buttons .button, .dropdown-select {
	margin-right: 5px;
}

/* Big button images */
.reply-icon a span, .pmreply-icon a span					{ background-position: -20px 0; }
.reply-icon a:hover span, .pmreply-icon a:hover span		{ background-position: -20px -20px; }

.post-icon a span, .newpm-icon a span, .reply-all a span	{ background-position: 0 0; }
.post-icon a:hover span, .newpm-icon a:hover span,
.reply-all a:hover span										{ background-position: 0 -20px; }

.locked-icon a span											{ background-position: -60px 0; }
.locked-icon a:hover span									{ background-position: -60px -20px; }

.forwardpm-icon a span										{ background-position: -40px 0; }
.forwardpm-icon a:hover span								{ background-position: -40px -20px; }

.tools-icon span {
	background-position: -80px 0;
	height: 16px;
	margin-top: 2px;
	width: 16px;
}

.dropdown-visible .tools-icon span,
.nojs .dropdown-container:hover .tools-icon span		{ background-position: -80px -20px; }

/* Icon images
---------------------------------------- */
.small-icon {
	background-position: 0 50%;
	background-repeat: no-repeat;
	background-image: none;
	padding: 0 0 0 17px;
}

ul.linklist li.small-icon {
	padding-left: 0;
}

ul.linklist.bulletin li.small-icon:before {
	display: none;
}

/* Poster contact icons
----------------------------------------*/
.contact-icons.dropdown-contents {
	min-width: 0;
	padding: 0;
}

.contact-icon {
	background-repeat: no-repeat;
	display: block;
	height: 16px;
	width: 16px;
}
.contact-icons a {
	border-bottom: 1px dotted;
	border-right: 1px dotted;
	display: block;
	float: left;
	padding: 8px;
}

.contact-icons .last-cell {
	border-right: none;
}

.contact-icons div:last-child a {
	border-bottom: none;
}

.contact-icons div {
	clear: left;
}

/* Profile icons */
.pm-icon		{ background-position: 0 0; }
.email-icon		{ background-position: -21px 0; }
.jabber-icon	{ background-position: -80px 0; }
.phpbb_icq-icon	{ background-position: -61px 0 ; }
.phpbb_wlm-icon	{ background-position: -182px 0; }
.phpbb_aol-icon	{ background-position: -244px 0; }
.phpbb_website-icon		{ background-position: -40px 0; }
.phpbb_youtube-icon		{ background-position: -98px 0; }
.phpbb_facebook-icon	{ background-position: -119px 0; }
.phpbb_google_plus-icon	{ background-position: -140px 0; }
.phpbb_skype-icon		{ background-position: -161px 0; }
.phpbb_twitter-icon		{ background-position: -203px 0; }
.phpbb_yahoo-icon		{ background-position: -224px 0; }

/* Post control buttons
--------------------------------------------- */
.post-buttons {
	float: right;
	list-style: none;
	margin-top: 2px;
}

.post-buttons li {
	float: left;
	margin-right: 3px;
}

.post-buttons .icon-button {
	padding: 0 5px;
	text-indent: -9999px;
}

.post-buttons span {
	float: none;
	margin-right: 0;
}

.quote-icon span		{ background-position: 0 0; }
.quote-icon:hover span	{ background-position: 0 -21px; }
.edit-icon span			{ background-position: -24px 0; }
.edit-icon:hover span	{ background-position: -24px -21px; }
.warn-icon span			{ background-position: -48px 0; }
.warn-icon:hover span	{ background-position: -48px -21px; }
.delete-icon span		{ background-position: -36px 0; }
.delete-icon:hover span	{ background-position: -36px -21px; }
.report-icon span		{ background-position: -48px 0; }
.report-icon:hover span	{ background-position: -48px -21px; }
.info-icon span			{ background-position: -73px 0; }
.info-icon:hover span	{ background-position: -73px -21px; }
.button.responsive-menu-link span		{ background-position: -60px 0; }
.button.responsive-menu-link:hover span	{ background-position: -60px -21px; }

/* Responsive buttons in post body */
.post-buttons .dropdown {
	top: 18px;
}

.post-buttons .dropdown a {
	display: block;
	font-size: 1.2em;
	text-align: right;
}

.hasjs .postbody .post-buttons {
	max-width: 40%;
}
