/* proSilver Button Styles
---------------------------------------- */

/* Rollover buttons
   Based on: http://wellstyled.com/css-nopreload-rollovers.html
----------------------------------------*/
.buttons {
	float: left;
	width: auto;
	height: auto;
}

/* Rollover state */
.buttons div {
	float: left;
	margin: 0 5px 0 0;
	height: 25px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url("./images/buttons_sprites.png");
	font-size: 1.1em;
}

/* Rolloff state */
.buttons div a {
	display: block;
	height: 100%;
	background-color: transparent;
	background-image: url("./images/buttons_sprites.png");
	background-repeat: no-repeat;

	text-decoration: none;
	text-transform: uppercase;

	font: 60px/68px 'LiberationSans', Arial, Helvetica, sans-serif;
	letter-spacing: 0.075em;
	font-size: 1.05em;
}

.buttons div span			{
	cursor: pointer;
	display: block;
	height: 100%;
	line-height: 25px;
	margin: 0 20px 0 5px;
	padding: 0 5px;
	background-image: url("./images/buttons_bg.png");
	background-position: 0 0;
	background-repeat: repeat-x;
}

.buttons div.no-icon span	{
	margin-right: 5px; /* right background image */
}

.buttons div:hover, .buttons div:hover a span { background-position: 0 -25px; }

/* Big button images */
.buttons div.no-icon a {
	background-position: 100% -50px;
}
.buttons div.no-icon:hover a {
	background-position: 100% -75px;
}

.buttons div.forwardpm-icon a {
	background-position: 100% -100px;
}
.buttons div.forwardpm-icon:hover a {
	background-position: 100% -125px;
}

.buttons div.reply-icon a, .buttons div.pmreply-icon a {
	background-position: 100% -150px;
}
.buttons div.reply-icon:hover a, .buttons div.pmreply-icon:hover a {
	background-position: 100% -175px;
}

.buttons div.newpm-icon a, .buttons div.post-icon a {
	background-position: 100% -200px;
}
.buttons div.newpm-icon:hover a, .buttons div.post-icon:hover a {
	background-position: 100% -225px;
}

.buttons div.locked-icon a {
	background-position: 100% -250px;
}
.buttons div.locked-icon:hover a {
	background-position: 100% -275px;
}

/* Sub-header (navigation bar)
--------------------------------------------- */
a.print, a.sendemail {
	display: block;
	overflow: hidden;
	height: 18px;
	text-indent: -5000px;
	text-align: left;
	background-repeat: no-repeat;
}

a.print {
	background-image: none;
	width: 22px;
}

a.sendemail {
	background-image: none;
	width: 22px;
}

/* Icon images
---------------------------------------- */
.sitehome, .icon-faq, .icon-members, .icon-home, .icon-ucp, .icon-register, .icon-logout,
.icon-bookmark, .icon-bump, .icon-subscribe, .icon-unsubscribe, .icon-pages, .icon-search {
	background-position: 0 50%;
	background-repeat: no-repeat;
	background-image: none;
	padding: 1px 0 0 17px;
}

/* Poster profile icons
----------------------------------------*/
ul.profile-icons {
	padding-top: 10px;
	list-style: none;
}

/* Rollover state */
ul.profile-icons li {
	float: left;
	margin: 0 6px 3px 0;
	background-position: 0 100%;
}

ul.profile-icons li.no-icon,
ul.profile-icons li.edit-icon,
ul.profile-icons li.quote-icon,
ul.profile-icons li.pm-icon {
	float: left;
	height: 20px;
	background-repeat: no-repeat;
	background-position: 100% -340px;
	background-image: url("./images/buttons_sprites.png");
}

ul.profile-icons li.pm-icon {
	background-position: 100% -540px;
}

/* Rolloff state */
ul.profile-icons li a {
	display: block;
	height: 100%;
	background-position: 0 0;
}

ul.profile-icons li.no-icon a,
ul.profile-icons li.edit-icon a,
ul.profile-icons li.quote-icon a,
ul.profile-icons li.pm-icon a {
	display: block;
	height: 100%;
	background-color: transparent;
	background-image: url("./images/buttons_sprites.png");
	background-repeat: no-repeat;
	text-decoration: none;
	text-transform: uppercase;

	font-family: ArialBold, Helvetica, sans-serif;
	letter-spacing: 0.1em;
	font-size: 1em;
	font-weight: bold;
}

ul.profile-icons li.no-icon a:hover,
ul.profile-icons li.edit-icon a:hover,
ul.profile-icons li.quote-icon a:hover,
ul.profile-icons li.pm-icon a:hover {
	background-color: transparent;
	background-image: url("./images/buttons_sprites.png");
	background-repeat: no-repeat;
}

ul.profile-icons li.no-icon a span,
ul.profile-icons li.edit-icon a span,
ul.profile-icons li.quote-icon a span,
ul.profile-icons li.pm-icon a span {
	cursor: pointer;
	display: block;
	height: 100%;
	line-height: 20px;
	margin: 0 5px 0 13px; /* left and right background */
	/* 0.07em padding-top are needed, to fix a rounding issue with the font-size/line-height on Browsers.*/
	padding: 0.07em 5px 0 3px;
	background-image: url("./images/buttons_bg.png");
	background-position: 50% -50px;
	background-repeat: repeat-x;
}

ul.profile-icons li.pm-icon a span {
	background-position: 50% -90px;
	margin: 0 4px 0 13px; /* left and right background */
	padding: 0 0 0 1px;
}

/* smaller margin for the asterix and without an icon */
ul.profile-icons li.no-icon a span,
ul.profile-icons li.edit-icon a span {
	margin: 0 5px 0 10px; /* left and right background */
}

ul.profile-icons li.no-icon:hover a span,
ul.profile-icons li.edit-icon:hover a span,
ul.profile-icons li.quote-icon:hover a span {
	background-position: 50% -70px;
}

ul.profile-icons li.pm-icon:hover a span {
	background-position: 50% -110px;
}

ul.profile-icons li.no-icon:hover,
ul.profile-icons li.edit-icon:hover,
ul.profile-icons li.quote-icon:hover {
	background-position: 100% -360px;
}

ul.profile-icons li.pm-icon:hover {
	background-position: 100% -560px;
}

ul.profile-icons li.no-icon a {
	background-position: 0 -300px;
}
ul.profile-icons li.no-icon:hover a {
	background-position: 0 -320px;
}

ul.profile-icons li.edit-icon a {
	background-position: 0 -380px;
}
ul.profile-icons li.edit-icon:hover a {
	background-position: 0 -400px;
}

ul.profile-icons li.quote-icon a {
	background-position: 0 -420px;
}
ul.profile-icons li.quote-icon:hover a {
	background-position: 0 -440px;
}

ul.profile-icons li.pm-icon a {
	background-position: 0 -500px;
}
ul.profile-icons li.pm-icon:hover a {
	background-position: 0 -520px;
}
ul.profile-icons li.pm-icon a * { font-weight: bold; }

ul.profile-icons li.no-icon a span,
ul.profile-icons li.edit-icon a span,
ul.profile-icons li.quote-icon a span {
	padding-left: 0;
}

/* Hide <a> text and hide off-state image when rolling over (prevents flicker in IE) */
ul.profile-icons li span { display:none; }
ul.profile-icons li a:hover { background: none; }

/* Positioning of moderator icons */
.postbody ul.profile-icons {
	float: right;
	width: auto;
	padding: 0;
}

.postbody ul.profile-icons li {
	margin: 0 3px;
}

/* Profile & navigation icons */
.email-icon, .email-icon a		{ background: none top left no-repeat; }
.aim-icon, .aim-icon a			{ background: none top left no-repeat; }
.yahoo-icon, .yahoo-icon a		{ background: none top left no-repeat; }
.web-icon, .web-icon a			{ background: none top left no-repeat; }
.msnm-icon, .msnm-icon a			{ background: none top left no-repeat; }
.icq-icon, .icq-icon a			{ background: none top left no-repeat; }
.jabber-icon, .jabber-icon a		{ background: none top left no-repeat; }

/* Moderator icons */
.report-icon, .report-icon a		{ background: none top left no-repeat; }
.warn-icon, .warn-icon a			{ background: none top left no-repeat; }
.delete-icon, .delete-icon a		{ background: none top left no-repeat; }
.info-icon, .info-icon a			{ background: none top left no-repeat; }

/* Set profile icon dimensions */
ul.profile-icons li.email-icon		{ width: 20px; height: 20px; }
ul.profile-icons li.aim-icon	{ width: 20px; height: 20px; }
ul.profile-icons li.yahoo-icon	{ width: 20px; height: 20px; }
ul.profile-icons li.web-icon	{ width: 20px; height: 20px; }
ul.profile-icons li.msnm-icon	{ width: 20px; height: 20px; }
ul.profile-icons li.icq-icon	{ width: 20px; height: 20px; }
ul.profile-icons li.jabber-icon	{ width: 20px; height: 20px; }
ul.profile-icons li.report-icon	{ width: 20px; height: 20px; }
ul.profile-icons li.delete-icon	{ width: 20px; height: 20px; }
ul.profile-icons li.info-icon	{ width: 20px; height: 20px; }
ul.profile-icons li.warn-icon	{ width: 20px; height: 20px; }

/* Fix profile icon default margins */
ul.profile-icons li.edit-icon	{ margin: 0 0 0 3px; }
ul.profile-icons li.quote-icon	{ margin: 0 0 0 10px; }
ul.profile-icons li.info-icon, ul.profile-icons li.report-icon	{ margin: 0 3px 0 0; }

