/*
--------------------------------------------------------------
Colours
-------------------------------------------------------------- */

/* Covor Variables
//------------------------------------------------------------

// Grayscale Colors
@color-black:				#000000;
@color-black-80:			#333333;
@color-black-70:			#4D4D4D;
@color-black-60:			#666666;
@color-black-50:			#7F7F7F;
@color-black-40:			#999999;
@color-black-25:			#BFBFBF;
@color-black-20:			#CCCCCC;
@color-black-23:			#DDDDDD;
@color-black-10:			#E6E6E6;
@color-black-5:				#F2F2F2;
@color-black-2:				#FAFAFA;

@color-white:				#FFFFFF;

// Gradient
@color-blue-gradient-dark:	#0076b1;
@color-blue-gradient-light:	#12A3EB;

// Link Colors
@color-link:				#105289;
@color-link-hover:			#D31141;
@color-link-accent:			#006ac6;

// Secodary Colors
@color-secondary:			#4692BF;
@color-secondary-hover:		#368AD2;
@color-secondary-accent:	#5C758C;
@color-secondary-dark:		#28313F;

// Background Colors
@color-bg-page:				#F5F7FA;
@color-bg-1:				#ECF3F7;
@color-bg-2:				#E1EBF2;
@color-bg-3-light:			#F1F8FF;
@color-bg-3:				#CADCEB;
@color-bg-3-dark:			#B4C4D1;
@color-bg-3-dark-hover:		#AABAC6;

// Highlights
@color-highlight-row:		#F6F4D0;
@color-highlight-post:		#F3BFCC;
@color-highlight-notice:	#ECD5D8;
@color-highlight-report:	#F7ECEF;

// Blockquote Colors
@color-blockquote:			#EBEADD;
@color-blockquote-inner:	#EFEED9;

// Poll Colors
@color-poll-bg1: 			#AA2346;
@color-poll-bg2:			#BE1E4A;
@color-poll-bg3:			#D11A4E;
@color-poll-bg4:			#E41653;
@color-poll-bg5:			#F81157;

@color-poll-border1:		#74162C;
@color-poll-border2:		#8C1C38;
@color-poll-border3:		@color-poll-bg1;
@color-poll-border4:		@color-poll-bg2;
@color-poll-border5:		@color-poll-bg3;

// Code Colors
@color-code-default:		#2E8B57;
@color-code-orange:			#FF8000;
@color-code-red:			#DD0000;
@color-code-blue:			#0000BB;
@color-code-green:			#007700;

// PM Colors
@color-pm-marked:			#FF6600;
@color-pm-reply:			#A9B8C2;
@color-pm-friend:			#5D8FBD;
@color-pm-foe:				@color-black;

-------------------------------------------------------------- */

html,
body {
	color: #5C758C;
	background-color: #F5F7FA;
}

h1 {
	color: #FFFFFF;
}

h2 {
	color: #28313F;
}

h3 {
	border-bottom-color: #CCCCCC;
	color: #105289;
}

hr {
	border-color: #FFFFFF;
	border-top-color: #CCCCCC;
}

/*
--------------------------------------------------------------
Colours and backgrounds for links.css
-------------------------------------------------------------- */

a {
	color: #105289;
}

a:hover {
	color: #D31141;
}

/* Links on gradient backgrounds */
.forumbg .header a,
.forabg .header a,
th a {
	color: #FFFFFF;
}

.forumbg .header a:hover, .forabg .header a:hover, th a:hover {
	color: #A8D8FF;
}

/* Notification mark read link */
.dropdown-extended a.mark_read {
	background-color: #FFFFFF;
}

/* Post body links */
.postlink {
	border-bottom-color: #368AD2;
	color: #368AD2;
}

.postlink:visited {
	border-bottom-color: #5C758C;
	color: #5C758C;
}

.postlink:hover {
	background-color: #CADCEB;
	color: #006AC6;
}

.signature a,
.signature a:hover {
	background-color: transparent;
}

/* Back to top of page */
.top i {
	color: #999999;
}

/* Arrow links  */
.arrow-left:hover, .arrow-right:hover {
	color: #368AD2;
}

/* Round cornered boxes and backgrounds
---------------------------------------- */
.wrap {
	background-color: #FFFFFF;
	border-color: #E6E6E6;
}

.headerbar {
	color: #FFFFFF;
}

.headerbar, .forumbg {
	background-color: #12A3EB;
	background-image: -webkit-linear-gradient(top, #6ACEFF 0%, #0076B1 2px, #12A3EB 92px, #12A3EB 100%);
	background-image: linear-gradient(to bottom, #6ACEFF 0%,#0076B1 2px,#12A3EB 92px,#12A3EB 100%);
	background-repeat: repeat-x;
}

.forabg {
	background-color: #0076B1;
	background-image: -webkit-linear-gradient(top, #6ACEFF 0%, #12A3EB 2px, #0076B1 92px, #0076B1 100%);
	background-image: linear-gradient(to bottom, #6ACEFF 0%,#12A3EB 2px,#0076B1 92px,#0076B1 100%);
	background-repeat: repeat-x;
}

.navbar {
	background-color: #CADCEB;
}

.panel {
	background-color: #ECF3F7;
	color: #28313F;
}

.post:target .content {
	color: #000000;
}

.post:target h3 a {
	color: #000000;
}

.bg1 {
	background-color: #ECF3F7;
}

table.zebra-list tr:nth-child(odd) td,
ul.zebra-list li:nth-child(odd) {
	background-color: #ECF3F7;
}

.bg2 {
	background-color: #E1EBF2;
}

table.zebra-list tr:nth-child(even) td,
ul.zebra-list li:nth-child(even) {
	background-color: #E1EBF2;
}

.bg3 {
	background-color: #CADCEB;
}

.ucprowbg {
	background-color: #E6E6E6;
}

.fieldsbg {
	background-color: #E6E6E6;
}

.site_logo {
	background-image: url("./images/site_logo.gif");
}

/* Horizontal lists
----------------------------------------*/

ul.navlinks {
	border-top-color: #FFFFFF;
}

/* Table styles
----------------------------------------*/
table.table1 thead th {
	color: #FFFFFF;
}

table.table1 tbody tr {
	border-color: #BFC1CF;
}

table.table1 tbody tr:hover,
table.table1 tbody tr.hover {
	background-color: #E1EBF2;
	color: #000000;
}

table.table1 td {
	color: #5C758C;
}

table.table1 tbody td {
	border-top-color: #FAFAFA;
}

table.table1 tbody th {
	border-bottom-color: #000000;
	color: #333333;
	background-color: #FFFFFF;
}

table.info tbody th {
	color: #000000;
}

/* Misc layout styles
---------------------------------------- */
dl.details dt {
	color: #000000;
}

dl.details dd {
	color: #5C758C;
}

.sep {
	color: #1198D9;
}

/* Icon styles
---------------------------------------- */
.icon.icon-blue, 
a:hover .icon.icon-blue {
	color: #196db5;
}

.icon.icon-green, 
a:hover .icon.icon-green {
	color: #1b9A1B;
}

.icon.icon-red, 
a:hover .icon.icon-red {
	color: #D31141;
}

.icon.icon-orange, 
a:hover .icon.icon-orange {
	color: #FF6600;
}

.icon.icon-bluegray, 
a:hover .icon.icon-bluegray {
	color: #536482;
}

.icon.icon-gray, 
a:hover .icon.icon-gray {
	color: #777777;
}

.icon.icon-lightgray, 
a:hover .icon.icon-lightgray {
	color: #999999;
}

.icon.icon-black, 
a:hover .icon.icon-black {
	color: #333333;
}

.alert_close .icon:before {
	background-color: #FFFFFF;
}

/* Jumpbox */
.jumpbox .dropdown li {
	border-top-color: #CCCCCC;
}

.jumpbox-cat-link {
	background-color: #0076b1;
	border-top-color: #0076B1;
	color: #FFFFFF;
}

.jumpbox-cat-link:hover { 
	background-color: #12A3EB;
	border-top-color: #12A3EB;
	color: #FFFFFF;
}

.jumpbox-forum-link {
	background-color: #E1EBF2;
}

.jumpbox-forum-link:hover {
	background-color: #F6F4D0;
}

.jumpbox .dropdown .pointer-inner {
	border-color: #E1EBF2 transparent;
}

.jumpbox-sub-link {
	background-color: #E1EBF2;
}

.jumpbox-sub-link:hover {
	background-color: #F1F8FF;
}

/* Miscellaneous styles
---------------------------------------- */

.copyright {
	color: #4D4D4D;
}

.error {
	color: #D31141;
}

.reported {
	background-color: #F7ECEF;
}

li.reported:hover {
	background-color: #ECD5D8 !important;
}
.sticky, 
.announce {
	/* you can add a background for stickies and announcements*/
}

div.rules {
	background-color: #ECD5D8;
	color: #D31141;
}

p.post-notice {
	background-color: #ECD5D8;
	background-image: none;
}

/*
--------------------------------------------------------------
Colours and backgrounds for content.css
-------------------------------------------------------------- */
ul.forums {
	background-color: #EEF5F9; /* Old browsers */ /* FF3.6+ */
	background-image: -webkit-linear-gradient(top, #D2E0EB 0%, #EEF5F9 100%);
	background-image: linear-gradient(to bottom, #D2E0EB 0%,#EEF5F9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D2E0EB', endColorstr='#EEF5F9',GradientType=0 ); /* IE6-9 */
}

ul.topiclist li {
	color: #5C758C;
}

ul.topiclist dd {
	border-left-color: #FFFFFF;
}

.rtl ul.topiclist dd {
	border-right-color: #FFFFFF;
	border-left-color: transparent;
}

li.row {
	border-top-color: #FFFFFF;
	border-bottom-color: #0076B1;
}

li.row strong {
	color: #000000;
}

li.row:hover {
	background-color: #F6F4D0;
}

li.row:hover dd {
	border-left-color: #CCCCCC;
}

.rtl li.row:hover dd {
	border-right-color: #CCCCCC;
	border-left-color: transparent;
}

li.header dt,
li.header dd {
	color: #FFFFFF;
}

/* Post body styles
----------------------------------------*/
.postbody {
	color: #333333;
}

/* Content container styles
----------------------------------------*/
.content {
	color: #333333;
}

.content h2,
.panel h2 {
	color: #105289;
	border-bottom-color: #CCCCCC;
}

dl.faq dt {
	color: #333333;
}

.posthilit {
	background-color: #F3BFCC;
	color: #D31141;
}

.announce,
.unreadpost {
	/* Highlight the announcements & unread posts box */
}

/* Post signature */
.signature {
	border-top-color: #CCCCCC;
}

/* Post noticies */
.notice {
	border-top-color: #CCCCCC;
}

/* BB Code styles
----------------------------------------*/
/* Quote block */
blockquote {
	background-color: #EBEADD;
	background-image: url("./images/quote.gif");
	border-color:#DDDDDD;
}

.rtl blockquote {
	background-image: url("./images/quote_rtl.gif");
}

blockquote blockquote {	
	background-color: #EFEED9;
}

blockquote blockquote blockquote {
	background-color: #EBEADD;
}

/* Code block */
.codebox {
	background-color: #FFFFFF;
	border-color: #DDDDDD;
}

.codebox p {
	border-bottom-color:  #CCCCCC;
}

.codebox code {
	color: #2E8B57;
}

.syntaxbg		{ color: #FFFFFF; }
.syntaxcomment	{ color: #FF8000; }
.syntaxdefault	{ color: #0000BB; }
.syntaxhtml		{ color: #000000; }
.syntaxkeyword	{ color: #007700; }
.syntaxstring	{ color: #DD0000; }

/* Attachments
----------------------------------------*/
.attachbox {
	background-color: #FFFFFF;
	border-color: #DDDDDD;
}

.pm-message .attachbox {
	background-color: #F2F2F2;
}

.attachbox dd {
	border-top-color: #DDDDDD;
}

.attachbox p {
	color: #666666;
}

.attachbox p.stats {
	color: #666666;
}

.attach-image img {
	border-color: #999999;
}

/* Inline image thumbnails */
dl.file dd {
	color: #666666;
}

dl.thumbnail img {
	border-color: #666666;
	background-color: #FFFFFF;
}

dl.thumbnail dd {
	color: #666666;
}

dl.thumbnail dt a:hover {
	background-color: #E6E6E6;
}

dl.thumbnail dt a:hover img {
	border-color: #368AD2;
}

/* Post poll styles
----------------------------------------*/
fieldset.polls dl {
	border-top-color: #E6E6E6;
	color: #666666;
}

fieldset.polls dl.voted {
	color: #000000;
}

fieldset.polls dd div {
	color: #FFFFFF;
}

.rtl .pollbar1,
.rtl .pollbar2,
.rtl .pollbar3,
.rtl .pollbar4,
.rtl .pollbar5 {
	border-right-color: transparent;
}

.pollbar1 {
	background-color: #AA2346;
	border-bottom-color: #74162C;
	border-right-color: #74162C;
}

.rtl .pollbar1 {
	border-left-color: #74162C;
}

.pollbar2 {
	background-color: #BE1E4A;
	border-bottom-color: #8C1C38;
	border-right-color: #8C1C38;
}

.rtl .pollbar2 {
	border-left-color: #8C1C38;
}

.pollbar3 {
	background-color: #D11A4E;
	border-bottom-color: #AA2346;
	border-right-color: #AA2346;
}

.rtl .pollbar3 {
	border-left-color: #AA2346;
}

.pollbar4 {
	background-color: #E41653;
	border-bottom-color: #BE1E4A;
	border-right-color: #BE1E4A;
}

.rtl .pollbar4 {
	border-left-color: #BE1E4A;
}

.pollbar5 {
	background-color: #F81157;
	border-bottom-color: #D11A4E;
	border-right-color: #D11A4E;
}

.rtl .pollbar5 {
	border-left-color: #D11A4E;
}

/* Poster profile block
----------------------------------------*/
.postprofile {
	color: #666666;
	border-color: #FFFFFF;
}

.pm .postprofile {
	border-color: #DDDDDD;
}

.postprofile strong {
	color: #000000;
}

.online {
	background-image: url("./en/icon_user_online.gif");
}

dd.profile-warnings {
	color: #D31141;
}

/*
--------------------------------------------------------------
Colours and backgrounds for buttons.css
-------------------------------------------------------------- */
.button {
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	background-image: -webkit-linear-gradient(#FFFFFF, #E6E6E6);
	background-image: linear-gradient(#FFFFFF, #E6E6E6);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#E6E6E6', GradientType=0 );
	box-shadow: 0 0 0 1px #FFFFFF inset;
	-webkit-box-shadow: 0 0 0 1px #FFFFFF inset;
	color: #D31141;
}

.button:hover,
.dropdown-visible .dropdown-select,
.button:focus {
	border-color: #006AC6;
	background-color: #FFFFFF;
	background-image: -webkit-linear-gradient(top, #E6E6E6 0%, #FFFFFF 100%);
	background-image: linear-gradient(to bottom, #E6E6E6 0%,#FFFFFF 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E6E6E6', endColorstr='#FFFFFF',GradientType=0 ); /* IE6-9 */
	text-shadow: 1px 1px 0 #FFFFFF, -1px -1px 0 #FFFFFF, -1px -1px 0 rgba(188, 42, 77, 0.2);
}

.button i {
	color: #7F7F7F;
}

.button:focus i,
.button:hover i {
	color: #006AC6;
}

.caret {
	border-color: #CCCCCC; 
}

.dropdown-select:after {
	border-color: #DDDDDD;
}

.dropdown-visible .dropdown-select,
.dropdown-visible .dropdown-select:hover,
.nojs .dropdown-container:hover .dropdown-select {
	border-color: #006AC6;
}

.button .icon,
.button-secondary {
	color: #8f8f8f;
}


.button-secondary:focus,
.button-secondary:hover,
.button:focus .icon,
.button:hover .icon {
	color: #0A8ED0;
}

.button-search:hover,
.button-search-end:hover {
	border-color: #C7C3BF;
}

.caret	{ border-color: #DADADA; }
.caret	{ border-color: #C7C3BF; }

.contact-icons a:hover {
	background-color: #F2F2F2;
}

/* Pagination
---------------------------------------- */

.pagination li a {
	background-color: #E6E6E6;
	border-color: #BFBFBF;
	color: #5C758C;
	background-image: none;
	filter: none;
	-webkit-box-shadow: none;
			box-shadow: none;
	}

.pagination li.ellipsis span {
	background: transparent;
	color:	#000000;
}

.pagination li.active span {
	background: #4692BF;
	border-color: #4692BF;
	color: #FFFFFF;
}

.pagination li a:hover, 
.pagination li a:hover .icon, 
.pagination .dropdown-visible a.dropdown-trigger, 
.nojs .pagination .dropdown-container:hover a.dropdown-trigger {
	background-color: #368AD2;
	border-color: #368AD2;
	color: #FFFFFF;
	background-image: none;
	filter: none;
	text-shadow: none;
}

/* Search box
--------------------------------------------- */

.search-box .inputbox,
.search-box .inputbox:hover,
.search-box .inputbox:focus {
	border-color: #CCCCCC;
}

.search-header {
	box-shadow: 0 0 10px #0076b1;
}

/* Icon images
---------------------------------------- */
.contact-icon						{ background-image: url("./images/icons_contact.png"); }

/* Profile & navigation icons */
.pm-icon							{ background-position: 0 0; }
.email-icon							{ background-position: -21px 0; }
.jabber-icon						{ background-position: -80px 0; }
.phpbb_icq-icon						{ background-position: -61px 0 ; }
.phpbb_wlm-icon						{ background-position: -182px 0; }
.phpbb_aol-icon						{ background-position: -244px 0; }
.phpbb_website-icon					{ background-position: -40px 0; }
.phpbb_youtube-icon					{ background-position: -98px 0; }
.phpbb_facebook-icon				{ background-position: -119px 0; }
.phpbb_googleplus-icon				{ background-position: -140px 0; }
.phpbb_skype-icon					{ background-position: -161px 0; }
.phpbb_twitter-icon					{ background-position: -203px 0; }
.phpbb_yahoo-icon					{ background-position: -224px 0; }

/* Forum icons & Topic icons */
.global_read						{ background-image: url("./images/announce_read.gif"); }
.global_read_mine					{ background-image: url("./images/announce_read_mine.gif"); }
.global_read_locked					{ background-image: url("./images/announce_read_locked.gif"); }
.global_read_locked_mine			{ background-image: url("./images/announce_read_locked_mine.gif"); }
.global_unread						{ background-image: url("./images/announce_unread.gif"); }
.global_unread_mine					{ background-image: url("./images/announce_unread_mine.gif"); }
.global_unread_locked				{ background-image: url("./images/announce_unread_locked.gif"); }
.global_unread_locked_mine			{ background-image: url("./images/announce_unread_locked_mine.gif"); }

.announce_read						{ background-image: url("./images/announce_read.gif"); }
.announce_read_mine					{ background-image: url("./images/announce_read_mine.gif"); }
.announce_read_locked				{ background-image: url("./images/announce_read_locked.gif"); }
.announce_read_locked_mine			{ background-image: url("./images/announce_read_locked_mine.gif"); }
.announce_unread					{ background-image: url("./images/announce_unread.gif"); }
.announce_unread_mine				{ background-image: url("./images/announce_unread_mine.gif"); }
.announce_unread_locked				{ background-image: url("./images/announce_unread_locked.gif"); }
.announce_unread_locked_mine		{ background-image: url("./images/announce_unread_locked_mine.gif"); }

.forum_link							{ background-image: url("./images/forum_link.gif"); }
.forum_read							{ background-image: url("./images/forum_read.gif"); }
.forum_read_locked					{ background-image: url("./images/forum_read_locked.gif"); }
.forum_read_subforum				{ background-image: url("./images/forum_read_subforum.gif"); }
.forum_unread						{ background-image: url("./images/forum_unread.gif"); }
.forum_unread_locked				{ background-image: url("./images/forum_unread_locked.gif"); }
.forum_unread_subforum				{ background-image: url("./images/forum_unread_subforum.gif"); }

.sticky_read						{ background-image: url("./images/sticky_read.gif"); }
.sticky_read_mine					{ background-image: url("./images/sticky_read_mine.gif"); }
.sticky_read_locked					{ background-image: url("./images/sticky_read_locked.gif"); }
.sticky_read_locked_mine			{ background-image: url("./images/sticky_read_locked_mine.gif"); }
.sticky_unread						{ background-image: url("./images/sticky_unread.gif"); }
.sticky_unread_mine					{ background-image: url("./images/sticky_unread_mine.gif"); }
.sticky_unread_locked				{ background-image: url("./images/sticky_unread_locked.gif"); }
.sticky_unread_locked_mine			{ background-image: url("./images/sticky_unread_locked_mine.gif"); }

.topic_moved						{ background-image: url("./images/topic_moved.gif"); }
.pm_read,
.topic_read							{ background-image: url("./images/topic_read.gif"); }
.topic_read_mine					{ background-image: url("./images/topic_read_mine.gif"); }
.topic_read_hot						{ background-image: url("./images/topic_read_hot.gif"); }
.topic_read_hot_mine				{ background-image: url("./images/topic_read_hot_mine.gif"); }
.topic_read_locked					{ background-image: url("./images/topic_read_locked.gif"); }
.topic_read_locked_mine				{ background-image: url("./images/topic_read_locked_mine.gif"); }
.pm_unread,
.topic_unread						{ background-image: url("./images/topic_unread.gif"); }
.topic_unread_mine					{ background-image: url("./images/topic_unread_mine.gif"); }
.topic_unread_hot					{ background-image: url("./images/topic_unread_hot.gif"); }
.topic_unread_hot_mine				{ background-image: url("./images/topic_unread_hot_mine.gif"); }
.topic_unread_locked				{ background-image: url("./images/topic_unread_locked.gif"); }
.topic_unread_locked_mine			{ background-image: url("./images/topic_unread_locked_mine.gif"); }

/*
--------------------------------------------------------------
Colours and backgrounds for cp.css
-------------------------------------------------------------- */

/* Main CP box
----------------------------------------*/
.panel-container h3,
.panel-container hr,
.cp-menu hr {
	border-color: #B4C4D1;
}

.panel-container .panel li.row {
	border-bottom-color: #AABAC6;
	border-top-color: #FAFAFA;
}

ul.cplist {
	border-top-color: #AABAC6;
}

.panel-container .panel li.header dd,
.panel-container .panel li.header dt {
	color: #000000;
}

.panel-container table.table1 thead th {
	color: #333333;
	border-bottom-color: #333333;
}

.cp-main .pm-message {
	border-color: #DDDDDD;
	background-color: #FFFFFF;
}

/* CP tabbed menu
----------------------------------------*/
.tabs .tab > a {
	background: #B4C4D1;
	color: #5C758C;
}

.tabs .tab > a:hover {
	background: #E1EBF2;
	color: #D31141;
}

.tabs .activetab > a,
.tabs .activetab > a:hover {
	background-color: #CADCEB;
	background: -webkit-linear-gradient(#F1F8FF 0%, #CADCEB 100%);
	background: linear-gradient(#F1F8FF 0%, #CADCEB 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1F8FF', endColorstr='#CADCEB', GradientType=0);
	border-color: #CADCEB;
	box-shadow: 0 1px 1px #F1F8FF inset;
	color: #333333;
}

.tabs .activetab > a:hover {
	color: #000000;
}

/* Mini tabbed menu used in MCP
----------------------------------------*/
.minitabs .tab > a {
	background-color: #E1EBF2;
}

.minitabs .activetab > a,
.minitabs .activetab > a:hover {
	background-color: #FAFAFA;
	color: #333333;
}

/* Responsive tabs
----------------------------------------*/
.responsive-tab .responsive-tab-link:before {
	border-color: #5C758C;
}

.responsive-tab .responsive-tab-link:hover:before {
	border-color: #D31141;
}

/* UCP navigation menu
----------------------------------------*/

/* Link styles for the sub-section links */
.navigation a {
	color: #333333;
	backgroun-color: #B4C4D1;
	background-image: -webkit-linear-gradient(left, #B4C4D1 50%, #CADCEB 100%);
	background-image: linear-gradient(to right, #B4C4D1 50%, #CADCEB 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B4C4D1', endColorstr='#CADCEB', GradientType=1);
}

.rtl .navigation a {
	background-color: #B4C4D1;
	background-image: -webkit-linear-gradient(left, #CADCEB 0%, #B4C4D1 50%);
	background-image: linear-gradient(to right, #CADCEB 0%, #B4C4D1 50%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CADCEB', endColorstr='#B4C4D1', GradientType=1);
}

.navigation a:hover {
	background: #AABAC6;
	color: #D31141;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.navigation .active-subsection a {
	background: #FAFAFA;
	color: #D31141;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.navigation .active-subsection a:hover {
	color: #D31141;
}

@media only screen and (max-width: 900px), only screen and (max-device-width: 900px) {
	.navigation a,
	.rtl .navigation a {
		background: #B4C4D1;
	}
}

/* Preferences pane layout
----------------------------------------*/
.panel-container h2 {
	color: #333333;
}

.panel-container .panel {
	background-color: #FAFAFA;
}

.cp-main .pm {
	background-color: #FFFFFF;
}

/* Friends list */
.cp-mini {
	background-color: #E1EBF2;
}

dl.mini dt {
	color: #5C758C;
}

/* PM Styles
----------------------------------------*/
/* PM Message history */
.current {
	color: #000000 !important;
}

/* PM marking colours */
.pmlist li.pm_message_reported_colour,
.pm_message_reported_colour {
	border-left-color: #D31141;
	border-right-color: #D31141;
}

.pmlist li.pm_marked_colour,
.pm_marked_colour 	{
	border-color: #FF6600;
}

.pmlist li.pm_replied_colour,
.pm_replied_colour 	{
	border-color: #A9B8C2;
}

.pmlist li.pm_friend_colour,
.pm_friend_colour 	{
	border-color: #5D8FBD;
}

.pmlist li.pm_foe_colour,
.pm_foe_colour 		{
	border-color: #000000;
}

/* Avatar gallery */
.gallery label {
	background: #FFFFFF;
	border-color: #CCCCCC;
}

.gallery label:hover {
	background-color: #E6E6E6;
}

/*
--------------------------------------------------------------
Colours and backgrounds for forms.css
-------------------------------------------------------------- */

/* General form styles
----------------------------------------*/
select {
	border-color: #666666;
	background-color: #FAFAFA;
	color: #000000;
}

label {
	color: #5C758C;
}

option.disabled-option {
	color: #7F7F7F;
}

/* Definition list layout for forms
---------------------------------------- */
dd label {
	color: #333333;
}

fieldset.fields1 {
	background-color: transparent;
}

/* Hover effects */
fieldset dl:hover dt label {
	color: #000000;
}

fieldset.fields2 dl:hover dt label {
	color: inherit;
}

/* Quick-login on index page */
fieldset.quick-login input.inputbox {
	background-color: #F2F2F2;
}

/* Posting page styles
----------------------------------------*/

.message-box textarea {
	color: #333333;
}

.message-box textarea.drag-n-drop {
	outline-color: rgba(102, 102, 102, 0.5);
}

.message-box textarea.drag-n-drop-highlight {
	outline-color: rgba(17, 163, 234, 0.5);
}

/* Input field styles
---------------------------------------- */
.inputbox {
	background-color: #FFFFFF;
	border-color: #BFBFBF;
	color: #333333;
}

.inputbox:-moz-placeholder {
	color: #333333;
}

.inputbox::-webkit-input-placeholder {
	color: #333333;
}

.inputbox:hover {
	border-color: #006AC6;
}

.inputbox:focus {
	border-color: #006AC6;
	color: #006AC6;
}

.inputbox:focus:-moz-placeholder {
	color: transparent;
}

.inputbox:focus::-webkit-input-placeholder {
	color: transparent;
}

/* Form button styles
---------------------------------------- */
a.button1, input.button1, input.button3, a.button2, input.button2 {
	color: #000000;
	background-color: #FAFAFA;
	background-image: -webkit-linear-gradient(top, #DDDDDD 0%, #FAFAFA 100%);
	background-image: linear-gradient(to bottom, #DDDDDD 0%,#FAFAFA 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DDDDDD', endColorstr='#FAFAFA',GradientType=0 );
}

a.button1,
input.button1 {
	border-color: #666666;
}

input.button3 {
	background-image: none;
}

/* Alternative button */
a.button2,
input.button2,
input.button3 {
	border-color: #666666;
}

/* <a> button in the style of the form buttons */
a.button1,
a.button2 {
	color: #000000;
}

/* Hover states */
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover {
	border-color: #D31141;
	color: #D31141;
	background-color: #DDDDDD;
	background-image: -webkit-linear-gradient(top, #FAFAFA 0%, #DDDDDD 100%);
	background-image: linear-gradient(to bottom, #FAFAFA 0%,#DDDDDD 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FAFAFA', endColorstr='#DDDDDD',GradientType=0 );
}

/* Focus states */
input.button1:focus,
input.button2:focus,
input.button3:focus {
	border-color: #006AC6;
	color: #006AC6;
}

input.disabled {
	color: #666666;
}

/* jQuery popups
---------------------------------------- */
.phpbb_alert {
	background-color: #FFFFFF;
	border-color: #999999;
}

.darken {
	background-color: #000000;
}

.loading_indicator {
	background-color: #000000;
	background-image: url("images/loading.gif");
}

.dropdown-extended ul li {
	border-top-color: #BFBFBF;
}

.dropdown-extended ul li:hover {
	background-color: #ECF3F7;
	color: #000000;
}

.dropdown-extended .header {
	border-bottom-color: #BFBFBF;
	color: #000000;
	background-color: #F1F8FF;
	background-image: -webkit-linear-gradient(top, #F1F8FF 0%, #CADCEB 100%);
	background-image: linear-gradient(to bottom, #F1F8FF 0%,#CADCEB 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F1F8FF', endColorstr='#CADCEB',GradientType=0 );
}

.dropdown-extended .footer {
	border-top-color: #BFBFBF;
	color: #000000;
}

.dropdown .pointer {
	border-color: #BFBFBF transparent;
}

.dropdown .pointer-inner {
	border-color: #FFFFFF transparent;
}

.dropdown-extended .pointer-inner {
	border-color: #F1F8FF transparent;
}

.dropdown .dropdown-contents {
	background: #FFFFFF;
	border-color: #BFBFBF;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-up .dropdown-contents {
	box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
}

.dropdown li,
.dropdown li li,
.dropdown li.separator {
	border-color: #DDDDDD;
}

/* Notifications
---------------------------------------- */
.notification_list p.notification-time {
	color: #5C758C;
}

li.notification-reported strong,
li.notification-disapproved strong {
	color: #D31141;
}
