/* -------------------------------------------------------------- /*
	$Content
/* -------------------------------------------------------------- */

/* stylelint-disable selector-max-compound-selectors */
/* stylelint-disable selector-no-qualifying-type */

ul.forums,
ul.topics {
	border-radius: 4px;
}

ul.topiclist {
	display: block;
	margin: 0;
	list-style-type: none;
}

ul.topiclist > li {
	display: block;
	margin: 0;
	list-style-type: none;
}

ul.topiclist dl {
	position: relative;
}

ul.topiclist li.row dl {
	margin: 2px 0;
}

ul.topiclist dt,
ul.topiclist dd {
	display: block;
	float: left;
}

ul.topiclist dt {
	font-size: 11px;
	width: 100%;
	margin-right: -440px;
}

ul.topiclist.missing-column dt {
	margin-right: -345px;
}

ul.topiclist.two-long-columns dt {
	margin-right: -250px;
}

ul.topiclist.two-columns dt {
	margin-right: -80px;
}

ul.topiclist dt .list-inner {
	margin-right: 440px;
	padding-right: 5px;
	padding-left: 5px;
}

ul.topiclist.missing-column dt .list-inner {
	margin-right: 345px;
}

ul.topiclist.two-long-columns dt .list-inner {
	margin-right: 250px;
}

ul.topiclist.two-columns dt .list-inner {
	margin-right: 80px;
}

ul.topiclist dd {
	border-left: 1px solid transparent;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 4px 0;
}

ul.topiclist li.row dd {
	margin-bottom: -995px;
	padding: 4px 0 999px;
}

ul.topiclist dfn {
	/* Labels for post/view counts */
	position: absolute;
	left: -999px;
	width: 990px;
}

.forum-image {
	float: left;
	margin-right: 5px;
	padding-top: 5px;
}

.forum-desc {
	display: block;
}

.forum-mods {
	display: block;
}

.forum-subs {
	display: block;
}

li.row {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

li.row:first-child {
	border-top: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding-top: 1px;
}

li.row:last-child {
	border-bottom: 0;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	margin-bottom: 1px;
}

li.row strong {
	font-weight: normal;
}

li.header dt,
li.header dd {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 10px;
	text-transform: uppercase;
	border-left-width: 0;
	margin: 2px 0 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

li.header dt {
	font-weight: bold;
	width: 100%;
	margin-right: -440px;
}

li.header dt .list-inner {
	margin-right: 440px;
}

li.header dd {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 1px;
}

li.header dl.row-item dt,
li.header dl.row-item dd {
	min-height: 0;
}

li.header dl.row-item dt .list-inner {
	padding-right: 50px;

	/* Tweak for headers alignment when folder icon used */
	padding-left: 0;
}

/* Forum list column styles */
.row .list-inner { padding: 4px 0; }

dl.row-item {
	background-repeat: no-repeat;
	background-position: 10px 50%;		/* Position of folder icon */
	background-size: 32px;
}

dl.row-item dt {
	background-repeat: no-repeat;
	background-position: 5px 95%;		/* Position of topic icon */
	background-size: 17px;
}

dl.row-item dt .list-inner {
	padding-left: 52px;					/* Space for folder icon */
}

dl.row-item dt,
dl.row-item dd {
	min-height: 35px;
}

dl.row-item dt a {
	display: inline;
}

/* topic row icon links */
dl a.row-item-link {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	margin-left: 9px;
	padding: 0;
}

dd.posts,
dd.topics,
dd.views,
dd.extra,
dd.mark {
	font-size: 12px;
	line-height: 26px;
	text-align: center;
	width: 80px;
}

dd.posts,
dd.topics,
dd.views {
	width: 95px;
}

/* List in forum description */
dl.row-item dt ol,
dl.row-item dt ul {
	margin-left: 10px;
	list-style-position: inside;
}

dl.row-item dt > ul li {
	display: list-item;
	list-style-type: inherit;
}

dd.lastpost,
dd.redirect,
dd.moderation,
dd.time,
dd.info {
	font-size: 11px;
	width: 250px;
}

dd.redirect {
	line-height: 26px;
}

dd.time {
	line-height: 22px;
}

dd.lastpost > span,
ul.topiclist dd.info > span,
ul.topiclist dd.time > span,
dd.redirect > span,
dd.moderation > span {
	display: block;
	padding-left: 5px;
}

dd.extra,
dd.mark {
	line-height: 24px;
}

dd.option {
	font-size: 11px;
	line-height: 22px;
	text-align: center;
	width: 125px;
}

/* Post body styles
---------------------------------------- */
.postbody {
	line-height: 16px;
	position: relative;
	float: left;
	width: 76%;
	padding: 0;
}

.postbody .ignore {
	font-size: 11px;
}

.postbody h3.first {
	/* The first post on the page uses this */
	font-size: 17px;
}

.postbody h3 {
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 19px;
	text-transform: none;
	border: none;

	/* Postbody requires a different h3 format - so change it here */
	float: left;
	margin-top: 0 !important;
	margin-bottom: 4px !important;
	padding: 2px 0 0;
}

.postbody h3 img {
	vertical-align: bottom;
}

.has-profile .postbody h3 {
	/* If there is a post-profile, we position the post-buttons differently */
	float: none !important;
	margin-right: 180px;
}

.postbody .content {
	font-size: 13px;
	overflow-x: auto;
}

.postbody img.postimage {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 100%;
}

.search .postbody {
	width: 68%;
}

/* Topic review panel
---------------------------------------- */
.panel .review {
	margin-top: 20px;
}

.topicreview {
	overflow: auto;
	height: 300px;
	padding-right: 5px;
}

.topicreview .postbody {
	float: none;
	width: auto;
	height: auto;
	margin: 0;
}

.topicreview .post {
	height: auto;
}

.topicreview h2 {
	border-bottom-width: 0;
}

.post-ignore .postbody {
	display: none;
}

/* MCP Post details
---------------------------------------- */
.post_details {
	/* This will only work in IE7+, plus the others */
	overflow: auto;
	max-height: 300px;
}

/* Content container styles
---------------------------------------- */
.content {
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	clear: both;
	overflow: hidden;
	min-height: 30px;
	padding-bottom: 1px;
}

.content h2,
.panel h2 {
	font-size: 16px;
	font-weight: normal;
	border-bottom: 1px solid transparent;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-bottom: 8px;
}

.panel h3 {
	margin: 0.5em 0;
}

.panel p {
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 12px;
}

.content p {
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
}

dl.faq {
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 11px;
	line-height: 15px;
	margin-top: 11px;
	margin-bottom: 22px;
}

dl.faq dt {
	font-weight: bold;
}

.content dl.faq {
	font-size: 12px;
	margin-bottom: 6px;
}

.content li {
	list-style-type: inherit;
}

.content ul,
.content ol {
	margin: 0.8em 0 0.9em 3em;
}

.posthilit {
	padding: 0 2px 1px;
}

/* Post author */
p.author {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 10px;
	line-height: 12px;
	clear: both;
	margin-bottom: 8px;
	padding: 0 0 5px;
}

/* Post signature */
.signature {
	font-size: 11px;
	line-height: 16px;
	border-top: 1px solid transparent;
	clear: left;
	overflow: hidden;
	width: 100%;
	margin-top: 16px;
	padding-top: 2px;
}

.signature.standalone {
	border-top-width: 0;
	margin-top: 0;
}

dd .signature {
	border: none;
	clear: none;
	margin: 0;
	padding: 0;
}

.signature li {
	list-style-type: inherit;
}

.signature ul,
.signature ol {
	margin: 10px 0 10px 33px;
}

/* Post noticies */
.notice {
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 10px;
	line-height: 13px;
	border-top: 1px dashed transparent;
	clear: left;
	width: auto;
	margin-top: 15px;
	padding-top: 2px;
}

/* Jump to post link for now */
ul.searchresults {
	text-align: right;
	clear: both;
	list-style: none;
}

/* BB Code styles
---------------------------------------- */

/* Quote block */
blockquote {
	border: 1px solid transparent;
	overflow: hidden;
	margin: 10px 1px 10px 25px;
	padding: 5px;
}

blockquote blockquote {
	/* Nested quotes */
	margin: 10px 1px 10px 15px;
}

blockquote cite {
	font-weight: bold;

	/* Username/source of quoter */
	font-style: normal;
	display: block;
}

blockquote cite:before,
.uncited:before {
	padding-right: 5px;
}

blockquote cite > div {
	font-weight: normal;
	float: right;
}

.postbody .content li blockquote {
	overflow: inherit;
	margin-left: 0;
}

/* Code block */
.codebox {
	font-size: 13px;
	word-wrap: normal;
	border: 1px solid transparent;
	margin: 13px 0 16px;
}

.codebox p {
	font-size: 10px !important;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 1px solid transparent;
	display: block;
	margin-bottom: 0;
	padding: 3px;
}

blockquote .codebox {
	margin-left: 0;
}

.codebox code {
	font: 12px Monaco, "Andale Mono", "Courier New", Courier, monospace;
	line-height: 15px;
	display: block;
	overflow: auto;
	height: auto;
	max-height: 200px;
	padding: 5px 3px;
}

/* Attachments
---------------------------------------- */
.attachbox {
	font-size: 13px;
	border: 1px dashed transparent;
	float: left;
	clear: left;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: auto;
	max-width: 100%;
	margin: 5px 5px 5px 0;
	padding: 6px;
}

.attachbox dt {
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}

.attachbox dd {
	border-top: 1px solid transparent;
	clear: left;
	overflow-x: auto;
	margin-top: 4px;
	padding-top: 4px;
}

.attachbox dd dd {
	border: none;
}

.attachbox p {
	font-weight: normal;
	line-height: 12px;
	clear: left;
}

.attachbox p.stats {
	font-weight: normal;
	line-height: 12px;
	clear: left;
}

.attach-image {
	max-width: 100%;
	margin: 3px 0;
}

.attach-image img {
	border: 1px solid transparent;

	/*	cursor: move; */
	cursor: default;
}

/* Inline image thumbnails */
div.inline-attachment dl.thumbnail,
div.inline-attachment dl.file {
	display: block;
	margin-bottom: 4px;
}

div.inline-attachment p {
	font-size: 100%;
}

dl.file {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display: block;
}

dl.file dt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: none;
	margin: 0;
	padding: 0;
}

dl.file dd {
	margin: 0;
	padding: 0;
}

dl.thumbnail img {
	border: 1px solid transparent;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 3px;
}

dl.thumbnail dd {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: italic;
}

.attachbox dl.thumbnail dd {
	font-size: 100%;
}

dl.thumbnail dt a:hover img {
	border: 1px solid transparent;
}

/* Post poll styles
---------------------------------------- */
fieldset.polls {
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
}

fieldset.polls dl {
	line-height: 13px;
	border-top: 1px solid transparent;
	margin-top: 5px;
	padding: 5px 0 0;
}

fieldset.polls dl.voted {
	font-weight: bold;
}

fieldset.polls dt {
	font-size: 11px;
	text-align: left;
	border-right: none;
	display: block;
	float: left;
	width: 30%;
	margin: 0;
	padding: 0;
}

fieldset.polls dd {
	font-size: 11px;
	border-left: none;
	float: left;
	width: 10%;
	margin-left: 0;
	padding: 0 5px;
}

fieldset.polls dd.resultbar {
	width: 50%;
}

fieldset.polls dd input {
	margin: 2px 0;
}

fieldset.polls dd div {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: right;
	overflow: visible;
	min-width: 8px;
	padding: 2px 2px 0;
}

.pollbar1,
.pollbar2,
.pollbar3,
.pollbar4,
.pollbar5 {
	border-right: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.vote-submitted {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

/* Poster profile block
---------------------------------------- */
.postprofile {
	border: 1px solid transparent;
	border-width: 0 0 0 1px;
	float: right;
	width: 22%;
	min-height: 80px;
	margin: 5px 0 10px;
}

.postprofile dd,
.postprofile dt {
	font-size: 10px;
	line-height: 12px;
	margin-left: 8px;
}

.postprofile dd {
	text-overflow: ellipsis;
	overflow: hidden;
}

.postprofile strong {
	font-weight: normal;
}

.postprofile dt.no-profile-rank,
.postprofile dd.profile-rank,
.postprofile .search-result-date {
	margin-bottom: 10px;
}

/* Post-profile avatars */
.postprofile .has-avatar .avatar-container {
	overflow: hidden;
	margin-bottom: 3px;
}

.postprofile .avatar {
	display: block;
	float: left;
	max-width: 100%;
}

.postprofile .avatar img {
	display: block;
	max-width: 100%;
	height: auto !important;
}

.postprofile .profile-posts a {
	font-weight: normal;
}

dd.profile-warnings {
	font-weight: bold;
}

dd.profile-contact {
	overflow: visible;
}

.profile-contact .dropdown-container {
	display: inline-block;
}

.profile-contact .icon_contact {
	vertical-align: middle;
}

.profile-contact .dropdown {
	margin-right: -14px;
}

/* Poster profile used by search */
.search .postprofile {
	width: 30%;
}

/* Profile used on view-profile */
.profile-avatar img {
	max-width: 100%;
}

/* pm list in compose message if mass pm is enabled */
dl.pmlist dt {
	width: 60% !important;
}

dl.pmlist dt textarea {
	width: 95%;
}

dl.pmlist dd {
	margin-bottom: 2px;
	margin-left: 61% !important;
}

.action-bar div.dl_links {
	padding: 10px 0 0 10px;
}

div.dl_links {
	text-transform: none;
	display: inline-block;
}

.dl_links strong {
	font-weight: bold;
}

.dl_links ul {
	display: inline-block;
	margin: 0;
	list-style-type: none;
}

.dl_links li {
	display: inline-block;
}

.attachment-filename {
	width: 100%;
}

.ellipsis-text {
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
	overflow: hidden;
}

table.fixed-width-table {
	table-layout: fixed;
}

/* Show scrollbars for items with overflow on iOS devices
---------------------------------------- */
.postbody .content::-webkit-scrollbar,
.topicreview::-webkit-scrollbar,
.post_details::-webkit-scrollbar,
.codebox code::-webkit-scrollbar,
.attachbox dd::-webkit-scrollbar,
.attach-image::-webkit-scrollbar,
.dropdown-extended ul::-webkit-scrollbar {
	border-radius: 3px;
	width: 8px;
	height: 8px;
	-webkit-appearance: none;
}

.postbody .content::-webkit-scrollbar-thumb,
.topicreview::-webkit-scrollbar-thumb,
.post_details::-webkit-scrollbar-thumb,
.codebox code::-webkit-scrollbar-thumb,
.attachbox dd::-webkit-scrollbar-thumb,
.attach-image::-webkit-scrollbar-thumb,
.dropdown-extended ul::-webkit-scrollbar-thumb {
	border-radius: 3px;
}

/* Factor out this ID */
/* stylelint-disable selector-no-id */
.memberlist tr.inactive,
.team tr.inactive {
	font-style: italic;
}
/* stylelint-enable selector-no-id */

/* stylelint-enable selector-max-compound-selectors */
/* stylelint-enable selector-no-qualifying-type */
