/* -------------------------------------------------------------- /*
	$Forms
/* -------------------------------------------------------------- */

/* stylelint-disable selector-max-compound-selectors */
/* stylelint-disable selector-no-qualifying-type */

/* General form styles
---------------------------------------- */
fieldset {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 11px;
	border-width: 0;
}

input {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 11px;
	font-weight: normal;
	vertical-align: middle;
	padding: 0 3px;
}

select {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 11px;
	font-weight: normal;
	vertical-align: middle;
	border: 1px solid transparent;
	padding: 1px;
	cursor: pointer;
}

select:focus {
	outline-style: none;
}

option {
	padding-right: 11px;
}

select optgroup option {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	padding-right: 11px;
}

textarea {
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 11px;
	line-height: 18px;
	width: 60%;
	padding: 2px;
}

label {
	padding-right: 5px;
	cursor: default;
}

label input {
	vertical-align: middle;
}

label img {
	vertical-align: middle;
}

/* Definition list layout for forms
---------------------------------------- */
fieldset dl {
	padding: 4px 0;
}

fieldset dt {
	text-align: left;
	display: block;
	float: left;
	width: 40%;
}

fieldset dd {
	vertical-align: top;
	margin-bottom: 3px;
	margin-left: 41%;
}

fieldset.fields1 div {
	margin-bottom: 3px;
}

/* Set it back to 0px for the reCaptcha divs: PHPBB3-9587 */
fieldset.fields1 .live-search div {
	margin-bottom: 0;
}

/* Specific layouts */
fieldset.fields2 dt,
fieldset.fields1 dt {
	border-right-width: 0;
	width: 165px;
}

fieldset.fields2 dd {
	border-left-width: 0;
	margin-left: 176px;
}

fieldset.fields1 dd {
	border-left-width: 0;
	margin-left: 165px;
}

/* Form elements */
dt label {
	font-weight: bold;
	text-align: left;
}

dd label {
	white-space: nowrap;
}

dd input,
dd textarea {
	margin-right: 3px;
}

dd select {
	width: auto;
}

dd select[multiple] {
	width: 100%;
}

dd textarea {
	width: 85%;
}

/* Hover effects */
.timezone {
	width: 95%;
}

/* Browser-specific tweaks */
button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/* Quick-login on index page */
fieldset.quick-login {
	margin-top: 5px;
}

fieldset.quick-login input {
	width: auto;
}

fieldset.quick-login input.inputbox {
	vertical-align: middle;
	width: 15%;
	margin-right: 5px;
}

fieldset.quick-login label {
	white-space: nowrap;
	padding-right: 2px;
}

/* Display options on viewtopic/viewforum pages  */
fieldset.display-options {
	text-align: center;
	margin: 3px 0 5px;
}

fieldset.display-options label {
	white-space: nowrap;
	padding-right: 2px;
}

fieldset.display-options a {
	margin-top: 3px;
}

.dropdown fieldset.display-options {
	font-size: 11px;
	margin: 0;
	padding: 0;
}

.dropdown fieldset.display-options label {
	text-align: right;
	white-space: nowrap;
	display: block;
	margin: 4px;
	padding: 0;
}

.dropdown fieldset.display-options select {
	min-width: 120px;
}

/* Display actions for ucp and mcp pages */
fieldset.display-actions {
	line-height: 22px;
	text-align: right;
	white-space: nowrap;
	padding-right: 11px;
}

fieldset.display-actions label {
	white-space: nowrap;
	padding-right: 2px;
}

/* Not used anywhere */
fieldset.sort-options {
	line-height: 22px;
}

/* MCP forum selection */
fieldset.forum-selection {
	float: right;
	margin: 5px 0 3px;
}

fieldset.forum-selection2 {
	float: right;
	margin: 13px 0 3px;
}

/* Submit button fieldset */
fieldset.submit-buttons {
	text-align: center;
	vertical-align: middle;
	margin: 5px 0;
}

fieldset.submit-buttons input {
	vertical-align: middle;
}

/* Posting page styles
---------------------------------------- */

/* Buttons used in the editor */
.format-buttons {
	margin: 15px 0 2px;
}

.format-buttons input,
.format-buttons select {
	vertical-align: middle;
	margin-bottom: 3px;
}

/* Main message box */
.message-box {
	width: 80%;
}

.message-box textarea {
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	font-size: 13px;
	outline: 3px dashed transparent;
	outline-offset: -4px;
	width: 450px;
	min-width: 100%;
	max-width: 100%;
	height: 270px;
	resize: vertical;
	-webkit-transition: all 0.5s ease, height 1ms linear;
	transition: all 0.5s ease, height 1ms linear;
}

/* Emoticons panel */
.smiley-box {
	float: right;
	width: 18%;
}

.smiley-box img {
	margin: 3px;
}

/* Input field styles
---------------------------------------- */
.inputbox {
	border: 1px solid transparent;
	padding: 2px;
}

.inputbox:hover,
.inputbox:focus {
	border: 1px solid transparent;
	outline-style: none;
}

input.inputbox {
	width: 85%;
}

input.medium {
	width: 50%;
}

input.narrow {
	width: 25%;
}

input.tiny {
	width: 150px;
}

textarea.inputbox {
	width: 85%;
}

.autowidth {
	width: auto !important;
}

input[type="number"] {
	-moz-padding-end: 0;
}

input[type="search"] {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

input[type="search"]::-webkit-search-cancel-button {
	cursor: pointer;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="checkbox"],
input[type="radio"],
.search-results li {
	cursor: pointer;
}

input.disabled {
	font-weight: normal;
}

/* Topic and forum Search */
.search-box {
	float: left;
}

.search-box .inputbox {
	background-image: none;
	border-right-width: 0;
	border-radius: 4px 0 0 4px;
	float: left;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 24px;
	padding: 3px;
}

/* Search box (header)
--------------------------------------------- */
.search-header {
	border-radius: 4px;
	display: block;
	float: right;
	margin-top: 30px;
	margin-right: 5px;
}

.search-header .inputbox {
	border: 0;
}

.navbar .linklist > li.responsive-search {
	display: none;
}

input.search {
	background-image: none;
	background-repeat: no-repeat;
	background-position: left 1px;
	padding-left: 17px;
}

.full {
	width: 95%;
}

.medium {
	width: 50%;
}

.narrow {
	width: 25%;
}

.tiny {
	width: 10%;
}

/* stylelint-enable selector-max-compound-selectors */
/* stylelint-enable selector-no-qualifying-type */
