/* -------------------------------------------------------------- /*
	$Honeypot
/* -------------------------------------------------------------- */

/* stylelint-disable selector-max-compound-selectors */
/* stylelint-disable selector-no-qualifying-type */

.additional-question {
	display: none;
}

.more-questions {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.personal-data {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
}

.know-better {
	overflow: hidden;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
}

/* stylelint-enable selector-max-compound-selectors */
/* stylelint-enable selector-no-qualifying-type */
