/* -------------------------------------------------------------- /*
	$Icons
/* -------------------------------------------------------------- */

/* Global module setup
---------------------------------------- */

/* Renamed version of .fa class for agnostic useage of icon fonts.
 * Just change the name of the font after the 14/1 to the name of
 * the font you wish to use.
 */
.icon,
.button .icon {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	display: inline-block;
	text-rendering: auto; /* optimizelegibility throws things off #1094 */
}

.icon:before {
	padding-right: 2px;
}

.button .icon:before {
	padding-right: 0;
}

/* Icon size classes - Default size is 14px, use these for small variations */

.icon.icon-xl {
	font-size: 20px;
}

.icon.icon-lg {
	font-size: 16px;
}

.icon.icon-md {
	font-size: 10px;
}

.icon.icon-sm {
	font-size: 8px;
}

/* icon modifiers */
.icon-tiny {
	font-size: 16px;
	vertical-align: text-bottom;
	width: 12px;
	-webkit-transform: scale(0.65, 0.75);
	transform: scale(0.65, 0.75);
}

.arrow-right .icon {
	float: right;
}

.arrow-left:hover .icon {
	margin-right: 5px;
	margin-left: -5px;
}

.arrow-right:hover .icon {
	margin-right: -5px;
	margin-left: 5px;
}

.post-buttons .dropdown-contents .icon {
	float: right;
	margin-left: 5px;
}

.alert_close .icon:before {
	line-height: 0.9;
	border-radius: 50%;
	display: block;
	width: 11px;
	height: 12px;
	padding: 0;
}
