/* -------------------------------------------------------------- /*
	$Links
/* -------------------------------------------------------------- */

/* Links adjustment to correctly display an order of rtl/ltr mixed content */
a {
	text-decoration: none;

	/* we use links inline more often then not so to address several bugs with
	IE and some other browsers we render all links as inlineblock by default */
	display: inline-block;
	direction: ltr;
	unicode-bidi: embed;
}

/* Coloured usernames */
.username-coloured {
	font-weight: bold;
	display: inline !important;
	padding: 0 !important;
}

/* Links on gradient backgrounds */
.forumbg .header a,
.forabg .header a,
th a {
	text-decoration: none;
}

.forumbg .header a:hover,
.forabg .header a:hover,
th a:hover {
	text-decoration: underline;
}

/* stylelint-disable selector-no-qualifying-type */

/* Notification mark read link */
.dropdown-extended a.mark_read {
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 3px 0 0 3px;
	position: absolute;
	z-index: 2;
	top: 50%;
	right: 0;
	display: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: -20px;
}

.dropdown-extended li:hover a.mark_read {
	display: block;
}

.dropdown-extended a.mark_read:hover {
	width: 50px;
}

.jumpbox-cat-link,
.jumpbox-forum-link {
	font-weight: bold;
}


/* Links for forum/topic lists */
a.forumtitle,
a.topictitle {
	font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}

a.forumtitle:hover {
	text-decoration: underline;
}

a.topictitle {
	display: inline;
}

a.topictitle:hover {
	text-decoration: underline;
}

a.lastsubject {
	font-weight: bold;
	text-decoration: none;
}

a.lastsubject:hover {
	text-decoration: underline;
}

.row-item a:hover {
	text-decoration: none;
}

.row-item .topictitle:hover,
.row-item .subforum:hover,
.row-item .username:hover,
.row-item .username-coloured:hover {
	text-decoration: underline;
}

/* Post body links */
.postlink {
	text-decoration: none;
	border-bottom: 1px solid transparent;
	padding-bottom: 0;
}

.postlink:hover {
	text-decoration: none;
}

.signature a,
.signature a:hover {
	text-decoration: underline;
	border: none;
}

/* Profile links */
.postprofile a,
.postprofile dt.author a {
	font-weight: bold;
	text-decoration: none;
}

.postprofile a:hover,
.postprofile dt.author a:hover {
	text-decoration: underline;
}

/* Profile searchresults */
.search .postprofile a {
	font-weight: normal;
	text-decoration: none;
}

.search .postprofile a:hover {
	text-decoration: underline;
}

.top {
	font-size: 12px;
	text-decoration: none;
	margin-top: 10px;
}

/* Back to top of page */
.back2top {
	clear: both;
}

.back2top .top {
	float: right;
	margin-top: 0;
	margin-right: -10px;
}

/* Arrow links  */

.arrow-up {
	text-decoration: none;
	border-bottom-width: 0;
	padding-left: 10px;
}

.arrow-up:hover {
	/* add hover styles here */
}

.arrow-down {
	padding-right: 10px;
}

.arrow-down:hover {
	/* add hover styles here */
}

.arrow-left:hover {
	text-decoration: none;
}

.arrow-right:hover {
	text-decoration: none;
}

/* invisible skip link, used for accessibility  */
.skiplink {
	position: absolute;
	left: -999px;
	width: 990px;
}

/* Feed icon in forumlist_body.html */
a.feed-icon-forum {
	float: right;
	margin: 3px;
}

a.anchor {
	display: block;
}
