/* CSS Mobile Detect - onmobile.css
----------------------------------- */

.welcome-mobile {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.welcome-mobile-user {
    padding: 8px 10px;
    font-size: 1.1em;
    font-weight: bold;
    color: #015884;
    box-shadow: 2px 2px 2px #999;
    margin: 4px;
    border: 1px solid #5DBBEA;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 7px;
}

img.mobile-img {
    margin: -7px 0;
}

img.header-mobile-img {
    margin: -3px 0 -13px;
}

img.device-img {
    margin: 0 -8px -20px;
}

.mobile-image {
    text-align: center;
}

img.postrow-mobile-img {
    vertical-align: middle;
    max-height: 20px;
}

div.profile-mobile-img {
    float: right;
	margin: -34px 6px 0 0;
}

.mobile-aft2 {
    display: none;
}

.post-made-via {
	font-size: 0.94em;
	font-weight: bold;
	font-style: italic;
}

/* Responsive Layout
--------------------------- */
@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
    .welcome-mobile-user {
        font-size: 1.0em;
    }
    .mobile-image {
        display: none;
    }
}

@media only screen and (max-width: 600px), only screen and (max-device-width: 600px) {
    .welcome-user {
        display: none;
    }
}

@media only screen and (max-width: 350px), only screen and (max-device-width: 350px) {
    .mobile-aft1 {
        display: none;
    }

    .mobile-aft2 {
        display: inline;
    }
}
