/* -------------------------------------------------------------- /*
    Styles for the PM Module
/* -------------------------------------------------------------- */

.pm {
	display: flex;
	flex-flow: row wrap;
	min-height: 700px;
}

.pm-list {
	flex: 1 auto;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.pm-item {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.04em;
	position: relative;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	height: 72px;
	padding: 16px;
}

.pm-title {
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
	overflow: auto;
	max-width: 200px;
	margin-bottom: -6px;
}

.pm-primary,
.pm-secondary {
	display: block;
}

.pm-primary {
	line-height: 1.5;
	flex-grow: 1;
}

.pm-secondary {
	font-size: 13px;
	font-weight: 400;
	line-height: 1.25;
	text-decoration: inherit;
	letter-spacing: 0.04em;
	text-transform: inherit;
}

.pm-author {
	white-space: nowrap;
	display: block;
	overflow: hidden;
	width: 220px;
}

.pm-secondary-item {
	line-height: 1.2857142857;
	padding-right: 1rem;
}

.pm-viewer {
	overflow-y: auto;
	flex: 120 0;
	max-height: 720px;
}

.pm-message-list {
	background-clip: content-box;
	border-radius: 5px;
	flex: 1 auto;
	width: 310px;
	margin-left: 10px;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 10px;
	list-style-type: none;
}

.pm-not-self {
	margin-right: 10px;
	margin-left: auto;
}

.pm-message-item {
	font-weight: 400;
	letter-spacing: 0.04em;
	position: relative;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding: 5px;
}

.pm-message-title {
	white-space: nowrap;
	text-decoration: underline;
	text-overflow: ellipsis;
	display: inline-block;
	overflow: auto;
	max-width: 500px;
}

.pm-message-date,
.pm-message-author {
	font-size: 14px;
	font-weight: 400;
	text-decoration: inherit;
	letter-spacing: 0.04em;
	text-transform: inherit;
}

.pm-message-date {
	line-height: 1.5;
}

.pm-message-primary-item,
.pm-message-secondary {
	display: block;
}

.pm-message-primary-item {
	padding-bottom: 10px;
}

.pm-preview {
	border-radius: 5px;
	flex: 1 auto;
	height: auto;
	min-height: 100px;
	margin: 10px;
}

.pm-preview-title,
.pm-preview-content {
	padding: 10px;
}

.pm-inputbox {
	font-size: 15px;
	width: 97%;
	line-height: 27px;
	min-height: 30px;
	max-height: 30px;
	padding: 5px;
	resize: none;
}

.pm-compose {
	padding-bottom: 15px;
}

.pm-message-box {
	margin-left: 10px;
}

.pm-recipient-box {
	font-size: 18px;
	display: inline-block;
	width: 80%;
	margin-left: 10px;
}

.pm-recipient-list {
	line-height: 22px;
	padding: 15px;
}

.pm-status-box {
	margin-right: 10px;
}

.pm-bbcode-status {
	font-size: 11px;
	list-style-type: none;
}

.pm-recipient {
	list-style-type: none;
}

.pm-subject-box {
	margin-left: 10px;
}

.pm-message-header {
	font-size: 20px;
	display: flex;
}

.o-model {
	position: absolute;
	z-index: 1;
	display: none;
	left: 50px;
	width: 50%;
	height: 100%;
	padding-top: 100px;
}

.modal-content,
.pm-to-modal-content {
	width: 50%;
	margin: auto;
	padding: 10px;
}

.pm-to-button-close,
.pm-bbcode-button-close,
.pm-smile-button-close {
	font-size: 28px;
	font-weight: bold;
	float: right;
}

.pm-button-close:hover,
.pm-button-close:focus {
	text-decoration: none;
	cursor: pointer;
}

.pm-to-button-close:hover,
.pm-to-button-close:focus {
	text-decoration: none;
	cursor: pointer;
}

.pm-header-button {
	display: flex;
	flex: 0 0 50px;
}

.format-buttons {
	margin: 0;
}

.pm-buttons {
	display: flex;
	flex: 0 0 50px;
}

.pm-button {
	text-align: center;
	flex-basis: 100%;
	width: 50px;
}

.pm-subject {
	flex: 1;
	padding: 10px;
}

.pm-button:hover,
.pm-button:focus {
	cursor: pointer;
}

.c-pm-viewer-action,
.icon-svg {
	text-align: center;
	width: 1.28571429em;
	height: 2.285714em;
}

.pm-text-box {
	position: relative;
	display: inline-block;
}

.pm-text-button {
	position: absolute;
	right: 17px;
	bottom: 2px;
}

.o-bar-divider {
	width: 1px;
	height: 36px;
	margin-top: 8px;
}

.pm-text-box-button {
	width: 30px;
	height: 30px;
}

.pm-user-icon {
	padding-top: 14px;
}

.avatar {
	border: 3px solid #ffffff;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	max-width: 45px;
	max-height: 45px;
}

.pm-avatar {
	padding-right: 15px;
}

@media (max-width: 768px) {
	.pm-preview-button {
		display: none;
	}
}

@media (max-width: 800px) {
	.pm-primary {
		display: none;
	}

	.pm-avatar {
		padding-right: 0;
	}
}

.pagination-view-message {
	float: left !important;
}
