/* -------------------------------------------------------------- /*
	Styles for the refactored PM module
/* -------------------------------------------------------------- */

/* Main PM box */

.pm-left-primary {
	font-size: 13px;
	word-wrap: break-word;
	display: inline-block;
	width: 35%;
	padding: 5px;
}

.row-time-date {
	font-size: 12px;
	position: absolute;
	right: 10px;
}

.message-row {
	color: #888f98;
	position: relative;
	padding: 10px;
	list-style-type: none;
}

.title-read,
.title-unread {
	display: inline;
}

/*	colours and backgrounds */

.title-unread {
	color: #d41142;
}

.title-read {
	color: #0f4d8a;
}

.row1 {
	background-color: #dce9f1;
}

.row2 {
	background-color: #ecf4f7;
}

.msg-unread {
	box-shadow: 5px 0 0 0 #d41142 inset !important;
}

.fa-exclamation-circle {
	color: #000000;
}

.fa-check-circle {
	color: #006400;
}

/* Links for titles */

.msg-title {
	font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}
