.c-pm-container {
	display: flex;
  }
  .c-pm-list {
	background-color: #f5f5f5;
  }
  @media (min-width: 992px) {
	.c-pm-list {
	  width: 400px;
	}
  }
  .c-pm-item {
	cursor: pointer;
  }
  .c-pm-item.is-active, .c-pm-item:hover, .c-pm-item:focus {
	background-color: #eeeeee;
  }
  .c-pm-media {
	margin-right: 0;
  }
  .c-pm-primary {
	display: none;
  }
  @media (min-width: 992px) {
	.c-pm-primary {
	  display: inline-block;
	  padding-left: 16px;
	  padding-right: 8px;
	}
  }
  .c-pm-secondary {
	display: block;
	width: 300px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
  }
  .c-pm-badge {
	background-color: #e23936;
	border: 2px solid #ffffff;
	border-radius: 50%;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 201;
	min-width: 4px;
	min-height: 4px;
	padding: 4px;
	font-size: 0;
  }
  .c-pm-viewer {
	background-color: #ffffff;
	flex: 1;
	border-top-right-radius: 2px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  }
  .c-pm-viewer-header {
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  .c-pm-viewer-action:last-of-type {
	border-top-right-radius: 2px;
  }
  .c-pm-msg {
	background-color: #f5f5f5;
	padding: 1rem;
	border-radius: 2px;
	width: 100%;
  }
  .c-pm-msg-list {
	box-shadow: none;
  }
  .c-pm-msg-header {
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 8px;
	height: 44px;
  }
  .c-pm-msg-meta {
	align-self: flex-end;
	margin-right: auto;
  }
  .c-pm-msg-actions {
	align-self: flex-start;
	margin-left: auto;
	display: none;
  }
  .c-pm-msg:hover .c-pm-msg-actions {
	display: block;
  }
  .c-pm-msg-author {
	line-height: 1.25;
  }
  .c-pm-msg-author-link:hover {
	text-decoration: underline;
  }
  .c-pm-msg-date {
	font-size: 14px;
	letter-spacing: 0.04em;
	font-weight: 400;
	line-height: 1.25;
	text-decoration: inherit;
	text-transform: inherit;
  }
  .c-pm-msg-author, .c-pm-msg-date {
	display: block;
  }
  .c-pm-msg-icon {
	width: 18px;
	height: 18px;
  }
  .c-pm-msg-action {
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.04em;
	line-height: 1.5;
	color: #757575;
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 44px;
	overflow: hidden;
	padding: 8px;
	margin: 0;
  }
  .c-pm-msg-action:last-of-type {
	padding-right: 0;
  }
  .c-pm-msg-action:first-of-type {
	padding-left: 0;
  }
  .c-pm-msg-action:hover {
	color: #258cf4;
  }
  .c-pm-msg-media {
	align-self: flex-start;
  }
  .is-mine .c-pm-msg-media {
	margin-left: 1rem;
	margin-right: 0;
  }
  .c-pm-reply-container {
	margin: 1rem;
	border-radius: 2px;
	margin-top: 32px;
  }
  
  .is-mine .c-pm-msg {
	background-color: rgba(170, 185, 192, 0.3);
  }
  
  .o-bar-divider {
	border-right: 1px solid rgba(0, 0, 0, 0.125);
	width: 1px;
	height: 40px;
	margin-top: 8px;
  }
	
/* hacks */
.o-list-avatar img {
	vertical-align: middle;
	border: 2px solid #ffffff;
	border-radius: 50%;
	width: 100% !important;
	height: 100% !important;
}
