/* Style Sheet Tweaks

These style definitions are IE 7 and 8 specific 
tweaks required due to its poor CSS support.
-------------------------------------------------*/

/* Clear float fix for IE7 */
.inner {
	zoom: 1;
}

/* Align checkboxes/radio buttons nicely */
dd label input { 
	vertical-align: text-bottom; 
	*vertical-align: middle; 
}

/* Simple fix so forum and topic lists always have a height set */
dl.icon {
	*height: 35px;
}

/* Correctly clear floating for details on profile view */
dl.details dd {
	*margin-left: 30%;
	*float: none;
}

/* Headerbar height fix for IE7 */
#site-description p {
	*margin-bottom: 1.0em;
}

/* Forum list column styles for IE7 */
dl.icon dt, dl.icon dd {
	*min-height: 32px;
}

dd.posts, dd.topics, dd.views, dd.extra, dd.mark {
	*width: 79px;
}

dd.lastpost, dd.redirect, dd.moderation, dd.time, dd.info {
	*width: 249px;
}

dd.option {
	*width: 124px;
}
