<!-- INCLUDE pa_header.html -->
<table width="100%" cellpadding="2" cellspacing="2">
  <tr>
	<td valign="bottom">
		<span class="nav"><a href="{U_DOWNLOAD_HOME}" class="nav">{DOWNLOAD}</a><!-- BEGIN navlinks -->&nbsp;&raquo;&nbsp;<a href="{navlinks.U_VIEW_CAT}" class="nav">{navlinks.CAT_NAME}</a><!-- END navlinks -->&nbsp;&raquo;&nbsp;<a href="{U_FILE_NAME}" class="nav">{FILE_NAME}</a>&nbsp;&raquo;&nbsp;{L_LICENSE}</span>
	</td>
  </tr>
</table>

<table width="100%" cellpadding="4" cellspacing="1" border="0" class="forumline">
  <tr> 
	<th class="thHead">{LE_NAME}</th>
  </tr>
  <tr> 
	<td class="row2"><span class="genmed"><b>{L_LEWARN} <i>{FILE_NAME}</b></i></b></span></td>
  </tr>
  <tr> 
	<td class="row1"><span class="postbody">{LE_TEXT}</span></td>
  </tr>
  <tr> 
	<td class="cat" align="center"><span class="genmed"><b><a href="{U_DOWNLOAD}" class="genmed">{L_AGREE}</a> | <a href="{U_FILE_NAME}" class="genmed">{L_NOT_AGREE}</a></b></span></td>
  </tr>
</table>
<!-- INCLUDE pa_footer.html -->