<script language="JavaScript" type="text/javascript">
<!--
function checkForm(formObj) {

	formErrors = false;    

	if (formObj.message.value.length < 2) {
		formErrors = "{L_EMPTY_MESSAGE_EMAIL}";
	}
	else if ( formObj.subject.value.length < 2)
	{
		formErrors = "{L_EMPTY_SUBJECT_EMAIL}";
	}

	if (formErrors) {
		alert(formErrors);
		return false;
	}
}
//-->
</script>
<div class="navbar">
			<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="linklist navlinks">
				<li><a class="icon-home" href="{U_INDEX}">{L_INDEX}</a></li>
				<li class="rightside"></li>
			</ul>
			<ul class="linklist">
				<!-- BEGIN switch_user_logged_in -->
					<li>
						<a href="{U_PROFILE}" title="{L_PROFILE}" class="icon-ucp">{L_PROFILE}</a>
							 (<a href="{U_PRIVATEMSGS}">{PRIVATE_MESSAGE_INFO}</a>) &bull; 
						<a href="{U_SEARCH_SELF}">{L_SEARCH_SELF}</a>
					</li>
				<!-- END switch_user_logged_in -->
				<li class="rightside">
					<a href="{U_FAQ}" title="{L_FAQ_EXPLAIN}" class="icon-faq">{L_FAQ}</a>&nbsp; 
					<a href="{U_SEARCH}" title="{L_SEARCH}" class="icon-search">{L_SEARCH}</a>&nbsp; 
					<a href="{U_MEMBERLIST}" title="{L_MEMBERLIST_EXPLAIN}" class="icon-members">{L_MEMBERLIST}</a>&nbsp; 
						<!-- BEGIN switch_user_logged_out -->
					<a href="{U_REGISTER}" class="icon-register">{L_REGISTER}</a>&nbsp; 
					<!-- END switch_user_logged_out -->
					<a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" class="icon-logout">{L_LOGIN_LOGOUT}</a>
				</li>
			</ul>
			<span class="corners-bottom"><span></span></span></div>
</div>
<h2 class="titlespace">{L_SEND_EMAIL} {USERNAME}</h2>
<form method="post" action="{S_POST_ACTION}" id="post" onsubmit="return checkForm(this)">
{ERROR_MESSAGE}
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	<div class="content">
		<fieldset class="fields2">
			<dl>
				<dt><label>{L_RECIPIENT}:</label></dt>
				<dd><strong>{USERNAME}</strong></dd>
			</dl>
			<dl>
				<dt><label for="subject">{L_SUBJECT}:</label></dt>
				<dd><input class="inputbox autowidth" type="text" name="subject" size="50" maxlength="100" tabindex="1" value="{SUBJECT}" /></dd>
			</dl>
		<dl>
			<dt><label for="message">{L_MESSAGE_BODY}:</label><br />
			<span>{L_MESSAGE_BODY_DESC}</span></dt>
			<dd><textarea class="inputbox" name="message" rows="15" cols="76" tabindex="4">{MESSAGE}</textarea></dd>
		</dl>
		<dl>
			<dt>&nbsp;</dt>
			<dd><label for="cc_email"><input type="checkbox" name="cc_email" value="1" checked="checked" tabindex="5" /> {L_CC_EMAIL}</label></dd>
		</dl>
		</fieldset>
	</div>
	<span class="corners-bottom"><span></span></span></div>
</div>
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	<div class="content">
		<fieldset class="submit-buttons">
			<input type="submit" tabindex="6" name="submit" class="button1" value="{L_SEND_EMAIL}" />
		</fieldset>
	</div>
	<span class="corners-bottom"><span></span></span></div>
</div>
</form>
<div class="navbar">
		<div class="inner"><span class="corners-top"><span></span></span>
		<ul class="linklist">
			<li>
				<a class="icon-home" href="{U_INDEX}">{L_INDEX}</a>  
			</li>
			<li class="rightside"><a href="{U_GROUP_CP}">{L_USERGROUPS}</a> &bull; {S_TIMEZONE}</li>
		</ul>
		<span class="corners-bottom"><span></span></span></div>
</div>