{% include 'overall_header.html' %}

<a id="maincontent"></a>

<h1>{{ lang('ACP_VC_SETTINGS') }}</h1>

<p>{{ lang('ACP_VC_SETTINGS_EXPLAIN') }}</p>

<p>{{ lang('ACP_VC_EXT_GET_MORE') }}</p>

{% if ERRORS %}
<div class="errorbox">
	<h3>{{ lang('WARNING') }}</h3>
	<p>{{ ERRORS|join('<br>') }}</p>
</div>
{% endif %}

<form id="acp_captcha" method="post" action="{{ U_ACTION }}">

<fieldset>
<legend>{{ lang('GENERAL_OPTIONS') }}</legend>

<dl>
	<dt><label for="enable_confirm">{{ lang('VISUAL_CONFIRM_REG') ~ lang('COLON') }}</label><br /><span>{{ lang('VISUAL_CONFIRM_REG_EXPLAIN') }}</span></dt>
	<dd>
		<label><input type="radio" class="radio" id="enable_confirm" name="enable_confirm" value="1"{% if REG_ENABLE %} checked="checked"{% endif %}/> {{ lang('ENABLED') }}</label>
		<label><input type="radio" class="radio" name="enable_confirm" value="0"{% if not REG_ENABLE %} checked="checked"{% endif %}/> {{ lang('DISABLED') }}</label>
	</dd>
</dl>
<dl>
	<dt><label for="max_reg_attempts">{{ lang('REG_LIMIT') ~ lang('COLON') }}</label><br /><span>{{ lang('REG_LIMIT_EXPLAIN') }}</span></dt>
	<dd><input id="max_reg_attempts" type="number" min="0" max="9999" name="max_reg_attempts" value="{{ REG_LIMIT }}" /></dd>
</dl>
<dl>
	<dt><label for="max_login_attempts">{{ lang('MAX_LOGIN_ATTEMPTS') ~ lang('COLON') }}</label><br /><span>{{ lang('MAX_LOGIN_ATTEMPTS_EXPLAIN') }}</span></dt>
	<dd><input id="max_login_attempts" type="number" min="0" max="9999" name="max_login_attempts" value="{{ MAX_LOGIN_ATTEMPTS }}" /></dd>
</dl>
<dl>
	<dt><label for="enable_post_confirm">{{ lang('VISUAL_CONFIRM_POST') ~ lang('COLON') }}</label><br /><span>{{ lang('VISUAL_CONFIRM_POST_EXPLAIN') }}</span></dt>
	<dd>
		<label><input type="radio" class="radio" id="enable_post_confirm" name="enable_post_confirm" value="1"{% if POST_ENABLE %} checked="checked"{% endif %}/> {{ lang('ENABLED') }}</label>
		<label><input type="radio" class="radio" name="enable_post_confirm" value="0"{% if not POST_ENABLE %} checked="checked"{% endif %}/> {{ lang('DISABLED') }}</label>
	</dd>
</dl>
<dl>
	<dt><label for="confirm_refresh">{{ lang('VISUAL_CONFIRM_REFRESH') ~ lang('COLON') }}</label><br /><span>{{ lang('VISUAL_CONFIRM_REFRESH_EXPLAIN') }}</span></dt>
	<dd>
		<label><input type="radio" class="radio" id="confirm_refresh" name="confirm_refresh" value="1"{% if CONFIRM_REFRESH %} checked="checked"{% endif %}/> {{ lang('ENABLED') }}</label>
		<label><input type="radio" class="radio" name="confirm_refresh" value="0"{% if not CONFIRM_REFRESH %} checked="checked"{% endif %}/> {{ lang('DISABLED') }}</label>
	</dd>
</dl>
</fieldset>

<fieldset>
<legend>{{ lang('AVAILABLE_CAPTCHAS') }}</legend>
	<dl>
		<dt><label for="captcha_select">{{ lang('CAPTCHA_SELECT') ~ lang('COLON') }}</label><br><span>{{ lang('CAPTCHA_SELECT_EXPLAIN') }}</span></dt>
		<dd>{{ FormsSelect(CAPTCHA_SELECT | merge({id: 'captcha_select', onchange: "(document.getElementById('acp_captcha')).submit()"})) }}</dd>
	</dl>
	{% if S_CAPTCHA_HAS_CONFIG %}
	<dl>
		<dt><label for="configure">{{ lang('CAPTCHA_CONFIGURE') ~ lang('COLON') }}</label><br /><span>{{ lang('CAPTCHA_CONFIGURE_EXPLAIN') }}</span></dt>
		<dd><input class="button2" type="submit" id="configure" name="configure" value="{{ lang('CONFIGURE') }}" /></dd>
	</dl>
	{% endif %}
</fieldset>

{% if CAPTCHA_PREVIEW_TPL %}
<fieldset>
	<legend>{{ lang('PREVIEW') }}</legend>
	{% include CAPTCHA_PREVIEW_TPL %}
</fieldset>
{% endif %}

<fieldset>
	<legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>
	<p class="submit-buttons">
		<input class="button1" type="submit" id="main_submit" name="main_submit" value="{{ lang('SUBMIT') }}" />&nbsp;
		<input class="button2" type="reset" id="form_reset" name="reset" value="{{ lang('RESET') }}" />&nbsp;
	</p>
	{{ S_FORM_TOKEN }}
</fieldset>
</form>

{% include 'overall_footer.html' %}
