{% import 'forms.html' as forms %}
<!-- INCLUDE overall_header.html -->

<a id="maincontent"></a>

<h1>{{ lang('STORAGE_TITLE') }}</h1>

<p>{{ lang('STORAGE_TITLE_EXPLAIN') }}</p>

<form id="acp_storage" method="post" action="{U_ACTION}">

	{% for storage in STORAGES %}
		<fieldset>
			<legend>{{ lang('STORAGE_' ~ storage.get_name | upper ~ '_TITLE') }}</legend>
			<dl>
				<dt><label for="{{ storage.get_name }}">{{ lang('STORAGE_SELECT') }}{{ lang('COLON') }}</label><br /><span>{{ lang('STORAGE_SELECT_DESC') }}</span></dt>
				<dd>
					<select id="{{ storage.get_name }}" name="{{ storage.get_name }}[provider]" data-togglable-settings="true">
						{% for provider in PROVIDERS if provider.is_available %}
							<option value="{{ provider.get_class }}"{{ attribute(config, 'storage\\' ~ storage.get_name ~ '\\provider') ==  provider.get_class ? ' selected' : '' }} data-toggle-setting="#{{ storage.get_name }}_{{ provider.get_name }}_settings">
								{{ lang('STORAGE_ADAPTER_' ~ provider.get_name | upper ~ '_NAME') }}
							</option>
						{% endfor %}
					</select>
				</dd>
			</dl>
		</fieldset>

		{% for provider in PROVIDERS if provider.is_available %}
			<fieldset id="{{ storage.get_name }}_{{ provider.get_name }}_settings">
				<legend>{{ lang('STORAGE_' ~ storage.get_name | upper ~ '_TITLE') }} - {{ lang('STORAGE_ADAPTER_' ~ provider.get_name | upper ~ '_NAME') }}</legend>
				{% for name, options in provider.get_options %}
					{% set l_name = 'STORAGE_ADAPTER_' ~ provider.get_name | upper ~ '_OPTION_' ~ name | upper %}
					{% set options = options|merge({'name': storage.get_name ~ '[' ~ name ~ ']'}) %}
					{% set options = options|merge({'value': attribute(CONFIG, 'storage\\' ~ storage.get_name ~ '\\config\\' ~ name)}) %}
					{{ forms.form_row(
						forms.form_label(l_name),
						forms.form_control(options)
					) }}
				{% endfor %}
			</fieldset>
		{% endfor %}
	{% endfor %}

	<fieldset class="submit-buttons">
		<legend>{{ lang('SUBMIT') }}</legend>
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
		<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
		{S_FORM_TOKEN}
	</fieldset>
</form>

<!-- INCLUDE overall_footer.html -->
