{% include 'overall_header.html' %}

<a id="maincontent"></a>


<h1>{{ lang('CONTINUE') }}</h1>

<p>{{ lang('CONTINUE_EXPLAIN') }}</p>
{% if CONTINUE_PROGRESS %}<div class="centered-text" style="display: inline-block;">{{ CONTINUE_PROGRESS }}</div>{% endif %}

<form id="acp_search_continue" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>
		<p class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" onclick="popup_progress_bar('{{ S_ACTION }}');" />&nbsp;
			<input class="button2" type="submit" id="cancel" name="cancel" value="{{ lang('CANCEL') }}" />
		</p>
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>

{% include 'overall_footer.html' %}
