<!-- INCLUDE overall_header.html -->

<a id="maincontent"></a>

	<h1>{{lang( 'EXTENSIONS_ADMIN') }}</h1>

	<p>{{lang( 'EXTENSIONS_EXPLAIN') }}</p>

	<fieldset class="quick">
		<span class="small"><a href="https://www.phpbb.com/go/customise/extensions/3.1" target="_blank">{{ lang('BROWSE_EXTENSIONS_DATABASE') }}</a> &bull; <a href="javascript:phpbb.toggleDisplay('gallery_settings');">{{ lang('SETTINGS') }}</a></span>
	</fieldset>

	<form id="gallery_settings" method="post" action="{{ U_ACTION }}" style="display:none">

	<fieldset>
		<legend>{{ lang('EXTENSIONS_GALLERY_SETTINGS') }}</legend>
		<dl>
			<dt><label for="force_unstable">{L_FORCE_UNSTABLE}{L_COLON}</label></dt>
			<dd>
				<label><input type="radio" id="force_unstable" name="force_unstable" class="radio" value="1"<!-- IF FORCE_UNSTABLE --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
				<label><input type="radio" name="force_unstable" class="radio" value="0"<!-- IF not FORCE_UNSTABLE --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
			</dd>
		</dl>

		<p class="submit-buttons">
			<input class="button1" type="submit" name="update" value="{{ lang('SUBMIT') }}" />&nbsp;
			<input class="button2" type="reset" name="reset" value="{{ lang('RESET') }}" />
			<input type="hidden" name="action" value="set_gallery_settings" />
			{{ S_FORM_TOKEN }}
		</p>
	</fieldset>
	</form>

	<table class="table1">
		<col class="row1" ><col class="row1" ><col class="row1" ><col class="row2" >
	<thead>
		<tr>
			<th style="width: 21%;">{{ lang("EXTENSION_NAME") }}</th>
			<th style="text-align: center; width: 80px;">{{ lang("VERSION") }}</th>
			<th>{{ lang("DESCRIPTION") }}</th>
			<th style="text-align: center; width: 100px;">{{ lang("EXTENSION_ACTIONS") }}</th>
		</tr>
	</thead>
	<tbody>
	{% for extension in extensions %}
		<tr>
			<td>
				<strong>{{ extension.display_name }}</strong><br />
				<span>
					<a href="{{ extension.url }}">{{ lang('HOMEPAGE') }}</a>
				</span>
			</td>
			<td style="text-align: center">{{ extension.version }}</td>
			<td>{{ extension.description }}</td>
			<td style="text-align: center">
				{% if extension.name in managed_extensions %}
					<span style="color: #228822;">{{ lang('INSTALLED') }}</span>
				{% elseif extension.name in installed_extensions -%}
					<span style="color: #BC2A4D;">{{ lang('INSTALLED_MANUALLY') }}</span> (<a href="{{ U_ACTION }}&amp;action=manage&amp;extension={{ extension.composer_name|url_encode }}">{{ lang('MANAGE') }}</a>)
				{% else -%}
					<a href="{{ U_ACTION }}&amp;action=install&amp;extension={{ extension.composer_name|url_encode }}">{{ lang('INSTALL') }}</a>
				{%- endif -%}
			</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>

<!-- INCLUDE overall_footer.html -->
