/*  phpBB 3.0 Admin Style Sheet
    ------------------------------------------------------------------------
	Original author:	subBlue ( http://www.subBlue.com/ )
	Copyright 2006 phpBB Group ( http://www.phpbb.com/ )
    ------------------------------------------------------------------------
*/


/* General markup styles
---------------------------------------- */
* {
	/* Reset browsers default margin, padding and font sizes */
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
	height: 100%;
	margin-bottom: 1px;
	background-color: #E4EDF0;
}

body {
	/* Text-Sizing with ems: http://www.clagnut.com/blog/348/ */
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	color: #536482;
	background: #E4EDF0 url("../images/bg_header.gif") 0 0 repeat-x;
	font-size: 62.5%;			/* This sets the default font size to be equivalent to 10px */
	margin: 0;
}

img {
	border: 0;
}

h1 {
	font: bold 1.8em "Lucida Grande", 'Trebuchet MS', Verdana, sans-serif;
	text-decoration: none; 
	color: #333333;
}

h2, caption {
	font: bold 1.2em "Lucida Grande", Arial, Helvetica, sans-serif;
	text-decoration: none; 
	line-height: 120%; 
	text-align: left;
	margin-top: 25px;
}

.rtl h2, .rtl caption {
	text-align: right;
}

h3, h4 {
	font: bold 1.2em "Lucida Grande", Arial, Helvetica, sans-serif;
	text-decoration: none; 
	line-height: 120%; 
	margin-top: 25px;
}

p {
	margin-bottom: 0.7em;
	line-height: 1.4em;
	font-size: 1.1em;
}

ul {
	list-style: disc;
	margin: 0 0 1em 2em;
}

.rtl ul {
	margin: 0 2em 1em 0;
}

hr {
	border: 0 none;
	border-top: 1px solid #999999;
	margin-bottom: 5px;
	padding-bottom: 5px;
	height: 1px;
}

.small { 
	font-size: 1em; 
}


/* General links  */
a:link, a:active, a:visited { 
	color: #006699; 
	text-decoration: none; 
}

a:hover { 
	color: #DD6900; 
	text-decoration: underline; 
}


/* Main blocks
---------------------------------------- */
#wrap {
	padding: 0 20px 15px 20px;
	min-width: 615px;
}

#page-header {
	text-align: right;
	background: url("../images/phpbb_logo.gif") 0 0 no-repeat;
	height: 84px;
}

.rtl #page-header {
	text-align: left;
}

#page-header h1 {
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	font-weight: normal;
	padding-top: 15px;
}

#page-header p {
	font-size: 1.1em;
}

#page-body {
	clear: both;
}

#page-footer {
	clear: both;
	font-size: 1em;
	text-align: center;
}

#content {
	padding: 30px 10px 10px 10px;
}

#content h1 {
	line-height: 1.2em; 
	margin-bottom: 0px;
}

#main {
	float: left;
	width: 76%;
	margin: 0 0 0 3%;
	min-height: 350px;
}

.rtl #main {
	float: right;
	margin: 0 3% 0 0;
}

* html #main { 
	height: 350px; 
}


/* Tabbed menu
   Based on: http://www.alistapart.com/articles/slidingdoors2/
----------------------------------------*/
#tabs {
	line-height: normal;
	margin: 0 0 -6px 7px;
	min-width: 570px;
}

.rtl #tabs {
	margin: 0 7px -6px 0;
}

#tabs ul {
	margin:0;
	padding: 0;
	list-style: none;
}

#tabs li {
	display: inline;
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-weight: bold;
}

#tabs a {
	float: left;
	background:url("../images/bg_tabs1.gif") no-repeat 0% -35px;
	margin: 0 1px 0 0;
	padding: 0 0 0 6px;
	text-decoration: none;
	position: relative;
}

.rtl #tabs a {
	float: right;
	margin: 0 0 0 1px;
	padding: 0 6px 0 0;
}

#tabs a span {
	float: left;
	display: block;
	background: url("../images/bg_tabs2.gif") no-repeat 100% -35px;
	padding: 7px 12px 6px 6px;
	color: #536482;
	white-space: nowrap;
	text-transform: uppercase;
}

.rtl #tabs a span {
	float: left;
	padding: 7px 6px 6px 12px;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs a span, .rtl #tabs a span { float:none;}
/* End hack */

#tabs a:hover span {
	color: #DD6900;
}

#tabs #activetab a {
	background-position: 0 0px;
	border-bottom: 1px solid #FFFFFF;
}

#tabs #activetab a span {
	background-position: 100% 0px;
	padding-bottom: 7px;
	color: #333333;
}

#tabs a:hover {
	background-position: 0 -70px;
}

#tabs a:hover span {
	background-position:100% -70px;
}

#tabs #activetab a:hover span {
	color: #333333;
}


/* Main Panel
---------------------------------------- */
.panel {
	margin: 4px 0;
	background-color: #FFFFFF;
	border: solid 1px  #A9B8C2;
}

span.corners-top, span.corners-bottom, 
span.corners-top span, span.corners-bottom span {
	display: none;
}


/* Sub-navigation Menu
---------------------------------------- */
#menu {
	float: left;
	width: 20%;
	font-size: 100%;
	padding: 0;
}

.rtl #menu {
	float: right;
}

#menu p {
	font-size: 1em;
}

#menu ul {
	list-style: none;
	margin: 0;
}

/* Default list state */
#menu li {
	font-size: 1em;
	font-weight: bold;
	display: inline;
}

/* Link styles for the sub-section links */
#menu li span {
	display: block;
	padding: 3px 2px 3px 10px;
	text-decoration: none;
	font-weight: normal;
	color: #006699;
	font-weight: bold;
	background-color: #ECECEC;
	border-top: 1px solid #FFFFFF;
}

#menu li a:hover span, #menu li#activemenu span, #menu li a:hover {
	text-decoration: none;
	background-color: #FFA34F;
	color: #FFFFFF;
}

#menu li span.completed {
	text-decoration: none;
	background-color: #B9DBB3;
	color: #006699;
}

#menu li.header {
	display: block;
	padding: 5px;
	font-size: 0.9em;
	font-family: "Lucida Grande", Verdana;
	color: #FFA34F; 
	font-weight: bold;
	background: #006699 url("../images/cellpic3.gif") 0 0 repeat-x;
	margin-top: 5px;
	text-transform: uppercase;
}

#menu li#activemenu a span {
	text-decoration: none;
	font-weight: bold;
	color: #000;
	background-color: #DADFE4;
}

#menu li#activemenu a:hover span {
	text-decoration: none;
	color: #000;
}


/* Table styles
---------------------------------------- */

table {
	width: 100%;
	/*background-color: #ACBBC6;*/
}

th, td { 
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	text-align: left;
}

.rtl th, .rtl td {
	text-align: right;
}

th {
	padding: 6px 4px;
	color: #FFA34F;
	font-weight: bold;
	background: #006699 url("../images/cellpic3.gif") 0 0 repeat-x;
	white-space: nowrap;
}

td {
	padding: 4px;
	line-height: 1.2em;
}

.row1 { background-color: #EFEFEF;}
.row2 { background-color: #DEE3E7;}
.row3 { background-color: #D1D7DC;}
.row4 { background-color: #E4E8EB;}
.col1 { background-color: #DEE3E7;}
.col2 { background-color: #EFEFEF;}

.spacer {
	background-color: #D1D7DC;
	height: 1px;
	line-height: 1px;
}

table.type2 {
	border: none;
	background: none;
	padding: 0;
	width: 0;
}

table.type2 th {
	background: none;
	border-top: none;
	text-align: center;
	color: #FFA34F;
	padding: 2px 0;
}

table.type2 td {
	padding: 0;
}


/* General form styles
----------------------------------------*/
fieldset {
	background-color: #DDD;
	padding: 10px;
	margin: 15px 0;
	border-right: 1px solid #AFAEAA;
	border-bottom: 1px solid #AFAEAA;
	border-left: 1px solid #D5D5C8;
	border-top: 1px solid #D5D5C8;
	background-color: #ECECEC;	
	position: relative;
}

.rtl fieldset {
	border-right: 1px solid #D5D5C8;
	border-bottom: 1px solid #AFAEAA;
	border-left: 1px solid #AFAEAA;
	border-top: 1px solid #D5D5C8;
}

legend {
	position: absolute;
	top: -0.5em;
	font-size: 1.1em;
	color:#006699;
	font-family: "Lucida Grande",Arial,Verdana,Sans-serif;
	font-weight: bold;
	line-height: 100%;
	text-transform: uppercase;
}

fieldset p {
	font-size: 1.1em;
}

input {
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 100%;
	font-weight: normal;
	background-color: #FAFAFA;
	border-left: 1px solid #AFAEAA;
	border-top: 1px solid #AFAEAA;
	border-right: 1px solid #D5D5C8;
	border-bottom: 1px solid #D5D5C8;
	color: #333333;
	padding: 2px;
	cursor: text;
	vertical-align: middle;
}

.rtl input {
	border-left: 1px solid #D5D5C8;
	border-top: 1px solid #AFAEAA;
	border-right: 1px solid #AFAEAA;
	border-bottom: 1px solid #D5D5C8;
}

input.langvalue, textarea.langvalue {
	width: 90%;
}

select {
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 100%;
	font-weight: normal;
	font-style: normal;
	cursor: default;
	vertical-align: middle;
	width: auto;
	border: 1px solid #666666;
	padding: 1px;
	background-color: #FAFAFA;
}

optgroup {
	font-weight: bold;
}

option {
	padding: 0 1em 0 0;
}

.rtl option {
	padding: 0 0 0 1em;
}

.sep {
	color: black;
	font-weight: bold;
}

textarea {
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 100%;
	width: 60%;
	padding: 2px;
	background-color: #FAFAFA;
	border-left: 1px solid #AFAEAA;
	border-top: 1px solid #AFAEAA;
	border-right: 1px solid #D5D5C8;
	border-bottom: 1px solid #D5D5C8;
	cursor: text;
}

.rtl textarea {
	border-left: 1px solid #D5D5C8;
	border-top: 1px solid #AFAEAA;
	border-right: 1px solid #AFAEAA;
	border-bottom: 1px solid #D5D5C8;
}

label {
	cursor: pointer;
	font-size: 1.1em;
	padding: 0 5px 0 0;
}

.rtl label {
	padding: 0 0 0 5px;
}

label input {
	font-size: 100%;
	vertical-align: middle;
}

label img {
	vertical-align: middle;
}

fieldset.quick, p.quick {
	margin: 0 0 5px;
	padding: 5px 0 0; 
	border: none;
	background-color: transparent;
	text-align: right;
	font-size: 1.1em;
}

.rtl fieldset.quick, .rtl p.quick {
	text-align: left;
}

fieldset.quick legend {
	display: none;
}

fieldset.tabulated {
/*	background-color: #DADFE4;*/
	background: none;
	margin: 0;
	padding: 0;
	padding-top: 5px;
	border: 0;
}

fieldset.tabulated legend {
	display: none;
}

fieldset.nobg {
	margin: 15px 0 0 0;
	padding: 0;
	border: none;
	background-color: transparent;
	font-size: 1.1em;
}

fieldset.display-options {
	margin: 15px 0 2px 0;
	padding: 0 0 4px 0;
	border: none;
	background-color: transparent;
	text-align: center;
	font-size: 1.1em;
}

fieldset.display-options select, fieldset.display-options input, fieldset.display-options label {
	font-size: 100%;
	vertical-align: middle;
}

select option.disabled {
	background-color: #bbb;
	color: #fff;
}

/* Special case inputs */
select#board_timezone, 
select#full_folder_action {
	width: 95%;
}


/* Definition list layout for forms
   Other general def. list properties defined in prosilver_main.css
---------------------------------------- */
dl {
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
}

dt {
	float: left;
	width: auto;
}

.rtl dt {
	float: right;
}

dd { color: #000;}
dd + dd { padding-top: 5px;}
dt span { padding: 0 5px 0 0;}
.rtl dt span { padding: 0 0 0 5px;}

dt .explain { font-style: italic;}

dt label {
	font-size: 100%;
	text-align: left;
	font-weight: bold;
}

.rtl dt label {
	text-align: right;
}

dd label {
	white-space: nowrap;
	margin: 0 10px 0 0;
}

.rtl dd label {
	margin: 0 0 0 10px;
}

html>body dd label input { vertical-align: text-bottom;}	/* Tweak for Moz to align checkboxes/radio buttons nicely */

dd input, 
dd select {
	max-width: 100%;
}

dd textarea {
	width: 100%;
}

input.radio, input.perm_cb {
	width: auto !important;
	background-color: transparent;
	border: none;
	cursor: default;
}

dd select {
	width: auto;
	font-size: 100%;
}

fieldset dl {
	margin-bottom: 10px;
	font-size: 1.1em;
}

fieldset dt {
	width: 45%;
	text-align: left;
	border: none;
	border-right: 1px solid #CCC;
	padding-top: 3px;
}

.rtl fieldset dt {
	text-align: right;
	border: none;
	border-left: 1px solid #CCC;
}

fieldset dd {
	margin: 0 0 0 45%;
	padding: 0 0 0 5px;
	border: none;
	border-left: 1px solid #CCC;
	vertical-align: top;
}

.rtl fieldset dd {
	margin: 0 45% 0 0;
	padding: 0 5px 0 0;
	border: none;
	border-right: 1px solid #CCC;
}

dd.full {
	margin: 0;
	border: 0;
	padding: 0;
	padding-top: 3px;
	text-align: center;
	width: 95%;
}

/* Hover highlights for form rows */
fieldset dl:hover dt label {
	color: #000000;
}

input:focus, textarea:focus {
	color: #000000;
}


/* Submit button fieldset or paragraph
---------------------------------------- */
fieldset.submit-buttons {
	text-align: center;
	background-color: #DADFE4;
	margin: 0;
	padding: 4px;
	margin-top: -1px;
}

p.submit-buttons {
	text-align: center;
	margin: 0;
	padding: 4px;
	margin-top: 10px;
}

fieldset.submit-buttons input, p.submit-buttons input {
	padding: 3px 2px;
}

fieldset.submit-buttons legend {
	display: none;
}


/* Input field styles
---------------------------------------- */
.inputbox {
	border-left: 1px solid #AFAEAA;
	border-top: 1px solid #AFAEAA;
	border-right: 1px solid #D5D5C8;
	border-bottom: 1px solid #D5D5C8;
	background-color: #E3DFD8;
	color: #111111;
	font-size: 100%;
	padding:2px;
	cursor: text;
	width: 75%;
}

.rtl .inputbox {
	border-left: 1px solid #D5D5C8;
	border-top: 1px solid #AFAEAA;
	border-right: 1px solid #AFAEAA;
	border-bottom: 1px solid #D5D5C8;
}

select.inputbox {
	cursor: pointer;
	padding: 0;
	width: auto;
}

.inputbox:hover {
	border: 1px solid #AFAEAA;
	background-color: #E9E9E2;
}

.inputbox:focus {
	border: 1px solid #BC2A4D;
	background-color: #E9E9E2;
	color: #BC2A4D;
}

input.full,
textarea.full {
	width: 99%;
}

* html input.full, * html textarea.full { width: 95%;}
input.medium { width: 50%;}
input.narrow { width: 25%;}
input.tiny { width: 10%;}
input.autowidth { width: auto !important;}
.box2 .inputbox { background-color: #E9E9E9;}


/* Pagination
---------------------------------------- */
.pagination {
	height: 1%; /* IE tweak (holly hack) */
	width: auto;
	text-align: right;
	margin-top: 5px;
	font-size: 1em;
	padding-bottom: 2px;
}

.rtl .pagination {
	text-align: left;
}

.pagination strong,
.pagination b {
	font-weight: normal;
}

.pagination span strong {
	padding: 0 2px;
	margin: 0 2px;
	font-weight: normal;
	color: #FFFFFF;
	background: #069;
	border: 1px solid #069;
}

.pagination span a, .pagination span a:link, .pagination span a:visited, .pagination span a:active {
	font-weight: normal;
	text-decoration: none;
	color: #5C758C;
	margin: 0 2px;
	padding: 0 2px;
	background: #ECEDEE;
	border: 1px solid #B4BAC0;
}

.pagination span a:hover {
	border-color: #069;
	background: #069;
	color: #FFF;
	text-decoration: none;
}

.pagination img {
	vertical-align: middle;
}


/* Form button styles
---------------------------------------- */
a.button1, input.button1, input.button3, 
a.button2, input.button2  {
	width: auto !important;
	padding: 1px 3px 0 3px;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	color: #000;
	background-color: #EFEFEF;
	cursor: pointer;
}

a.button1, input.button1 {
	font-weight: bold;
	border: 1px solid #666666; 
}

a.button2, input.button2 {
	border: 1px solid #666666;
}

/* <a> button in the style of the form buttons */
a.button1, a.button1:link, a.button1:visited, a.button1:active,
a.button2, a.button2:link, a.button2:visited, a.button2:active {
	text-decoration: none;
	color: #000000;
	padding: 4px 8px;
}

input.disabled {
	font-weight: normal;
	color: #666;
}

/* Action Highlighting
---------------------------------------- */
.success {
	color: #282 !important;
}

.error {
	color: #BC2A4D !important;
}

.successbox, .errorbox {
	padding: 10px;
	margin: 20px 0;
	color: #1F5B13;
	text-align: center;
}

.successbox {
	background-color: #B9DBB3;
}

.errorbox {
	background-color: #ECD7DA;
	color: #990000;
}

.successbox h3, .errorbox h3 {
	font-weight: bold;
	font-size: 1.4em;
	margin-bottom: 0.5em;
}

.successbox p, .errorbox p {
	font-size: 1.1em;
	margin-bottom: 0;
}

.successbox a, .errorbox a {
	font-weight: bold;
	text-decoration: none;
}


/* Special cases for the error page */
#errorpage #page-header a {
	font-weight: bold;
	line-height: 6em;
}

#errorpage #content {
	padding-top: 10px;
}

#errorpage #content h1 {
	color: #DF075C;
}

#errorpage #content h2 {
	margin-top: 20px;
	margin-bottom: 5px;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 5px;
	color: #333333;
}

/* Tooltip for permission roles */
.tooltip {
	width: 200px;
	color: #000;
	text-align: center;
}

.tooltip span.top {
	background: #EFEFEF;
	font-weight: bold;
}

.tooltip span.bottom {
	padding: 5px;
	color: #000;
	background: #fff;
}

/*
 Format Buttons for signature editor
*/
#format-buttons {
	margin: 15px 0 2px 0;
}

#format-buttons input, #format-buttons select {
	vertical-align: middle;
}

/* Nice method for clearing floated blocks without having to insert any extra markup
   From http://www.positioniseverything.net/easyclearing.html */
.clearfix:after, #tabs:after, .row:after, #content:after, fieldset dl:after, #page-body:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

/* Hide from Mac IE, Windows IE uses this as it doesn't support the :after method above \*/
.clearfix, #tabs, .row, #content, fieldset dl, #page-body {
	height: 1%;
}
/* End hide */

/* Syntax Highlighting
---------------------------------------- */
.sourcenum {
	color: gray;
	font-family: Monaco, 'Courier New', monospace;
	font-size: 125%;
	font-weight: bold;
	line-height: 120%;
	text-align: right;
	padding: 0px;
}

.rtl .sourcenum {
	text-align: left;
}

.source {
	font-family: Monaco, 'Courier New', monospace;
	font-size: 125%;
	line-height: 120%;
	padding: 0px;
}

.syntaxbg {
	color: #FFFFFF;
}

.syntaxcomment {
	color: #FF8000;
}

.syntaxdefault {
	color: #0000BB;
}

.syntaxhtml {
	color: #000000;
}

.syntaxkeyword {
	color: #007700;
}

.syntaxstring {
	color: #DD0000;
}

/* Permission interface
---------------------------------------- */

fieldset.perm legend {
	text-transform: none;
}
fieldset.perm legend input{
	height: 1.1em;
}

/* Permission sections */ 
fieldset.perm .perm_simple {
	text-align: left;
	padding-top: 3px;
}

.rtl fieldset.perm .perm_simple {
	text-align: right;
}

fieldset.perm .perm_advanced {
	padding: 10px 0 0 5px;
	vertical-align: top;
	clear: right;
}

.rtl fieldset.perm .perm_advanced {
	padding: 10px 5px 0 0;
	clear: left;
}

fieldset.perm .perm_switch {
	float: right;
	font-size: 1.1em;
}

.rtl fieldset.perm .perm_switch {
	float: left;
}

.perm_switch a {
	text-decoration: underline;
}

/* Tabbed menu */
.perm_cat {
	line-height: normal;
	margin: 0 0 0 7px;
	min-width: 570px;
	font-size: 1em;
}

.rtl .perm_cat {
	margin: 0 7px 0 0;
}

.perm_cat ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.perm_cat li {
	display: inline;
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-weight: bold;
}

.perm_cat a {
	float: left;
	background: url("../images/bg_tabs1.gif") no-repeat 0% -35px;
	margin: 0 1px 0 0;
	padding: 0 0 0 6px;
	text-decoration: none;
	position: relative;
}

.rtl .perm_cat a {
	float: right;
	margin: 0 0 0 1px;
	padding: 0 6px 0 0;
}

.perm_cat a span.tabbg {
	float: left;
	display: block;
	background: url("../images/bg_tabs2.gif") no-repeat 100% -35px;
	padding: 7px 12px 6px 6px;
	color: #536482;
	white-space: nowrap;
}

.rtl .perm_cat a span.tabbg {
	float: left;
	padding: 7px 6px 6px 12px;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
.perm_cat a span.tabbg, .rtl .perm_cat a span.tabbg { float: none;}
/* End hack */

.perm_cat a:hover span.tabbg {
	color: #DD6900;
}

.perm_cat .activetab a {
	background-position: 0 0px;
}

.perm_cat .activetab a span.tabbg {
	background-position: 100% 0px;
	padding-bottom: 7px;
	color: #333333;
}

.perm_cat a:hover {
	background-position: 0 -70px;
}

.perm_cat a:hover span.tabbg {
	background-position: 100% -70px;
}

.perm_cat .activetab a:hover span.tabbg {
	color: #333333;
	background-position: 100% 0px;
}

.perm_cat .activetab a:hover {
	background-position: 0 0px;
}

.perm_cat a span.colour {
	border: 1px solid #536482;
	display: block;
	float: left;
	width: 10px;
	height: 10px;
	margin: 0 5px 0 0;
}

.rtl .perm_cat a span.colour {
	float: right;
	margin: 0 0 0 5px;
}

.perm_cat .activetab span.colour {
	border-color: #333333;
}

.perm_cat a:hover span.colour {
	border-color: #DD6900;
}

.perm_cat .activetab a:hover span.colour {
	border-color: #333333;
}

/* Permission preset colours */
.perm_preset_yes span.colour,
.yes {
	background-color: #86F786;
}

.perm_preset_custom span.colour {
	background-color: #B2BBDD;
}

.perm_preset_never span.colour {
	background-color: #DD0000;
}

.perm_preset_no span.colour,
.never {
	background-color: #EFB0B2;
}

/* Pemrission panel
---------------------------------------- */
.perm_panel {
	float: left;
	background-color: #FFF;
	width: 100%;
	border: 1px solid #A9B8C2;
	margin-top: -1px;
}

.rtl .perm_panel {
	float: right;
}

.perm_panel span.corners-top {
	background-image: url("../images/corners_left2.gif");
}

.perm_panel span.corners-top span {
	background-image: url("../images/corners_right2.gif");
}

.perm_panel span.corners-bottom {
	background-image: url("../images/corners_left2.gif");
}

.perm_panel span.corners-bottom span {
	background-image: url("../images/corners_right2.gif");
}

.perm_panel span.corners-top, .perm_panel span.corners-bottom, 
.perm_panel span.corners-top span, .perm_panel span.corners-bottom span {
	font-size: 1px;
	line-height: 1px;
	display: block;
	height: 5px;
	background-repeat: no-repeat;
}

.perm_panel span.corners-top {
	background-image: url("../images/corners_left2.gif");
	background-position: 0 0;
	margin: 0 0;
}

.perm_panel span.corners-top span {
	background-image: url("../images/corners_right2.gif");
	background-position: 100% 0;
}

.perm_panel span.corners-bottom {
	background-image: url("../images/corners_left2.gif");
	background-position: 0 100%;
	margin: 0 0;
	clear: both;
}

.perm_panel span.corners-bottom span {
	background-image: url("../images/corners_right2.gif");
	background-position: 100% 100%;
}

/* Permission table
---------------------------------------- */
.perm_panel .tablewrap {
	margin: 0 10px;
}

.perm_panel table {
	width: 100%;
}

.perm_panel th {
	text-transform: none;
}

.perm_panel th.value {
	text-align: center;
}

.perm_panel th.name {
	text-align: left;
	width: auto;
	text-transform: none;
}

.rtl .perm_panel th.name {
	text-align: right;
}

.perm_panel th.permission_name {
	border: none;
	color: #536482;
	font-weight: normal;
}

.perm_panel th.permission_name a.trace {
	display: inline;
}

.perm_panel th.row3 {
	background-image: none;
	background-color: #D1D7DC; 
}

.perm_panel th.row4 {
	background-image: none;	
	background-color: #E4E8EB; 
}

.perm_panel th a:link, .perm_panel th a:hover, .perm_panel th a:visited {
	display: block;
	color: #FFA34F; 
	text-decoration: underline; 
}

.perm_panel td {
	padding: 0;
	text-align: center;
}

.perm_panel td label {
	display: block;
}
