<!DOCTYPE html>
<html dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- IF META -->{META}<!-- ENDIF -->
<title>{PAGE_TITLE}</title>

<link href="{T_FONT_AWESOME_LINK}" rel="stylesheet">
<link href="{{ ADMIN_ROOT_PATH }}style/admin.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet" type="text/css" media="screen" />

<script type="text/javascript">
// <![CDATA[
var jump_page = '{LA_JUMP_PAGE}{L_COLON}';
var on_page = '{CURRENT_PAGE}';
var per_page = '{PER_PAGE}';
var base_url = '{{ BASE_URL|e('js') }}';

/**
* Jump to page
*/
function jumpto()
{
	var page = prompt(jump_page, on_page);

	if (page !== null && !isNaN(page) && page == Math.floor(page) && page > 0)
	{
		if (base_url.indexOf('?') == -1)
		{
			document.location.href = base_url + '?start=' + ((page - 1) * per_page);
		}
		else
		{
			document.location.href = base_url.replace(/&amp;/g, '&') + '&start=' + ((page - 1) * per_page);
		}
	}
}

/**
* Mark/unmark checkboxes
* id = ID of parent container, name = name prefix, state = state [true/false]
*/
function marklist(id, name, state)
{
	var parent = document.getElementById(id) || document[id];

	if (!parent)
	{
		return;
	}

	var rb = parent.getElementsByTagName('input');

	for (var r = 0; r < rb.length; r++)
	{
		if (rb[r].name.substr(0, name.length) == name && rb[r].disabled !== true)
		{
			rb[r].checked = state;
		}
	}
}

/**
* Find a member
*/
function find_username(url)
{
	popup(url, 760, 570, '_usersearch');
	return false;
}

/**
* Window popup
*/
function popup(url, width, height, name)
{
	if (!name)
	{
		name = '_popup';
	}

	window.open(url.replace(/&amp;/g, '&'), name, 'height=' + height + ',resizable=yes,scrollbars=yes, width=' + width);
	return false;
}

// ]]>
</script>

<!-- EVENT acp_overall_header_head_append -->

{$STYLESHEETS}

<!-- EVENT acp_overall_header_stylesheets_after -->

</head>

<body class="{S_CONTENT_DIRECTION} {BODY_CLASS} nojs">

<!-- EVENT acp_overall_header_body_before -->

<div id="wrap">
	<div id="page-header">
		<h1>{L_ADMIN_PANEL}</h1>
		<p><a href="{U_ADM_INDEX}">{L_ADMIN_INDEX}</a> &bull; <a href="{U_INDEX}">{L_FORUM_INDEX}</a></p>
		<p id="skip"><a href="#acp">{L_SKIP}</a></p>
	</div>

	<div id="page-body">
		<div id="tabs">
			<ul>
				{% for category in acp_menu %}
					{% if category.ITEMS %}
						<li class="tab{% if category.S_ACTIVE %} activetab{% endif %}"><a href="{{ category.U_VIEW }}">{{ category.TITLE }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>

		<div id="acp">
				<div id="content">
					<div id="menu">
						<p>{L_LOGGED_IN_AS}<br /><strong>{USERNAME}</strong> [&nbsp;<a href="{U_LOGOUT}">{L_LOGOUT}</a>&nbsp;][&nbsp;<a href="{U_ADM_LOGOUT}">{L_ADM_LOGOUT}</a>&nbsp;]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

						{% for subcategory in acp_menu_active.ITEMS %}
							<div class="menu-block{% if subcategory.S_ACTIVE %} active{% endif %}{% if not subcategory.S_CAT %} no-header{% endif %}">
								{% if subcategory.S_CAT or subcategory.ITEMS %}
									<a class="header" href="javascript:void(0);">{{ subcategory.TITLE }}</a>
									<ul>
										{% for item in subcategory.ITEMS %}
											<li{% if item.S_ACTIVE %} id="activemenu"{% endif %}>
												<a href="{{ item.U_VIEW }}">
													<span>{{ item.TITLE }}</span>
												</a>
											</li>
										{% endfor %}
									</ul>
								{% elseif not subcategory.S_CAT %}
									<ul>
										<li{% if subcategory.S_ACTIVE %} id="activemenu"{% endif %}>
											<a href="{{ subcategory.U_VIEW }}">
												<span>{{ subcategory.TITLE }}</span>
											</a>
										</li>
									</ul>
								{% endif %}
							</div>
						{% endfor %}
					</div>

					<div id="main">
						<div class="main">
							{% if CONTAINER_EXCEPTION !== false %}
							<div class="errorbox">
								<p>{{ lang('CONTAINER_EXCEPTION') }}</p><br />
								<p>{{ lang('EXCEPTION') }}{{ lang('COLON') }} {{ CONTAINER_EXCEPTION.getMessage() }}</p>
								<pre>{{ CONTAINER_EXCEPTION.getTraceAsString() }}</pre>
							</div>
							{% endif %}
