
 /* General page style. The scroll bar colours only visible in IE5.5+ */
body {
    margin:0px;
    font-family:Verdana, Arial, Helvetica,sans-serif;
    color:#aaaaaa;
    background-repeat : no-repeat; 
    background-position : 0 0; 
    background-attachment : fixed;
	scrollbar-face-color: #c1c1c1;
	scrollbar-shadow-color: #aaaaaa;
	scrollbar-highlight-color: #c1c1c1;
	scrollbar-3dlight-color: #ffffff;
	scrollbar-darkshadow-color:#666666;
	scrollbar-track-color: #aaaaaa;
	scrollbar-arrow-color: #c1c1c1;  
}

/* General font families for common tags */
font,th,td,p { font-family: Verdana, Arial, Helvetica, sans-serif }
a:link,a:active,a:visited { color : #006699; }
a:hover		{ text-decoration: underline; color : #DD6900; }
hr	{ height: 0px; border: solid #D1D7DC 0px; border-top-width: 1px;}


/* This is the border line & background colour round the entire page */
.bodyline	{ background-color: #FFFFFF; }

.bg { background-color: #E6E6E6; }
/* This is the outline round the main forum tables */
.forumline	{ background-color: #FFFFFF; }

td {  
    font-family: Verdana, Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
    font-size: 12px;
    color: #333333;
    line-height: 135%;

}
/* Main table cell colours and backgrounds */
td.row1	{ background-color: #EAEAEA; }
td.row2	{ 
    background-color: #FFFFFF; 
    background-image: url(images/row1_bg.jpg);
    background-repeat: no-repeat;
    background-position: 0% 0%;
}
td.row3	{ background-color: #AAAAAA; }
td.row4	{ background-color: #DDDDDD; }

.fontrow3 { color: #000000; font-size:10px; font-weight:bold; }

/*
  This is for the table cell above the Topics, Post & Last posts on the index.php page
  By default this is the fading out gradiated silver background.
  However, you could replace this with a bitmap specific for each forum
*/


/* Header cells - the blue and silver gradient backgrounds */
th	{
	color: #000000; font-size: 11px; font-weight : bold;
	height: 25px;

}

td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom {
	border: #FFFFFF; border-style: solid; height: 28px;
}


/*
  Setting additional nice inner borders for the main table cells.
  The names indicate which sides the border will be on.
  Don't worry if you don't understand this, just ignore it :-)
*/
td.cat,td.catHead,td.catBottom {
	height: 29px;
	border-width: 0px 0px 0px 0px;
}

/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1,h2	{
			font-weight: bold; font-size: 22px; font-family: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
			text-decoration: none; line-height : 120%; color : #000000;
}


/* General text */
.gen { font-size : 12px; }
.genmed { font-size : 11px; }
.gensmall { font-size : 10px; }
.gen,.genmed,.gensmall { color : #000000; }
a.gen,a.genmed,a.gensmall { color: #006699; text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover	{ color: #DD6900; text-decoration: underline; }


/* The register, login, search etc links at the top of the page */
.mainmenu		{ font-size : 10px; color : #000000 }
a.mainmenu		{ text-decoration: none; color : #006699;  }
a.mainmenu:hover{ text-decoration: underline; color : #DD6900; }


/* Forum category titles */
.cattitle		{ font-weight: bold; font-size: 12px ; letter-spacing: 1px; color : #000000}
a.cattitle:link,a.cattitle:active,a.cattitle:visited { text-decoration: none; color : #000000; }
a.cattitle:hover{ text-decoration: underline; color : #000000}


/* Forum title: Text and link to the forums used in: index.php */
.forumlink		{ font-weight: bold; font-size: 12px; color : #006699; }
a.forumlink 	{ text-decoration: none; color : #006699; }
a.forumlink:hover{ text-decoration: underline; color : #DD6900; }


/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav			{ font-size: 10px; color : #000000;}
a.nav			{ text-decoration: none; color : #006699; }
a.nav:hover		{ text-decoration: underline; }

.navsmall			{ font-weight: bold; font-size: 10px; color : #000000;}
a.navsmall			{ text-decoration: none; color : #006699; }
a.navsmall:hover		{ text-decoration: underline; }

/* titles for the topics: could specify viewed link colour too */
.topictitle			{ font-weight: bold; font-size: 11px; color : #000000; }
a.topictitle:link   { text-decoration: none; color : #006699; }
a.topictitle:visited { text-decoration: none; color : #5493B4; }
a.topictitle:hover	{ text-decoration: underline; color : #DD6900; }


/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name			{ font-size : 11px; color : #000000;}

/* Location, number of posts, post date etc */
.postdetails		{ font-size : 10px; color : #000000; }


/* The content of the posts (body of text) */
.postbody { font-size : 12px;}
a.postlink:link	{ text-decoration: none; color : #006699 }
a.postlink:visited { text-decoration: none; color : #5493B4; }
a.postlink:hover { text-decoration: underline; color : #DD6900}


/* Quote & Code blocks */
.code {
	font-family: Courier, 'Courier New', sans-serif; font-size: 11px; color: #006600;
	background-color: #FAFAFA; border: #D1D7DC; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}

.quote {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #444444; line-height: 125%;
	background-color: #FAFAFA; border: #D1D7DC; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}


/* Copyright and bottom info */
.copyright { 
    font-size: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    color: #333333;
    letter-spacing: 0px;
    padding-top:0px;
}
a.copyright:link,a.copyright:active,a.copyright:visited { text-decoration: none; color : #333333; }
a.copyright:hover{ text-decoration: none; color : #DD6900 }

/* Form elements */
input,textarea, select {
	color : #000000;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	border-color : #000000;
}

/* The text input fields background colour */
select {
	background-color : #FFFFFF;
}

input { text-indent : 2px; }

/* The buttons used for bbCode styling in message post */

.input.button,input.mainoption,input.liteoption{
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #555555;
    border-right: 1px solid #555555;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 11px;
    height:19px; 
    color: #000000;
	letter-spacing: 0px;
	padding-top: 2px;
	padding-left:3px;
	padding-right:3px;
    background-image: url(./images/button_bg.gif);
}

/* This is the line in the posting page which shows the rollover
  help line. This is actually a text box, but if set to be the same
  colour as the background no one will know ;)
*/
.helpline { background-color: #DEE3E7; border-style: none; }

.input.normal,input.post, textarea.post  {
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
    border-right: 0px;
    background-color: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;    
    color: #000000;
    background-image: url(./images/form_shadow.gif);
}

.backquote {
    padding-left:30px;
}

/* Import the fancy styles for IE only (NS4.x doesn't use the @import function) */
@import url("formIE.css");
