/* -------------------------------------------------------------- /*
	$Print
/* -------------------------------------------------------------- */

/* stylelint-disable selector-max-compound-selectors */

/* Lots still TODO here! */

/* General markup styles */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
}

a:link {
	text-decoration: none;
	color: #000000;
}

a:visited {
	text-decoration: none;
	color: #000000;
}

a:active {
	text-decoration: none;
	color: #000000;
}

img,
.noprint,
.navbar,
.box1,
.divider,
.signature {
	display: none;
}

/* Display smilies (Bug #47265) */
.content img {
	display: inline;
}

/* Container for the main body */
.wrap {
	margin: 0 30px;
}

p {
	font-size: 85%;
}

.copyright {
	font-size: 75%;
}

.page-number {
	font-size: 75%;
	text-align: right;
	float: right;
	width: auto;
}

h1,
h2,
h3,
h1 a,
h2 a,
h3 a {
	font-family: "Trebuchet MS", georgia, Verdana, sans-serif;
	font-weight: bold;
	text-decoration: none;
	background: none;
	color: #000000;
}

h1 {
	font-size: 26px;
}

h2 {
	font-size: 21px;
	margin-top: 20px;
}

h3 {
	font-size: 18px;
	margin-top: 20px;
}

.content {
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
	overflow: hidden;
	margin-bottom: 14px;
}

.postbody .content {
	font-size: 14px;
}

/* CSS2 Print tip from: http://www.alistapart.com/articles/goingtoprint/ */
.postbody a:link,
.postbody a:visited,
.postbody a:hover,
.postbody a:active {
	font-size: 100%;
	background: none;
	color: #666666;
	padding: 2px 4px;
}

html > body .postbody a:link:after,
html > body .postbody a:visited:after {
	font-size: 90%;
	text-decoration: none;
	content: " (" attr(href) ") ";
}

hr {
	background-color: #999999;
	border-width: 0;
	height: 1px;
}

.author {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 75%;
}

.date {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 75%;
	text-align: right;
	position: relative;
	float: right;
}

/* Don't want to print url for names or titles in content area */
.postbody .author a:link,
.postbody .author a:visited,
html > body .postbody .author a:link:after,
html > body .postbody .author a:visited:after,
.postquote .quote-by a:link,
.postquote .quote-by a:visited,
html > body .postquote .quote-by a:link:after,
html > body .postquote .quote-by a:visited:after,
html > body .postbody h1 a:link:after,
html > body .postbody h2 a:link:after,
.post-buttons a:after {
	text-decoration: none;
	content: "" !important;
}

/* Poster profile */
.postprofile {
	display: none;
}

.grip-show {
	display: none;
}

/* Quote */
.postquote,
blockquote {
	font-size: 85%;
	line-height: 18px;
	border: 1px #999999 solid;
	position: relative;
	margin: 12px 154px 12px 34px;
	padding: 6px;
}

.postquote img {
	display: none;
}

.postquote span {
	display: block;
}

.postquote span .postquote {
	font-size: 100%;
}

.quote-by,
blockquote cite {
	font-weight: bold;
	color: #000000;
	display: block;
}

/* List */
ol,
ul {
	margin-left: 20px;
}

/* Misc page elements */
.spacer {
	clear: both;
}

code { display: block; }

/* Accessibility tweaks: Mozilla.org */
.skip_link {
	display: none;
}

.codebox p {
	display: none;
}

/* stylelint-disable declaration-property-unit-whitelist */
.emoji {
	width: 1em;
	min-width: 18px;
	height: 1em;
	min-height: 18px;
}
/* stylelint-enable declaration-property-unit-whitelist */

/* stylelint-enable selector-max-compound-selectors */
