{% for bool in loops.bool %}
{% if bool.FIELD_LENGTH eq 1 %}
	{% for options in bool.options %}<label for="{{ bool.FIELD_IDENT }}_{{ options.OPTION_ID }}"><input type="radio" class="radio" name="{{ bool.FIELD_IDENT }}" id="{{ bool.FIELD_IDENT }}_{{ options.OPTION_ID }}" value="{{ options.OPTION_ID }}"{{ options.CHECKED }} /> {{ options.VALUE }}</label> {% endfor %}
{% else %}
	<input type="checkbox" class="radio" name="{{ bool.FIELD_IDENT }}" id="{{ bool.FIELD_IDENT }}"{% if bool.FIELD_VALUE %} checked="checked"{% endif %} />
{% endif %}
{% endfor %}
