{% for date in loops.date %}
<label for="{{ date.FIELD_IDENT }}_day">{{ lang('DAY') }}{{ lang('COLON') }} <select name="{{ date.FIELD_IDENT }}_day" id="{{ date.FIELD_IDENT }}_day">{{ date.S_DAY_OPTIONS }}</select></label>
<label for="{{ date.FIELD_IDENT }}_month">{{ lang('MONTH') }}{{ lang('COLON') }} <select name="{{ date.FIELD_IDENT }}_month" id="{{ date.FIELD_IDENT }}_month">{{ date.S_MONTH_OPTIONS }}</select></label>
<label for="{{ date.FIELD_IDENT }}_year">{{ lang('YEAR') }}{{ lang('COLON') }} <select name="{{ date.FIELD_IDENT }}_year" id="{{ date.FIELD_IDENT }}_year">{{ date.S_YEAR_OPTIONS }}</select></label>
{% endfor %}
