<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="phpBB Default Rule" stopProcessing="true">
					<match url=".*" />
					<action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page." />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>