<!-- IF S_IN_TITANIA -->
	<!-- INCLUDECSS {T_TITANIA_THEME_PATH}/stylesheet.css -->
	<!-- IF S_PLUPLOAD_EXT -->
		<!-- INCLUDECSS {T_THEME_PATH}/plupload.css -->
	<!-- ENDIF -->
	<!-- IF SCREENSHOT_UPLOADER -->
		<!-- INCLUDEJS {T_TITANIA_ASSETS_PATH}/javascript/jquery-ui.min.js?assets_version={T_ASSETS_VERSION} -->
	<!-- ENDIF -->
	<!-- INCLUDEJS {T_TITANIA_ASSETS_PATH}/javascript/common.js?assets_version={T_ASSETS_VERSION} -->
	<!-- INCLUDEJS {T_TITANIA_ASSETS_PATH}/javascript/ajax.js?assets_version={T_ASSETS_VERSION} -->
<!-- ENDIF -->
