body { font-size: 12px; }

#acp, #forumtable, p, td, th, .forumline th, .forumlinenb th, input, select, textarea { font-size: 14px; }

.gen { font-size: 16px; }
.genmed { font-size: 14px; }
.gensmall { font-size: 12px; }
.genmini { font-size: 11px; }
.genmicro { font-size: 10px; }
.gennull{ font-size: 0px; }

.gotopage { font-size: 12px; }
.pagination { font-size: 16px; }

.copyright { font-size: 12px; }

.code, .quote, post-text .code h6, .post-text .code-header, .post-text blockquote .quote-user, .post-text blockquote .quote-nouser { font-size: 14px; }
.post-text, .post-text blockquote, .post-text .code { font-size: 16px; }


