Options +FollowSymLinks

<IfModule mod_rewrite.c>
#
# Uncomment the following line if you will be using any of the URL
# rewriting below.
#
#RewriteEngine on

#
# Uncomment the statement below if you want to make use of
# HTTP authentication and it does not already work.
# This could be required if you are for example using PHP via Apache CGI.
#
#RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]

#
# Uncomment the following 3 lines if you want to rewrite URLs passed through
# the front controller to not use app.php in the actual URL. In other words,
# an controller that would by default be accessed at /app.php/my/controller
# can now be accessed at /my/controller directly.
#
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ app.php [QSA,L]
</IfModule>

<Files "config.php">
Order Allow,Deny
Deny from All
</Files>

<Files "common.php">
Order Allow,Deny
Deny from All
</Files>
