<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="phpBB config.php Rule" patternSyntax="Wildcard" stopProcessing="true">
					<match url="*config.php" />
					<action type="AbortRequest" />
				</rule>
				<rule name="phpBB common.php Rule" patternSyntax="Wildcard" stopProcessing="true">
					<match url="*common.php" />
					<action type="AbortRequest" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
