<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Extension Routes" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="true" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
					</conditions>
					<action type="Rewrite" url="app.php" appendQueryString="true" />
				</rule>
			</rules>
		</rewrite>
		<security>
			<requestFiltering>
				<hiddenSegments>
					<add segment="cache" />
					<add segment="files" />
					<add segment="includes" />
					<add segment="phpbb" />
					<add segment="store" />
					<add segment="vendor" />
					<add segment="config.php" />
					<add segment="common.php" />
				</hiddenSegments>
			</requestFiltering>
		</security>
	</system.webServer>
	<location path="config">
		<system.webServer>
			<security>
				<requestFiltering>
					<hiddenSegments>
						<add segment="default" />
						<add segment="development" />
						<add segment="installer" />
						<add segment="production" />
						<add segment="test" />
						<add segment=".htaccess" />
					</hiddenSegments>
				</requestFiltering>
			</security>
		</system.webServer>
	</location>
	<location path="ext">
		<system.webServer>
			<security>
				<requestFiltering>
					<hiddenSegments>
						<remove segment="phpbb" />
					</hiddenSegments>
				</requestFiltering>
			</security>
		</system.webServer>
	</location>
	<location path="images/avatars">
		<system.webServer>
			<security>
				<requestFiltering>
					<hiddenSegments>
						<add segment="upload" />
					</hiddenSegments>
				</requestFiltering>
			</security>
		</system.webServer>
	</location>
</configuration>
