<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<security>
			<requestFiltering>
				<hiddenSegments>
					<add segment="cache" />
					<add segment="files" />
					<add segment="store" />­
					<add segment="config.php" />
					<add segment="common.php" />
				</hiddenSegments>
			</requestFiltering>
		</security>
	</system.webServer>
	<location path="images/avatars">
		<system.webServer>
			<security>
				<requestFiltering>
					<hiddenSegments>
						<add segment="upload" />
					</hiddenSegments>
				</requestFiltering>
			</security>
		</system.webServer>
	</location>
</configuration>
