/*

      The original subSilver Theme for phpBB version 2+
    Created by subBlue design  [ http://www.subBlue.com ]
  Modified incrementally by psoTFX [ http://www.phpbb.com ]
             Copyright 2000, 2004 phpBB Group

  $Id$

*/


/* 
	LAYOUT
*/
#wrapheader { width: 100%; height: 150px; background-image: url('./images/background.gif'); background-repeat: repeat-x; }
#wrapcentre { position: relative; width: 95%; left: 2.5%; padding-top: 40px; padding-bottom: 20px; }
#wrapfooter { position: relative; width: 95%; left: 2.5%; text-align: center; }
#wrapnav { width: 100%; margin: 0px; background-color: #ECECEC; border-width: 1px; border-style: solid; border-color: #A9B8C2; }

#logodesc { width: 95%; margin-left: 2.5%; margin-right: 2.5%; }

#menubar { position: absolute; width: 95%; top: 115px; left: 2.5%; }
#datebar { position: absolute; width: 95%; top: 145px; left: 2.5%; }
#findbar { width: 100%; margin: 0px; padding: 0px; border: 0px; }

.forumrules { background-color: #ECECEC; border-width: 1px; border-style: solid; border-color: #A9B8C2; padding: 4px; font-weight: normal; font-size: 60%; font-family: Verdana, Arial, Helvetica, sans-serif; }

#pageheader { }
#pagecontent { }
#pagefooter { }

#poll { }
#postrow { }
#postdata { }


/* 
	TEXT
*/
body { scrollbar-face-color: #DEE3E7; scrollbar-highlight-color: #FFFFFF; scrollbar-shadow-color: #DEE3E7; scrollbar-3dlight-color: #D1D7DC; scrollbar-arrow-color: #006699; scrollbar-track-color: #EFEFEF; scrollbar-darkshadow-color: #98AAB1; margin: 0px; border: 0px; padding: 0px; background-color: white; font-family: Verdana, Helvetica, sans-serif; }

h1 { margin: 0px; color: black; font-family: 'Trebuchet MS', Verdana, sans-serif; font-weight: bold; font-size: 140%; text-decoration: none; }
h2 { margin: 0px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 130%; text-decoration: none; line-height: 120%; }
h3 { margin: 0px; font-size: 120%; font-weight: bold; font-family: Verdana, serif; line-height: 120%; }
h4 { margin: 0px; font-size: 80%; font-weight: bold; }

p.moderators { margin: 0px; float: left; color: black; font-size: 60%; font-weight: bold; }
p.linkmcp { margin: 0px; float: right; font-size: 60%; white-space: nowrap; }
p.breadcrumbs { margin: 0px; float: left; color: black; font-size: 60%; font-weight: bold; white-space: normal; }
p.datetime { margin: 0px; float: right; font-size: 60%; white-space: nowrap; }
p.searchbar { margin: 0px; font-size: 60%; white-space: nowrap; } 
p.searchbarreg { margin: 0px; float: right; font-size: 60%; white-space: nowrap; }

p.forumdesc { margin: 0px 4px 0px 0px; padding: 4px; font-size: 60%; }
a.forumlink { color: #069; font-size: 80%; font-weight: bold; }

p.topictitle { margin: 1px 0px; display: inline; font-size: 65%; font-weight: bold; }
p.topicauthor { margin: 1px 0px; font-size: 70%; }
p.topicdetails { margin: 1px 0px; font-size: 65%; }

p.postreported { margin: 1px 0px; color: red; }
p.postapprove { margin: 1px 0px; color: green; }

.postauthor { color: #000000; font-size: 70%; }
.postdetails { color: #000000; font-size: 60%; }
.postbody { font-size: 75%; line-height: 140%; }
.posthilit { background-color: yellow; }


.nav { margin: 0px; color: black; font-size: 60%; font-weight: bold; }
.pagination { padding: 4px; color: black; font-size: 60%; font-weight: bold; }


.cattitle {  }


.gen { margin: 1px 1px; font-size: 80%; }
.genmed { margin: 1px 1px; font-size: 70%; }
.gensmall { margin: 1px 1px; font-size: 60%; }

.copyright { color: #444; font-weight: normal; font-size: 60%; font-family: Verdana, Arial, Helvetica, sans-serif;}
.titles { color: black; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 130%; text-decoration: none;  }
.error { color: red; }

/* 
	TABLE
*/
th { height: 28px; color: #FFA34F; font-size: 70%; font-weight: bold; background-color: #006699; background-image: url('./images/cellpic3.gif'); white-space: nowrap; padding-left: 5px; padding-right: 5px; }
.tablebg { background-color: #A9B8C2; }
.catdiv { height: 28px; margin: 0px; padding: 0px; border: 0px; background-color: white; background-image: url('./images/cellpic2.jpg'); background-repeat: repeat-y; }
.cat { height: 28px; margin: 0px; padding: 0px; border: 0px; background-color: #C7D0D7; background-image: url('./images/cellpic1.gif'); text-indent: 4px; }
.row1 { background-color: #ECECEC; padding: 4px; }
.row2 { background-color: #DCE1E5; padding: 4px; }
.row3 { background-color: #C0C8D0; padding: 4px; }
.rowgood { background-color: #C2D6CD; padding: 4px; }
.rowneutral { background-color: #CAC1D7; padding: 4px; }
.rowbad { background-color: #D7C1C3; padding: 4px; }
.spacer { background-color: #D1D7DC; }
hr { height: 1px; border-width: 0px; background-color: #D1D7DC; color: #D1D7DC }


/* 
	ANCHOR
*/
a:link { color: #005784; text-decoration: none; }
a:active { color: #005784; text-decoration: none; }
a:visited { color: #005784; text-decoration: none; }
a:hover { color: #D46400; text-decoration: underline; }
a.topictitle:visited { color: #5493B4; text-decoration: none; }
a.th:link { color: #FFA34F; text-decoration: none; }
a.th:active { color: #FFA34F; text-decoration: none; }
a.th:visited { color: #FFA34F; text-decoration: none; }
a.th:hover {  color: #FFA34F; text-decoration: underline; }


/*
	FORM
*/
form { margin: 0px; padding: 0px; border: 0px; } 
input { color: black; font-family: Verdana, serif; font-size: 70%; font-weight: normal; }
textarea { background-color: white; color: black; font-family: Verdana, serif; font-size: 70%; font-weight: normal; border-color: black; border-style: solid; border-width: 1px; }
select { color: black; background-color: white; font-family: Verdana, serif; font-size: 70%; font-weight: normal; border-color: black; border-style: solid; border-width: 1px; }
.post { background-color: white; border-style: solid; border-width: 1px; }
.btnbbcode { color: black; font-weight: normal; font-size: 70%; font-family: Verdana, Helvetica, sans-serif; background-color: #EFEFEF; border-style: solid; border-width: 1px; }
.btnmain { font-weight: bold; background-color: #FAFAFA; border-style: solid; border-width: 1px; }
.btnlite { font-weight: normal; background-color: #FAFAFA; border-style: solid; border-width: 1px; }
.helpline { background-color: #DEE3E7; border-style: none; }


/* 
	BBCODE 
*/
.quotetitle { margin: 10px 5px 0px 5px; padding: 4px; border-width: 1px 1px 0px 1px; border-style: solid; border-color: #A9B8C2; color: black; background-color: #A9B8C2; font-size: 8pt; }
.quotecontent { margin: 0px 5px 10px 5px; padding: 5px; border-color: #A9B8C2; border-width: 0px 1px 1px 1px; border-style: solid; color: black; font-weight: normal; font-size: 8pt; font-family: Verdana, sans-serif; background-color: #FAFAFA; }

.codetitle { margin: 10px 5px 0px 5px; padding: 4px; border-width: 1px 1px 0px 1px; border-style: solid; border-color: #A9B8C2; color: black; background-color: #A9B8C2; font-size: 8pt; }
.codecontent { margin: 0px 5px 10px 5px; padding: 5px; border-color: #A9B8C2; border-width: 0px 1px 1px 1px; border-style: solid; color: black; font-weight: normal; color: #006600; font-weight: normal; font-size: 8pt; font-family: 'Courier New', monospace; background-color: #FAFAFA; }

.syntaxbg { color: #FFFFFF; }
.syntaxcomment { color: #FF8000; }
.syntaxdefault { color: #0000BB; }
.syntaxhtml { color: #000000; }
.syntaxkeyword { color: #007700; }
.syntaxstring { color: #DD0000; }

/*
	PM
*/

.pm_message_reported_colour { background-color: #FFFFFF; }
.pm_marked_colour { background-color: #000000; }
.pm_replied_colour { background-color: #A9B8C2; }
.pm_friend_colour { background-color: #007700; }
.pm_foe_colour { background-color: #DD0000; }

/* 
	OTHER
*/
img { border: 0px; }
.blue {	color: #006699; }
