/*

    The original subSilver Theme for phpBB version 2+
  Created by subBlue design  [ http://www.subBlue.com ]
           Copyright 2000, 2003 phpBB Group

  $Id$

*/


/* 
	TEXT
*/
body { scrollbar-face-color: #DEE3E7; scrollbar-highlight-color: #FFFFFF; scrollbar-shadow-color: #DEE3E7; scrollbar-3dlight-color: #D1D7DC; scrollbar-arrow-color: #006699; scrollbar-track-color: #EFEFEF; scrollbar-darkshadow-color: #98AAB1; background-color: white; background-image: url('./images/background.gif'); background-repeat: repeat-x; font-family: Verdana, Helvetica, sans-serif; margin: 0px; border: 0px; padding: 0px; }
h1 { color: black; font-family: 'Trebuchet MS', Verdana, sans-serif; font-weight: bold; font-size: 140%; text-decoration: none; margin: 0px; }
h2 { font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 120%; text-decoration:none; line-height: 120%; }
h3 { font-size: 120%; font-weight: bold; font-family: Verdana, serif; line-height: 120%; }
.nav { color: black; font-size: 60%; font-weight: bold; }
.helpline { background-color: #DEE3E7; border-style: none; }
.forumlink { color: #006699; font-size: 80%; font-weight: bold; }
.cattitle { font-size: 80%; font-weight: bold; }
.topictitle { font-size: 65%; font-weight: bold; }
.topicauthor { font-size: 70%; }
.topicdetails { font-size: 65%; }
.postauthor { color: #000000; font-size: 70%; }
.postdetails { color: #000000; font-size: 60%; }
.postbody { font-size: 75%; line-height: 140%; }
.posthilit { background-color: yellow; }
.gen { font-size: 80%; }
.genmed { font-size: 70%; }
.gensmall { font-size: 60%; }
.copyright { color: #444; font-weight: normal; font-size: 60%; font-family: Verdana, Arial, Helvetica, sans-serif;}
.mainmenu { color: black; font-size: 70%; }
.titles { color: black; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 130%; text-decoration: none;  }


/* 
	TABLE
*/
th { color: #FFA34F; font-size: 70%; font-weight: bold; background-color: #006699; background-image: url('./images/cellpic3.gif'); height: 28px; }
.tablebg { background-color: #A9B8C2; }
.catdiv { background-color: white; background-image: url('./images/cellpic2.jpg'); background-repeat: repeat-y; height: 28px; }
.cat { background-color: #C7D0D7; background-image: url('./images/cellpic1.gif'); height: 28px; }
.row1 { background-color: #ECECEC; }
.row2 { background-color: #DCE1E5; }
.row3 { background-color: #C7CFD7; }
.spacer { background-color: #D1D7DC; }
hr { background-color: #D1D7DC; color: #D1D7DC; height: 1px; border-width: 0px; }


/* 
	ANCHOR
*/
a:link { color: #005784; text-decoration: none; }
a:active { color: #005784; text-decoration: none; }
a:visited { color: #005784; text-decoration: none; }
a:hover { color: #D46400; text-decoration: underline; }
a.topictitle:visited { color: #5493B4; text-decoration: none; }
a.th:link { color: #FFA34F; text-decoration: none; }
a.th:active { color: #FFA34F; text-decoration: none; }
a.th:visited { color: #FFA34F; text-decoration: none; }
a.th:hover {  color: #FFA34F; text-decoration: underline; }


/*
	FORM
*/
input { color: black; font-family: Verdana, serif; font-size: 70%; font-weight: normal;}
textarea { color: black; font-family: Verdana, serif; font-size: 70%; font-weight: normal; border-color: black; border-style: solid; border-width: 1px; }
select { color: black; background-color: white; font-family: Verdana, serif; font-size: 70%; font-weight: normal; border-color: black; border-style: solid; border-width: 1px; }
.post { background-color: white; border-style: solid; border-width: 1px; }
.btnbbcode { color: black; font-weight: normal; font-size: 70%; font-family: Verdana, Helvetica, sans-serif; background-color: #EFEFEF; border-style: solid; border-width: 1px; }
.btnmain { font-weight: bold; background-color: #FAFAFA; border-style: solid; border-width: 1px; }
.btnlite { font-weight: normal; background-color: #FAFAFA; border-style: solid; border-width: 1px; }


/* 
	BBCODE 
*/
.quote { color: #444; font-weight: normal; font-size: 70%; font-family: Verdana, sans-serif; border-color: #D1D7DC; border-width: 1px; border-style: solid; background-color: #FAFAFA; }
.code { color: #006600; font-weight: normal; font-size: 75%; font-family: 'Courier New', monospace; border-color: #D1D7DC; border-width: 1px; border-style: solid; background-color: #FAFAFA; }
.syntaxbg { color: #FFFFFF; }
.syntaxcomment { color: #FF8000; }
.syntaxdefault { color: #0000BB; }
.syntaxhtml { color: #000000; }
.syntaxkeyword { color: #007700; }
.syntaxstring { color: #DD0000; }
