/* EN Language Pack */
.imageset.icon_contact_aim {
	background-image: url("./icon_contact_aim.gif");
	padding-left: 72px;
	padding-top: 20px;
}
.imageset.icon_contact_email {
	background-image: url("./icon_contact_email.gif");
	padding-left: 72px;
	padding-top: 20px;
}
.imageset.icon_contact_icq {
	background-image: url("./icon_contact_icq.gif");
	padding-left: 72px;
	padding-top: 20px;
}
.imageset.icon_contact_jabber {
	background-image: url("./icon_contact_jabber.gif");
	padding-left: 72px;
	padding-top: 20px;
}
.imageset.icon_contact_msnm {
	background-image: url("./icon_contact_msnm.gif");
	padding-left: 72px;
	padding-top: 20px;
}
.imageset.icon_contact_pm {
	background-image: url("./icon_contact_pm.gif");
	padding-left: 72px;
	padding-top: 20px;
}
.imageset.icon_contact_yahoo {
	background-image: url("./icon_contact_yahoo.gif");
	padding-left: 72px;
	padding-top: 20px;
}
.imageset.icon_contact_www {
	background-image: url("./icon_contact_www.gif");
	padding-left: 72px;
	padding-top: 20px;
}
.imageset.icon_post_delete {
	background-image: url("./icon_post_delete.gif");
	padding-left: 20px;
	padding-top: 20px;
}
.imageset.icon_post_edit {
	background-image: url("./icon_post_edit.gif");
	padding-left: 90px;
	padding-top: 20px;
}
.imageset.icon_post_info {
	background-image: url("./icon_post_info.gif");
	padding-left: 20px;
	padding-top: 20px;
}
.imageset.icon_post_quote {
	background-image: url("./icon_post_quote.gif");
	padding-left: 90px;
	padding-top: 20px;
}
.imageset.icon_post_report {
	background-image: url("./icon_post_report.gif");
	padding-left: 20px;
	padding-top: 20px;
}
.imageset.icon_user_online {
	background-image: url("./icon_user_online.gif");
	padding-left: 72px;
	padding-top: 20px;
}
.imageset.icon_user_offline {
	background-image: url("./icon_user_offline.gif");
	padding-left: 72px;
	padding-top: 20px;
}
.imageset.icon_user_profile {
	background-image: url("./icon_user_profile.gif");
	padding-left: 72px;
	padding-top: 20px;
}
.imageset.icon_user_search {
	background-image: url("./icon_user_search.gif");
	padding-left: 72px;
	padding-top: 20px;
}
.imageset.icon_user_warn {
	background-image: url("./icon_user_warn.gif");
	padding-left: 20px;
	padding-top: 20px;
}
.imageset.button_pm_new {
	background-image: url("./button_pm_new.gif");
	padding-left: 97px;
	padding-top: 27px;
}
.imageset.button_pm_reply {
	background-image: url("./button_pm_reply.gif");
	padding-left: 90px;
	padding-top: 20px;
}
.imageset.button_topic_locked {
	background-image: url("./button_topic_locked.gif");
	padding-left: 97px;
	padding-top: 27px;
}
.imageset.button_topic_new {
	background-image: url("./button_topic_new.gif");
	padding-left: 97px;
	padding-top: 27px;
}
.imageset.button_topic_reply {
	background-image: url("./button_topic_reply.gif");
	padding-left: 97px;
	padding-top: 27px;
}
