<div class="send-stats-tile">
    <h2 class="viglink-header-h2"><span class="viglink-header"></span></h2>
    <p>{L_ACP_VIGLINK_SETTINGS_EXPLAIN}<br /><br />{ACP_VIGLINK_SETTINGS_CHANGE}</p>
    <dl class="send-stats-settings">
        <dt>
            <input name="enable-viglink" id="enable-viglink" type="checkbox" <!-- IF S_ENABLE_VIGLINK == 1 -->checked="checked"<!-- ENDIF -->/>
            <label for="enable-viglink"></label>
        </dt>
        <dd>{L_ENABLE}</dd>
    </dl>
</div>

<!-- INCLUDECSS @phpbb_viglink/viglink.css -->
