<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}" xml:lang="{S_USER_LANG}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={S_CONTENT_ENCODING}">
<meta http-equiv="Content-Style-Type" content="text/css" />
{META}
<title>ACP</title>
<!-- This should not be included direct from phpBB but later from MXP template folder wich means can be ported to internal backend with no change in this file -->
<!-- BEGIN switch_phpbb_stylesheet-->
<link rel="stylesheet" href="../templates/SwiftBlue/theme/stylesheet.css" type="text/css" >
<!-- END switch_phpbb_stylesheet-->

<link rel="stylesheet" href="../templates/SwiftBlue/admin/admin.css" type="text/css" >

</head>
<body class="{S_CONTENT_DIRECTION}" bgcolor="{T_BODY_BGCOLOR}" text="{T_BODY_TEXT}" link="{T_BODY_LINK}" vlink="{T_BODY_VLINK}">

<a name="top"></a>