#
# phpBB Imageset Configuration File
#
# @package phpBB3
# @copyright (c) 2005 phpBB Group 
# @license http://opensource.org/licenses/gpl-license.php GNU Public License 
#
#
# At the left is the name, please do not change this
# At the right the value is entered
# For on/off options the valid values are on, off, 1, 0, true and false
#
# Values get trimmed, if you want to add a space in front or at the end of
# the value, then enclose the value with single or double quotes. 
# Single and double quotes do not need to be escaped.
#
# 

# General Information about this style
name = subSilver
copyright = &copy; phpBB Group, 2003
version = 2.1.1

# Images 
img_site_logo = sitelogo.gif*94*170
img_btn_post = {LANG}/btn_post.gif*27*97
img_btn_post_pm = {LANG}/btn_post_pm.gif*27*97
img_btn_reply = {LANG}/btn_reply.gif*27*97
img_btn_reply_pm = {LANG}/btn_reply_pm.gif*20*90
img_btn_locked = {LANG}/btn_locked.gif*27*97
img_btn_profile = {LANG}/btn_profile.gif*20*72
img_btn_pm = {LANG}/btn_pm.gif*20*72
img_btn_delete = {LANG}/btn_delete.gif*20*20
img_btn_info = {LANG}/btn_ip.gif*20*20
img_btn_quote = {LANG}/btn_quote.gif*20*90
img_btn_search = {LANG}/btn_search.gif*20*72
img_btn_edit = {LANG}/btn_edit.gif*20*90
img_btn_report = {LANG}/btn_report.gif*20*20
img_btn_email = {LANG}/btn_email.gif*20*72
img_btn_www = {LANG}/btn_www.gif*20*72
img_btn_icq = {LANG}/btn_icq.gif*20*72
img_btn_aim = {LANG}/btn_aim.gif*20*72
img_btn_yim = {LANG}/btn_yim.gif*20*72
img_btn_msnm = {LANG}/btn_msnm.gif*20*72
img_btn_jabber = {LANG}/btn_jabber.gif*20*72
img_btn_online = {LANG}/btn_online.gif*20*72
img_btn_offline = {LANG}/btn_offline.gif*20*72
img_btn_friend =
img_btn_foe =
img_icon_unapproved = icon_unapproved.gif*18*19
img_icon_reported = icon_reported.gif*18*19
img_icon_attach = icon_attach.gif*18*14
img_icon_post = icon_minipost.gif*9*12
img_icon_post_new = icon_minipost_new.gif*9*12
img_icon_post_latest = icon_latest_reply.gif*9*18
img_icon_post_newest = icon_newest_reply.gif*9*18
img_forum = folder_big.gif*25*46
img_forum_new = folder_new_big.gif*25*46
img_forum_locked = folder_locked_big.gif*25*46
img_forum_link = folder_link_big.gif*25*46
img_sub_forum = subfolder_big.gif*25*46
img_sub_forum_new = subfolder_new_big.gif*25*46
img_folder = folder.gif*18*19
img_folder_moved = folder_moved.gif*18*19
img_folder_posted = folder_posted.gif*18*19
img_folder_new = folder_new.gif*18*19
img_folder_new_posted = folder_new_posted.gif*18*19
img_folder_hot = folder_hot.gif*18*19
img_folder_hot_posted = folder_hot_posted.gif*18*19
img_folder_hot_new = folder_new_hot.gif*18*19
img_folder_hot_new_posted = folder_new_hot_posted.gif*18*19
img_folder_locked = folder_lock.gif*18*19
img_folder_locked_posted = folder_lock_posted.gif*18*19
img_folder_locked_new = folder_lock_new.gif*18*19
img_folder_locked_new_posted = folder_lock_new_posted.gif*18*19
img_folder_sticky = folder_sticky.gif*18*19
img_folder_sticky_posted = folder_sticky_posted.gif*18*19
img_folder_sticky_new = folder_sticky_new.gif*18*19
img_folder_sticky_new_posted = folder_sticky_new_posted.gif*18*19
img_folder_announce = folder_announce.gif*18*19
img_folder_announce_posted = folder_announce_posted.gif*18*19
img_folder_announce_new = folder_announce_new.gif*18*19
img_folder_announce_new_posted = folder_announce_new_posted.gif*18*19
img_folder_global = 
img_folder_global_posted = 
img_folder_global_new = 
img_folder_global_new_posted = 
img_poll_left = vote_lcap.gif*12*4
img_poll_center = voting_bar.gif*12*
img_poll_right = vote_rcap.gif*12*4
img_attach_progress_bar = attach_progress_bar.gif*16*280
