<script language="javascript" type="text/javascript">
<!--
function refresh_username(selected_username)
{
	opener.document.forms['post'].username.value = selected_username;
	opener.focus();
	window.close();
}
//-->
</script>
<form method="post" name="search" action="{S_SEARCH_ACTION}">
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<h3>{L_SEARCH_USERNAME}</h3>
		<fieldset>
		<input type="text" name="search_username" value="{USERNAME}" class="inputbox" />&nbsp; <input type="submit" name="search" value="{L_SEARCH}" class="button1" />
		<p>{L_SEARCH_EXPLAIN}</p>
		</fieldset>
		<!-- BEGIN switch_select_name -->
		{L_UPDATE_USERNAME}<select name="username_list">{S_USERNAME_OPTIONS}</select>&nbsp; <input type="submit" class="button2" onClick="refresh_username(this.form.username_list.options[this.form.username_list.selectedIndex].value);return false;" name="use" value="{L_SELECT}" />
		<!-- END switch_select_name -->
	<span class="corners-bottom"><span></span></span></div>
</div>
<fieldset class="submit-buttons">
	<a href="#" onclick="window.close(); return false;">{L_CLOSE_WINDOW}</a>
</fieldset>
</form>