<!-- INCLUDE overall_header.html -->

<form action="{S_CONFIRM_ACTION}" method="post"><table width="95%" cellspacing="2" cellpadding="2" border="0" align="center">
	<tr>
		<td class="nav" align="left"><a href="{U_INDEX}">{L_INDEX}</a></td>
	</tr>
</table>

<table class="tablebg" width="95%" cellspacing="1" cellpadding="4" border="0" align="center">
	<tr>
		<th height="28" valign="middle">{MESSAGE_TITLE}</th>
	</tr>
	<tr>
		<td class="row1" align="center"><span class="gen"><br /><br />{MESSAGE_TEXT}<br /><br />{S_HIDDEN_FIELDS}<input type="submit" name="confirm" value="{L_YES}" class="btnmain" />&nbsp;&nbsp;<input type="submit" name="cancel" value="{L_NO}" class="btnlite" /></span></td>
	</tr>
</table></form>

<!-- INCLUDE overall_footer.html -->