<!-- INCLUDE mcp_header.html -->

<form name="main" method="post" action="{S_MCP_ACTION}"><table class="tablebg" width="95%" cellspacing="1" cellpadding="4" border="0" align="center">
	<tr>
		<td class="cat" colspan="6" height="28" align="center"><span class="gensmall">{L_DISPLAY_LOG}:</span> {S_SELECT_SORT_DAYS}&nbsp;<span class="gensmall">{L_SORT_BY}</span> {S_SELECT_SORT_KEY} {S_SELECT_SORT_DIR}&nbsp;<input class="btnlite" type="submit" name="sort" value="{L_GO}" /></span></td>
	</tr>
	<tr>
		<th height="28">&nbsp;{L_TOPIC}&nbsp;</th>
		<th>&nbsp;{L_SUBJECT}&nbsp;</th>
		<th>&nbsp;{L_REASON}&nbsp;</th>
		<th>&nbsp;{L_REPORTER}&nbsp;</th>
		<th width="15%">&nbsp;{L_REPORT_TIME}&nbsp;</th>
		<th width="5%">&nbsp;{L_SELECT}&nbsp;</th>
	</tr>
	<!-- IF S_TOPIC_ID -->
	<tr>
		<td class="row3" colspan="6"><span class="gensmall">{L_REPORTS_CURRENT_TOPIC} <b>{TOPIC_NAME}</b></b></td>
	</tr>
	<!-- ENDIF -->
	<!-- BEGIN reportrow -->
	<tr>
		<td class="row2" width="18%"><span class="gen">{reportrow.TOPIC}</span></td>
		<td class="row1"><span class="gen">{reportrow.SUBJECT}</span></td>
		<td class="row2" align="center" width="15%"><span class="gen">{reportrow.REASON}</span></td>
		<td class="row1" align="center" width="15%"><span class="gen">{reportrow.REPORTER}</span></td>
		<td class="row2" align="center" width="15%"><span class="gensmall">{reportrow.REPORT_TIME}</span></td>
		<td class="row1" align="center" width="15%"><a class="gensmall" href="{reportrow.U_VIEW_REPORT}">{L_POST_REPORTED}</a></td>
	</tr>
	<!-- END reportrow -->
</table>

<table width="95%" cellspacing="2" cellpadding="2" border="0" align="center">
	<tr>
		<td class="nav" align="left" valign="middle">{PAGE_NUMBER}</td>
		<td align="right" valign="top" nowrap="nowrap"><span class="nav">{PAGINATION}</span></td>
	</tr>
</table>

<!-- INCLUDE overall_footer.html -->