<!-- $ Id: $ -->
<!-- INCLUDE mcp_header.html -->

<form method="post" name="main" action="{S_MCP_ACTION}">
<!-- IF S_FORUM_ID -->

<table class="tablebg" width="100%" cellspacing="1" cellpadding="4" border="0">
	<tr>
		<th colspan="2" height="28" nowrap="nowrap">{L_FORUM_INFO}</th>
	</tr>
	<tr>
		<td class="row1"><b class="genmed">{L_FORUM_NAME}</b></td>
		<td class="row2"><input type="text" class="post" name="forum_name" value="{FORUM_NAME}" size="45" /></td>
	</tr>
	<tr>
		<td class="row1"><b class="genmed">{L_FORUM_DESC}</b></td>
		<td class="row2"><textarea class="post" rows="5" cols="45" wrap="virtual" name="forum_desc">{FORUM_DESC}</textarea></td>
	</tr>
	<tr>
		<td class="row1"><b class="genmed">{L_FORUM_STYLE}</b></td>
		<td class="row2"><select name="forum_style">{STYLE_LIST}</select></td>
	</tr>
	<tr>
		<td class="row1"><b class="genmed">{L_FORUM_STATUS}</b></td>
		<td class="row2"><select name="forum_status">{STATUS_LIST}</select></td>
	</tr>
	<tr>
		<td colspan="2" class="cat" align="center"><input type="submit" name="confirm" value="{L_CONFIRM}" class="btnmain" />&nbsp; &nbsp;<input type="submit" name="cancel" value="{L_CANCEL}" class="btnlite" /></td>
	</tr>
</table>

<br />
<!-- INCLUDE mcp_jumpbox.html -->

<!-- ELSE -->

<table width="100%" class="tablebg" cellspacing="1" cellpadding="4" border="0">
	<tr>
		<th height="28"><b>{L_FORUM_INFO}</b></th>
	</tr>
	<tr> 
		<td class="row1" align="center"><br /><!-- INCLUDE mcp_jumpbox.html --><br /><br /></td>
	</tr>
</table>

<!-- ENDIF -->
</form>

<!-- INCLUDE overall_footer.html -->