<table class="tablebg" cellspacing="1" width="100%">
<tr>
	<td class="cat" colspan="5" align="{S_CONTENT_FLOW_END}"><!-- IF not S_IS_BOT and U_MARK_FORUMS --><a class="nav" href="{U_MARK_FORUMS}">{L_MARK_FORUMS_READ}</a><!-- ENDIF -->&nbsp;</td>
</tr>
<tr>
	<th colspan="2">&nbsp;{L_FORUM}&nbsp;</th>
	<th width="50">&nbsp;{L_TOPICS}&nbsp;</th>
	<th width="50">&nbsp;{L_POSTS}&nbsp;</th>
	<th>&nbsp;{L_LAST_POST}&nbsp;</th>
</tr>
<!-- BEGIN forumrow -->
	<!-- EVENT forumlist_body_category_header_before -->
	<!-- IF forumrow.S_IS_CAT -->
		<tr>
			<td class="cat" colspan="2"><h4><a href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a></h4></td>
			<td class="catdiv" colspan="3">&nbsp;</td>
		</tr>
	<!-- EVENT forumlist_body_category_header_after -->
	<!-- ELSEIF forumrow.S_IS_LINK -->
		<tr>
			<td class="row1" width="50" align="center">{forumrow.FORUM_FOLDER_IMG}</td>
			<td class="row1">
				<!-- IF forumrow.FORUM_IMAGE -->
					<div style="float: {S_CONTENT_FLOW_BEGIN}; margin-{S_CONTENT_FLOW_END}{L_COLON} 5px;">{forumrow.FORUM_IMAGE}</div>
				<!-- ENDIF -->
				<a class="forumlink" href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a>
				<p class="forumdesc">{forumrow.FORUM_DESC}</p>
			</td>
			<!-- IF forumrow.CLICKS -->
				<td class="row2" colspan="3" align="center"><span class="genmed">{L_REDIRECTS}{L_COLON} {forumrow.CLICKS}</span></td>
			<!-- ELSE -->
				<td class="row2" colspan="3" align="center">&nbsp;</td>
			<!-- ENDIF -->
		</tr>
	<!-- ELSE -->
		<!-- IF forumrow.S_NO_CAT -->
			<tr>
				<td class="cat" colspan="2"><h4>{L_FORUM}</h4></td>
				<td class="catdiv" colspan="3">&nbsp;</td>
			</tr>
		<!-- ENDIF -->
		<tr>
			<td class="row1" width="50" align="center">{forumrow.FORUM_FOLDER_IMG}</td>
			<td class="row1" width="100%">
				<!-- IF forumrow.FORUM_IMAGE -->
					<div style="float: {S_CONTENT_FLOW_BEGIN}; margin-{S_CONTENT_FLOW_END}{L_COLON} 5px;">{forumrow.FORUM_IMAGE}</div>
				<!-- ENDIF -->
				<a class="forumlink" href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a>
				<p class="forumdesc">{forumrow.FORUM_DESC}</p>
				<!-- IF forumrow.MODERATORS -->
					<p class="forumdesc"><strong>{forumrow.L_MODERATOR_STR}{L_COLON}</strong> {forumrow.MODERATORS}</p>
				<!-- ENDIF -->
				<!-- IF .forumrow.subforum and forumrow.S_LIST_SUBFORUMS -->
					<!-- EVENT forumlist_body_subforums_before -->
					<p class="forumdesc"><strong>{forumrow.L_SUBFORUM_STR}{L_COLON}</strong>
					<!-- BEGIN subforum -->
						<a href="{forumrow.subforum.U_SUBFORUM}" class="subforum<!-- IF forumrow.subforum.S_UNREAD --> unread<!-- ELSE --> read<!-- ENDIF -->" title="<!-- IF forumrow.subforum.UNREAD -->{L_UNREAD_POSTS}<!-- ELSE -->{L_NO_UNREAD_POSTS}<!-- ENDIF -->">{forumrow.subforum.SUBFORUM_NAME}</a><!-- IF not forumrow.subforum.S_LAST_ROW -->{L_COMMA_SEPARATOR}<!-- ENDIF -->
					<!-- END subforum -->
					</p>
					<!-- EVENT forumlist_body_subforums_after -->
				<!-- ENDIF -->
			</td>
			<td class="row2" align="center"><p class="topicdetails">{forumrow.TOPICS}</p></td>
			<td class="row2" align="center"><p class="topicdetails">{forumrow.POSTS}</p></td>
			<td class="row2" align="center" nowrap="nowrap">
				<!-- IF forumrow.LAST_POST_TIME -->
					<!-- IF forumrow.S_DISPLAY_SUBJECT -->
						<!-- EVENT forumlist_body_last_post_title_prepend -->
						<p class="topicdetails"><a href="{forumrow.U_LAST_POST}" title="{forumrow.LAST_POST_SUBJECT}" class="lastsubject">{forumrow.LAST_POST_SUBJECT_TRUNCATED}</a></p>
					<!-- ENDIF -->
					<p class="topicdetails">
						<!-- IF forumrow.U_UNAPPROVED_TOPICS -->
							<a href="{forumrow.U_UNAPPROVED_TOPICS}" class="imageset">{UNAPPROVED_IMG}</a>&nbsp;
						<!-- ELSEIF forumrow.U_UNAPPROVED_POSTS -->
							<a href="{forumrow.U_UNAPPROVED_POSTS}" class="imageset">{UNAPPROVED_POST_IMG}</a>&nbsp;
						<!-- ENDIF -->
						{forumrow.LAST_POST_TIME}
					</p>
					<p class="topicdetails">{forumrow.LAST_POSTER_FULL}
						<!-- IF not S_IS_BOT --><a href="{forumrow.U_LAST_POST}" class="imageset">{LAST_POST_IMG}</a><!-- ENDIF -->
					</p>
				<!-- ELSE -->
					<p class="topicdetails">{L_NO_POSTS}</p>
				<!-- ENDIF -->
			</td>
		</tr>
	<!-- ENDIF -->
	<!-- EVENT forumlist_body_last_row_after -->
<!-- BEGINELSE -->
	<tr>
		<td class="row1" colspan="5" align="center"><p class="gensmall">{L_NO_FORUMS}</p></td>
	</tr>
<!-- END forumrow -->
</table>
