<!-- INCLUDE overall_header.html -->

<form action="{S_LOGIN_ACTION}" method="post">

<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<!-- IF not S_ADMIN_AUTH -->
		<th colspan="2">{L_LOGIN}</th>
	<!-- ELSE -->
		<th>{LOGIN_EXPLAIN}</th>
	<!-- ENDIF -->
</tr>
<!-- IF LOGIN_EXPLAIN && not S_ADMIN_AUTH -->
	<tr>
		<td class="row3" colspan="2" align="center"><span class="gensmall">{LOGIN_EXPLAIN}</span></td>
	</tr>
<!-- ENDIF -->
<tr><!-- IF not S_ADMIN_AUTH -->
	<td class="row1" width="50%">
		<p class="genmed">{L_LOGIN_INFO}</p>

		<p class="genmed" align="center">
			<a href="{U_TERMS_USE}">{L_TERMS_USE}</a> | <a href="{U_PRIVACY}">{L_PRIVACY}</a>
		</p>
	</td>
	<!-- ENDIF -->
	<td <!-- IF not S_ADMIN_AUTH -->class="row2"<!-- ELSE -->class="row1"<!-- ENDIF -->>
	
		<table align="center" cellspacing="1" cellpadding="4" style="width: 100%;">
		<!-- IF LOGIN_ERROR -->
			<tr>
				<td class="gensmall" colspan="2" align="center"><span class="error">{LOGIN_ERROR}</span></td>
			</tr>
		<!-- ENDIF -->

		<tr>
			<td valign="top" <!-- IF S_ADMIN_AUTH -->style="width: 50%; text-align: {S_CONTENT_FLOW_END};"<!-- ENDIF -->><b class="gensmall">{L_USERNAME}:</b></td>
			<td><input class="post" type="text" name="{USERNAME_CREDENTIAL}" size="25" value="{USERNAME}" tabindex="1" />
				<!-- IF not S_ADMIN_AUTH -->
					<br /><a class="gensmall" href="{U_REGISTER}">{L_REGISTER}</a>
				<!-- ENDIF -->
			</td>
		</tr>
		<tr>
			<td valign="top" <!-- IF S_ADMIN_AUTH -->style="width: 50%; text-align: {S_CONTENT_FLOW_END};"<!-- ENDIF -->><b class="gensmall">{L_PASSWORD}:</b></td>
			<td>
				<input class="post" type="password" name="{PASSWORD_CREDENTIAL}" size="25" tabindex="2" />
				<!-- IF U_SEND_PASSWORD --><br /><a class="gensmall" href="{U_SEND_PASSWORD}">{L_FORGOT_PASS}</a><!-- ENDIF -->
				<!-- IF U_RESEND_ACTIVATION and not S_ADMIN_AUTH --><br /><a class="gensmall" href="{U_RESEND_ACTIVATION}">{L_RESEND_ACTIVATION}</a><!-- ENDIF -->
			</td>
		</tr>
		<!-- IF S_DISPLAY_FULL_LOGIN -->
			<!-- IF S_AUTOLOGIN_ENABLED -->
			<tr>
				<td>&nbsp;</td>
				<td><input type="checkbox" class="radio" name="autologin" tabindex="3" /> <span class="gensmall">{L_LOG_ME_IN}</span></td>
			</tr>
			<!-- ENDIF -->
			<tr>
				<td>&nbsp;</td>
				<td><input type="checkbox" class="radio" name="viewonline" tabindex="4" /> <span class="gensmall">{L_HIDE_ME}</span></td>
			</tr>
		<!-- ENDIF -->
		</table>
	</td>
</tr>

<!-- IF S_CONFIRM_CODE -->
</table>
<table class="tablebg" width="100%" cellspacing="1">
	<tr> 
		<th colspan="2" valign="middle">{L_LOGIN_CONFIRMATION}</th>
	</tr>
	<tr> 
		<td class="row3" colspan="2"><span class="gensmall">{L_LOGIN_CONFIRM_EXPLAIN}</span></td>
	</tr>
	<tr>
		<td class="row1" colspan="2" align="center">
			<input type="hidden" name="confirm_id" value="{CONFIRM_ID}" />
			{CONFIRM_IMAGE}
		</td>
	</tr>
	<tr> 
		<td class="row1"><b class="genmed">{L_CONFIRM_CODE}: </b><br /><span class="gensmall">{L_CONFIRM_CODE_EXPLAIN}</span></td>
		<td class="row2"><input class="post" type="text" name="confirm_code" size="8" maxlength="8" /></td>
	</tr>
<!-- ENDIF -->
<tr>
	<td class="cat" <!-- IF not S_ADMIN_AUTH or S_CONFIRM_CODE -->colspan="2"<!-- ENDIF --> align="center">{S_HIDDEN_FIELDS}<input type="submit" name="login" class="btnmain" value="{L_LOGIN}" tabindex="5" /></td>
</tr>
</table>
{S_FORM_TOKEN}

</form>

<br clear="all" />

<!-- INCLUDE breadcrumbs.html -->

<br clear="all" />

<div align="{S_CONTENT_FLOW_END}"><!-- INCLUDE jumpbox.html --></div>

<!-- INCLUDE overall_footer.html -->