<!-- INCLUDE simple_header.html -->

<br clear="all" />

<form method="post" action="{S_IM_ACTION}">
	<table class="tablebg" width="95%" cellspacing="1" cellpadding="4" border="0" align="center">
	<tr>
		<th colspan="2">{L_SEND_IM}</th>
	</tr>
	<tr>
		<td class="row3" colspan="2"><span class="gensmall">{L_SEND_IM_EXPLAIN}</span></td>
	</tr>
	<tr>
		<td class="row1"><b class="genmed">{L_IM_RECIPIENT}{L_COLON} </b></td>
		<td class="row2"><span class="gen"><b>{USERNAME}</b><!-- IF S_SEND_ICQ or S_SEND_AIM or S_NO_SEND_JABBER --> [ {IM_CONTACT} ]<!-- ENDIF --></span> <!-- IF PRESENCE_IMG -->{PRESENCE_IMG}<!-- ENDIF --></td>
	</tr>

	<!-- IF S_SEND_AIM -->
		<tr>
			<td class="row1" colspan="2" align="center"><br /><a class="gen" href="{U_AIM_CONTACT}">{L_IM_ADD_CONTACT}</a><br /><a class="gen" href="{U_AIM_MESSAGE}">{L_IM_SEND_MESSAGE}</a><br /><br /><a class="gensmall" href="http://www.aim.com">{L_IM_DOWNLOAD_APP}</a> | <a class="gensmall" href="http://www.aim.com/products/express">{L_IM_AIM_EXPRESS}</a> </td>
		</tr>
		<tr>
			<td class="cat" colspan="2" align="center">&nbsp;</td>
		</tr>
	<!-- ENDIF -->

	<!-- IF S_SEND_JABBER -->
		<tr>
			<td class="row1"><b class="genmed">{L_IM_MESSAGE}{L_COLON} </b></td>
			<td class="row2"><textarea class="post" name="message" rows="5" cols="45"></textarea></td>
		</tr>
		<tr>
			<td class="cat" colspan="2" align="center"><input class="btnmain" name="submit" type="submit" value="{L_IM_SEND}" /></td>
		</tr>
	<!-- ENDIF -->

	<!-- IF S_NO_SEND_JABBER -->
		<tr>
			<td class="row1" colspan="2"><span class="genmed">{L_IM_NO_JABBER}</span></td>
		</tr>
	<!-- ENDIF -->

	<!-- IF S_SENT_JABBER -->
		<tr>
			<td class="row1" colspan="2" align="center"><span class="gen">{L_IM_SENT_JABBER}</span></td>
		</tr>
		<tr>
			<td class="cat" colspan="2" align="center"></td>
		</tr>
	<!-- ENDIF -->

	</table>
{S_FORM_TOKEN}
</form>

<a class="nav" href="#" onclick="window.close(); return false;">{L_CLOSE_WINDOW}</a>

<!-- INCLUDE simple_footer.html -->
