<tr>
	<td class="row1" width="50%"><b class="genmed">{L_BOARD_TIMEZONE}{L_COLON}</b></td>
	<td class="row2">
		<!-- IF .tz_date -->
		<div id="tz_select_date" style="display: none;">
			<select name="tz_date" id="tz_date" class="autowidth tz_select">
				<option value="">{L_SELECT_CURRENT_TIME}</option>
				<!-- BEGIN tz_date -->
				<option value="{tz_date.VALUE}"<!-- IF tz_date.SELECTED --> selected="selected"<!-- ENDIF -->>{tz_date.TITLE}</option>
				<!-- END tz_date -->
			</select><br />
			<input type="button" id="tz_select_date_suggest" class="btnlite" style="display: none;" timezone-preselect="<!-- IF S_TZ_PRESELECT -->true<!-- ELSE -->false<!-- ENDIF -->" data-l-suggestion="{L_TIMEZONE_DATE_SUGGESTION}" value="{L_TIMEZONE_DATE_SUGGESTION}" />
		</div>
		<!-- ENDIF -->
		<select name="tz" id="timezone" class="autowidth tz_select">
			<option value="">{L_SELECT_TIMEZONE}</option>
			<!-- BEGIN tz_select -->
			<optgroup label="{tz_select.LABEL}" data-tz-value="{tz_select.VALUE}">
				<!-- BEGIN tz_options -->
				<option title="{tz_select.tz_options.TITLE}" value="{tz_select.tz_options.VALUE}"<!-- IF tz_select.tz_options.SELECTED --> selected="selected"<!-- ENDIF -->>{tz_select.tz_options.LABEL}</option>
				<!-- END tz_options -->
			</optgroup>
			<!-- END tz_select -->
		</select>

		<!-- INCLUDEJS timezone.js -->
	</td>
</tr>
