<!-- INCLUDE overall_header.html -->

<script type="text/javascript">
// <![CDATA[
	/**
	* Change language
	*/
	function change_language(lang_iso)
	{
		document.forms['register'].change_lang.value = lang_iso;
		document.forms['register'].submit.click();
	}

// ]]>
</script>

<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th valign="middle">{L_REGISTRATION}</th>
	</tr>

	<!-- IF ERROR -->
		<tr>
			<td class="row3" align="center"><span class="gensmall error">{ERROR}</span></td>
		</tr>
	<!-- ENDIF -->

	<!-- IF L_REG_COND -->
		<tr>
			<td class="row2"><span class="gensmall">{L_REG_COND}</span></td>
		</tr>
	<!-- ENDIF -->

	<tr>
		<td>
			<table width="100%" cellspacing="1">
				<tr>
					<!-- BEGIN providers_loop -->
					<td  valign="top">
						{providers_loop.TPL}
					</td>
					<!-- END providers_loop -->
				</tr>
			</table>
		</td>
	</tr>
</table>

<!-- INCLUDE overall_footer.html -->
