<table class="tablebg" width="100%" cellspacing="1">
	<tr> 
		<td class="cat" colspan="2" align="center" valign="middle"><span class="genmed">{L_AVATAR_CATEGORY}{L_COLON} </span><select name="av_local_cat" id="category">
			<option value="">{L_NO_AVATAR_CATEGORY}</option>
			<!-- BEGIN av_local_cats -->
			<option value="{av_local_cats.NAME}"<!-- IF av_local_cats.SELECTED --> selected="selected"<!-- ENDIF -->>{av_local_cats.NAME}</option>
			<!-- END av_local_cats -->
			</select>&nbsp; <input class="btnlite" tabindex="0" type="submit" value="{L_GO}" name="av_local_go" />
		</td>
	</tr>
	<tr> 
		<td class="row1" colspan="2" align="center">
			<table cellspacing="1" cellpadding="4" border="0">
			<!-- BEGIN av_local_row -->
			<tr> 
				<!-- BEGIN av_local_col -->
					<td class="row1" align="center"><img src="{av_local_col.av_local_col.AVATAR_IMAGE}" alt="{av_local_col.av_local_col.AVATAR_NAME}" title="{av_local_col.av_local_col.AVATAR_NAME}" /></td>
				<!-- END av_local_col -->
			</tr>
			<tr>
				<!-- BEGIN av_local_option -->
					<td class="row2" align="center"><input type="radio" class="radio" name="av_local_file" value="{av_local_col.av_local_option.S_OPTIONS_AVATAR}" /></td>
				<!-- END av_local_option -->
			</tr>
			<!-- BEGINELSE -->
			<tr>
				<td class="row1" colspan="2">{L_NO_AVATAR_CATEGORY}</td>
			</tr>
			<!-- END av_local_col -->
			</table>
		</td>
	</tr>
</table>
