<!-- INCLUDE ucp_header.html -->

<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th colspan="4" valign="middle">{L_TITLE}</th>
	</tr>
	<!-- IF .errors -->
	<tr>
		<td class="row3" colspan="2" align="center"><span class="gensmall error">
			<!-- BEGIN errors -->
				{errors} <br />
			<!-- END errors -->
		</td>
	</tr>
	<!-- ENDIF -->

	<tr>
		<td colspan="4" class="row1">{L_PROFILE_API_KEYS}</td>
	</tr>
	<tr>
		<th>{L_MARK}</th>
		<th>{L_API_KEY_NAME}</th>
	</tr>
	<!-- BEGIN apikeys -->
	<!-- IF apikeys.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
	<td class="genmed" style="text-align: center"><input type="checkbox" name="keys[]" value="{apikeys.KEY}" id="{apikeys.KEY}"/></td>
	<td class="genmed"><label for="{apikeys.KEY_NAME}">{apikeys.KEY_NAME}</label></td>
</tr>
	<!-- BEGINELSE -->
	<tr>
		<td colspan="4" class="row1" style="text-align: center">{L_PROFILE_NO_API_KEYS}</td>
	</tr>
	<!-- END apikeys -->

	<!-- IF .apikeys -->
	<tr>
		<td class="cat" colspan="4" align="center">
			{S_HIDDEN_FIELDS}<input class="btnmain" type="submit" name="submit" value="{L_DELETE}" />
			{S_FORM_TOKEN}
		</td>
	</tr>
	<!-- ENDIF -->
</table>

<!-- INCLUDE ucp_footer.html -->
