<!-- DEFINE $VALUE = 'xyz' -->

{$VALUE}

<!-- DEFINE $VALUE = 'abc' -->

{$VALUE}

<!-- UNDEFINE $VALUE -->

{$VALUE}

<!-- DEFINE $VALUE -->

<!-- BEGIN loop -->
<!-- DEFINE loop.$VALUE = loop.S_ROW_NUM -->
{loop.$VALUE}
<!-- UNDEFINE $VALUE -->
{loop.$VALUE}
<!-- UNDEFINE loop.$VALUE -->
{loop.$VALUE}

<!-- END loop -->

<!-- BEGIN test -->
	<!-- BEGIN deep -->
		<!-- BEGIN defines -->
<!-- DEFINE test.deep.defines.$VALUE = 12 * 12 -->

{test.deep.defines.$VALUE}

<!-- UNDEFINE $VALUE -->

{test.deep.defines.$VALUE}

<!-- UNDEFINE test.deep.defines.$VALUE -->

{test.deep.defines.$VALUE}
		<!-- END defines -->
	<!-- END deep -->
<!-- END test -->
