<!-- DEFINE $VALUE = 'xyz' -->
{$VALUE}
<!-- DEFINE $VALUE = 'abc' -->
{$VALUE}
<!-- IF $VALUE != 'abc' -->
$VALUE != 'abc'
<!-- ELSEIF $VALUE == 'abc' -->
$VALUE == 'abc'
<!-- ENDIF -->
<!-- IF ($VALUE == 'abc') -->
($VALUE == 'abc')
<!-- ENDIF -->
<!-- IF (($VALUE == 'abc')) -->
(($VALUE == 'abc'))
<!-- ENDIF -->
<!-- IF !$DOESNT_EXIST -->
!$DOESNT_EXIST
<!-- ENDIF -->
<!-- IF (!$DOESNT_EXIST) -->
(!$DOESNT_EXIST)
<!-- ENDIF -->
<!-- INCLUDE define_include.html -->
{$INCLUDED_VALUE}
{$VALUE}
<!-- UNDEFINE $VALUE -->
{$VALUE}
<!-- DEFINE $VALUE = 'test!@#$%^&*()_-=+{}[]:;",<.>/?' -->
{$VALUE}
<!-- DEFINE $VALUE = '' -->
[{$VALUE}]
<!-- DEFINE $TEST -->foobar<!-- ENDDEFINE -->|{$TEST}|
<!-- DEFINE $VAR = false -->
<!-- IF $VAR -->
true
<!-- ELSE -->
false
<!-- ENDIF -->
