<!-- IF 10 is even -->pass<!-- ELSE -->fail<!-- ENDIF -->
<!-- IF 9 is even -->fail<!-- ELSE -->pass<!-- ENDIF -->
<!-- IF not 390 is even -->fail<!-- ELSE -->pass<!-- ENDIF -->
<!-- IF 9 is odd -->pass<!-- ELSE -->fail<!-- ENDIF -->
<!-- IF 32 is odd -->fail<!-- ELSE -->pass<!-- ENDIF -->
<!-- IF 32 is div by 16 -->pass<!-- ELSE -->fail<!-- ENDIF -->
<!-- IF 10 is not even -->fail<!-- ELSE -->pass<!-- ENDIF -->
<!-- IF 24 == 24 -->pass<!-- ELSE -->fail<!-- ENDIF -->
<!-- IF 24 eq 24 -->pass<!-- ELSE -->fail<!-- ENDIF -->
<!-- IF ((((((24 == 24)))))) -->pass<!-- ELSE -->fail<!-- ENDIF -->


<!-- IF 24 != 20 -->pass<!-- ELSE -->fail<!-- ENDIF -->
<!-- IF 24 <> 20 -->pass<!-- ELSE -->fail<!-- ENDIF -->
<!-- IF 24 ne 20 -->pass<!-- ELSE -->fail<!-- ENDIF -->
<!-- IF 24 neq 20 -->pass<!-- ELSE -->fail<!-- ENDIF -->


<!-- IF 10 lt 20 -->pass<!-- ELSE -->fail<!-- ENDIF -->
<!-- IF 10 < 20 -->pass<!-- ELSE -->fail<!-- ENDIF -->


<!-- IF 10 le 20 -->pass<!-- ELSE -->fail<!-- ENDIF -->
<!-- IF 10 lte 20 -->pass<!-- ELSE -->fail<!-- ENDIF -->
<!-- IF 10 <= 20 -->pass<!-- ELSE -->fail<!-- ENDIF -->
<!-- IF 20 le 20 -->pass<!-- ELSE -->fail<!-- ENDIF -->
<!-- IF 20 lte 20 -->pass<!-- ELSE -->fail<!-- ENDIF -->
<!-- IF 20 <= 20 -->pass<!-- ELSE -->fail<!-- ENDIF -->


<!-- IF 9 gt 1 -->pass<!-- ELSE -->fail<!-- ENDIF -->
<!-- IF 9 > 1 -->pass<!-- ELSE -->fail<!-- ENDIF -->


<!-- IF 9 >= 1 -->pass<!-- ELSE -->fail<!-- ENDIF -->
<!-- IF 9 gte 1 -->pass<!-- ELSE -->fail<!-- ENDIF -->
<!-- IF 9 ge 1 -->pass<!-- ELSE -->fail<!-- ENDIF -->
<!-- IF 9 >= 9 -->pass<!-- ELSE -->fail<!-- ENDIF -->
<!-- IF 9 gte 9 -->pass<!-- ELSE -->fail<!-- ENDIF -->
<!-- IF 9 ge 9 -->pass<!-- ELSE -->fail<!-- ENDIF -->


<!-- IF true && (10 > 4) -->pass<!-- ELSE -->fail<!-- ENDIF -->
<!-- IF true and (10 > 4) -->pass<!-- ELSE -->fail<!-- ENDIF -->


<!-- IF false || true -->pass<!-- ELSE -->fail<!-- ENDIF -->
<!-- IF false or true -->pass<!-- ELSE -->fail<!-- ENDIF -->


<!-- IF !false -->pass<!-- ELSE -->fail<!-- ENDIF -->
<!-- IF not false -->pass<!-- ELSE -->fail<!-- ENDIF -->
<!-- IF not not not false -->pass<!-- ELSE -->fail<!-- ENDIF -->


<!-- IF 6 % 4 == 2 -->pass<!-- ELSE -->fail<!-- ENDIF -->
<!-- IF 24 mod 12 == 0 -->pass<!-- ELSE -->fail<!-- ENDIF -->
