<!-- INCLUDEJS parent_and_child.js -->
<!-- INCLUDEJS parent_and_child.js?assets_version=0 -->
<!-- INCLUDEJS parent_and_child.js?test=1&assets_version=0 -->
<!-- INCLUDEJS parent_and_child.js?test=1&amp;assets_version=0 -->
<!-- INCLUDEJS parent_and_child.js?test=1;assets_version=0 -->
<!-- INCLUDEJS {PARENT} -->
<!-- DEFINE $TEST = 'child_only.js' -->
<!-- INCLUDEJS {$TEST} -->
<!-- INCLUDEJS subdir/{PARENT} -->
<!-- INCLUDEJS {SUBDIR}/subsubdir/{PARENT} -->
<!-- INCLUDEJS {SUBDIR}/parent_only.{EXT} -->
<!-- DEFINE $TEST = 'child_only.js?test1=1&amp;test2=2#test3' -->
<!-- INCLUDEJS {$TEST} -->
<!-- INCLUDEJS parent_only.js?test1=1&amp;test2=2#test3 -->
<!-- INCLUDEJS parent_only.js?test1=1;test2=2#test3 -->
<!-- INCLUDEJS parent_only.js?test1=&quot;#test3 -->
<!-- INCLUDEJS //phpbb.com/b.js -->
<!-- INCLUDEJS http://phpbb.com/b.js?c=d#f -->
<!-- INCLUDEJS http://phpbb.com/b.js?c=d&assets_version=1#f -->
<!-- INCLUDEJS //[1234:d123:a105::123]/test.js -->
{SCRIPTS}
