<!-- INCLUDE mcp_header.html -->
<h2>{L_WHOIS}</h2>

<div class="panel">
	<div class="inner">
		<p>
			<a href="{U_RETURN_POST}" class="arrow-{S_CONTENT_FLOW_BEGIN}" accesskey="r">
				{{ Icon('font', 'angle-' ~ S_CONTENT_FLOW_BEGIN, lang('RETURN_POST'), false, 'fas c-return-arrow-icon') }}
			</a>
		</p>
		<div class="postbody"><div class="content">
			<pre>{WHOIS}</pre>
		</div></div>
		<p>
			<a href="{U_RETURN_POST}" class="arrow-{S_CONTENT_FLOW_BEGIN}" accesskey="r">
				{{ Icon('font', 'angle-' ~ S_CONTENT_FLOW_BEGIN, lang('RETURN_POST'), false, 'fas c-return-arrow-icon') }}
			</a>
		</p>
	</div>
</div>

<!-- INCLUDE mcp_footer.html -->
