<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="refresh" content="30">
		<title>{{ lang('BOARD_MAINTENANCE_TITLE', SITENAME) }}</title>
		<style>{{ source('all/theme/maintenance.css') }}</style>
	</head>
	<body>
		<div class="card">
			<div class="logo-container">
				{{ Icon('svg', 'logo', SITENAME, true, 'logo-svg') }}
			</div>
			<div class="maintenance-message" id="msg">{{ lang('BOARD_MAINTENANCE') }}</div>
			<div class="loader"></div>
			<div class="links">
			{% for link in links %}
				<a href="{{ link.url|e('html') }}" target="_blank" rel="noopener">{{ link.title }}</a>
			{% endfor %}
			</div>
			<div class="time" id="time"></div>
		</div>

		<script>
			(function() {
				/**
				 * @typedef {{default_lang: string, site_name: string }} MaintenanceConfig
				 * @property {string} default_lang
				 * @property {string} site_name
				 */

				/**
				 * @typedef {Object.<string, Array.<string, string>>} LanguagePack
				 */

				/**
				 * @typedef {Object} MaintenanceData
				 * @property {MaintenanceConfig} config
				 * @property {LanguagePack} lang
				 * @property {number} [initiated]
				 */

				/** @type {MaintenanceData} */
				const data = {{ MAINTENANCE_DATA|raw }};
				const config = data.config;
				const userLang = navigator.language || config.default_lang;
				const shortLang = userLang.toLowerCase().split('-')[0];
				const language = data.lang[userLang.toLowerCase()] || data.lang[shortLang] || data.lang[config.default_lang];

				// Select localized message
				document.getElementById('msg').textContent = language['BOARD_MAINTENANCE'];

				// Handle timestamp
				if (data.hasOwnProperty('initiated') && data.initiated > 0) {
					const date = new Date(data.initiated * 1000);
					const formatted = new Intl.DateTimeFormat(userLang, { dateStyle: 'medium', timeStyle: 'short' }).format(date);

					// Display localized "Started on: [time]"
					document.getElementById('time').textContent = language['BOARD_MAINTENANCE_START'].replace(/{initiated}/, formatted);
				}
			})();
		</script>
	</body>
</html>
