<!-- INCLUDE overall_header.html -->

<!-- $Id$ -->

<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="row1"><div class="nav" style="float:left"><a href="{U_INDEX}">{L_INDEX}</a></div><div class="gensmall" style="float:right">{S_TIMEZONE}</div></td>
	</tr>
</table>

<br clear="all" />

<form action="{S_CONFIRM_ACTION}" method="post"><table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th>{MESSAGE_TITLE}</th>
	</tr>
	<tr>
		<td class="row1" align="center"><span class="gen"><br /><br />{MESSAGE_TEXT}<br /><br />{S_HIDDEN_FIELDS}<input type="submit" name="confirm" value="{L_YES}" class="btnmain" />&nbsp;&nbsp;<input type="submit" name="cancel" value="{L_NO}" class="btnlite" /></span></td>
	</tr>
</table></form>

<br clear="all" />

<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="row1"><div class="nav" style="float:left"><a href="{U_INDEX}">{L_INDEX}</a></div><div class="gensmall" style="float:right">{S_TIMEZONE}</div></td>
	</tr>
</table>

<!-- INCLUDE overall_footer.html -->