<!-- INCLUDE overall_header.html -->

<a name="faqtop"></a>

<div id="pagecontent">

	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th>{L_FAQ_TITLE}</th>
	</tr>
	<tr>
		<td class="row1">
		<!-- BEGIN faq_block -->
			<span class="gen"><b>{faq_block.BLOCK_TITLE}</b></span><br />
			<!-- BEGIN faq_row -->
				<span class="gen"><a class="postlink" href="#f{faq_block.S_ROW_COUNT}{faq_block.faq_row.S_ROW_COUNT}">{faq_block.faq_row.FAQ_QUESTION}</a></span><br />
			<!-- END faq_row -->
			<br />
		<!-- END faq_block -->
		</td>
	</tr>
	<tr>
		<td class="cat">&nbsp;</td>
	</tr>
	</table>

	<br clear="all" />

	<!-- BEGIN faq_block -->
		<table class="tablebg" width="100%" cellspacing="1">
		<tr> 
			<td class="cat" align="center"><h4>{faq_block.BLOCK_TITLE}</h4></td>
		</tr>
		<!-- BEGIN faq_row --> 
		<tr>
			<!-- IF faq_block.faq_row.S_ROW_COUNT is even -->
				<td class="row1" valign="top">
			<!-- ELSE -->
				<td class="row2" valign="top">
			<!-- ENDIF -->
				<p class="postbody"><a name="f{faq_block.S_ROW_COUNT}{faq_block.faq_row.S_ROW_COUNT}"></a><b>&#187; {faq_block.faq_row.FAQ_QUESTION}</b></p>
				<p class="postbody">{faq_block.faq_row.FAQ_ANSWER}</p>
				<p class="gensmall"><a href="#faqtop">{L_BACK_TO_TOP}</a></p>
			</td>
		</tr>
		<tr>
			<td class="spacer" height="1"><img src="images/spacer.gif" alt="" width="1" height="1" /></td>
		</tr>
		<!-- END faq_row -->
		</table>

		<br clear="all" />
	<!-- END faq_block -->

</div>

<table class="tablebg" width="100%" cellspacing="1" cellpadding="0">
<tr>
	<td class="row1">
		<p class="breadcrumbs"><a href="{U_INDEX}">{L_INDEX}</a><!-- BEGIN navlinks --> &#187; <a href="{navlinks.U_VIEW_FORUM}">{navlinks.FORUM_NAME}</a><!-- END navlinks --></p>
		<p class="datetime">{S_TIMEZONE}</p>
	</td>
</tr>
</table>

<br clear="all" />

<div align="right"><!-- INCLUDE jumpbox.html --></div>

<!-- INCLUDE overall_footer.html -->