<!-- INCLUDE overall_header.html -->

<!-- $Id$ -->

<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="row1"><div class="nav" style="float:left"><a href="{U_INDEX}">{L_INDEX}</a></div><div class="gensmall" style="float:right">{S_TIMEZONE}</div></td>
	</tr>
</table>

<br clear="all" />

<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th>{L_FAQ_TITLE}</th>
	</tr>
	<tr>
		<td class="row1">
			<!-- BEGIN faq_block_link -->
			<span class="gen"><b>{faq_block_link.BLOCK_TITLE}</b></span><br />
			<!-- BEGIN faq_row_link -->
			<span class="gen"><a class="postlink" href="{faq_block_link.faq_row_link.U_FAQ_LINK}">{faq_block_link.faq_row_link.FAQ_LINK}</a></span><br />
			<!-- END faq_row_link -->
			<br />
			<!-- END faq_block_link -->
		</td>
	</tr>
	<tr>
		<td class="cat">&nbsp;</td>
	</tr>
</table>

<br clear="all" />

<!-- BEGIN faq_block -->
<table class="tablebg" width="100%" cellspacing="1">
	<tr> 
		<td class="cat" align="center"><span class="cattitle">{faq_block.BLOCK_TITLE}</span></td>
	</tr>
	<!-- BEGIN faq_row --> 
	<tr>
	
	<!-- IF faq_block.faq_row.S_ROW_COUNT is even -->
		<td class="row1" valign="top">
	<!-- ELSE -->
		<td class="row2" valign="top">
	<!-- ENDIF -->
			<span class="postbody"><a name="{faq_block.faq_row.U_FAQ_ID}"></a><b>{faq_block.faq_row.FAQ_QUESTION}</b><br />{faq_block.faq_row.FAQ_ANSWER}<br /><a class="postlink" href="#Top">{L_BACK_TO_TOP}</a></span>
		</td>
	</tr>
	<tr>
		<td class="spacer" height="1"><img src="images/spacer.gif" alt="" width="1" height="1" /></td>
	</tr>
	<!-- END faq_row -->
</table>

<br clear="all" />
<!-- END faq_block -->

<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="row1"><div class="nav" style="float:left"><a href="{U_INDEX}">{L_INDEX}</a></div><div class="gensmall" style="float:right">{S_TIMEZONE}</div></td>
	</tr>
</table>

<br clear="all" />

<div style="float:right"><!-- INCLUDE jumpbox.html --></div>

<!-- INCLUDE overall_footer.html -->