<!-- INCLUDE mcp_header.html -->

<table width="100%" cellpadding="3" cellspacing="1" border="0" class="tablebg"><form method="post" name="mcp" action="{S_APPROVE_ACTION}"{S_FORM_ENCTYPE}>
	<tr>
		<th colspan="2" height="28" align="center">{L_POST_DETAILS}</th>
	</tr>
	<tr>
		<td class="row3" colspan="2" align="center"><span class="gensmall"><!-- IF S_QUICKMOD -->{RETURN_FORUM}<!-- ELSE -->{RETURN_TOPIC}<!-- ENDIF --></span></td>
	</tr>
	<tr>
		<td class="row1"><b class="gen">{L_POST_SUBJECT}</b></td>
		<td class="row2"><span class="gen">{POST_SUBJECT}</span></td>
	</tr>
	<tr>
		<td class="row1" width="20%"><b class="gen">{L_POSTER}</b></td>
		<td class="row2" width="80%"><span class="gen">{POSTER_NAME} &nbsp; [ <a href="{U_PROFILE}">{L_READ_PROFILE}</a> ]<!-- IF S_USER_NOTES --> [ <a href="{U_MCP_USERNOTES}">{L_READ_USERNOTES}</a> ]<!-- ENDIF --><!-- IF S_USER_WARNINGS --> [ <a href="{U_MCP_WARNINGS}">{L_READ_WARNINGS}</a> ]<!-- ENDIF --></span></td>
	</tr>
	<!-- IF S_CAN_VIEWIP -->
	<tr>
		<td class="row1"><b class="gen">{L_THIS_POST_IP}</b></td>
		<td class="row2"><span class="gen">{POST_IP}</span></td>
	</tr>
	<!-- ENDIF -->
	<tr>
		<td class="row1"><b class="gen">{L_POSTED}</b></td>
		<td class="row2"><span class="postdetails">{POST_DATE}</span></td>
	</tr>
	</tr>
	<tr>
		<th colspan="2" height="28" align="center">{L_PREVIEW}</th>
	</th>
	<tr>
		<td class="row1" colspan="2"><div class="gen" style="overflow: auto; width: 100%; height: 80pt; border: 1px;">{POST_PREVIEW}</div></td>
	</tr>
	<!-- IF S_POST_UNAPPROVED -->
	<tr>
		<td class="cat" align="center" colspan="2"><input class="btnmain" type="submit" value="{L_APPROVE}" name="mode[approve]" /> &nbsp; <input class="btnlite" type="submit" value="{L_DISAPPROVE}" name="mode[disapprove]" /></td>
	</tr>
	<!-- ENDIF -->
</form></table>

<br /><a name="mod"></a>

<table width="100%" cellpadding="3" cellspacing="1" border="0" class="tablebg">
	<tr>
		<th colspan="2" height="28" align="center">{L_MOD_OPTIONS}</th>
	</tr>
	<!-- IF S_CAN_CHGPOSTER -->
	<tr><form method="post" name="mcp" action="{S_CHGPOSTER_ACTION}"{S_FORM_ENCTYPE}>
		<td class="row1" valign="top"><b class="gen">{L_CHANGE_POSTER}</b></td>
		<td class="row2"><!-- IF S_USER_SELECT --><select name="u">{S_USER_SELECT}</select> <input type="submit" class="btnmain" name="action[chgposter]" value="{L_CONFIRM}" /><br /><!-- ENDIF --> <input class="post" type="text" name="username" value="{SEARCH_USERNAME}" /> <input class="btnlite" type="submit" value="{L_SEARCH}" name="action[chgposter_search]" /></td>
	</form></tr>
	<!-- ENDIF -->
	<tr><form method="post" name="mcp" action="{S_MCP_ACTION}"{S_FORM_ENCTYPE}>
		<td class="row1" valign="top"><b class="gen">{L_MOD_OPTIONS}</b></td>
		<td class="row2"><select name="action"><!-- IF S_CAN_LOCK_POST --><!-- IF S_POST_LOCKED --><option value="unlock_post">{L_UNLOCK_POST} [{L_UNLOCK_POST_EXPLAIN}]</option><!-- ELSE --><option value="lock_post">{L_LOCK_POST} [{L_LOCK_POST_EXPLAIN}]</option><!-- ENDIF --><!-- ENDIF --><!-- IF S_CAN_LOCK_POST --><option value="unrate">{L_UNRATE_POST} [{L_UNRATE_POST_EXPLAIN}]</option><!-- ENDIF --></select> <input class="btnmain" type="submit" value="{L_SUBMIT}" /></td>
	</form></tr>
</table>

<!-- IF S_CAN_VIEWIP -->
<br /><a name="ip"></a>

<table width="100%" cellpadding="3" cellspacing="1" border="0" class="tablebg">
	<tr>
		<th colspan="2" height="28" align="center">{L_IP_INFO}</th>
	</tr>
	<tr>
		<td colspan="2" height="28" class="cat"><b class="gen">{L_OTHER_USERS}</b></td>
	</tr>
	<!-- BEGIN userrow -->
	<!-- IF userrow.S_ROW_COUNT is even -->
	<tr class="row1">
	<!-- ELSE -->
	<tr class="row2">
	<!-- ENDIF -->
		<td><span class="gen"><a href="{userrow.U_PROFILE}">{userrow.USERNAME}</a> [ {userrow.POSTS} ]</span></td>
		<td align="center"><a href="{userrow.U_SEARCHPOSTS}">{SEARCH_IMG}</a></td>
	</tr>
	<!-- BEGINELSE -->
	<tr class="row1">
		<td colspan="2" align="center"><span class="gen">{L_NO_MATCHES_FOUND}</span></td>
	</tr>
	<!-- END userrow -->
	<tr>
		<td height="28" class="cat"><b class="gen">{L_OTHER_IPS}</b></td>
		<td class="cat" width="10%" nowrap="nowrap"><!-- IF U_LOOKUP_ALL --><span class="gen">[ <a href="{U_LOOKUP_ALL}">{L_LOOKUP_ALL}</a> ]</span><!-- ENDIF --></td>
	</tr>
	<!-- BEGIN iprow -->
	<!-- IF iprow.S_ROW_COUNT is even -->
	<tr class="row1">
	<!-- ELSE -->
	<tr class="row2">
	<!-- ENDIF -->
		<td><span class="gen"><!-- IF iprow.HOSTNAME --><a href="{iprow.U_WHOIS}">{iprow.HOSTNAME}</a> ({iprow.IP})<!-- ELSE --><a href="{iprow.U_WHOIS}">{iprow.IP}</a><!-- ENDIF --> [ {iprow.POSTS} ]</span></td>
		<td align="center"><!-- IF iprow.U_LOOKUP_IP --><span class="gen">[ <a href="{iprow.U_LOOKUP_IP}">{L_LOOKUP_IP}</a> ]</span><!-- ENDIF --></td>
	</tr>
	<!-- BEGINELSE -->
	<tr class="row1">
		<td colspan="2" align="center"><span class="gen">{L_NO_MATCHES_FOUND}</span></td>
	</tr>
	<!-- END iprow -->
</table>
<!-- ENDIF -->

<!-- INCLUDE mcp_footer.html -->