
			</td>
		</tr>
	</table>

	<!-- IF PAGINATION -->
		<table width="80%" align="right" cellspacing="1">
		<tr>
			<td class="nav" valign="middle" nowrap="nowrap">&nbsp;{PAGE_NUMBER}<br /></td>
			<td class="gensmall" nowrap="nowrap">&nbsp;[ {TOTAL} ]&nbsp;</td>
			<td class="gensmall" width="100%" align="right" nowrap="nowrap"><!-- IF PAGINATION --><b><a href="javascript:jumpto();">{L_GOTO_PAGE}</a> <!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}">{L_PREVIOUS}</a>&nbsp;&nbsp;<!-- ENDIF -->{PAGINATION}<!-- IF NEXT_PAGE -->&nbsp;&nbsp;<a href="{NEXT_PAGE}">{L_NEXT}</a><!-- ENDIF --></b><!-- ENDIF --></td>
		</tr>
		</table>
		<br />
	<!-- ENDIF -->
	
</div>

<br clear="all" />

<table class="tablebg" width="100%" cellspacing="1" cellpadding="0">
<tr>
	<td class="row1">
		<p class="breadcrumbs"><a href="{U_INDEX}">{L_INDEX}</a><!-- BEGIN navlinks --> &#187; <a href="{navlinks.U_VIEW_FORUM}">{navlinks.FORUM_NAME}</a><!-- END navlinks --></p>
		<p class="datetime">{S_TIMEZONE}</p>
	</td>
</tr>
</table>

<br clear="all" />

<div align="right"><!-- INCLUDE jumpbox.html --></div>

<!-- INCLUDE overall_footer.html -->