<!-- INCLUDE mcp_header.html -->

<!-- IF U_VIEW_FORUM_LOGS --><a href="{U_VIEW_FORUM_LOGS}">{L_VIEW_FORUM_LOGS}</a><!-- ENDIF -->

<form method="post" id="mcp" action="{S_MCP_ACTION}">

<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<td class="cat" colspan="6" align="center"><span class="gensmall">{L_DISPLAY_TOPICS}:</span> {S_SELECT_SORT_DAYS}&nbsp;<span class="gensmall">{L_SORT_BY}</span> {S_SELECT_SORT_KEY} {S_SELECT_SORT_DIR}&nbsp;<input class="btnlite" type="submit" name="sort" value="{L_GO}" /></span></td>
</tr>
<tr>
	<th width="4%" nowrap="nowrap">&nbsp;</th>
	<th nowrap="nowrap">&nbsp;{L_TOPICS}&nbsp;</th>
	<th width="8%" nowrap="nowrap">&nbsp;{L_REPLIES}&nbsp;</th>
	<th width="17%" nowrap="nowrap">&nbsp;{L_LAST_POST}&nbsp;</th>
	<th width="5%" nowrap="nowrap">&nbsp;{L_MARK}&nbsp;</th>
</tr>
<!-- BEGIN topicrow -->
	<tr>
		<td class="row1" width="25" align="center">{topicrow.TOPIC_FOLDER_IMG}</td>
		<!-- IF S_TOPIC_ICONS -->
			<!-- td class="row1" width="25" align="center">{topicrow.TOPIC_ICON_IMG}</td -->
		<!-- ENDIF -->
		<td class="row1">
			<!-- IF topicrow.S_SELECT_TOPIC -->
				<span class="genmed">[ <a href="{topicrow.U_SELECT_TOPIC}">{L_SELECT}</a> ]&nbsp;</span>
			<!-- ENDIF -->
			<p class="topictitle">{topicrow.NEWEST_POST_IMG} {topicrow.ATTACH_ICON_IMG} <a href="{topicrow.U_VIEW_TOPIC}">{topicrow.TOPIC_TITLE}</a>
			<!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED -->
				<a href="{topicrow.U_MCP_QUEUE}">{topicrow.UNAPPROVED_IMG}</a>&nbsp;
			<!-- ENDIF -->
			<!-- IF topicrow.S_TOPIC_REPORTED -->
				<a href="{topicrow.U_MCP_REPORT}">{REPORTED_IMG}</a>&nbsp;
			<!-- ENDIF -->
			</p>
		</td>
		<td class="row1" width="50" align="center"><p class="topicdetails">{topicrow.REPLIES}</p></td>
		<td class="row1" width="120" align="center"><p class="topicdetails">{topicrow.LAST_POST_TIME}</p></td>
		<td class="row2" align="center"><input type="checkbox" class="radio" name="topic_id_list[]" value="{topicrow.TOPIC_ID}" {topicrow.S_TOPIC_CHECKED}/></td>
	</tr>
<!-- BEGINELSE -->
	<tr>
		<td class="row1" colspan="8" height="28" align="center"><p class="gen">{L_NO_TOPICS}</p></td>
	</tr>
<!-- END topicrow -->
<tr>
	<td class="cat" colspan="6" align="right">
		<select name="action">
			<!-- IF S_CAN_DELETE --><option value="delete_topic">{L_DELETE}</option><!-- ENDIF -->
			<!-- IF S_CAN_MOVE --><option value="move">{L_MOVE}</option><!-- ENDIF -->
			<!-- IF S_CAN_FORK --><option value="fork">{L_FORK}</option><!-- ENDIF -->
			<!-- IF S_CAN_LOCK --><option value="lock">{L_LOCK}</option><option value="unlock">{L_UNLOCK}</option><!-- ENDIF -->
			<!-- IF S_CAN_SYNC --><option value="resync">{L_RESYNC}</option><!-- ENDIF -->
		</select>
		<input class="btnmain" type="submit" value="{L_SUBMIT}" />
	</td>
</tr>
</table>

</form>

<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
<tr>
	<td align="right" valign="top" nowrap="nowrap"><b class="gensmall"><a href="javascript:marklist('mcp', 'topic_id_list', true);">{L_MARK_ALL}</a> :: <a href="javascript:marklist('mcp', 'topic_id_list', false);">{L_UNMARK_ALL}</a></b></td>
</tr>
</table>

<!-- INCLUDE mcp_footer.html -->