<!-- INCLUDE mcp_header.html -->

<table width="100%" cellpadding="3" cellspacing="1" border="0" class="tablebg"><form method="post" name="mcp" action="{S_APPROVE_ACTION}">
	<tr>
		<th colspan="2" height="28" align="center">{L_POST_DETAILS}</th>
	</tr>
	<tr>
		<td class="row3" colspan="2" align="center"><span class="gensmall">{RETURN_QUEUE}</span></td>
	</tr>
	<tr>
		<td class="row1"><b class="gen">{L_POST_SUBJECT}: </b></td>
		<td class="row2"><span class="gen">{POST_SUBJECT}</span></td>
	</tr>
	<tr>
		<td class="row1" width="20%"><b class="gen">{L_POSTER}: </b></td>
		<td class="row2" width="80%"><span class="gen">{POSTER_NAME} &nbsp; [ <a href="{U_VIEW_PROFILE}">{L_READ_PROFILE}</a> ]<!-- IF S_USER_NOTES --> [ <a href="{U_MCP_USERNOTES}">{L_READ_USERNOTES}</a> ]<!-- ENDIF --><!-- IF S_USER_WARNINGS --> [ <a href="{U_MCP_WARNINGS}">{L_READ_WARNINGS}</a> ]<!-- ENDIF --></span></td>
	</tr>
	<!-- IF S_CAN_VIEWIP -->
	<tr>
		<td class="row1"><b class="gen">{L_THIS_POST_IP}: </b></td>
		<td class="row2"><span class="gen">{POST_IP} [ {POST_IPADDR} ]</span></td>
	</tr>
	<!-- ENDIF -->
	<tr>
		<td class="row1"><b class="gen">{L_POSTED}: </b></td>
		<td class="row2"><span class="postdetails">{POST_DATE}</span></td>
	</tr>
	</tr>
	<tr>
		<th colspan="2" height="28" align="center">{L_PREVIEW}</th>
	</th>
	<tr>
		<td class="row1" colspan="2"><div class="gen" style="overflow: auto; width: 100%; height: 80pt; border: 1px;">{POST_PREVIEW}</div></td>
	</tr>
	<!-- IF S_POST_UNAPPROVED -->
	<tr>
		<td class="cat" align="center" colspan="2"><input class="btnmain" type="submit" value="{L_APPROVE}" name="mode[approve]" /> &nbsp; <input class="btnlite" type="submit" value="{L_DISAPPROVE}" name="mode[disapprove]" /></td>
	</tr>
	<!-- ENDIF -->
</form></table>

<br clear="all" />

<!-- IF S_TOPIC_REVIEW --><!-- INCLUDE posting_topic_review.html --><!-- ENDIF -->

<!-- INCLUDE mcp_footer.html -->