<!-- INCLUDE simple_header.html -->

<br clear="all" />

<!--  MSNM info from http://www.cdolive.net/ - doesn't seem to work with MSN Messenger -->

<form method="post" action="{S_IM_ACTION}">
	<table class="tablebg" width="95%" cellspacing="1" cellpadding="4" border="0" align="center">
	<tr>
		<th colspan="2">{L_SEND_IM}</th>
	</tr>
	<tr>
		<td class="row3" colspan="2"><span class="gensmall">{L_SEND_IM_EXPLAIN}</span></td>
	</tr>
	<tr>
		<td class="row1"><b class="genmed">{L_IM_RECIPIENT}: </b></td>
		<td class="row2"><span class="gen"><b>{USERNAME}</b> [ {IM_CONTACT} ]</span> <!-- IF PRESENCE_IMG -->{PRESENCE_IMG}<!-- ENDIF --></td>
	</tr>

	<!-- IF S_SEND_ICQ -->
		<tr>
			<td class="row1"><b class="genmed">{L_IM_NAME}: </b></td>
			<td class="row2"><input class="post" type="text" name="from" size="20" maxlength="40" /></td>
		</tr>
		<tr>
			<td class="row1"><b class="genmed">{L_IM_MESSAGE}: </b></td>
			<td class="row2"><textarea class="post" name="body" rows="5" cols="45"></textarea></td>
		</tr>
		<tr>
			<td class="cat" colspan="2" align="center"><input type="hidden" name="fromemail" value="{EMAIL}" /><input type="hidden" name="subject" value="{SITENAME}" /><input type="hidden" name="to" value="{IM_CONTACT}" /><input class="btnmain" name="submit" type="submit" value="{L_IM_SEND}" /></td>
		</tr>
	<!-- ENDIF -->

	<!-- IF S_SEND_AIM -->
		<tr>
			<td class="row1" colspan="2" align="center"><br /><a class="gen" href="aim:addbuddy?screenname={IM_CONTACT}">{L_IM_ADD_CONTACT}</a><br /><a class="gen" href="aim:goim?screenname={IM_CONTACT}&message={SITENAME}">{L_IM_SEND_MESSAGE}</a><br /><br /><a class="gensmall" href="http://www.aol.co.uk/aim/index.html" target="_blank">{L_IM_DOWNLOAD_APP}</a> | <a class="gensmall" href="http://aimexpress.oscar.aol.com/aimexpress/launch.adp?Brand=AIM" target="_blank">{L_IM_AIM_EXPRESS}</a> </td>
		</tr>
		<tr>
			<td class="cat" colspan="2" align="center">&nbsp;</td>
		</tr>
	<!-- ENDIF -->

	<!-- IF S_SEND_MSNM -->
		<tr>
			<td class="row1" colspan="2" align="center"><object classid="clsid:FB7199AB-79BF-11d2-8D94-0000F875C541" codetype="application/x-oleobject" id="objMessengerApp" width="0" height="0"></object><br /><a class="gen" href="javascript:objMessengerApp.LaunchAddContactUI('{IM_CONTACT}')">{L_IM_ADD_CONTACT}</a><br /><a class="gen" href="javascript:objMessengerApp.LaunchIMUI('{IM_CONTACT}')">{L_IM_SEND_MESSAGE}</a></td>
		</tr>
		<tr>
			<td class="cat" colspan="2" align="center">&nbsp;</td>
		</tr>
	<!-- ENDIF -->

	<!-- IF S_SEND_JABBER -->
		<tr>
			<td class="row1"><b class="genmed">{L_IM_MESSAGE}: </b></td>
			<td class="row2"><textarea class="post" name="message" rows="5" cols="45"></textarea></td>
		</tr>
		<tr>
			<td class="cat" colspan="2" align="center"><input class="btnmain" name="submit" type="submit" value="{L_IM_SEND}" /></td>
		</tr>
	<!-- ENDIF -->

	<!-- IF S_NO_SEND_JABBER -->
		<tr>
			<td class="row1" colspan="2"><span class="genmed">{L_IM_NO_JABBER}</span></td>
		</tr>
		<tr>
			<td class="cat" colspan="2" align="center"><input class="btnmain" name="submit" type="submit" value="{L_IM_SEND}" /></td>
		</tr>
	<!-- ENDIF -->

	<!-- IF S_SENT_JABBER -->
		<tr>
			<td class="row1" colspan="2" align="center"><span class="gen">{L_IM_SENT_JABBER}</span></td>
		</tr>
		<tr>
			<td class="cat" colspan="2" align="center"></td>
		</tr>
	<!-- ENDIF -->

	</table>
</form>

<!-- INCLUDE simple_footer.html -->