<!-- INCLUDE overall_header.html -->

<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="row1"><div class="nav" style="float:left"><a href="{U_INDEX}">{L_INDEX}</a></div><div class="gensmall" style="float:right">{S_TIMEZONE}</div></td>
	</tr>
</table>

<br clear="all" />

<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th><b>{MESSAGE_TITLE}</b></th>
	</tr>
	<tr> 
		<td class="row1" align="center"><br /><span class="gen">{MESSAGE_TEXT}</span><br /><br /></td>
	</tr>
</table>

<br clear="all" />

<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="row1"><div class="nav" style="float:left"><a href="{U_INDEX}">{L_INDEX}</a></div><div class="gensmall" style="float:right">{S_TIMEZONE}</div></td>
	</tr>
</table>

<br clear="all" />

<!-- INCLUDE overall_footer.html -->