<!-- INCLUDE overall_header.html -->

<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<th>{MESSAGE_TITLE}</th>
</tr>
<tr> 
	<td class="row1" align="center"><br /><p class="gen">{MESSAGE_TEXT}</p><br /></td>
</tr>
</table>

<br clear="all" />

<table class="tablebg" width="100%" cellspacing="1" cellpadding="0">
<tr>
	<td class="row1">
		<p class="breadcrumbs"><a href="{U_INDEX}">{L_INDEX}</a></p>
		<p class="datetime">{S_TIMEZONE}</p>
	</td>
</tr>
</table>

<!-- INCLUDE overall_footer.html -->