<!-- INCLUDE overall_header.html -->

<table width="95%" cellspacing="2" cellpadding="2" border="0" align="center">
	<tr>
		<td align="left" class="nav"><a href="{U_INDEX}">{L_INDEX}</a></td>
	</tr>
</table>

<table class="tablebg" width="95%" cellspacing="1" cellpadding="4" border="0" align="center">
	<tr>
		<th height="28"><b>{MESSAGE_TITLE}</b></th>
	</tr>
	<tr> 
		<td class="row1" align="center"><br /><span class="gen">{MESSAGE_TEXT}</span><br /><br /></td>
	</tr>
</table>

<br clear="all" />

<!-- INCLUDE overall_footer.html -->