<!-- INCLUDE overall_header.html -->

<!-- $Id$ -->

<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tr>
		<td width="20%" valign="top">

<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th>{L_OPTIONS}</th>
	</tr>
	<!-- BEGIN ucp_section -->
	<tr>
		<!-- IF ucp_section.S_SELECTED -->
		<td class="row1"><b class="nav">{ucp_section.L_TITLE}</b>

			<ul class="nav" style="margin: 0px; padding: 0px; list-style-type: none; line-height: 175%;">
			<!-- BEGIN ucp_subsection -->
			<li>&#187; <!-- IF ucp_section.ucp_subsection.S_SELECTED --><b>{ucp_section.ucp_subsection.L_TITLE}</b><!-- ELSE --><a href="{ucp_section.ucp_subsection.U_TITLE}">{ucp_section.ucp_subsection.L_TITLE}</a><!-- ENDIF --></li>
			<!-- END ucp_subsection -->
			</ul>

		<!-- ELSE -->
		<td class="row2" nowrap="nowrap" onmouseover="this.className='row1'" onmouseout="this.className='row2'" onclick="location.href='{ucp_section.U_TITLE}'"><a class="nav" href="{ucp_section.U_TITLE}">{ucp_section.L_TITLE}</a>
		<!-- ENDIF -->
		</td>
	</tr>
	<!-- END ucp_section -->
</table>

<div style="padding: 2px;"></div>

<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th>{L_FRIENDS}</th>
	</tr>
	<tr>
		<td class="row1" align="center">
		
			<b class="genmed" style="color:green">{L_FRIENDS_ONLINE}</b>

			<ul class="nav" style="margin: 0px; padding: 0px; list-style-type: none; line-height: 175%;">
			<!-- BEGIN friends_online -->
			<li><a href="{friends_online.U_PROFILE}">{friends_online.USERNAME}</a></li>
			<!-- BEGINELSE -->
			<li>{L_NO_FRIENDS_ONLINE}</li>
			<!-- END friends_online -->
			</ul>

			<hr />

			<b class="genmed" style="color:red">{L_FRIENDS_OFFLINE}</b>

			<ul class="nav" style="margin: 0px; padding: 0px; list-style-type: none; line-height: 175%;">
			<!-- BEGIN friends_offline -->
			<li><a href="{friends_online.U_PROFILE}">{friends_offline.USERNAME}</a></li>
			<!-- BEGINELSE -->
			<li>{L_NO_FRIENDS_OFFLINE}</li>
			<!-- END friends_offline -->
			</ul>

		</td>
	</tr>
</table>

		</td>
		<td><img src="images/spacer.gif" width="4" alt="" /></td>
		<td width="80%" valign="top"><form name="ucp" method="post" action="{S_UCP_ACTION}">
