<!-- $Id$ -->
<!-- INCLUDE ucp_header.html -->

<table class="tablebg" width="80%" cellspacing="1" cellpadding="4" border="0" align="right">
	<tr>
		<th colspan="2" height="28" valign="middle">{L_TITLE}</th>
	</tr>
	<!-- IF ERROR -->
	<tr>
		<td class="row3" colspan="2" align="center"><span class="gensmall" style="color:red">{ERROR}</span></td>
	</tr>
	<!-- ENDIF -->
	<tr> 
		<td class="row1" width="35%"><b class="genmed">{L_SIGNATURE}: </b><br /><span class="gensmall">{L_SIGNATURE_EXPLAIN}</span></td>
		<td class="row2"><table cellspacing="0" cellpadding="2" border="0">
			<tr align="center" valign="middle">
				<td><input class="btnbbcode" type="button" accesskey="b" name="addbbcode0" value=" B " style="font-weight:bold; width: 30px" onclick="bbstyle(0)" onmouseover="helpline('b')" /></td>
				<td><input class="btnbbcode" type="button" accesskey="i" name="addbbcode2" value=" i " style="font-style:italic; width: 30px" onclick="bbstyle(2)" onmouseover="helpline('i')" /></td>
				<td><input class="btnbbcode" type="button" accesskey="u" name="addbbcode4" value=" u " style="text-decoration: underline; width: 30px" onclick="bbstyle(4)" onmouseover="helpline('u')" /></td>
				<td><input class="btnbbcode" type="button" accesskey="q" name="addbbcode6" value="Quote" style="width: 50px" onclick="bbstyle(6)" onmouseover="helpline('q')" /></td>
				<td><input class="btnbbcode" type="button" accesskey="c" name="addbbcode8" value="Code" style="width: 40px" onclick="bbstyle(8)" onmouseover="helpline('c')" /></td>
				<td><input class="btnbbcode" type="button" accesskey="l" name="addbbcode10" value="List" style="width: 40px" onclick="bbstyle(10)" onmouseover="helpline('l')" /></td>
				<td><input class="btnbbcode" type="button" accesskey="o" name="addbbcode12" value="List=" style="width: 40px" onclick="bbstyle(12)" onmouseover="helpline('o')" /></td>
				<td><input class="btnbbcode" type="button" accesskey="p" name="addbbcode14" value="Img" style="width: 40px"  onclick="bbstyle(14)" onmouseover="helpline('p')" /></td>
				<td><input class="btnbbcode" type="button" accesskey="w" name="addbbcode18" value="URL" style="text-decoration: underline; width: 40px" onclick="bbstyle(18)" onmouseover="helpline('w')" /></td>
			</tr>
			<tr>
				<td colspan="9"><table width="100%" cellspacing="0" cellpadding="0" border="0">
					<tr>
						<td><span class="genmed"> &nbsp;{L_FONT_SIZE}:</span> <select name="addbbcode20" onchange="bbfontstyle('[size=' + this.form.addbbcode20.options[this.form.addbbcode20.selectedIndex].value + ']', '[/size]');this.form.addbbcode20.selectedIndex = 2;" onmouseover="helpline('f')">
							<option value="7">{L_FONT_TINY}</option>
							<option value="9">{L_FONT_SMALL}</option>
							<option value="12" selected="selected">{L_FONT_NORMAL}</option>
							<option value="18">{L_FONT_LARGE}</option>
							<option  value="24">{L_FONT_HUGE}</option>
						</select></td>
						<td class="gensmall" nowrap="nowrap" align="right"><a href="javascript:bbstyle(-1)" onmouseover="helpline('a')">{L_CLOSE_TAGS}</a></td>
					</tr>
				</table></td>
			</tr>
			<tr>
				<td colspan="9"><input class="helpline" type="text" name="helpbox" size="45" maxlength="100" value="{L_STYLES_TIP}" /></td>
			</tr>
			<tr>
				<td colspan="9"><textarea class="post" name="signature" rows="6" cols="60" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);">{SIGNATURE}</textarea></td>
			</tr>
		</table></td>
	</tr>
	<tr>
		<td class="row1" valign="top"><b class="genmed">{L_OPTIONS}</b><br /><table cellspacing="2" cellpadding="0" border="0">
			<tr>
				<td class="gensmall">{HTML_STATUS}</td>
			</tr>
			<tr>
				<td class="gensmall">{BBCODE_STATUS}</td>
			</tr>
			<tr>
				<td class="gensmall">{IMG_STATUS}</td>
			</tr>
			<tr>
				<td class="gensmall">{FLASH_STATUS}</td>
			</tr>
			<tr>
				<td class="gensmall">{SMILIES_STATUS}</td>
			</tr>
		</table></td>
		<td class="row2" valign="top"><table cellspacing="0" cellpadding="1" border="0">
			<!-- IF S_HTML_ALLOWED -->
			<tr>
				<td><input type="checkbox" name="disable_html"{S_HTML_CHECKED} /></td>
				<td class="gen">{L_DISABLE_HTML}</td>
			</tr>
			<!-- ENDIF -->
			<!-- IF S_BBCODE_ALLOWED -->
			<tr>
				<td><input type="checkbox" name="disable_bbcode"{S_BBCODE_CHECKED} /></td>
				<td class="gen">{L_DISABLE_BBCODE}</td>
			</tr>
			<!-- ENDIF -->
			<!-- IF S_SMILIES_ALLOWED -->
			<tr>
				<td><input type="checkbox" name="disable_smilies"{S_SMILIES_CHECKED} /></td>
				<td class="gen">{L_DISABLE_SMILIES}</td>
			</tr>
			<!-- ENDIF -->
			<tr>
				<td><input type="checkbox" name="disable_magic_url"{S_MAGIC_URL_CHECKED} /></td>
				<td class="gen">{L_DISABLE_MAGIC_URL}</td>
			</tr>
		</table></td>
	</tr>
	<!-- IF SIGNATURE_PREVIEW -->
	<tr>
		<th colspan="2" height="28" valign="middle">{L_SIGNATURE_PREVIEW}</th>
	</tr>
	<tr> 
		<td class="row1" colspan="2" align="center"><table cellspacing="0" cellpadding="6" border="0">
			<tr>
				<td><span class="postdetails">{SIGNATURE_PREVIEW}</span></td>
			</tr>
		</table></td>
	</tr>
	<!-- ENDIF -->
	<tr>
		<td class="cat" colspan="2" align="center">{S_HIDDEN_FIELDS}<input class="btnlite" type="submit" name="preview" value="{L_PREVIEW}" />&nbsp;&nbsp;<input class="btnmain" type="submit" name="submit" value="{L_SUBMIT}" />&nbsp;&nbsp;<input class="btnlite" type="reset" value="{L_RESET}" name="reset" /></td>
	</tr>
</table>

<!-- INCLUDE ucp_footer.html -->