
</form>

<table class="tablebg" width="100%" cellspacing="1" cellpadding="0">
<tr>
	<td class="row1">
		<table border="0" cellspacing="0" cellpadding="0" width="100%">
		<tr>
			<td align="left">
				<!-- IF PAGINATION --><b><a href="javascript:jumpto();">{L_GOTO_PAGE}</a> <!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}">{L_PREVIOUS}</a>&nbsp;&nbsp;<!-- ENDIF -->{PAGINATION}<!-- IF NEXT_PAGE -->&nbsp;&nbsp;<a href="{NEXT_PAGE}">{L_NEXT}</a><!-- ENDIF --></b><!-- ENDIF -->
				<!-- IF S_VIEW_MESSAGE -->
					<span class="gensmall">
						<!-- IF U_PRINT_PM --><a href="{U_PRINT_PM}" title="{L_PRINT_PM}">{L_PRINT_PM}</a><!-- IF U_FORWARD_PM --> | <!-- ENDIF --><!-- ENDIF -->
						<!-- IF U_FORWARD_PM --><a href="{U_FORWARD_PM}" title="{L_FORWARD_PM}">{L_FORWARD_PM}</a><!-- ENDIF -->
					</span>
				<!-- ENDIF -->
			</td>
			<td align="right" nowrap="nowrap">
				<!-- IF S_VIEW_MESSAGE -->
					<form name="movepm" method="post" action="{S_PM_ACTION}" style="margin:0px">
						<input type="hidden" name="marked_msg_id[]" value="{MSG_ID}" />
						<input type="hidden" name="cur_folder_id" value="{CUR_FOLDER_ID}" />
						<input type="hidden" name="p" value="{MSG_ID}" />
						<select name="dest_folder">{S_TO_FOLDER_OPTIONS}</select>&nbsp;<input class="btnlite" type="submit" name="move_pm" value="<!-- IF S_VIEW_MESSAGE -->Place Message into Folder<!-- ELSE -->Place Marked into Folder<!-- ENDIF -->" />
					</form>
				<!-- ELSE -->
					<form name="sortmsg" method="post" action="{S_PM_ACTION}" style="margin:0px">
						<span class="gensmall">{L_DISPLAY_MESSAGES}:</span> {S_SELECT_SORT_DAYS} <span class="gensmall">{L_SORT_BY}</span> {S_SELECT_SORT_KEY} {S_SELECT_SORT_DIR} <input class="btnlite" type="submit" name="sort" value="{L_GO}" />
					</form>
				<!-- ENDIF -->
			</td>
		</tr>
		</table>
	</td>
</tr>
</table>

<!-- IF not S_VIEW_MESSAGE -->
	<div style="float:right"><b class="gensmall"><a href="javascript:marklist('viewfolder', 'marked_msg_id', true);">{L_MARK_ALL}</a> :: <a  href="javascript:marklist('viewfolder', 'marked_msg_id', false);">{L_UNMARK_ALL}</a></b></div>
<!-- ENDIF -->
