<!-- INCLUDE ucp_header.html -->

<!-- $Id$ -->

<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th colspan="3">{L_UCP}</th>
	</tr>
	<tr>
		<td class="row1" colspan="3" align="center"><span class="genmed">{L_UCP_WELCOME}</span></td>
	</tr>
	<tr>
		<th colspan="3">{L_IMPORTANT_NEWS}</th>
	</tr>

	<!-- BEGIN topicrow -->

	<!-- IF topicrow.S_ROW_COUNT is even -->
	<tr class="row1">
	<!-- ELSE -->
	<tr class="row2">
	<!-- ENDIF -->

		<td style="padding: 4px;" width="20" align="center">{topicrow.TOPIC_FOLDER_IMG}</td>
		<td style="padding: 4px;" width="100%"><span class="topictitle">{topicrow.NEWEST_POST_IMG}{topicrow.ATTACH_ICON_IMG}{topicrow.TOPIC_TYPE}<a href="{topicrow.U_VIEW_TOPIC}">{topicrow.TOPIC_TITLE}</a></span><span class="gensmall"><br />{topicrow.GOTO_PAGE}</span></td>
		<td class="postdetails" style="padding: 4px;" align="center" valign="middle" nowrap="nowrap">{topicrow.LAST_POST_TIME}<br />{topicrow.LAST_POST_AUTHOR} {topicrow.LAST_POST_IMG}</td>
	</tr>
	<!-- END topicrow -->

	<tr>
		<th colspan="3">{L_YOUR_DETAILS}</th>
	</tr>
	<tr>
		<td class="row1" colspan="3"><table width="100%" cellspacing="1" cellpadding="4">
			<tr> 
				<td align="right" valign="middle" nowrap="nowrap"><b class="genmed">{L_JOINED}: </b></td>
				<td width="100%"><b class="gen">{JOINED}</b></td>
			</tr>
			<tr> 
				<td  align="right" valign="top" nowrap="nowrap"><b class="genmed">{L_TOTAL_POSTS}: </b></td>
				<td valign="top"><!-- IF POSTS_PCT --><b class="gen">{POSTS}</b><br /><span class="genmed">[{POSTS_PCT} / {POSTS_DAY}]<br /><a href="{U_SEARCH_USER}">{L_SEARCH_YOUR_POSTS}</a></span><!-- ELSE --><b class="gen">{POSTS}<b><!-- ENDIF --></td>
			</tr>
			<!-- IF KARMA -->
			<tr>
				<td align="right" valign="middle" nowrap="nowrap"><b class="genmed">{L_YOUR_KARMA}: </b></td>
				<td class="genmed">{KARMA_IMG} [ <b>{KARMA}</b> ]</td>
			</tr>
			<!-- ENDIF -->
			<!-- IF WARNINGS -->
			<tr>
				<td align="right" valign="middle" nowrap="nowrap"><b class="genmed">{L_YOUR_WARNINGS}: </b></td>
				<td class="genmed">{WARNING_IMG} [ <b>{WARNINGS}</b> ]</td>
			</tr>
			<!-- ENDIF -->
		</table></td>
	</tr>
	<tr>
		<td class="cat" colspan="3">&nbsp;</td>
	</tr>
</table>

<!-- INCLUDE ucp_footer.html -->