<!-- INCLUDE overall_header.html -->

	<!-- $Id$ -->

	<table class="tablebg" width="100%" cellspacing="1">
		<tr> 
			<th width="35%"><a class="th" href="{U_SORT_USERNAME}">{L_USERNAME}</a></th>
			<th width="25%"><a class="th" href="{U_SORT_UPDATED}">{L_LAST_UPDATED}</a></th>
			<th width="40%"><a class="th" href="{U_SORT_LOCATION}">{L_FORUM_LOCATION}</a></th>
		</tr>
		<tr> 
			<td class="cat" colspan="3"><h4>{TOTAL_REGISTERED_USERS_ONLINE}</h4></td>
		</tr>
		<!-- BEGIN reg_user_row -->
		<!-- IF reg_user_row.S_ROW_COUNT is even -->
		<tr>
		<!-- ELSE -->
		<tr class="row2">
		<!-- ENDIF -->
			<td class="row1" width="35%">&nbsp;<span class="gen"><!-- IF reg_user_row.U_USER_PROFILE --><a href="{reg_user_row.U_USER_PROFILE}" title="{reg_user_row.USER_IP}"><!-- ENDIF -->{reg_user_row.USERNAME}<!-- IF reg_user_row.U_USER_PROFILE --></a><!-- ENDIF -->&nbsp;</span></td>
			<td class="row1" width="25%" align="center" nowrap="nowrap"><span class="gen">&nbsp;{reg_user_row.LASTUPDATE}&nbsp;</span></td>
			<td class="row1" width="40%">&nbsp;<a class="gen" href="{reg_user_row.U_FORUM_LOCATION}">{reg_user_row.FORUM_LOCATION}</a>&nbsp;</td>
		</tr>
		<!-- END reg_user_row -->
		<!-- IF LEGEND -->
		<tr>
			<td class="row1" colspan="3"><b class="gensmall">{L_LEGEND} :: {LEGEND}</b></td>
		</tr>
		<!-- ENDIF -->
		<tr> 
			<td class="cat" colspan="3"><h4>{TOTAL_GUEST_USERS_ONLINE}</h4></td>
		</tr>
		<!-- BEGIN guest_user_row -->
		<!-- IF guest_user_row.S_ROW_COUNT is even -->
		<tr class="row1">
		<!-- ELSE -->
		<tr class="row2">
		<!-- ENDIF -->
			<td class="gen" width="35%" height="28">&nbsp;<span  title="{guest_user_row.USER_IP}">{guest_user_row.USERNAME}</span>&nbsp;</td>
			<td class="gen" width="25%" align="center" nowrap="nowrap">&nbsp;{guest_user_row.LASTUPDATE}&nbsp;</td>
			<td class="gen" width="40%">&nbsp;<a href="{guest_user_row.U_FORUM_LOCATION}">{guest_user_row.FORUM_LOCATION}</a>&nbsp;</td>
		</tr>
		<!-- END guest_user_row -->
	</table>

	<div class="gensmall" align="right">{L_ONLINE_EXPLAIN}</div>

	<br clear="all" />

	<table class="tablebg" width="100%" cellspacing="1" cellpadding="0">
		<tr>
			<td class="row1">
				<p class="breadcrumbs"><a href="{U_INDEX}">{L_INDEX}</a><!-- BEGIN navlinks --> &#187; <a href="{navlinks.U_VIEW_FORUM}">{navlinks.FORUM_NAME}</a><!-- END navlinks --></p>
				<p class="datetime">{S_TIMEZONE}</p>
			</td>
		</tr>
	</table>

	<br clear="all" />

	<div align="right"><!-- INCLUDE jumpbox.html --></div>

<!-- INCLUDE overall_footer.html -->