
<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<td class="cat" colspan="5" align="right"><a class="nav" href="{U_MARK_FORUMS}">{L_MARK_FORUMS_READ}</a>&nbsp;</td>
</tr>
<tr>
	<th colspan="2" nowrap="nowrap">&nbsp;{L_FORUM}&nbsp;</th>
	<th width="50" nowrap="nowrap">&nbsp;{L_TOPICS}&nbsp;</th>
	<th width="50" nowrap="nowrap">&nbsp;{L_POSTS}&nbsp;</th>
	<th nowrap="nowrap">&nbsp;{L_LAST_POST}&nbsp;</th>
</tr>
<!-- BEGIN forumrow -->
	<!-- IF forumrow.S_IS_CAT -->
		<tr>
			<td class="cat" colspan="2"><a class="cattitle" href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a></td>
			<td class="catdiv" colspan="3" align="right">&nbsp;</td>
		</tr>
	<!-- ELSEIF forumrow.S_IS_LINK -->
		<tr>
			<td class="row1" width="50" align="center" valign="middle">{forumrow.FORUM_FOLDER_IMG}</td>
			<td class="row1"><a class="forumlink" href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a><br />
				<table cellspacing="5" cellpadding="0" border="0">
				<tr>
					<td><span class="gensmall">{forumrow.FORUM_DESC}</span></td>
				</tr>
				</table>
			</td>
			<td class="row2" colspan="3" align="center" valign="middle"><!-- IF forumrow.CLICKS --><span class="genmed">{L_REDIRECTS}: {forumrow.CLICKS}</span><!-- ENDIF --></td>
		</tr>
	<!-- ELSE -->
		<tr>
			<td class="row1" width="50" align="center" valign="middle">{forumrow.FORUM_FOLDER_IMG}</td>
			<td class="row1" width="100%">
				<a class="forumlink" href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a>
				<p class="forumdesc">{forumrow.FORUM_DESC}</p>
				<!-- IF forumrow.MODERATORS -->
					<p class="forumdesc"><strong>{forumrow.L_MODERATOR_STR}:</strong> {forumrow.MODERATORS}</p>
				<!-- ENDIF -->
				<!-- IF forumrow.SUBFORUMS -->
					<p class="forumdesc"><strong>{forumrow.L_SUBFORUM_STR}</strong> {forumrow.SUBFORUMS}</p>
				<!-- ENDIF -->
			</td>
			<td class="row2" align="center"><p class="topicdetails">{forumrow.TOPICS}</p></td>
			<td class="row2" align="center"><p class="topicdetails">{forumrow.POSTS}</p></td>
			<td class="row2" align="center" nowrap="nowrap">
				<!-- IF forumrow.LAST_POST_TIME -->
					<p class="topicdetails">{forumrow.LAST_POST_TIME}</p>
					<p class="topicdetails">
					<!-- IF forumrow.U_LAST_POSTER -->
						<a href="{forumrow.U_LAST_POSTER}">{forumrow.LAST_POSTER}</a>
					<!-- ELSE -->
						{forumrow.LAST_POSTER}
					<!-- ENDIF -->
					<a href="{forumrow.U_LAST_POST}">{LAST_POST_IMG}</a>
					</p>
				<!-- ELSE -->
					<p class="topicdetails">{L_NO_POSTS}</p>
				<!-- ENDIF -->
			</td>
		</tr>
	<!-- ENDIF -->
<!-- END forumrow -->
</table>

<br clear="all" />
