<!-- INCLUDE overall_header.html -->

	<!-- $Id$ -->

	<table class="tablebg" width="100%" cellspacing="1">
		<tr> 
			<th width="40%"><a class="th" href="{U_SORT_USERNAME}">{L_USERNAME}</a></th>
			<th width="20%"><a class="th" href="{U_SORT_UPDATED}">{L_LAST_UPDATED}</a></th>
			<th width="40%"><a class="th" href="{U_SORT_LOCATION}">{L_FORUM_LOCATION}</a></th>
		</tr>
		<tr> 
			<td class="cat" colspan="3"><h4>{TOTAL_REGISTERED_USERS_ONLINE}</h4></td>
		</tr>
		<!-- BEGIN reg_user_row -->
		<tr>
			<td class="row1"><p class="gen"><!-- IF reg_user_row.U_USER_PROFILE --><a href="{reg_user_row.U_USER_PROFILE}"><!-- ENDIF -->{reg_user_row.USERNAME}<!-- IF reg_user_row.U_USER_PROFILE --></a><!-- ENDIF --></p><!-- IF reg_user_row.USER_IP --><p class="gensmall">{L_IP}: <a href="{reg_user_row.U_USER_IP}">{reg_user_row.USER_IP}</a> &#187; <a href="{reg_user_row.U_WHOIS}" onclick="popup('{reg_user_row.U_WHOIS}', 750, 500);return false">{L_WHOIS}</a></p><!-- ENDIF --></td>
			<td class="row2" align="center" nowrap="nowrap"><p class="genmed">&nbsp;{reg_user_row.LASTUPDATE}</p></td>
			<td class="row1"><p class="genmed"><a href="{reg_user_row.U_FORUM_LOCATION}">{reg_user_row.FORUM_LOCATION}</a></p></td>
		</tr>
		<!-- END reg_user_row -->
		<!-- IF LEGEND -->
		<tr>
			<td class="row1" colspan="3"><b class="gensmall">{L_LEGEND} :: {LEGEND}</b></td>
		</tr>
		<!-- ENDIF -->
		<tr> 
			<td class="cat" colspan="3"><h4>{TOTAL_GUEST_USERS_ONLINE}</h4></td>
		</tr>
		<!-- BEGIN guest_user_row -->
		<tr>
			<td class="row1"><p class="gen">{guest_user_row.USERNAME}</p><!-- IF guest_user_row.USER_IP --><p class="gensmall">{L_IP}: <a href="{guest_user_row.U_USER_IP}">{guest_user_row.USER_IP}</a> &#187; <a href="{guest_user_row.U_WHOIS}" onclick="popup('{guest_user_row.U_WHOIS}', 750, 500);return false">{L_WHOIS}</a></p><!-- ENDIF --></td>
			<td class="row2" align="center" nowrap="nowrap"><p class="genmed">{guest_user_row.LASTUPDATE}</p></td>
			<td class="row1"><p class="genmed"><a href="{guest_user_row.U_FORUM_LOCATION}">{guest_user_row.FORUM_LOCATION}</a></p></td>
		</tr>
		<!-- END guest_user_row -->
	</table>

	<div class="gensmall" align="right">{L_ONLINE_EXPLAIN}</div>

	<br clear="all" />

	<table class="tablebg" width="100%" cellspacing="1" cellpadding="0">
		<tr>
			<td class="row1">
				<p class="breadcrumbs"><a href="{U_INDEX}">{L_INDEX}</a><!-- BEGIN navlinks --> &#187; <a href="{navlinks.U_VIEW_FORUM}">{navlinks.FORUM_NAME}</a><!-- END navlinks --></p>
				<p class="datetime">{S_TIMEZONE}</p>
			</td>
		</tr>
	</table>

	<br clear="all" />

	<div align="right"><!-- INCLUDE jumpbox.html --></div>

<!-- INCLUDE overall_footer.html -->